<div id="newCommunity" class="general-box utility-box">
    <div class="con-title">
        <!--span class="icon-box icon-box-green icon-title-newcommunity"></span-->
        PN 討論區
    </div>
    <ul class="newCommunity-info">
        <li ng-repeat="community in pnCommunities">
            <img src="{{community.gi}}">
            <p>
                <a href="#/pn/{{community.id}}"><font style="color: #428bca;">{{community.dn}}</font></a><br/>
                <span class="community-member-counter"><font>{{community.mm}}個關注</font></span>
            </p>
        </li>
    </ul>
</div>