<div id=login-header>
    <a class="login-logo pull-left" href="/magazine#!">
        <img src="../assets/app/images/logo-2.png" />
    </a>
</div>

<div class="themeA-container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-xs-1" style="width:5%;"></div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="width:300px;">
            <div>
                <div class="general-box utility-box promo-welcome-box">
                    <div>歡迎來到 miniBean 小萌豆!</div> 
                    <div>想看更多媽媽社群討論</div>
                    <div>請立即加入小萌豆的大家庭!</div>
                </div>
                <div>
                    <div data-ng-show="pnCommunities.length > 0">
                        <div data-ng-include style="width: 100%;" data-src="'/assets/app/views/promo/pn-communities-widget.html'"></div>
                    </div>
                </div>
                <div ng-if="pnHome == false" id="promo-signup" class="general-box utility-box">
                    <ul>
                        <li class="promo-signup-text">使用 facebook 進行登記</li>
                        <li class="promo-signup-fb">
                            <a href="/authenticate/facebook"><img style="width:216px;height:auto;" alt="Login via faceebook" src="../assets/app/images/login/facebook_acc.jpg" /></a>
                            <h5>註: 小萌豆絕對不會發佈或留言到您的 facebook 帳戶中</h5>
                        </li>
                        <hr style="margin:15px 0px;border: #c1c1c1 thin dashed;"/>
                        <li class="promo-signup-text">使用 miniBean 進行登記</li>
                        <li class="promo-signup-native">
                            <div><a href="/signup" style="font-size:18px;"><b>立即登記!</b></a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="width:48%">
            <div>
                <div ng-if="pnHome == true">
                    <div id="promo-signup" class="general-box utility-box">
                        <ul style="width:52%;float:left;padding-right:10px;border-right: #c1c1c1 thin dashed;">
                            <li class="promo-signup-text">使用 facebook 進行登記</li>
                            <li class="promo-signup-fb">
                                
                                <a href="/authenticate/facebook"><img style="width:216px;height:auto;" alt="Login via faceebook" src="../assets/app/images/login/facebook_acc.jpg" /></a>
                                <h5>註: 小萌豆絕對不會發佈或留言到您的 facebook 帳戶中</h5>
                            </li>
                        </ul>
                        <ul style="width:auto;float:left;margin-left:20px;">
                            <li class="promo-signup-text">使用 miniBean 進行登記</li>
                            <li class="promo-signup-native" style="margin-top:23px;">
                                <div><a href="/signup" style="font-size:18px;margin-top:10px;"><b>立即登記!</b></a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="general-box promo-welcome-section">
                        <div>
                            喺小萌豆您地會搵到最啱傾嘅媽媽爸爸社群。<br>請立即登記並發掘您最喜愛嘅社群。 開心分享!
                            <img class="emoticon" src="/assets/app/images/emoticons/happy.png">
                        </div>
                        <img class="promo-homepage-img" src="../assets/app/images/promo/homepage.jpg" />
                    </div>
                </div>
                <div ng-if="pnHome == false" ng-controller="ViewCommunityPageController">
                    <div data-ng-include style="width: 100%;" data-src="'/assets/app/views/promo/view-community-page.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    ga_send_pv();
</script>