<!--div style="margin-top:10px;margin-bottom:10px;" class="general-box">
    <div class="section-title">
        <div ng-show="QnAs.posts.length == 0">
            尚未有問題
        </div>
        <div>
            立即登記成為 miniBean小萌豆 會員來發問問題吧!
        </div>
    </div>
</div-->

<div infinite-scroll='nextPosts()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1'>	
    <div data-ng-repeat="post in QnAs.posts">
        <div id="wall-main">
            <div class="general-box">
                <div ng-init="isCommunityPage = true" data-ng-include data-src="'/assets/app/views/promo/view-qna-bar.html'"></div>
            </div>
        </div>
    </div>
    <span ng-show="isBusy" spinner-start-active="1" us-spinner="{top: 'inherit'}" ></span>
</div>