<div class="post-card">
    <ul title="sharing">
        <li class="post-intro post-sharing-line">
            <span class="post-sharing-tag pull-left" style="margin-right:5px;">♥</span>
            <span class="post-intro-share">分享</span>
            <span class="post-intro-share" ng-show="!isCommunityPage">於 </span>
            <span ng-show="!isCommunityPage"><img src="{{post.ci}}">{{post.cn}}</span>
            <span class="post-intro-divider" ng-show="post.n_c > 0"></span>
            <span class="post-qna-answer-count" ng-show="post.n_c > 0">最新留言: 
                <span class="post-date" am-time-ago="post.ut"></span>
            </span>
        </li>
    </ul>
    <!-- Post Intro Ends -->
    <ul>
        <li class="post-sharing-body-top">
            <span>
                <img class="post-title-user-image" data-ng-src="/image/get-mini-image-by-id/{{post.oid}}"/>
            </span>
            <!--div class="post-title-user-name">
                <span>{{post.p}}</span>
            </div-->
            <span class="post-date" am-time-ago="post.t"></span>
        </li>
        <li class="post-sharing-body">
            <div class="post-sharing-body-text" ng-bind-html="post.pt | to_trusted | highlight: highlightText"></div>
            <div data-ng-show="post.hasImage" class="post-body-image">
                <span data-ng-repeat="imageID in post.imgs">
                    <img data-ng-src="/image/get-post-image-by-id/{{imageID}}" alt="">
                </span>
            </div>
            <span class="btn-like-wrapper">
                <span ng-show="post.nol > 0"><img data-ng-src="/assets/app/images/general/icons/liked_1.png"/><b>{{post.nol}}</b></span>
            </span>
        </li>
    </ul>
    <!-- Post Body Ends -->
    <ul class="post-sharing-comments">
        <li ng-show="post.n_c > 3 && !post.ep">
            <span class="post-qna-answer-count" ng-show="post.n_c > 0 && post.n_c <= 3"><b>{{post.n_c}}個留言</b></span>
            <a href="" ng-show="post.n_c > 3" data-ng-click="get_all_comments(post.id)"><b>共{{post.n_c}}個留言</b></a>
            <a class="pull-right" href="" data-ng-click="get_all_comments(post.id)">查看所有留言</a>
        </li>
        <li data-ng-repeat="comment in post.cs">
            <span>
                <img class="post-sharing-comment-user-image" data-ng-src="/image/get-comment-mini-image-by-id/{{comment.oid}}"/>
            </span>
            <span class="post-sharing-comment-body">
                <!--span class="post-title-user-name post-sharing-comment-font">
                    <span>{{comment.on}}</span>
                </span-->
                <span class="post-sharing-comment-body-text" ng-bind-html="comment.d | to_trusted"></span>
                <!--<span class="post-sharing-comment-body-text">{{comment.d}}</span>-->
                <div>
                    <span class="post-date" am-time-ago="comment.cd"></span>
                    <span style="margin-left:5px;"/>
                    <span class="btn-like-wrapper">
                        <span ng-show="post.nol > 0"><img data-ng-src="/assets/app/images/general/icons/liked_1.png"/><b>{{post.nol}}</b></span>
                    </span>
    	        </div>
    	        <div data-ng-show="comment.hasImage" class="post-body-image">
                    <span data-ng-repeat="imageID in comment.imgs">
                        <img style="max-width:110px; max-height:150px;" data-ng-src="/image/get-comment-image-by-id/{{imageID}}" data-ng-click="showImage(imageID)" alt="">
                    </span>
                </div>
	        </span>
    	</li>
    </ul>
    <!-- Post Comments Ends -->
</div>