    <div id="community-header">
        <ul>
            <li>
                <div id="community-header-cover">
                    <img id="community-banner" data-ng-src="{{coverImage}}" />
                </div>
            </li>
            <li id="community-header-menu">
                <div ng-class="{activeTabBold: selectedTab == 1}" ng-show="community.ttyp=='PRE_NURSERY'">
                    <a ng-click="selectedTab = 1;"><i style="vertical-align:text-top;" class="glyphicon glyphicon-list-alt"></i> 幼兒班情報</a>
                </div>
                <div class="divider-cus" ng-show="community.ttyp=='PRE_NURSERY'"></div>
                <div ng-class="{activeTabBold: selectedTab == 2}">
                    <a ng-click="selectedTab = 2;">最新訊息</a>
                </div>
                <p id="community-header-name" class="ng-binding"><img src="{{community.icon}}">{{community.n}}</p>
            </li>
        </ul>
    </div>
    <!-- Community Header End -->
    <div id="wall">
        <div class="tab-content" ng-show="selectedTab == 1">
            <div data-ng-controller="ViewCommunityPNController" data-ng-include data-src="'/assets/app/views/promo/view-community-pn-section.html'"></div>
        </div>
        <div class="tab-content" ng-show="selectedTab == 2">
            <div class="general-box" style="margin:-1px">
                <div class="wall-title">
                    <span style="margin-left:10px;"/>
                    <!--span class="wall-icon icon-title-community"></span-->
                    <span>
                        <a ng-click="selectedSubTab = 1;" ng-class="{activeTabUnderlined: selectedSubTab == 1}">
                            <span class="post-wall-icon">?</span><font style="color: white;">話題</font>
                        </a>
                    </span>
                    <div style="margin-left:5px;border-color:white;vertical-align:text-bottom;" class="divider-cus"></div>
                    <!--span class="wall-icon icon-title-friendwall"></span>
                    <span>
                        <a ng-click="selectedSubTab = 2;" ng-class="{activeTabUnderlined: selectedSubTab == 2}">
                            <span class="post-wall-icon">♥</span><font style="color: white;">分享</font>
                        </a>
                    </span-->
                </div>
            </div>
            <!-- Community Tabs End -->
            
            <div class="tab-content" ng-if="selectedSubTab == 1" id="qnapost" ng-controller="ViewCommunityQnAController">
                <div data-ng-include data-src="'/assets/app/views/promo/view-community-qna-bar.html'"></div>
            </div>
            <!--div class="tab-content" ng-if="selectedSubTab == 2" id="post" ng-controller="ViewCommunityPostController">
                <div data-ng-include data-src="'/assets/app/views/promo/view-community-post-bar.html'"></div>
            </div-->
        </div>
        
        <div class="padding20"></div>
    </div>