
.masonry-brick { 
    width: 50%;
    padding: 0 2px;     
}
.masonry-brick img {
    width: 100%;
}
.masonry-brick .post-comment-box .post-sharing-comment-textfield {
    width: 60%;
}
.masonry-brick .post-body-image img {
    border-radius: 0px;
    vertical-align: top;
    margin: 2px 0px;
    width: 100%;
}
.masonry-brick .post-title-user-image {
    margin-right: 10px;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
.masonry-brick .post-sharing-comment-user-image {
    margin-right: 10px;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-top: 2px;
}
.masonry-brick .post-body-image {
    padding: 0px;
}