.btn-sign-in, .btn-signed-in {
    border: none;
    padding: 0;
    margin: 0;
}
.btn-signed-in {
    opacity: 1;
}
.btn-signed-in:hover, .btn-signed-in img:hover {
    color: black;
    cursor: default;
    opacity: 1;
}
#game-info {
    padding: 5px 10px;
}
#game-info div {
    margin: 3px 0;
}
#game-info img {
    width: 18px;
    height: auto;
    margin-bottom: 2px;
}
#game-info .points {
    margin: 0px 3px;
    color: #FF6600;
    font-weight: bold;
}
#game-box {
    overflow: hidden; 
    background-color: white;
    border: #7acff2 solid 1px;
}
#game-box div {
}
#game-box div p {
    font-size: 14px;
}
#game-box h4 {
    padding: 10px;
    margin: 0; 
    font-size: 15px;
    font-weight: bold;
    color: #556fb5;
    border-bottom: 1px dashed #2EAB66;
    /*background-color: #b0f0ff;*/
}
#game-box div:last-child {
    padding: 0;
}
#game-box .sign-in {
    padding: 10px;
    font-size: 14px;
    color: #000000;
}
#game-box .record {
    font-size: 12px;
    padding: 10px;
    color: #666666;
}
#game-box .record li {
    margin-bottom: 10px;
}
#game-box .game-details {
    padding: 5px 10px;
    font-size: 15px;
    color: #000000;
}
#game-box .game-details div {
    margin: 3px 0; 
}
#game-box .game-details .points {
    margin: 3px 10px;
    color: #FF6600;
    font-weight: bold;
    font-size: 16px;
}
#game-box .game-details img {
    width: 18px;
    height: auto;
    margin-bottom: 2px;
}