/* Content Uploader Start */
#content-uploader {
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
}
#content-uploader ul {
    list-style: none;
}
#content-uploader li a {
    display: inline-block;
    margin-bottom: 5px; 
}
#content-uploader li .divider-cus {
    height: 15px;
    position: relative;
    top: 4px;
    border-color: #c8c8c8;
}
#content-upload-wrapper {
    /*border-top: #c8c8c8 thin solid;*/
}
#content-upload-input { 
    margin: 0 0 0 0;
    padding: 5px;
    width: 100%;
}
/* Content Uploader End */

#wall-main {
}
#wall-main .general-box {
    margin-bottom: 10px;
    box-shadow: 0 0 3px #D3D5F3;
}
.post-input-title, .post-input-body {
    resize: none;
    border: 0px;
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0px;
}
.post-input-title:focus, .post-input-body:focus {
    content: "?";
    border-color: #66afe9;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.post-input-title {
    border-radius: 0px;
    padding: 5px 2px 2px 6px;
    font-weight: bold;
    font-size: 17px;
    height: 32px !important;
    line-height: 1.2;
}
.post-input-title:focus {
    height: 50px !important;
}
.post-input-body {
    font-weight: normal;
    font-size: 15px;
    height: 50px !important;
}
.post-input-body:focus {
    height: 80px !important;
}
.post-card {
    padding: 0px;
}
.post-card ul {
    padding: 0px;
    margin: 8px 10px;
}
.post-card ul[title="sharing"] {
    /*background-color: #fffef4;*/
}
.post-card ul[title="qna"] {
    /*background-color: #f5f5ff;*/
}
.post-card .tooltip {
    z-index: 10000;
    width: 80px;
    left: initial !important;
    right: -32px !important;
    float: right !important;
}
.post-card .tooltip > .tooltip-inner {

}
.post-intro {
    border-bottom: thin solid #e1e2e3;
    padding-bottom: 5px;
}
.post-intro img {
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
    margin-right: 3px;
}
.post-intro a {
    color: #428bca;
}
.post-intro-share:after {

}
.post-intro-divider {
    width: 10px;
    height: 100%;
    border-right: #bcbcbc solid thin;
    margin-left: 10px;
    margin-right: 12px;
}
.post-intro .post-dropdown-btn {
    border-color: transparent;
    padding: 0px 5px;
}
.post-intro .post-dropdown-menu {
    min-width: 80px;
    position: absolute;
    top: 15px;
    float: right;
    right: -10px;
    left: initial;
    font-size: 13px;
}
.post-intro .post-dropdown-menu li {
    padding: 0;
    margin: 7px 0;
}
.post-intro .post-dropdown-menu li a {
    padding: 0 12px;
}
.post-qna-body-top, .post-sharing-body-top {
    color: #77737E;
    margin: 0;
    padding-top: 0px;
    /*white-space: pre;*/
}
.post-title-user-image {
    margin-right: 10px;
    float: left;
    width: 28px;
    height: 28px;
    border-radius: 5px;
}
.post-title-user-name {
    font-weight: bold;
    font-size: 13px;
}
.post-date {
    color: #77737E;
    font-weight: normal;
    font-size: 12px;
}
.post-time {
    color: #77737E;
    font-size: small;
    margin-right: 5px;
}
.post-qna-body {
    padding-top: 0px;
}
.post-sharing-body {
    padding-top: 5px;
}
.post-qna-body, .post-qna-answer-body {
    padding-left: 50px;
}
.post-qna-body-title {
    padding-bottom: 10px;
    margin-right: 20px;
}
.post-qna-body-title a {
    /*color: #4440AC;*/
    line-height: 1.2;
    font-size: 20px;
    font-weight: bold;
    white-space: pre-wrap;
}
.post-qna-body-title:hover {
    color: #4440AC;
}
.post-qna-body-text, .post-qna-answer-body-text, .post-sharing-body-text {
    /*padding: 5px 0px 10px 0px;*/
    padding-bottom: 5px;
    margin: 0;
    color: #141823;
    line-height: 1.3;
    font-size: 15px;
    white-space: pre-wrap;
}
.post-sharing-body-text {
    padding: 5px 0px;
}
.post-body-image {
    padding: 10px;
}
.post-body-image img {
    border-radius: 10px;
    vertical-align: top;
    margin: 2px 0px;
}
.post-qna-answer-count {
    font-weight: normal;
}
.post-qna-answers {
    background-color: #f5f5ff;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 15px;
}
.post-qna-answers li {
    padding: 7px 10px;
    border-top: 1px solid #CDCECF;
}
.post-qna-answers li.post-qna-answer-odd {
    background-color: #F5F5FF;
    border-top: 1px solid #DADADA;
}
.post-qna-answers li.post-qna-answer-even {
    background-color: #F9F9FF;
    border-top: 1px solid #DADADA;
}
.post-sharing-comment-count {
    font-weight: normal;
}
.post-sharing-comments {
    background-color: #FFFEF4;
    padding: 5px 0 0 0 !important;
    margin: 0px !important;
    font-size: 13px;
    border-top: thin solid #e1e2e3;
}
.post-sharing-comments li {
    padding: 2px 10px;
}
.post-sharing-comment-font {
    font-size:13px;
}
.post-sharing-comment-user-image {
    margin-right: 10px;
    float: left;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    margin-top: 2px;
}
.post-sharing-comments .post-comment-box {
    margin-bottom: 10px;
}
.post-comment-box {
    margin-bottom: 5px;
}
.post-comment-box .post-qna-reply-textfield, .post-comment-box .post-sharing-comment-textfield {
    border: thin solid #bcbcbc;
    font-size: 13px;
    font-weight: normal;
    vertical-align: middle;
}
.post-comment-box .post-qna-reply-textfield {
    width: 340px;
}
.post-comment-box .post-sharing-comment-textfield {
    width: 345px;
}
.post-comment-box .post-qna-reply-textfield:focus {
    border: thin solid #a37cde !important;
    height: 50px;
}
.post-comment-box .post-sharing-comment-textfield:focus {
    border: thin solid #F7FF3A !important;
    height: 50px;
}
.post-comment-box .btn {
    padding: 3px 7px;
    font-size: 13px;
    background-color: #5482C7;
}
.post-photo-icon {
    color: #5482C7;
    font-size: 23px;
    top: 8px;
    position: relative;
    margin-left: 3px;
}
.post-photo-icon:hover, .post-photo-icon:focus {
    text-decoration: none;
}
.post-photo-preview {
    max-width: 160px;
    max-height: 120px;
    float: left !important;
    margin: 15px 5px;
    border-radius: 5px;
}
.post-comment-button {
    float: right;
    border-radius: 5px;
    background-color: white;
    background-image: url(../images/general/icons/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 20px;
    height: 20px;
    text-indent: -999px;
}
.btn-like-wrapper {
    position: relative;
}
.btn-like-wrapper span, .btn-like-wrapper div {
    color: #77737E;
    font-size: 12px;
    font-weight: normal;
}
.btn-like-wrapper span img {
    width: 22px;
    height: 16px;
    vertical-align: text-bottom;
    padding: 0 3px 0 3px;
    display: inline-block;
}
.btn-like {
    margin: 0;
    color: #428bca;
    font-size: 13px;
}
.post-wall-icon {
    font-size: 13px;
    font-weight: bold;
    border-radius: 15px;
    width: 18px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    color: white;
    border: 1px solid white;
    line-height: 1.4;
    margin-right: 3px;
}
.post-new-tag {
    font-size: 13px;
    font-weight: bold;
    border-radius: 15px;
    width: auto;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 0 5px;
}
.post-new-tag {
    color: #D451DA;
    border: 2px solid #D451DA;
}
.post-qna-tag, .post-sharing-tag {
    font-size: 13px;
    font-weight: bold;
    border-radius: 15px;
    width: 18px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.post-qna-tag {
    color: #4440AC;
    border: 1px solid #4440AC;
}
.post-sharing-tag {
    color: #E6015D;
    border: 1px solid #E6015D;
}
.post-qna-line {
    border-bottom: 1px solid #B5B3F0;
}
.post-sharing-line {
    border-bottom: 1px solid #F3B6CE;
}
.post-card a.post-emoticon-dropdown {
    margin-left: 3px;
}
.post-card a.post-emoticon-dropdown:hover {
    text-decoration: none;
}
.post-card a.post-emoticon-dropdown img {
    width: 18px;
} 
.post-card ul.post-emoticon-dropdown-menu {
    top: -80px;
    right: 80px;
    left: auto;
    width: 180px;
    height: auto;
    padding: 5px;
}
.post-card ul.post-emoticon-dropdown-menu li {
    padding: 0px;
    margin: 3px;
    width: 18px;
    height: 18px;
}
.post-card ul.post-emoticon-dropdown-menu li img {
    margin: 0px;
}
.wall-title {
    width: 100%;
    height: 40px;
    padding: 7px;
    background-color: #826EEE;
}
.wall-title a {
    color: white;
    font-weight: normal;
    margin-right: 25px;
    position: relative;
    top: 2px;
}
.wall-title a.pull-right {
    position: relative;
    top: 2px;
}
.wall-title a:hover {
    color: white;
}
.wall-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    margin-left: 20px;
}
#wall ul {
    list-style: none;
}
#wall li {
    position: relative;
}
.pagination {
    margin: 3px 0;
}
.pagination > li > a, .pagination > li > span {
    padding: 3px 10px;
}