<header>
    <div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/mobile/header-bar-back.html'"></div>
</header>

<div class="themeA-container">
    <div id="content">
        <div class="row">
            <div class="general-box">
            <div>
                <ul class="post-detail-wrapper">
                    <li>
                        <a data-ng-show="!article.isBookmarked" class="post-favorite" href="" data-ng-click="bookmarkArticle(article.id)"></a> <!--data-toggle="tooltip" data-tooltip="收藏到'我的喜愛'"></a-->
                        <a data-ng-show="article.isBookmarked" class="post-favorited" href="" data-ng-click="unBookmarkArticle(article.id)"></a>
                        <a href="/m-my#/article/show/{{article.ct.id}}">
                            <img class="scCatMiniThumbnail" data-ng-src="{{article.ct.pictureName}}" />
                        </a>
                        <div style="width: 62%;">
                            <a class="scCatTitle" href="/m-my#/article/show/0">所有文章</a> <span style="font-size:12px;">&gt;</span> <a class="scCatTitle" href="/m-my#/article/show/{{article.ct.id}}">{{article.ct.name}}</a>
                            <h6>
                                <!--font>{{article.pd | date:'yyyy'}}</font>
                                <font>{{article.pd | date:'MMM'}}</font-->
                                <font>{{article.pd | date:'M/dd/yyyy'}}</font>
                            </h6>
                        </div>
                        
                    </li>
                        
                    <li>
                        <font class="scTitle">{{article.nm}}</font>
                    </li>
                    <li>
                        <span class="btn-like-wrapper"><span ng-show="article.nov > 0" class="btn-like" style="margin-right:10px;"><img class="view-icon" style="vertical-align:sub;" data-ng-src="/assets/app/images/general/icons/view.gif"/>{{article.nov}}</span></span>
                        <span data-ng-include data-src="'/assets/app/views/like-article.html'"></span>
                    </li>
                    <li><div style="font-size:16px; width:100%;" class="ng-binding" ng-bind-html="article.ds | to_trusted"></div></li>
                    <li>
                        <span class="btn-like-wrapper"><span ng-show="article.nov > 0" class="btn-like" style="margin-right:10px;"><img class="view-icon" style="vertical-align:sub;" data-ng-src="/assets/app/images/general/icons/view.gif"/>{{article.nov}}</span></span>
                        <span data-ng-include data-src="'/assets/app/views/like-article.html'"></span>
                    </li>
                </ul>
                </div>
            </div>
        </div><!--Post Detail End -->
        
        <div id="relatePost" class="general-box">
            <div class="con-title">
                <span class="icon-box icon-box-brown icon-title-relatePost"></span><p>相關文章</p>
            </div>
                <ul>
                    <li data-ng-repeat="relatedArticle in relatedResult"><p><a href="/m-my#/article/id/{{relatedArticle.id}}" style="color: #324fe1;"><img ng-show="relatedArticle.img_url != 'No Image'"  data-ng-src="{{relatedArticle.img_url}}"/>{{relatedArticle.nm|limitTo:18}}</a></p></li>
                </ul>
        </div><!--Relate Post End -->
    </div>
</div>
<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span></a>
</div>
