<div ng-show="myDistrictPNs.length > 0">
    <div class="general-box" ng-show="myDistrictPNs.length > 0">
        <div class="section-title" style="padding:4px 10px;background-color:#4694D6;color:white;">
            <!--span class="section-icon icon-title-community"></span-->
            <span><b>我的社區 - {{myDistrictPNs[0].dis}}</b></span>
        </div>
    </div>
</div>

<div class="general-box" ng-repeat="pn in myDistrictPNs">
    <ul class="pn-wrapper" style="padding: 5px 10px 0px 10px;">
        <li>
            <div class="pn-info">
                <a ng-href="{{pn.url}}" target="_blank">
                    {{pn.n}}
                </a>
                <span class="tag" ng-style="{backgroundColor: pn.tagc}">{{pn.dis}}</span>
                <a ng-show="pn.map != null" href="{{pn.map}}" target="_blank"><i class="glyphicon glyphicon-map-marker"></i></a>

                <div class="pn-info-note"><span ng-show="pn.pho">電話: {{pn.pho}}</span><span ng-show="pn.em"> · 電郵: {{pn.em}}<span></div>
                <div class="pn-info-attr">
                    <span>派表日期: {{pn.fds}}<span ng-show="!pn.fds">--</span></span>
                    <span>報名日期: {{pn.ads}}<span ng-show="!pn.ads">--</span></span>
                    <span>截止日期: {{pn.eds}}<span ng-show="!pn.eds">--</span></span>
                    <span class="pull-right" ng-show="pn.fom">申請表格: <a href="{{pn.fom}}" target="_blank"><i class="glyphicon glyphicon-download-alt"></i></a></span>
                </div>
            </div>
        </li>
    </ul>
</div>

<div ng-show="myDistrictPNs.length > 0">
    <div class="padding5"></div>
    <div class="general-box">
        <div class="section-title" style="padding:4px 10px;background-color:#4694D6;color:white;">
            <!--span class="section-icon icon-title-community"></span-->
            <span><b>其他地區</b></span>
        </div>
    </div>
</div>

<div class="general-box" ng-repeat="pn in otherPNs">
    <ul class="pn-wrapper" style="padding: 5px 10px 0px 10px;">
        <li>
            <div class="pn-info">
                <a ng-href="{{pn.url}}" target="_blank">
                    {{pn.n}}
                </a>
                <span class="tag" ng-style="{backgroundColor: pn.tagc}">{{pn.dis}}</span>
                <a ng-show="pn.map != null" href="{{pn.map}}" target="_blank"><i class="glyphicon glyphicon-map-marker"></i></a>

                <div class="pn-info-note"><span ng-show="pn.pho">電話: {{pn.pho}}</span><span ng-show="pn.em"> · 電郵: {{pn.em}}<span></div>
                <div class="pn-info-attr">
                    <span>派表日期: {{pn.fds}}<span ng-show="!pn.fds">--</span></span>
                    <span>報名日期: {{pn.ads}}<span ng-show="!pn.ads">--</span></span>
                    <span>截止日期: {{pn.eds}}<span ng-show="!pn.eds">--</span></span>
                    <span class="pull-right" ng-show="pn.fom">申請表格: <a href="{{pn.fom}}" target="_blank"><i class="glyphicon glyphicon-download-alt"></i></a></span>
                </div>
            </div>
        </li>
    </ul>
</div>

<div><h6>*以上資料只供家長參考，如資料有誤，概以學校最後公布為準。</h6><div>