<style>
body {
    font-size: 13px !important;
}
.slider-menu a {
    font-size: 13px !important;
}
.slider-category p a {
    font-size: 12px !important;
}
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.themeA-container {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: 100% !important;
    position: relative;
    /* top: 55px; */
}
.post-comment-box .post-qna-reply-textfield {
    width: 55% !important;
}
.post-comment-box .post-sharing-comment-textfield {
    width: 55% !important;
}
span.notif-count {
    position: relative !important;
    top: -27px !important;
    left: -7px !important;
}
.dropdown-menu {
    left: -100px !important;
}
.post-qna-body-title {
    padding-bottom: 10px !important;
}
.post-qna-answers {
    font-size: 13px !important;
}
.post-qna-answers li {
    padding: 10px 10px !important;
}
.post-qna-body-title a {
    font-size: 18px !important;
}
.post-qna-body {
    padding-top: 0px !important;
}
.post-sharing-body {
    padding-top: 5px !important;
}
.post-qna-body-text, .post-qna-answer-body-text {
    padding: 0px 0px 5px 0px !important;
    line-height: 1.2 !important;
    font-size: 14px !important;
}
.post-sharing-body-text {
    padding: 5px 0px 5px 0px !important;
    line-height: 1.2 !important;
    font-size: 14px !important;
}
.post-detail-wrapper div {
    width: 62% !important;
}
</style>

<div id="header" class="header-wrapper no-glow navbar hidden-print navbar-default box main navbar-fixed-top" id="nav_bar" role="navigation" style="top:0px; height: 42px; min-height: 42px;">
    <a class="header-logo pull-left" href="#">
        <img style="width: 42px !important;height: 42px !important;" src="../assets/app/images/logo-mB-1.png" />
    </a>
    <ul class="header-notif-bar pull-left">
        <li class="dropdown notif pull-left" >
            <a href="" class="dropdown-toggle dropdown-hover" data-toggle="dropdown">
                <img class="colorChange" src="../assets/app/images/general/icons/w_profile.png" data-ng-click="reset_fr_count()"/>
                <span class="notif-count pull-right" data-ng-show="isFRreaded == true && friend_requests.length > 0">{{friend_requests.length}}</span>
            </a>
            <ul class="dropdown-menu chat media-list" data-ng-show="friend_requests.length > 0" style="top: 28px !important;" >
                <li class="media" data-ng-repeat="friend in friend_requests">
                    <a class="pull-left" ng-href="#/profile/{{friend.id}}"><img class="media-object thumb" data-ng-src="/image/get-mini-image-by-id/{{friend.id}}" alt="50x50" width="50"></a>
                    <div class="media-body" data-ng-init="friend.isLoadingEnable = false">
                        
                        <button data-ng-show="friend.isFriendAccepted == false && friend.isLoadingEnable == false" data-ng-init="friend.isFriendAccepted = false"
                             data-ng-click="accept_friend_request(friend.id, friend.nid)" class="btn btn-xs btn-success pull-right">accept</button>
                        <label class="label label-default pull-right" data-ng-show="friend.isFriendAccepted == true">Friends</label>
                        
                        <span class="label label-primary pull-right" data-ng-show="friend.isLoadingEnable == true">Loading...</span>
                        
                        <a href="#/profile/{{friend.id}}" style="margin-right: 0px !important;"><h5 class="media-heading">{{friend.dn}}</h5></a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown notif pull-left">
            <a href="" class="dropdown-toggle dropdown-hover" data-toggle="dropdown">
                <img class="colorChange" src="../assets/app/images/general/icons/w_notification.png" data-ng-click="reset_notify_count()"/>
                <span class="notif-count pull-right" data-ng-show="isNOreaded == true && join_requests.length > 0">{{join_requests.length}}</span>
            </a>
            <ul class="dropdown-menu chat media-list" data-ng-show="join_requests.length > 0" style="top: 28px !important;">
                <li class="media" data-ng-repeat="request in join_requests" ng-switch="request.tp">
                    
                    <a ng-switch-when="COMMUNITY_JOIN_REQUEST" class="pull-left" ng-href="#/profile/{{request.id}}"><img class="media-object thumb" data-ng-src="/image/get-mini-image-by-id/{{request.id}}" alt="50x50" width="50"></a>
                    
                    <a ng-switch-when="COMMUNITY_INVITE_REQUEST" class="pull-left" ng-href="#/community/{{request.id}}/question"><img class="media-object thumb" data-ng-src="/image/get-mini-cover-community-image-by-id/{{request.mm}}" alt="50x50" width="50"></a>
                    
                    <div class="media-body" data-ng-init="request.isLoadingEnable = false">
                        
                        <button ng-switch-when="COMMUNITY_JOIN_REQUEST"  data-ng-show="request.isRequestAccepted == false && request.isLoadingEnable == false" data-ng-init="request.isRequestAccepted = false"
                            data-ng-click="accept_join_request(request.id, request.mm, request.nid);$event.stopPropagation();" 
                            class="btn btn-xs btn-success pull-right a_{{request.id}}_{{request.mm}}">accept</button>
                        
                        <button ng-switch-when="COMMUNITY_INVITE_REQUEST" data-ng-show="request.isRequestAccepted == false && request.isLoadingEnable == false" data-ng-init="request.isRequestAccepted = false"
                            data-ng-click="accept_invite_request(request.id, request.mm, request.nid);$event.stopPropagation();" 
                            class="btn btn-xs btn-success pull-right a_{{request.id}}_{{request.mm}}">accept</button>
                        
                        <button ng-switch-when="COMMUNITY_JOIN_APPROVED" style="margin-right: 0px !important;" 
                            data-ng-show="request.isRequestAccepted == false && request.isLoadingEnable == false" data-ng-init="request.isRequestAccepted = false"
                            data-ng-click="mark_as_read(request.nid);$event.stopPropagation();"
                            class="btn btn-xs btn-success pull-right a_{{request.id}}_{{request.mm}}">mark as read</button>
                        
                        <span class="label label-primary pull-right" data-ng-show="request.isRequestAccepted == true">member</span>
                        
                        <a ng-switch-when="COMMUNITY_JOIN_REQUEST" style="margin-right: 0px !important;" ng-href="#/profile/{{request.id}}"><h5 class="media-heading">{{request.dn}}</h5></a>
                        
                        <a ng-switch-when="COMMUNITY_INVITE_REQUEST" style="margin-right: 0px !important;" ng-href="#/community/{{request.id}}/question"><h5 class="media-heading">{{request.cn}}</h5></a>
                        
                        <p class="margin-none">{{request.msg}}</p>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown notif pull-left">
            <a href="/#/message/0">
                <img class="colorChange" src="../assets/app/images/general/icons/w_message.png"/>
                <span class="notif-count pull-right" data-ng-show="unread_msg_count.count > 0">{{unread_msg_count.count}}</span>
            </a>
        </li>
    </ul>
    
    <div class="right-side">
        <!--a class="header-main-text" href="#">
            主頁
        </a>
        <a class="header-main-text" ng-href="#/about/activities">
            {{userInfo.firstName}}
        </a-->
        <!--a href="#"><img src="../assets/app/images/general/icons/w_home.png" /></a-->
        <a style="position:relative;top:-3px;" class="dropdown-toggle dropdown-hover colorChange" data-toggle="dropdown" href="#">
            <img src="../assets/app/images/general/icons/w_setup.png" />
        </a>
        <ul class="dropdown-menu">
            <!--li><a ng-href="#/">設定</a></li-->
            <li><a href="/logout">登出</a></li>
            <li class="dropdown-divider" role="presentation"></li>
            <!--li><a ng-href="">回報問題</a></li-->
        </ul>
    </div>
</div>
<div id="main-top"/>