<header>
    <div data-ng-include style="width:100%;" data-src="'/assets/app/views/mobile/header-bar.html'"></div>
</header>

<div class="themeA-container">
	<div id="content">
		<div class="row">
            <div>
                <div ng-show="topAnnouncements.length > 0">
                    <div data-ng-include data-src="'/assets/app/views/widgets/top-announcements-widget.html'"></div>
                </div>
                <div>
                    <div data-ng-include data-src="'/assets/app/views/widgets/communities-index-widget.html'"></div>
                </div>
            </div>
            
            <!--div class="ads-factor-728x90">
                <script adSize="72890" adSid="852850346820" ads-factor language='JavaScript' type="text/javascript"></script>
            </div-->
            
            <div class="general-box tab-box">
                <div class="wall-title">
                    <span class="wall-icon icon-title-friendwall" style="margin-top:-2px;"></span><a href="m-my#" style="cursor:pointer;"><font style="vertical-align:middle;">我的社群動向</font></a>
                    <a href="m-my#" class="pull-right"><i class="glyphicon glyphicon-refresh"></i></a>
                </div>
            </div>
            
            <div id="wall">
                <div ng-controller="NewsFeedController" data-ng-include style="width:100%;" data-src="'/assets/app/views/mobile/home-news-feed-section.html'"></div>
            </div>
	    </div>
    </div>
</div>

<div data-ng-include data-src="'/assets/app/views/showImageModal.html'"></div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span></a>
</div>

<script>
    ga_send_pv();
</script>