<div id="header-menu" class="row">
    <div id="main-menu">
        <ul>
            <li class="col-md-1 col-sm-1 col-xs-1" ng-class="{selected: selectedNavBar == 'FRONTPAGE'}" ng-click="selectNavBar('FRONTPAGE')">
                <a href="/"><span>首頁</span></a>
            </li>
            <li class="col-md-1 col-sm-1 col-xs-1" ng-class="{selected: selectedNavBar == 'HOME'}" ng-click="selectNavBar('HOME')">
                <a href="/my#!"><span>媽媽社群</span></a>
            </li>
            <li class="col-md-1 col-sm-1 col-xs-1" ng-class="{selected: selectedNavBar == 'SCHOOLS'}" ng-click="selectNavBar('SCHOOLS')">
                <a href="/schools#!"><span>幼稚園</span></a>
            </li>
            <li class="col-md-1 col-sm-1 col-xs-1" ng-class="{selected: selectedNavBar == 'HOT_ARTICLES'}" ng-click="selectNavBar('HOT_ARTICLES')">
                <a href="/articles#!/article/show/0"><span>文章</span></a>
            </li>
            <!--li class="col-md-1 col-sm-1 col-xs-1" ng-class="{selected: selectedNavBar == 'SOON_TO_BE_MOMS_ARTICLES'}" ng-click="selectNavBar('SOON_TO_BE_MOMS_ARTICLES')">
                <a href="/knowledge#!/article/show/{{soonMomsArticleCategories[0].id}}"><img src="/assets/app/images/frontpage/icon_mainMenu_library.png"/></a>
            </li-->
            <!--li class="col-md-1 col-sm-1 col-xs-1" ng-class="{selected: selectedNavBar == 'MAGAZINE'}" ng-click="selectNavBar('MAGAZINE')">
                <a href="/magazine#!"><img src="/assets/app/images/frontpage/icon_mainMenu_magazine.png"/></a>
            </li-->
            <!--li class="col-md-1 col-sm-1 col-xs-1">
                <a href="/#!"><img src="/assets/app/images/frontpage/icon_mainMenu_tools.png"/></a>
            </li-->
            <!--li class="col-md-3 col-sm-3 col-xs-3" style="width:240px;">
                <div class="pull-right">
                    <div data-ng-include data-src="'/assets/app/views/widgets/fb-link-like-widget.html'"></div>
                </div>
            </li-->
        </ul>
    </div>
</div>
        
<!--div id="nav-holder" ng-if="selectedNavBar == 'HOT_ARTICLES'">
    <div id="nav-slider" class="royalSlider rsDefaultInv">
        <div class="rsContent">
            <span class="rsTmb nav-link"><img ng-src="/assets/app/images/general/titles/hot_articles.png"></span>
        </div>
        <div class="rsContent">
            <a class="rsTmb nav-link" ng-class="{'selected-nav-item-lightblue': selectedNavSubBar == 0}" ng-click="selectNavBar('HOT_ARTICLES')" href="/m-articles#!/article/show/0">
                所有文章
            </a>
        </div>
        <div class="rsContent" ng-repeat="category in hotArticleCategories">
            <a class="rsTmb nav-link" ng-class="{'selected-nav-item-lightblue': selectedNavSubBar == category.id}" ng-click="selectNavBar('HOT_ARTICLES')" href="/m-articles#!/article/show/{{category.id}}">
                {{category.name}}
            </a>
        </div>
    </div>
</div-->

<!--div id="nav-holder" ng-if="selectedNavBar == 'SOON_TO_BE_MOMS_ARTICLES'">
    <div id="nav-slider" class="royalSlider rsDefaultInv">
        <div class="rsContent">
            <span class="rsTmb nav-link"><img ng-src="/assets/app/images/general/titles/preg_month.png"></span>
        </div>
        <div class="rsContent" ng-repeat="category in soonMomsArticleCategories">
            <a class="rsTmb nav-link" ng-class="{'selected-nav-item-pink': selectedNavSubBar == category.id}" ng-click="selectNavBar('SOON_TO_BE_MOMS_ARTICLES')" href="/m-knowledge#!/article/show/{{category.id}}">
                {{category.name}}
            </a>
        </div>
    </div>
</div-->

<div id="nav-holder" ng-if="selectedNavBar == 'MAGAZINE'">
    <div id="nav-slider" class="royalSlider rsDefaultInv">
        <div class="rsContent">
            <a class="rsTmb nav-link" ng-class="{'selected-nav-item-green': selectedNavSubBar == 0}" ng-click="selectNavBar('MAGAZINE')" href="/m-magazine#!/">
                最新動向
            </a>
        </div>
        <div class="rsContent" ng-repeat="category in businessCommunityCategories">
            <a class="rsTmb nav-link" ng-class="{'selected-nav-item-green': selectedNavSubBar == category.id}" ng-click="selectNavBar('MAGAZINE')" href="/m-magazine#!/view/{{category.id}}">
                {{category.name}}
            </a>
        </div>
    </div>
</div>

<div data-ng-include data-src="'/assets/app/views/mobile/schools/nav-bar.html'" ng-if="selectedNavBar == 'SCHOOLS'"></div>

<div id="androidAppDownloadTips" class="tips-banner" ng-if="showAndroidAppDownloadTips">
    <a href="" onclick="dismissAndroidAppDownloadTips()">
        <img style="width:12px;height:auto;margin-right:5px;" src="/assets/app/images/general/icons/i-close.png"></img>
    </a>
    <a href="https://play.google.com/store/apps/details?id=miniBean.app.AppController">
        <img style="width:58px;height:auto;border-radius:10px;" src="/assets/app/images/logo-96x96.png"></img>
        <div>
            <span class="tips-main">
                下載 miniBean 應用程式
            </span>
            <span class="tips-main">
                更多幼稚園資訊！
            </span>
            <span class="tips-small">
                立即下載
            </span>
        </div>
    </a>
    <button class="btn btn-red ng-binding" style="right:10px;position:absolute;margin-top:15px;background-color:#EAAD4F;">
	    <a href="https://play.google.com/store/apps/details?id=miniBean.app.AppController" style="color:#ffffff;">下載</a>
	</button>
</div>

<style>
#nav-slider {
  font-weight: normal;
  font-size: 15px;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  top: 42px;
}
#nav-slider .rsThumbsHor {
  width: 100%;
  height: 40px;
  padding: 0;
}
.rsDefaultInv,
.rsDefaultInv .rsOverflow,
.rsDefaultInv .rsSlide,
.rsDefaultInv .rsVideoFrameHolder,
.rsDefaultInv .rsThumbs {
  background: #FFF;
}
.rsDefaultInv .rsThumb.rsNavSelected {
}
#nav-slider .nav-link {
  padding: 7px 10px;
  color: #111;
  text-decoration: none;
}
#nav-slider > .rsContent {
  height: auto;
}
.royalSlider {
}
.royalSlider > .rsContent h1,
.royalSlider > .rsContent h2,
.royalSlider > .rsContent img,
.royalSlider > .rsContent .nav-link {
  display: none;
}
#nav-slider .nav-link:hover {
  text-decoration: none;
}
.rsWebkit3d .nav-link {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
#nav-slider .rsThumb {
  width: 100px;     // NOTE: this must exist to calculate the correct slider scrolling width!!! OK to set to auto after slider init
  height: 40px;
  cursor: pointer;
  padding: 10px 0px;
  text-align: center;
}
#nav-slider .rsTmb {
  text-align: center;
}
#nav-slider .rsTmb img {
    height: 24px;
    width: auto;
    margin-top: -2px;
}
#nav-slider .selected-nav-item-yellow {
    border-bottom: 4px solid #FFB32D;
}
#nav-slider .selected-nav-item-green {
    border-bottom: 4px solid #239915;
}
#nav-slider .selected-nav-item-lightblue {
    color: white !important;
    background-color: #AFCCF9;
    border-radius: 20px;
    font-weight: bold;
}
#nav-slider .selected-nav-item-pink {
    color: white !important;
    background-color: #FFC2C4;
    border-radius: 20px;
    font-weight: bold;
}
#nav-slider .rsThumbsArrow {
    height: 36px;
    width: 30px;
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 21;    
}
#nav-slider .rsThumbsArrowLeft { position:fixed;  left:0; }
#nav-slider .rsThumbsArrowRight { position:fixed; right:0; }
#nav-slider .rsThumbsArrowIcn {
    height: 36px;
    width: 30px;
    position: absolute; 
    display: block;
    cursor: pointer;
    background: url(../../images/mobile/general/nav_overlay.png);  
}
#nav-slider .rsThumbsArrowLeft .rsThumbsArrowIcn { left:0; background-position:top; }
#nav-slider .rsThumbsArrowRight .rsThumbsArrowIcn { right:0; background-position:bottom; }
#nav-slider .rsThumbsArrowDisabled { display: none !important; }
</style>