<a id="membersSearchwrapper" class="pull-right" style="margin-right: 9%;">
    <div class="basic-search-wrapper">
        <div class="input-group innerB basic-search">
            <input type="text" class="form-control" ng-model="query" placeholder="搜尋朋友">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</a>
<div style="padding:30px;"></div>
<div class="friendCard" ng-repeat="friend in result.friends | filter:query">
    <a href="/m-my#/profile/{{friend.id}}" class="d-s ob">
        <div class="friendImageBox">
            <img class="img-clean" data-toggle="tooltip" data-placement="top" data-tooltip="{{friend.dn}}" data-ng-src="/image/get-thumbnail-image-by-id/{{friend.id}}" alt="...">
        </div>
    </a>
    <div class="friendTagBox">
        <div class="friendTag">
            <a href="/m-my#/profile/{{friend.id}}" class="friendTagRef"><span class="friendName">{{friend.dn}}</span></a>
            <!-- don't show location of other users' friends -->
            <!--span class="friendType"><i class="fa fa-fw fa-map-marker text-muted"></i>{{friend.ln.displayName}}</span-->
        </div>
    </div>
</div>