<!-- Sidebar -->
<div id="sidebar-wrapper" ng-click="toggleMenu()">
    <ul class="sidebar-nav">
        <!--li>
            <a href="" class="icon-btn btn btn-navbar pull-left">
                Back
            </a>
        </li-->
        <li>
            <div id="main-uphoto" data-ng-style="set_background_image()">
                <img src="/assets/app/images/mobile/general/gradient_black_30.png" alt="gradient-black">
                <a title="user-picture" href="#/about/activities"><img src="/image/get-mini-image-by-id/{{userInfo.id}}" alt="user-picture"></a>
                <span href="" class="userName">{{userInfo.firstName}}</span>
            </div>
        </li>
        <li>
            <div style="margin:5px 0;">
                <div class="sliding-menu-item">
                    <a href="#" class="text-muted">
                        <img src="/assets/app/images/general/icons/newsfeed.png">我的社群動向
                    </a>
                </div>
                <div class="sliding-menu-item">
                    <a href="/mobile#/about/bookmarks" class="text-muted">
                        <img style="width:22px;height:22px;margin:0 8px 0 3px;" src="/assets/app/images/general/icons/message_favorited.png">我的喜愛
                    </a>
                </div>
            </div>
        </li>
        <li>
            <div data-ng-controller="UserCommunityWidgetController" data-ng-show="result.communities.length > 0">
                <div ng-init="niceScroll()" data-ng-include data-src="'/assets/app/views/mobile/sliding-menu-my-communities.html'"></div>
            </div>
        </li>
        <li>
            <div ng-controller="PNCommunitiesUtilityController" data-ng-show="pnCommunities.length > 0 && userTargetProfile.pn">
                <div data-ng-include style="width: 100%;" data-src="'/assets/app/views/mobile/sliding-menu-pn-communities.html'"></div>
            </div>
        </li>
        <li>
            <div class="sliding-menu-small-title">文章</div>
            <div class="content-wrapper">
                <ul>
                    <li class="sliding-menu-float-item" style="width:45%;"><a href="/mobile#/article/show/0" style="cursor: pointer;"><font style="font-size:15px;vertical-align:middle;">所有文章</font></a></li>
                    <li class="sliding-menu-float-item" style="width:45%;" data-ng-repeat="category in articleCategories"><a data-ng-href="/mobile#/article/show/{{category.id}}" style="cursor: pointer;" id="categoryselect"><font style="font-size:15px;vertical-align:middle;">{{category.name}}</font></a></li>
                </ul>
            </div>
        </li>
        <li>
            <a class="sliding-menu-logout" href="/logout"><i class="glyphicon glyphicon-off sliding-menu-logout-icon"></i>登出</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
<div id="slider-menu-backdrop" class="" ng-click="toggleMenu()"></div>
