<!-- Sidebar -->
<div id="sidebar-wrapper" ng-click="toggleMenu()">
    <ul class="sidebar-nav">
        <li class="sliding-main-nav">
            <ul>
                <li class="sliding-menu-main-item">
                    <a href="/"><img src="/assets/app/images/frontpage/icon_mainMenu_home.png"/></a>
                </li>
                <li class="sliding-menu-main-item">
                    <a href="my#"><img src="/assets/app/images/frontpage/icon_mainMenu_myMiniBean.png"/></a>
                </li>
                <li class="sliding-menu-main-item">
                    <a href="articles#/article/show/0"><img src="/assets/app/images/frontpage/icon_mainMenu_article.png"/></a>
                </li>
                <li class="sliding-menu-main-item">
                    <a href="knowledge#/article/show/{{soonMomsArticleCategories[0].id}}"><img src="/assets/app/images/frontpage/icon_mainMenu_libuary.png"/></a>
                </li>
                <!--li class="sliding-menu-main-item">
                    <a href="magazine#"><img src="/assets/app/images/frontpage/icon_mainMenu_magazine.png"/></a>
                </li-->
                
            </ul>
        </li>
        <li ng-show="!userInfo.isLoggedIn">
            <div id="main-uphoto" data-ng-style="set_background_image()">
                <img src="/assets/app/images/mobile/general/gradient_black_30.png" alt="gradient-black">
                <a title="user-picture" href="m-my#/"><img src="/image/get-mini-image-by-id/-1" alt="user-picture"></a>
                <a href="m-my#/m-login" class="userName">登入</a>
            </div>
        </li>
        <li ng-show="userInfo.isLoggedIn">
            <!--div id="main-uphoto" data-ng-style="set_background_image()">
                <img src="/assets/app/images/mobile/general/gradient_black_30.png" alt="gradient-black">
                <a title="user-picture" href="m-my#/about/activities"><img src="/image/get-mini-image-by-id/{{userInfo.id}}" alt="user-picture"></a>
                <a href="m-my#/about/activities" class="userName">{{userInfo.displayName}}</a>
            </div-->
            <div data-ng-controller="GameController">
                <div data-ng-include data-src="'/assets/app/views/widgets/my-profile-widget.html'"></div>
            </div>
        </li>
        <li>
            <div>
                <div data-ng-include data-src="'/assets/app/views/widgets/fb-link-like-widget.html'"></div>
            </div>
        </li>
        <li ng-show="userInfo.isLoggedIn">
            <ul class="sliding-menu-item">
                <!--div style="margin:5px 0;"-->
                <li>
                    <a href="m-my#" class="text-muted">
                        <img style="width:auto;height:22px;margin:0 8px 0 3px;" src="/assets/app/images/general/icons/newsfeed.png">我的社群動向
                    </a>
                </li>
                <li>
                    <a href="m-my#/about/activities" class="text-muted">
                        <img style="width:auto;height:22px;margin:0 8px 0 3px;" src="/assets/app/images/general/icons/i-article.png">我的發佈
                    </a>
                </li>
                <li>
                    <a href="m-my#/about/bookmarks" class="text-muted">
                        <img style="width:auto;height:22px;margin:0 8px 0 3px;" src="/assets/app/images/general/icons/message_favorited.png">我的收藏
                    </a>
                </li>
            </ul>
        </li>
        <li ng-show="userInfo.isLoggedIn">
            <ul class="sliding-menu-single-item myCommunity-info">
                <li>
                    <a href="m-my#/communities-discover"><img src="/assets/app/images/general/icons/community/beans.png"></a>
                    <p><a href="m-my#/communities-discover">所有親子社群 <img style="width:14px;margin-bottom:3px;float:none;" src="/assets/app/images/general/animated/arrow.gif"></a></p>
                </li>
            </ul>
        </li>
        <li ng-show="userInfo.isLoggedIn">
            <div data-ng-controller="UserCommunityWidgetController" data-ng-show="result.communities.length > 0">
                <div ng-init="niceScroll()" data-ng-include data-src="'/assets/app/views/mobile/sliding-menu-my-communities.html'"></div>
            </div>
        </li>
        <!--li>
            <div ng-controller="PNCommunitiesUtilityController" data-ng-show="pnCommunities.length > 0 && userTargetProfile.pn">
                <div data-ng-include style="width:100%;" data-src="'/assets/app/views/mobile/sliding-menu-pn-communities.html'"></div>
            </div>
        </li-->
        <li ng-show="userInfo.isLoggedIn">
            <ul class="sliding-menu-single-item myCommunity-info">
                <li>
                    <a href="m-my#/community/35"><img src="/assets/app/images/general/icons/community/feedback.png"></a>
                    <p><a href="m-my#/community/35"><b class="ng-binding">miniBean小萌豆意見區</b></a></p>
                </li>
            </ul>
        </li>
        <li ng-show="userInfo.isLoggedIn">
            <ul class="sliding-menu-single-item sliding-menu-logout">
                <li>
                    <a href="/logout"><i class="glyphicon glyphicon-off sliding-menu-logout-icon"></i>登出</a>
                </li>
            </ul>
        </li>
        <li>
            <ul class="sliding-menu-single-item">
                <li>
                    <div id="login-footer">
                        <!--a href="#">關於</a><a href="#">刊登廣告</a--><a href="terms" target="_blank">使用條款</a><a href="privacy" target="_blank">私隱政策</a>
                    </div>
                </li>
            </ul>
        </li>
        <!--li>
            <div class="padding5" style="border-top:1px solid #BEBEBE;"></div>
        </li-->
    </ul>
</div>
<!-- /#sidebar-wrapper -->
<div id="slider-menu-backdrop" class="" ng-click="toggleMenu()"></div>
