<header>
    <div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/mobile/header-bar.html'"></div>
</header>

<div class="themeA-container">
    <div id="content">
        <div class="row">
            <div id="profile-header">
                <ul>
                    <li>
                    	<div><img id="profile-banner" src="/image/get-cover-image-by-id/{{profile.id}}" /></div>
                    </li>
                    <li id="profile-header-menu">
                        <div><img src="/image/get-profile-image-by-id/{{profile.id}}" alt="profile-pic" />
                        </div>
                        <p id="profile-user-name">{{profile.dn}}</p>
                        <div id="menu-title">
                        	<a ng-click="selectedTab = 1;" ng-class="{activeTabBold: selectedTab == 1}">最新發佈</a>
							<div class="divider-cus"></div>
							<a ng-click="selectedTab = 2;" ng-class="{activeTabBold: selectedTab == 2}">社群</a>
							<div class="divider-cus"></div>
							<a ng-click="selectedTab = 3;" ng-class="{activeTabBold: selectedTab == 3}">朋友</a>
                        </div>
                        <div class="pull-right">
                            <!--a style="margin:5px 0" ng-show="profile.isf == true && isLoadingEnabled == false" class="btn-general pull-right" data-ng-href="my#/message/{{profile.id}}">私人訊息</a-->
                            <!--a style="margin:5px 0" class="btn-general pull-right" data-ng-href="my#/message/{{profile.id}}">私人訊息</a-->
                        </div>
                    </li>
                </ul>
            </div>
            
            <div ng-show="selectedTab == 1" id="wall" style="height: auto !important;" ng-controller="UserNewsFeedController" >
                <div ng-show="profile.isf==true" data-ng-include style="width: 100%;" data-src="'/assets/app/views/mobile/about-news-feed-section.html'"></div>
                <div ng-show="profile.isf==false" class="general-box" style="background-color:#F5F5F5;">
                    <div class="section-title">
                        <div style="position:relative;top:3px;">
                            想看 {{profile.fn}} 的發佈,加 {{profile.fn}} 為朋友吧!
                            <a style="margin:0 5px 15px 0;position:relative;top:5px;" ng-show="profile.isf == false && profile.isP == false && isLoadingEnabled == false" class="btn-general pull-right" data-ng-click="send_invite(profile.id)">+ <i class="fa fa-user"></i> 加為朋友</a>
                        </div>
                    </div>
                </div>
			 </div>
			 
			 <div ng-if="selectedTab == 2" ng-controller="CommunityWidgetByUserIDController">
			 	<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/mobile/profile-all-communities-section.html'"></div>
			 </div>
			 
			 <div ng-if="selectedTab == 3" ng-controller="UserFriendsController">
			 	<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/mobile/profile-all-friends-section.html'"></div>
			 </div>
			 
            <!--Wall End -->
        </div>
    </div>
</div>

<div data-ng-include data-src="'/assets/app/views/showImageModal.html'"></div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span></a>
</div>

<script>
    ga_send_pv();
</script>