<div id="frontpage-articles-section">
    <div id="article-hot" class="general-box utility-box">
        <div class="article-title">
            <span class="article-title-icon article-title-icon-hot"></span>
            <img src="/assets/app/images/frontpage/article_title_featured.png">
            <a class="pull-right" href="articles#">更多</a>
        </div>
        <div class="section-details">
            <ul>
                <li><div ng-controller="ArticleSliderController" data-ng-include data-src="'/assets/app/views/mobile/articles/articles-slider.html'"></div></li>
                <li data-ng-repeat="article in hotArticles">
                    <div class="article-details">
                        <div class="article-image">
                            <a href="articles#/article/{{article.id}}/{{article.ct.id}}">
                                <img ng-show="article.img_url != 'No Image'" data-ng-src="{{article.img_url}}">
                            </a>
                        </div>
                        <div class="article-summary">
                            <a href="articles#/article/{{article.id}}/{{article.ct.id}}">
                                {{article.nm | limitTo:20}}</span><span ng-if="article.nm.length > 20">...</span>
                            </a>
                            <div style="display:block;">
                                <a class="tag" data-ng-href="articles#/article/show/{{article.ct.id}}">{{article.ct.name}}</a>
                                <span ng-show="article.nov > 0 || userInfo.isE" class="view-count" style="margin-left:10px;"><img class="view-icon" data-ng-src="/assets/app/images/general/icons/view.png"/>{{article.nov}}</span>
                            </div>
                        </div>
                    </div>
                </li>                    
            </ul>
        </div>
    </div>
</div>
