<header>
    <div data-ng-include style="width:100%;" data-src="'/assets/app/views/mobile/header-bar.html'"></div>
    <div data-ng-include data-src="'/assets/app/views/mobile/nav-bar.html'"></div>
</header>

<div class="themeA-container">
    <div class="row">
        <div>
            <span data-ng-include data-src="'/assets/app/views/frontpage/campaign-page-details.html'"></span>            
        </div>
        <div class="ads-factor-728x90">
            <script adSize="72890" adSid="477069296823" ads-factor language='JavaScript' type="text/javascript"></script>
            <script adSize="300250" adSid="984442326812" ads-factor language='JavaScript' type="text/javascript"></script>
        </div>
        <div ng-show="!userInfo.isLoggedIn">
            <div data-ng-include data-src="'/assets/app/views/widgets/prompt-signup-widget.html'"></div>
        </div>
    </div>
</div>

<div>
    <span data-ng-include data-src="'/assets/app/views/frontpage/campaign-page-modal.html'"></span>
</div>


<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span></a>
</div>

<script>
    ga_send_pv();
</script>