<header>
    <div data-ng-include style="width:100%;" data-src="'/assets/app/views/mobile/header-bar.html'"></div>
    <div data-ng-include data-src="'/assets/app/views/mobile/nav-bar.html'"></div>
</header>

<div class="themeA-container">
    <div id="frontpage" class="row">
        <div id="wall">
        
            <!-- slider - promo, campaigns, announcements, voting -->
            <div class="frontpage-section">
                <div data-ng-include data-src="'/assets/app/views/mobile/frontpage/slider-section.html'"></div>
            </div>
            
            <!-- new posts, hot comms -->
            <div class="frontpage-section">
                <div data-ng-include data-src="'/assets/app/views/frontpage/communities-section.html'"></div>
            </div>

            <!-- new articles, hot articles, recommend articles -->
            <div class="frontpage-section">
                <div data-ng-include data-src="'/assets/app/views/mobile/frontpage/articles-section.html'"></div>
            </div>
                        
            <!-- featured game gifts/info, articles, knowledge -->
            <div class="frontpage-section">
                <div data-ng-include data-src="'/assets/app/views/frontpage/topics-section.html'"></div>
            </div>

            <div style="margin-top:10px;">
                <div data-ng-include data-src="'/assets/app/views/utilities/feedbackCommunityUtility.html'"></div>
            </div>
                            
            <div class="ads-factor-728x90">
                <script adSize="72890" adSid="477069296823" ads-factor language='JavaScript' type="text/javascript"></script>
            </div>
            
            <div class="ads-factor-300x250">
                <script adSize="300250" adSid="602161336702" ads-factor language='JavaScript' type="text/javascript"></script>
            </div>
        </div>
    </div>
</div>

<script>
    ga_send_pv();
</script>