<div id="frontpage-slider-section">
            
    <div id="frontpage-slider" class="royalSlider rsMinW general-box">
        <div ng-repeat="topic in sliderTopics">
            <div class="rsContent fp-image-slide" ng-if="topic.sty == 'FLASH' || topic.sty == 'IMAGE'">
                <a class="rsImg" href="{{topic.img}}"></a>
                <a class="transparent-bg" href="{{topic.url}}" target="_blank" ng-if="topic.nm.length == 0 || topic.ds.length == 0">
                    <img src="../assets/app/images/general/gradient_black_30.png">
                </a>
                <a class="gradient-bg" href="{{topic.url}}" target="_blank" ng-if="topic.nm.length > 0 || topic.ds.length > 0">
                    <img src="../assets/app/images/general/gradient_black_30.png">
                </a>
                <div class="bContainer">
                    <a class="gradient-bg" href="{{topic.url}}" target="_blank">
                        <span class="rsABlock blockHeadline" data-move-effect="top" data-delay="200" data-fade-effect="none" ng-if="topic.nm.length > 0">
                            {{topic.nm}}
                            <span class="blockSubHeadline" ng-if="topic.ds.length > 0"><br/>{{topic.ds}}</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
 
 
<style>
#frontpage-slider {

}
#frontpage-slider div {
    border-radius: 10px;
    background-color: transparent;
}
#frontpage-slider .gradient-bg img, #frontpage-slider .gradient-bg img:hover {
    opacity: 0.8;
}
#frontpage-slider .rsImg {
}
#frontpage-slider .rsContent {
    color: #FFF;
    font-size: 14px;
    line-height: 1.4;
    float: left;
}
#frontpage-slider .bContainer {

}
#frontpage-slider .rsABlock {
    position: relative;
    display: block;
    left: auto;
    top: auto;
}
#frontpage-slider .blockHeadline {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
}
#frontpage-slider .blockSubHeadline {
    font-size: 15px;
    line-height: 1.4;
}
#frontpage-slider .txtCent {
    text-align: center; 
    width: 100%; 
}
#frontpage-slider .fp-flash-slide {
    background: #fff;
}
#frontpage-slider .fp-image-slide .bContainer {
    position: absolute;
    left: 0px;
    bottom: 15px;
    width: 100%;
    height: auto;
    color: white;
    top: auto;
    z-index: 25;
    padding: 0 25px;
}
#frontpage-slider .fp-image-slide .bContainer a, .fp-image-slide .bContainer a:hover {
    color: white;
    line-height: 1.5;
}
#frontpage-slider .rsBullets {
    right: 30px;
}
#frontpage-slider .rsBullets, #frontpage-slider .rsBullets div {
    border-radius: 0;
} 
</style>
