<span ng-show="userInfo.isLoggedIn">
    <a data-ng-show="!kg.isBookmarked" class="post-favorite" href="" data-ng-click="bookmarkKG(kg.id)"></a> <!--data-toggle="tooltip" data-tooltip="加到'我的收藏'"></a-->
    <a data-ng-show="kg.isBookmarked && !confirm" class="post-favorited" href="" data-ng-click="unBookmarkKG(kg.id)"></a>
    <a data-ng-show="kg.isBookmarked && confirm" class="post-favorited" href="" data-ng-confirm-click="unBookmarkKG(kg.id)" data-ng-confirm-message="您確定移除這個收藏嗎?"></a>
</span>
<span ng-show="!userInfo.isLoggedIn">
    <a class="post-favorite" href="" data-ng-click="popupLoginModal('收藏幼稚園')"></a>
</span>