<ul class="schools-ranking-main">
    <li id="schools-ranking-top-viewed" class="schools-ranking-box">
        <div class="general-box school-list school-kg-list">
            <ul>
                <li class="index-title kg-index-title">
                    <img style="width:auto;height:28px;" data-ng-src="/assets/app/images/general/titles/schools_most_viewed.png">
                </li>
                <li ng-repeat="kg in topViewedSchools">
                    <div class="school-list-entry">
                        <span class="rank-number kg-rank-number">{{$index+1}}</span>
                        <div class="school-info">
                            <a href="/schools#!/kg/{{kg.id}}">{{kg.n}}</a>
                            <span style="display: inline-block;">
	                            <span class="tag">{{kg.dis}}</span>
	                            <span class="school-info-tips" ng-if="kg.nov > 0">
	                                <img src="/assets/app/images/general/icons/view.png"/>{{kg.nov}}
	                            </span>
	                        </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li id="schools-ranking-top-bookmarked" class="schools-ranking-box">
        <div class="general-box school-list school-kg-list">
            <ul>
                <li class="index-title kg-index-title">
                    <img style="width:auto;height:28px;" data-ng-src="/assets/app/images/general/titles/schools_most_bookmarked.png">
                </li>
                <li ng-repeat="kg in topBookmarkedSchools">
                    <div class="school-list-entry">
                        <span class="rank-number kg-rank-number">{{$index+1}}</span>
                        <div class="school-info">
                            <a href="/schools#!/kg/{{kg.id}}">{{kg.n}}</a>
                            <span style="display: inline-block;">
	                            <span class="tag">{{kg.dis}}</span>
	                            <span class="school-info-tips" ng-if="kg.nob > 0">
	                                <img src="/assets/app/images/general/icons/message_favorited.png">{{kg.nob}}
	                            </span>
	                        </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li id="schools-ranking-top-discussed" class="schools-ranking-box admin-visible-field" ng-if="userInfo.isE">
	    <div class="general-box school-list school-kg-list">
	        <ul>
	            <li class="index-title kg-index-title">
	                <img style="width:auto;height:28px;" data-ng-src="/assets/app/images/general/titles/schools_most_discussed.png">
	            </li>
	            <li ng-repeat="kg in topDiscussedSchools">
	                <div class="school-list-entry">
	                    <span class="rank-number kg-rank-number">{{$index+1}}</span>
	                    <div class="school-info">
	                        <a href="/schools#!/kg/{{kg.id}}">{{kg.n}}</a>
	                        <span style="display: inline-block;">
		                        <span class="tag">{{kg.dis}}</span>
		                        <span class="school-info-tips" ng-if="kg.nop > 0">
		                            <img src="../assets/app/images/general/icons/i-reply.png">{{kg.nop}}
		                        </span>
		                    </span>
	                    </div>
	                </div>
	            </li>
	        </ul>
	    </div>
	</li>
</ul>