<div id="schools-nav-subbar" class="general-box" ng-show="selectedNavBar == 'SCHOOLS'">
    <div class="nav-menu">
        <span ng-class="{'selected-green': selectedNavSubBar == 0}">
            <a class="nav-item nav-item-green" href="/schools#!/pn">
                全港幼兒班(PN班)
                <img src="/assets/app/images/frontpage/mascot/purple_schools.png" ng-show="selectedNavSubBar == 0">
            </a>
        </span>
        <span ng-class="{'selected-maroon': selectedNavSubBar == 1}">
            <a class="nav-item nav-item-maroon" href="/schools#!/kg">
                全港幼稚園(K班)
                <img src="/assets/app/images/frontpage/mascot/purple_schools.png" ng-show="selectedNavSubBar == 1">
            </a>
        </span>
    </div>
</div>