<ul class="schools-ranking-main">
    <li id="schools-appdates" class="schools-dates-box">
        <div class="general-box school-list school-pn-list">
            <ul>
                <li class="index-title pn-index-title">
                    <img style="width:auto;height:28px;" data-ng-src="/assets/app/images/general/titles/schools_most_viewed.png">
                </li>
                <li ng-repeat="pn in appDatesSchools">
                    <div class="school-list-entry">
                        <div class="school-info">
                            <table>
                                <tr>
                                    <td width=50%>
                                        <img style="width:25px;margin:0 2px 2px 0;" ng-src="{{pn.icon}}" ng-if="pn.icon != null" />
                                        <img style="width:25px;margin:0 2px 2px 0;" data-ng-src="/assets/app/images/general/icons/community/grad_hat.png" ng-if="pn.icon == null" />
                                        <a href="/schools#!/pn/{{pn.id}}">{{pn.n}}</a>
                                        <span style="display: inline-block;">
                                            <span class="tag">{{pn.dis}}</span>
                                        </span>
                                    </td>
                                    <td width=50%><span class="school-info-tips">{{pn.appDateTxt}}</span><td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>