<div class="general-box school-list-title">
    <span>{{pns[0].dis}}</span> 有 <span>{{pns.length}}</span> 間幼稚園提供2-3歲幼兒服務 (PN 幼兒班)
</div>
<div class="general-box school-list">
    <div class=" school-list-entry" ng-repeat="pn in pns | objFilter:pnFilter">
	    <ul class="pn-wrapper">
	        <li>
	            <div class="pn-info">
	                <a ng-href="{{pn.url}}" target="_blank">
	                    {{pn.n}}
	                </a>
	                <!--span class="tag" ng-style="{backgroundColor: pn.tagc}">{{pn.dis}}</span-->
	                <a class="schools-map" ng-show="pn.map != null" href="{{pn.map}}" target="_blank"><i class="glyphicon glyphicon-map-marker"></i>地圖</a>
	
	                <div class="pn-info-note"><span ng-show="pn.adr">{{pn.adr}}</span></div>
	                <div class="pn-info-note"><span ng-show="pn.pho">電話: {{pn.pho}}</span><span ng-show="pn.em"> · 電郵: {{pn.em}}</span></div>
	                <div class="pn-info-attr">
	                    <span class="attr-coupon">學券申請: 
	                        <span ng-show="pn.cp">✓</span>
	                        <span ng-show="!pn.cp">--</span>
	                    </span>
	                    <span class="attr-classtimes">學班時間: 
                            <span ng-show="pn.ct == 'AM'">上午班</span>
                            <span ng-show="pn.ct == 'PM'">下午班</span>
                            <span ng-show="pn.ct == 'WD'">全日班</span>
                            <span ng-show="pn.ct == 'AM,PM'">上午、下午班</span>
                            <span ng-show="pn.ct == 'AM,WD'">上午、全日班</span>
                            <span ng-show="pn.ct == 'PM,WD'">下午、全日班</span>
                            <span ng-show="pn.ct == 'AM,PM,WD'">上午、下午、全日班</span>
                        </span>
                        <span class="attr-sex">學生性別: 
                            <span ng-show="pn.ms && pn.fs">男女</span>
                            <span ng-show="pn.ms && !pn.fs">男</span>
                            <span ng-show="!pn.ms && pn.fs">女</span>
                        </span>
	                </div>
	                <!--div class="pn-info-attr">
					    <span>派表日期: {{pn.fds}}<span ng-show="!pn.fds">--</span></span>
					    <span>報名日期: {{pn.ads}}<span ng-show="!pn.ads">--</span></span>
					    <span>截止日期: {{pn.eds}}<span ng-show="!pn.eds">--</span></span>
					    <div class="pull-right" style="margin:auto auto;">
					        <span style="margin-right:5px;" ng-show="pn.fom">申請表格: <a href="{{pn.fom}}" target="_blank"><i class="glyphicon glyphicon-download-alt"></i></a></span>
					    </div>
					</div-->
	            </div>
	        </li>
	    </ul>
	</div>
</div>