<div class="general-box school-list-title">
    <p>{{pns[0].dis}}</p> 有 <p>{{pns.length}}</p> 間幼稚園提供2-3歲幼兒服務 (PN 幼兒班)
    <div class="school-list-filters">
        <span>
	        學券申請: 
	        <div class="btn-group">
			    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle schools-filter-dropdown-btn">
			        全部<span class="caret"></span>
			    </button>
			    <ul id="schools-coupon-filter-dropdown" class="dropdown-menu schools-filter-dropdown" role="menu">
		            <li ng-click="applySchoolFilter('cp','all')" style="cursor:pointer;">
		                <input type="radio" id="coupon-all" name="coupon" value="all"><label for="coupon-all">全部</label>
		            </li>
		            <li ng-click="applySchoolFilter('cp','true')" style="cursor:pointer;">
	                    <input type="radio" id="coupon-yes" name="coupon" value="true"><label for="coupon-yes">有</label>
	                </li>
		            <li ng-click="applySchoolFilter('cp','false')" style="cursor:pointer;">
		                <input type="radio" id="coupon-no" name="coupon" value="false"><label for="coupon-no">沒有</label>
		            </li>
			    </ul>
		    </div>
	    </span>
	    
	    <span>
	        學班時間: 
	        <div class="btn-group">
		        <button data-toggle="dropdown" id="schools-classtimes-filter-dropdow-btn" class="btn btn-primary dropdown-toggle schools-filter-dropdown-btn">
		            全部<span class="caret"></span>
		        </button>
		        <ul id="schools-classtimes-filter-dropdown" class="dropdown-menu schools-filter-dropdown" role="menu">
		            <li ng-click="applySchoolFilter('ct','all')" style="cursor:pointer;">
		                <input type="radio" id="classtimes-all" name="classtimes" value="all"><label for="classtimes-all">全部</label>
		            </li>
		            <li ng-click="applySchoolFilter('ct','am')" style="cursor:pointer;">
		                <input type="radio" id="classtimes-am" name="classtimes" value="AM"><label for="classtimes-am">上午</label>
		            </li>
		            <li ng-click="applySchoolFilter('ct','pm')" style="cursor:pointer;">
		                <input type="radio" id="classtimes-pm" name="classtimes" value="PM"><label for="classtimes-pm">下午</label>
		            </li>
		            <li ng-click="applySchoolFilter('ct','wd')" style="cursor:pointer;">
		                <input type="radio" id="classtimes-wd" name="classtimes" value="WD"><label for="classtimes-wd">全日</label>
		            </li>
		        </ul>
	        </div>
	    </span>

        <span>
	        學生性別: 
	        <div class="btn-group">
		        <button data-toggle="dropdown" id="schools-gender-filter-dropdow-btn" class="btn btn-primary dropdown-toggle schools-filter-dropdown-btn">
		            男女<span class="caret"></span>
		        </button>
		        <ul id="schools-gender-filter-dropdown" class="dropdown-menu schools-filter-dropdown" role="menu">
		            <li ng-click="applySchoolFilter('gen','all')" style="cursor:pointer;">
		                <input type="radio" id="gender-all" name="gender" value="all"><label for="gender-all">男女</label>
		            </li>
		            <li ng-click="applySchoolFilter('gen','m')" style="cursor:pointer;">
		                <input type="radio" id="gender-m" name="gender" value="M"><label for="gender-m">男</label>
		            </li>
		            <li ng-click="applySchoolFilter('gen','f')" style="cursor:pointer;">
		                <input type="radio" id="gender-f" name="gender" value="F"><label for="gender-f">女</label>
		            </li>
		        </ul>
	        </div>
        </span>
        
        <p>({{filteredPNs.length}}間)</p>
    </div>
</div>
<div class="general-box school-list">
    <ul>
        <li ng-if="filteredPNs.length == 0">
            <div class="school-list-entry" style="font-size:16px;padding-bottom:10px;">沒有符合條件的幼兒班。請重新查看選項</div>
        </li>
	    <li ng-repeat="pn in filteredPNs">
	        <div class="school-list-entry">
	            <div class="pn-info">
	                <a ng-href="{{pn.url}}" target="_blank">
	                    {{pn.n}}
	                </a>
	                <!--span class="tag" ng-style="{backgroundColor: pn.tagc}">{{pn.dis}}</span-->
	                <a class="schools-map" ng-show="pn.map != null" href="{{pn.map}}" target="_blank"><i class="glyphicon glyphicon-map-marker"></i>地圖</a>
	
	                <div class="pn-info-note"><span ng-show="pn.adr">{{pn.adr}}</span></div>
	                <div class="pn-info-note"><span ng-show="pn.pho">電話: {{pn.pho}}</span><span ng-show="pn.em"> · 電郵: {{pn.em}}</span></div>
	                <div class="pn-info-attr">
	                    <span class="attr-coupon">學券申請: 
	                        <span ng-show="pn.cp">✓</span>
	                        <span ng-show="!pn.cp">--</span>
	                    </span>
	                    <span class="attr-classtimes">學班時間: 
                            <span ng-show="pn.ct == 'AM'">上午</span>
                            <span ng-show="pn.ct == 'PM'">下午</span>
                            <span ng-show="pn.ct == 'WD'">全日</span>
                            <span ng-show="pn.ct == 'AM,PM'">上午、下午</span>
                            <span ng-show="pn.ct == 'AM,WD'">上午、全日</span>
                            <span ng-show="pn.ct == 'PM,WD'">下午、全日</span>
                            <span ng-show="pn.ct == 'AM,PM,WD'">上午、下午、全日</span>
                        </span>
                        <span class="attr-gender">學生性別: 
                            <span ng-show="pn.gen == 'M,F'">男女</span>
                            <span ng-show="pn.gen == 'M'">男</span>
                            <span ng-show="pn.gen == 'F'">女</span>
                        </span>
	                </div>
	                <!--div class="pn-info-attr">
					    <span>派表日期: {{pn.fds}}<span ng-show="!pn.fds">--</span></span>
					    <span>報名日期: {{pn.ads}}<span ng-show="!pn.ads">--</span></span>
					    <span>截止日期: {{pn.eds}}<span ng-show="!pn.eds">--</span></span>
					    <div class="pull-right" style="margin:auto auto;">
					        <span style="margin-right:5px;" ng-show="pn.fom">申請表格: <a href="{{pn.fom}}" target="_blank"><i class="glyphicon glyphicon-download-alt"></i></a></span>
					    </div>
					</div-->
	            </div>
	        </div>
	    </li>
	</ul>
</div>