<div class="padding5"></div>
<div id="school-box-main" class="general-box">
    <div class="school-box">
    <div class="school-section-title" style="margin-top:0;">關於{{community.n}}的問題與討論</div>
    <div id="community-header">
        歡迎和其他家長一起討論{{community.n}}
    </div>
    <div class="tab-content row" ng-if="selectedTab == 2" ng-if="userInfo.isLoggedIn">
        <div ng-controller="CommunityMembersController" data-ng-include data-src="'/assets/app/views/home/community-members-section.html'"></div>
    </div>

	<div id="wall">
	    <div class="tab-content" ng-if="selectedTab == 1">
	        <div class="general-box tab-box">
	            <div class="wall-title">
	                <span style="margin-left:10px;"/>
	                <span>
	                    <a>
	                        <font style="color:white;">發表新問題 / 討論</font>
	                    </a>
	                </span>
	            </div>
	        </div>
	        
	        <div id="qnapost">
	            <div ng-controller="CommunityQnAController" data-ng-include data-src="'/assets/app/views/home/community-qna-bar.html'"></div>
	        </div>
	    </div>
	</div>
	</div>
</div>
<div class="padding5"></div>