<div id="school-box-main" class="general-box">
    <div class="school-box">
        <div class="school-info">
            <div class="nav-trail">
                <img style="width:18px;vertical-align:text-bottom;" src="../assets/app/images/general/icons/gray_back.png" />
                返回 <a ng-href="/schools#!/pn/district/{{pn.disId}}"><span class="tag">{{pn.dis}}幼稚園</span></a>
                <span data-ng-include data-src="'/assets/app/views/schools/bookmark-pn.html'"></span>
            </div>
            
            <ul class="school-title">
                <li>
	                <h2>
		                <div>{{pn.n}}</div>
		                <div>{{pn.ne || ''}}</div>
		            </h2>
                </li>
                <li>
                    <div class="school-reviews-summary">
                        <div><img style="width:18px;margin-right:3px;" src="../assets/app/images/general/icons/i-reply.png">討論: {{pn.nop}}</div>
                        <div style="margin-top:5px;">
                            <a data-ng-click="gotoId('school-community-main')">一齊討論<img style="width:16px;margin-left:5px;" src="/assets/app/images/general/animated/arrow.gif"></a>
                        </div>
                    </div>
                </li>
            </ul>

            <a class="schools-map" ng-show="pn.map != null" href="{{pn.map}}" target="_blank"><i class="glyphicon glyphicon-map-marker"></i>地圖</a>

            <div class="school-section-title">學校資料</div>
            <div class="school-info-attr-short">
                <span>學券申請 : </span>
                <span ng-show="pn.cp">✓</span>
                <span ng-show="!pn.cp">✘</span>
            </div>
            <div class="school-info-attr">
                <span>學校類別 : </span>
                <span>{{pn.orgt || '--'}}</span>
            </div>
            <div class="school-info-attr-short">
                <span>課程類別 : </span> 
                <span>{{pn.curt || '--'}}</span>
            </div>
            <div class="school-info-attr">
                <span>課堂時間 : </span> 
				<span ng-show="pn.ct == 'AM'">上午</span>
				<span ng-show="pn.ct == 'PM'">下午</span>
				<span ng-show="pn.ct == 'WD'">全日</span>
				<span ng-show="pn.ct == 'AM,PM'">上午、下午</span>
				<span ng-show="pn.ct == 'AM,WD'">上午、全日</span>
				<span ng-show="pn.ct == 'PM,WD'">下午、全日</span>
				<span ng-show="pn.ct == 'AM,PM,WD'">上午、下午、全日</span>
            </div>
            <div class="school-info-attr">
                <span>辦學團體 : </span> 
                <span>{{pn.org || '--'}}</span>
            </div>

            <div class="school-section-title">兩歲幼兒班(PN班) 收生資料</div>
            <div class="school-info-note"><span>收錄人數 : </span> {{pn.nadm || '--'}}</div>
            <div class="school-info-note"><span>半日班全年收費 : </span> {{pn.feeHd || '--'}}</div>
            <div class="school-info-note"><span>全日班全年收費 : </span> {{pn.feeWd || '--'}}</div>
            <div class="school-info-note" style="font-size:13px;margin-top:3px;">* 根據教育局提供的幼兒服務資料 (2013年9月資料)</div>

            <div class="school-section-title">課程資料</div>
            <div class="school-info-note"><span>課程編排 : </span> {{pn.cur || '學校沒有提供'}}</div>

            <div class="school-section-title">聯絡資料</div>
            <div class="school-info-note"><span>地址 :</span> {{pn.adr || '--'}}</div>
            <div class="school-info-note-short" ng-show="pn.pho"><span>電話 :</span> {{pn.pho || '--'}}</div>
            <div class="school-info-note-short" ng-show="pn.fax"><span>傳真 :</span> {{pn.fax || '--'}}</div>
            <div class="school-info-note" ng-show="pn.em"><span>電郵 :</span> {{pn.em || '--'}}</div>
            <div class="school-info-note" ng-show="pn.url"><span>網址 :</span> <a ng-href="{{pn.url || '--'}}" target="_blank">{{pn.url}}</a></div>
            <div class="school-info-note" ng-show="pn.govUrl"><span>教局網址 :</span> <a ng-href="{{pn.govUrl || '--'}}" target="_blank"><img style="width:24px;" src="../assets/app/images/schools/school-gov.png" /></a></div>
        </div>
    </div>
</div>