<div id="announce" class="general-box widget-box">
    <div class="con-title">
        <span class="icon-box icon-box-red icon-title-announce"></span>通知大家
        <span class="pull-right">
            <a class="btn btn-general tour-btn" href="" ng-click="startHomeTour();">
                <img style="width:10px;" src="/assets/app/images/general/icons/pink_question_mark.gif"></img>
                小貼士
            </a>
        </span>
    </div>
    <div class="content-wrapper">
        <ul>
            <li data-ng-repeat="announcement in announcements" ng-switch on="announcement.url" ng-class-odd="'announcement-general-odd'" ng-class-even="'announcement-general-even'">
                <span ng-switch-when="url.length > 0">
                    <a href="{{announcement.url}}"><img src="{{announcement.ic}}" ng-if="announcement.ic.length > 0">{{announcement.t}}</a>
                </span>
                <span ng-switch-default>
                    <span><img src="{{announcement.ic}}" ng-if="announcement.ic.length > 0"><span ng-bind-html="announcement.t | to_trusted"></span></span>
                </span>
            </li>
        </ul>
    </div>
</div>