<div id="hotPost" class="general-box utility-box">
    <div class="con-title">
        <span class="icon-box icon-box-orange icon-title-hotforum"></span><font><b>熱門文章</b></font>
    </div>
    <div class="static-content-wrapper" >
        <ul>
            <li data-ng-repeat="article in hotArticles">
                <a href="#/article/id/{{article.id}}">
                    <img ng-show="article.img_url != 'No Image'" data-ng-src="{{article.img_url}}" style="height: 60px; width:60px;">
                </a>
                <div class="pull-right">
                    <a href="#/article/id/{{article.id}}" style="font-size:14px;color:#324fe1;line-height:1.2;">
                        <font>{{article.nm|limitTo:18}}</font>
                    </a>
                    <span ng-show="article.nov > 0" class="view-count" style="margin-left:10px;"><img class="view-icon" data-ng-src="/assets/app/images/general/icons/view.gif"/>{{article.nov}}</span>
                    <p>
                        <font>{{article.lds|limitTo:28}}...</font>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Hot Articles End -->
<div id="latestPost" class="general-box utility-box">
    <div class="con-title">
        <span class="icon-box icon-box-green icon-title-latestPost"></span><font><b>最新文章</b></font>
    </div>
    <div class="static-content-wrapper">
        <ul>
            <li data-ng-repeat="article in newArticles">
                <a href="#/article/id/{{article.id}}">
                    <img ng-show="article.img_url != 'No Image'" data-ng-src="{{article.img_url}}" style="height:60px;width:60px;">
                </a>
                <div class="pull-right">
                    <a href="#/article/id/{{article.id}}" style="font-size:14px;color:#324fe1;line-height:1.2;">
                        <font>{{article.nm|limitTo:18}}</font>
                    </a>
                    <p>
                        <font>{{article.lds|limitTo:28}}...</font>
                    </p>
                </div>
            </li>                    
        </ul>
    </div>
</div>
<!-- New Articles End -->
<div id="recommendedPost" class="general-box utility-box">
    <div class="con-title">
        <span class="icon-box icon-box-orange icon-title-hotforum"></span><font><b>推介文章</b></font>
    </div>
    <div class="static-content-wrapper" >
        <ul>
            <li data-ng-repeat="article in recommendedArticles">
                <a href="#/article/id/{{article.id}}">
                    <img ng-show="article.img_url != 'No Image'" data-ng-src="{{article.img_url}}" style="height:60px;width:60px;">
                </a>
                <div class="pull-right">
                    <a href="#/article/id/{{article.id}}" style="font-size:14px;color:#324fe1;line-height:1.2;">
                        <font>{{article.nm|limitTo:18}}</font>
                    </a>
                    <span style="margin-left:10px;" ng-show="article.nol > 0" class="like-count"><img data-ng-src="/assets/app/images/general/icons/liked_1.gif"/>{{article.nol}}</span>
                    <p>
                        <font>{{article.lds|limitTo:28}}...</font>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Recommended Articles End -->