<div id="newCommunity" class="general-box utility-box" style="background-color:#FFFAFA;border:2px solid #FFB3B3;">
    <ul class="newCommunity-info">
        <li>
            <a href="my#/communities-discover"><img style="margin-left:5px;width:35px;" src="/assets/app/images/general/icons/community/beans.png"></a>
            <p style="margin:0 5px;width:75%;">
                <a href="my#/communities-discover" style="font-size:18px;color:#F15151;"><b class="ng-binding">尋找更多小萌豆社群</b></a><br>
                <span class="community-member-counter"><font class="ng-binding">同年，同年月，同地區，興趣，還有更多!</font></span>
            </p>
        </li>
    </ul>
</div>