<div id="newCommunity" class="general-box utility-box">
    <ul class="newCommunity-info">
        <li>
            <a href="my#/communities-discover"><img style="margin-left:5px;width:35px;" src="/assets/app/images/general/icons/community/beans.png"></a>
            <p style="margin:0 5px;width:70%;">
                <a href="my#/communities-discover" style="font-size:18px;color:#FF3434;">尋找更多社群</a><br/>
                <span class="community-member-counter"><font class="ng-binding">年份，年月份，地區，興趣，還有更多!</font></span>
            </p>
        </li>
    </ul>
</div>