<div id="newCommunity" class="general-box utility-box">
    <ul class="newCommunity-info">
        <li>
            <a href="my#/community/35"><img style="margin-left:5px;width:35px;" src="/assets/app/images/general/icons/community/feedback.png"></a>
            <p style="margin:0;width:75%;">
                <a href="my#/community/35">miniBean小萌豆意見區</a><br>
                <span class="community-member-counter"><font class="ng-binding">請給我們一些意見吧</font></span>
            </p>
        </li>
    </ul>
</div>