<div id="article-hot" class="general-box utility-box">
    <div class="article-title">
        <span class="article-title-icon article-title-icon-hot"></span>
        <img src="/assets/app/images/frontpage/article_title_hot.png">
        <!--a class="pull-right" href="#">更多</a-->
    </div>
    <div class="static-content-wrapper">
        <ul>
            <li data-ng-repeat="article in hotArticles">
                <a href="#/article/{{article.id}}/{{article.ct.id}}">
                    <img ng-show="article.img_url != 'No Image'" data-ng-src="{{article.img_url}}">
                </a>
                <div class="article-summary pull-right">
                    <a href="#/article/{{article.id}}/{{article.ct.id}}">
                        <font>{{article.nm|limitTo:30}}</font>
                    </a>
                    <span style="margin-left:10px;" ng-show="article.nov > 0" class="view-count"><img class="view-icon" data-ng-src="/assets/app/images/general/icons/view.png"/>{{article.nov}}</span>
                    <!--p>
                        <font>{{article.lds|limitTo:25}}...</font>
                    </p-->
                </div>
            </li>
        </ul>
    </div>
</div>