<div id="article-latest" class="general-box utility-box">
    <div class="article-title">
        <span class="article-title-icon article-title-icon-latest"></span>
        <img src="/assets/app/images/frontpage/article_title_latest.png">
        <!--a class="pull-right" href="#">更多</a-->
    </div>
    <div class="static-content-wrapper">
        <ul>
            <li data-ng-repeat="article in ::newArticles">
                <a href="#/article/{{article.id}}/{{article.ct.id}}">
                    <img ng-show="article.img_url != 'No Image'" data-ng-src="{{article.img_url}}">
                </a>
                <div class="article-summary pull-right">
                    <a href="#/article/{{article.id}}/{{article.ct.id}}">
                        <font>{{article.nm|limitTo:30}}</font>
                    </a>
                    <!--p>
                        <font>{{article.lds|limitTo:25}}...</font>
                    </p-->
                </div>
            </li>                    
        </ul>
    </div>
</div>