<div id="newCommunity" class="general-box utility-box">
    <div class="con-title">
        <span class="icon-box icon-box-green icon-title-newcommunity"></span>
        PN 討論區
    </div>
    <ul class="newCommunity-info">
        <li ng-repeat="community in pnCommunities" ng-show="!community.isM">
            <img src="{{community.gi}}">
            <p>
                <a href="my#/community/{{community.id}}">{{community.dn}}</a><br>
                <span class="community-member-counter"><font>{{community.mm}}個關注</font></span>
            </p>
            <span ng-show="community.isM || community.isP" style="position:relative;right:20px;margin-top:5px;" class="btn-general-flat pull-right">
                正在關注
            </span>
            <a ng-show="!community.isP" class="btn-general" data-ng-click="send_request(community.id)">+ <i class="fa fa-user"></i> 關注</a>
        </li>
    </ul>
</div>