<div class="campaign-container">
    <div class="sub-title">參加辦法 </div>
    <div class="campaign-desc" style="margin-bottom:20px;">
        由2014年12月20日起至2014年12月31日，於「小萌豆miniBean」完成以下步驟然後按「我要參加」，即有機會贏得一田$200現金劵；或iPhone/Samsung自訂手機套。
        <div class="campaign-desc" style="color:#ffeb3b;">
            1) 請先注册成為「小萌豆 miniBean」會員 <br/> 
            <span style="width:50px;display:inline-block;"></span><span ng-if="userInfo.isLoggedIn">歡迎！你已是會員</span><span ng-if="!userInfo.isLoggedIn"><a href="/signup?ts=CAMPAIGN_1" target="_blank">立即注册</a></span>  <br/> 
            2) 到 <span ng-if="userInfo.isLoggedIn"><a href="my#!/about/activities" target="_blank">「我的主頁」</a></span><span ng-if="!userInfo.isLoggedIn">「我的主頁」</span> 上載頭像照片 <br/>
            3) 到 任何社群發佈一個新「話題」或 在任何話題發佈一個「留言」 <br/> 
            4) 完成後按「我要參加」 <br/> 
        </div>
    </div>
    <div class="clearfix"></div>
    <div style="height:8px; background-color:#a00a0c;"></div>
    <div class="sub-title">豐富獎賞</div>
    <ul class="gift-items" width="100%">
      <li class="gift-item-pic">
        <img src="/image/campaign/2014/12/15/xmas-campaign-gift-2.jpg" />
      </li>
      <li class="gift-item-desc">
        <div style="color:#ffffff; line-height:1.6em;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td valign="top" style="color:#ffeb3b;width:65px;">獎品: </td>
              <td valign="top" style="color:#ffeb3b;">iPhone/Samsung自訂手機套 <br/></td>
            </tr>
            <tr>
              <td valign="top" style="color:#ffeb3b;">名額: </td>
              <td valign="top" style="color:#ffeb3b;">3位</td>
            </tr>
            <tr>
              <td valign="top" style="color:#ffeb3b;"></td>
              <td valign="top" style="color:#ffeb3b;font-size:13px;line-height:1.4;padding-top:25px">
                *零售價多於$300，得獎者需以電郵方式寄一張照片以作手機套印制用途，需要大概10個工作天印刷，免郵費 <br/>
                *適用於 iPhone6/6+/5/5S/4/4S <br/> Samsung Galaxy S5/S4/S3/Note4/Note3/Note2/Note
              </td>
            </tr>
          </table>
        </div>
      </li>
      <li class="gift-item-pic">
        <img src="/image/campaign/2014/12/15/xmas-campaign-gift-1.jpg" />
      </li>
      <li class="gift-item-desc">
        <div style="color:#ffffff; line-height:1.6em;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td valign="top" style="color:#ffeb3b;width:65px;">獎品: </td>
              <td valign="top" style="color:#ffeb3b;">一田$200現金劵 </td>
            </tr>
            <tr>
              <td valign="top" style="color:#ffeb3b;">名額: </td>
              <td valign="top" style="color:#ffeb3b;">5位</td>
            </tr>
          </table>
        </div>
      </li>
      <li class="gift-item-note">
        於活動期內，第1名、第50名、第100名、第150名、第200名、第200名、第250名、第300名 (共8位) 參加者將獲得以上其中一項獎品 <br/>
        較早得獎者而兩項獎品仍未送完，得獎者可選擇其中一項獎品
      </li>
    </ul>
</div>
