<!-- Join Campaign Modal -->
<div class="modal fade lightbox" id="joinCampaignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">我要參加</h4>
            </div>
            <form method="post" ng-submit="joinCampaign(campaign.id)">
                <div class="modal-body">
                    <input type="hidden" name="campaignId" class="form-control" data-ng-model="formData.campaignId">
                    <table>
                        <tr>
                            <td colspan="2" style="font-size:16px;background-color:#FDF4F4;border-radius:10px;">請填寫真實個人資料，「小萌豆」將用以下資料聯絡得獎者。</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height:15px;"></td>
                        </tr>
                        <tr>
                            <td><label for="name" class="control-label">真實姓名: </label></td>
                            <td><input type="text" name="name" class="form-control" data-ng-model="formData.name" required maxlength="50"></td>
                        </tr>
                        <tr>
                            <td><label for="mobileNumber" class="control-label">手提電話: </label></td>
                            <td><input type="text" name="mobileNumber" class="form-control" data-ng-model="formData.mobileNumber" required maxlength="15"></td>
                        </tr>
                        <tr>
                            <td><label for="email" class="control-label">聯絡電郵: </label></td>
                            <td><input type="email" name="email" class="form-control" data-ng-model="formData.email" required maxlength="50"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="has-error pull-left">
                        <span class="help-block with-errors" ng-show="errorCampaignNotExist">
                            <i class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;vertical-align:text-top;"></i>
                            <b>沒有此活動</b>
                        </span>
                        <span class="help-block with-errors" ng-show="errorJoinedAlready">
                            <i class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;vertical-align:text-top;"></i>
                            <b>你之前已參加活動，活動只可參加一次</b>
                        </span>
                        <span class="help-block with-errors" ng-show="errorMissingContact">
                            <i class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;vertical-align:text-top;"></i>
                            <b>請提供聯絡資料</b>
                        </span>
                        <span class="help-block with-errors" ng-show="errorStatus">
                            <div ng-repeat="message in messages" style="text-align:left;">
                                <i class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;vertical-align:text-top;"></i><b>{{message}}</b>
                            </div>
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary">報名</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Withdraw Campaign Modal -->
<div class="modal fade lightbox" id="withdrawCampaignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">取消參加</h4>
            </div>
            <form method="post" ng-submit="withdrawCampaign(campaign.id)">
                <div class="modal-body">
                    <input type="hidden" name="campaignId" class="form-control" data-ng-model="formData.campaignId">
                    你確定要取消參加此活動嗎？
                </div>
                <div class="modal-footer">
                    <div class="has-error pull-left">
                        <span class="help-block with-errors" ng-show="errorCampaignNotExist">
                            <i class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;vertical-align:text-top;"></i>
                            <b>沒有此活動</b>
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary">取消參加此活動</button>
                </div>
            </form>
        </div>
    </div>
</div>