<div id="wall">
    <div class="campaign-winners-wrapper" ng-if="campaign.cs == 'ANNOUNCED' || campaign.cs == 'CLOSED'">
        <div class="campaign-winners-header"><img src="/assets/app/images/general/campaign_winners_greeting.png" /></div>
        <div class="campaign-winners-list" ng-if="campaign.at == 'WINNERS'">
            <ul>
                <li ng-repeat="winner in announcedWinners">
                    {{winner.name}}
                </li>
            </ul>
        </div>
        <div class="campaign-winners-announcement" ng-if="campaign.an.length > 0">
            <div style="font-size:16px;width:100%;" class="ng-binding" ng-bind-html="campaign.an | to_trusted"></div>
        </div>
    </div>
    <div class="general-box campaign-box-main">
        <div class="campaign-sticker">
            <a href="#/campaign/show">
                <img style="height:50px;" src="/assets/app/images/general/campaign_sticker.png" />
            </a>
        </div>
        <ul class="campaign-detail-wrapper" ng-if="!showCampaign">
            <li style="font-size:20px;">
                對不起~ 尋找不到此活動。 請確定連結正確無誤。
            </li>
        </ul>
        <ul class="campaign-detail-wrapper" ng-if="showCampaign">
            <li ng-if="campaign.ac">
                <span class="campaign-title">
                    <div style="display:inline-block;vertical-align: middle;"><img style="height:50px;width:auto;" src="/assets/app/images/frontpage/mascot/green_right.png"></div>
                    <div style="display:inline-block;vertical-align: middle;width:85%;">{{campaign.nm}}</div>
                </span>
            </li>
            <li ng-if="!campaign.ac">
                <font class="campaign-title-ended">【活動結束】{{campaign.nm}}</font>
            </li>
            <li>
                <ul class="campaign-details">
                    <li>
                        <img ng-src="{{campaign.im}}">
                    </li>
                    <li style="margin:10px 20px;">
                        <table>
                            <tr>
                                <td>開始時間:</td><td><b>{{campaign.sd | date:'yyyy年M月d日 h:mm a'}}</b></td>
                            </tr>
                            <tr>
                                <td>報名截止:</td><td><b>{{campaign.ed | date:'yyyy年M月d日 h:mm a'}}</b></td>
                            </tr>
                        </table>
                        <div style="padding:10px;">
                            <span ng-if="campaign.ac && campaign.cs == 'PUBLISHED'">
                                <span>
                                    <a href="" ng-click="popupCampaignNotStartModal()">
                                        <img style="height:30px;width:auto;" src="/assets/app/images/general/btn_campaign_join.png">
                                    </a>
                                </span>
                            </span>
                            <span ng-if="campaign.ac && campaign.cs == 'STARTED'">
                                <span ng-if="userInfo.isLoggedIn">
                                    <span ng-if="!campaign.isJoined">
                                        <a href="" ng-click="translateValidationMessages()" data-toggle="modal" data-target="#joinCampaignModal" ng-if="!campaign.isJoined">
                                            <img style="height:30px;width:auto;" src="/assets/app/images/general/btn_campaign_join.png">
                                        </a>
                                    </span>
                                    <span ng-if="campaign.isJoined">
                                        <a ng-if="userInfo.isSA" href="" ng-click="translateValidationMessages()" data-toggle="modal" data-target="#withdrawCampaignModal" ng-if="campaign.isJoined">
                                            <img style="height:30px;width:auto;" src="/assets/app/images/general/btn_campaign_withdraw.png">
                                        </a>
                                        <div class="campaign-join-confirm">你已成功參加此活動!</div>
                                    </span>
                                </span>
                                <span ng-if="!userInfo.isLoggedIn">
                                    <a href="" ng-click="popupLoginModal()">
                                        <img style="height:30px;width:auto;" src="/assets/app/images/general/btn_campaign_join.png">
                                    </a>
                                </span>
                            </span>
                            <span ng-if="!campaign.ac">
                                <img style="height:30px;width:auto;" src="/assets/app/images/general/btn_campaign_ended.png">
                            </span>
                        </div>
                        <div style="padding-top:20px;">
                            <span data-ng-include data-src="'/assets/app/views/home/like-campaign.html'"></span>
                        </div>
                        <div class="admin-visible-field" ng-if="userInfo.isE">
                            <div class="padding20"></div>
                            <div>
                                <span>State: <b>{{campaign.cs}}</b></span>
                            </div>
                            <div>
                                <span>Joined Users: <b>{{campaign.uc}}</b></span>
                            </div>
                            <div>
                                <span class="btn-like-wrapper"><span class="btn-like" style="margin-right:10px;"><img class="view-icon" style="vertical-align:sub;" data-ng-src="/assets/app/images/general/icons/view.png"/>{{campaign.nov}}</span></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div style="font-size:16px;width:100%;" class="ng-binding" ng-bind-html="campaign.ds | to_trusted"></div>
                <!--div data-ng-include data-src="'/assets/app/views/frontpage/campaign-page-mockup.html'"></div-->
            </li>
            <li>
                <div style="margin-top:50px">
                    <span data-ng-include data-src="'/assets/app/views/home/like-campaign.html'"></span>
                </div>
            </li>
            <li>
                <div style="margin:20px 0;font-size:16px;">
                    <div class="padding10" style="border-top:1px solid #eee;"></div>
                    分享連結: 
                    <input type='text' name='campaign-link' id='campaign-link' value='{{applicationInfo.baseUrl}}/frontpage#/campaign/{{campaign.id}}'></input> 
                    <a style='margin-left:5px;padding:2px 7px;font-size:14px;' class='toolsbox toolsbox-single' onclick='highlightLink("campaign-link")'><i class='glyphicon glyphicon-link'></i></a>
                </div>
            </li>
        </ul>
        <div class="general-box-footer"><img style="margin-top:10px;" src="/assets/app/images/general/campaign_footer.png" /></div>
    </div>
</div>
