<header>
    <div data-ng-include style="width:100%;" data-src="'/assets/app/views/header-bar.html'"></div>
</header>

<div class="themeA-container">
    <div data-ng-include data-src="'/assets/app/views/nav-bar.html'"></div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6" style="width:710px;">
            <div id="wall">
                <div class="campaign-winners-wrapper" ng-if="campaign.cs == 'ANNOUNCED' || campaign.cs == 'CLOSED'">
                    <div class="campaign-winners-header"><img src="/assets/app/images/general/campaign_winners_greeting.png" /></div>
                    <div class="campaign-winners-list" ng-if="campaign.at == 'WINNERS'">
                        <ul>
                            <li ng-repeat="winner in announcedWinners">
                                {{winner.name}}
                            </li>
                        </ul>
                    </div>
                    <div class="campaign-winners-announcement" ng-if="campaign.an.length > 0">
                        <div style="font-size:16px;width:100%;" class="ng-binding" ng-bind-html="campaign.an | to_trusted"></div>
                    </div>
                </div>
                <div class="general-box campaign-box-main">
                    <div class="campaign-sticker">
                        <a href="#/campaign/show">
                            <img style="height:50px;" src="/assets/app/images/general/campaign_sticker.png" />
                        </a>
                    </div>
                    <ul class="campaign-detail-wrapper" ng-if="!showCampaign">
                        <li style="font-size:20px;">
                            對不起~ 尋找不到此活動。 請確定連結正確無誤。
                        </li>
                    </ul>
                    <ul class="campaign-detail-wrapper" ng-if="showCampaign">
                        <li ng-if="campaign.ac">
                            <font class="campaign-title">{{campaign.nm}}</font>
                        </li>
                        <li ng-if="!campaign.ac">
                            <font class="campaign-title-ended">【活動結束】{{campaign.nm}}</font>
                        </li>
                        <li>
                            <ul class="campaign-details">
                                <li>
                                    <img ng-src="{{campaign.im}}">
                                </li>
                                <li style="margin:10px;">
                                    <table>
                                        <tr>
                                            <td>開始時間:</td><td><b>{{campaign.sd | date:'M/dd/yyyy hh:mm a'}}</b></td>
                                        </tr>
                                        <tr>
                                            <td>報名截止:</td><td><b>{{campaign.ed | date:'M/dd/yyyy hh:mm a'}}</b></td>
                                        </tr>
                                    </table>
                                    <div style="padding:10px;">
                                        <span ng-if="campaign.ac && campaign.cs == 'STARTED'">
                                            <span ng-if="userInfo.isLoggedIn">
                                                <span ng-if="!campaign.isJoined">
                                                    <a href="" ng-click="translateValidationMessages()" data-toggle="modal" data-target="#joinCampaignModal" ng-if="!campaign.isJoined">
                                                        <img style="height:30px;width:auto;" src="/assets/app/images/general/btn_campaign_join.png">
                                                    </a>
                                                </span>
                                                <span ng-if="campaign.isJoined">
                                                    <a href="" ng-click="translateValidationMessages()" data-toggle="modal" data-target="#withdrawCampaignModal" ng-if="campaign.isJoined">
                                                        <img style="height:30px;width:auto;" src="/assets/app/images/general/btn_campaign_withdraw.png">
                                                    </a>
                                                    <div class="campaign-join-confirm">你的報名已發出!</div>
                                                </span>
                                            </span>
                                            <span ng-if="!userInfo.isLoggedIn">
                                                <a href="" ng-click="popupLoginModal()">
                                                    <img style="height:30px;width:auto;" src="/assets/app/images/general/btn_campaign_join.png">
                                                </a>
                                            </span>
                                        </span>
                                        <span ng-if="!campaign.ac">
                                            <img style="height:30px;width:auto;" src="/assets/app/images/general/btn_campaign_ended.png">
                                        </span>
                                    </div>
                                    <div style="padding-top:20px;">
                                        <span data-ng-include data-src="'/assets/app/views/home/like-campaign.html'"></span>
                                    </div>
                                    <div class="admin-visible-field" ng-if="userInfo.isE">
                                        <div class="padding20"></div>
                                        <div>
                                            <span>State: <b>{{campaign.cs}}</b></span>
                                        </div>
                                        <div>
                                            <span>Joined Users: <b>{{campaign.uc}}</b></span>
                                        </div>
                                        <div>
                                            <span class="btn-like-wrapper"><span class="btn-like" style="margin-right:10px;"><img class="view-icon" style="vertical-align:sub;" data-ng-src="/assets/app/images/general/icons/view.png"/>{{campaign.nov}}</span></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><div style="font-size:16px;width:100%;" class="ng-binding" ng-bind-html="campaign.ds | to_trusted"></div></li>
                        <li>
                            <div style="margin-top:50px">
                                <span data-ng-include data-src="'/assets/app/views/home/like-campaign.html'"></span>
                            </div>
                        </li>
                        <li>
                            <div style="margin:20px 0;font-size:16px;">
                                <div class="padding10" style="border-top:1px solid #eee;"></div>
                                分享連結: 
                                <input type='text' name='campaign-link' id='campaign-link' value='{{applicationInfo.baseUrl}}/magazine#/campaign/{{campaign.id}}'></input> 
                                <a style='margin-left:5px;padding:2px 7px;font-size:14px;' class='toolsbox toolsbox-single' onclick='highlightLink("campaign-link")'><i class='glyphicon glyphicon-link'></i></a>
                            </div>
                        </li>
                    </ul>
                    <div class="general-box-footer"><img style="margin-top:10px;" src="/assets/app/images/general/campaign_footer.png" /></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="width:310px;">
            <div ng-show="!userInfo.isLoggedIn">
                <div data-ng-include data-src="'/assets/app/views/widgets/prompt-signup-widget.html'"></div>
            </div>
            <div>
                <div data-ng-include data-src="'/assets/app/views/widgets/fb-likebox-widget.html'"></div>
            </div>
            <div class="ads-factor-300x250">
                <script adSize="300250" adSid="247130236679" ads-factor language='JavaScript' type="text/javascript"></script>
            </div>
            <div class="ads-factor-1x1" ng-if="userInfo.isLoggedIn">
                <script adSize="11" adSid="691373536678" ads-factor language='JavaScript' type="text/javascript"></script>
            </div>
        </div>
    </div>
</div>

<!-- Join Campaign Modal -->
<div class="modal fade lightbox" id="joinCampaignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">我要參加</h4>
            </div>
            <form method="post" ng-submit="joinCampaign(campaign.id)">
                <div class="modal-body">
                    <input type="hidden" name="campaignId" class="form-control" data-ng-model="formData.campaignId">
                    <table>
                        <tr>
                            <td><label for="name" class="control-label">真實姓名: </label></td>
                            <td><input type="text" name="name" class="form-control" data-ng-model="formData.name" required maxlength="50"></td>
                        </tr>
                        <tr>
                            <td><label for="mobileNumber" class="control-label">手提電話: </label></td>
                            <td><input type="text" name="mobileNumber" class="form-control" data-ng-model="formData.mobileNumber" required maxlength="15"></td>
                        </tr>
                        <tr>
                            <td><label for="email" class="control-label">電郵: </label></td>
                            <td><input type="email" name="email" class="form-control" data-ng-model="formData.email" required maxlength="50"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="has-error pull-left">
                        <span class="help-block with-errors" ng-show="errorCampaignNotExist">
                            <i class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;vertical-align:text-top;"></i>
                            <b>沒有此活動</b>
                        </span>
                        <span class="help-block with-errors" ng-show="errorJoinedAlready">
                            <i class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;vertical-align:text-top;"></i>
                            <b>你之前已參加活動，活動只可參加一次</b>
                        </span>
                        <span class="help-block with-errors" ng-show="errorMissingContact">
                            <i class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;vertical-align:text-top;"></i>
                            <b>請提供聯絡資料</b>
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary">報名</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Withdraw Campaign Modal -->
<div class="modal fade lightbox" id="withdrawCampaignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">取消參加</h4>
            </div>
            <form method="post" ng-submit="withdrawCampaign(campaign.id)">
                <div class="modal-body">
                    <input type="hidden" name="campaignId" class="form-control" data-ng-model="formData.campaignId">
                    你確定要取消參加此活動嗎？
                </div>
                <div class="modal-footer">
                    <div class="has-error pull-left">
                        <span class="help-block with-errors" ng-show="errorCampaignNotExist">
                            <i class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;vertical-align:text-top;"></i>
                            <b>沒有此活動</b>
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary">取消參加此活動</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
</div>

<script>
    ga_send_pv();
</script>