<div class="campaign-container">
    <div class="sub-title">參加辦法 </div>
    <div class="campaign-desc" style="margin-bottom:20px;">
        由2014年12月20日起至2014年12月31日，於「小萌豆miniBean」完成以下步驟然後按「我要參加」，即有機會贏得一田$200現金劵；或iPhone/Samsung自訂手機套。
        <div class="campaign-desc" style="color:#ffeb3b;">
            * 參加步驟將於 12月20日 早上10時公佈，請先注册成會員方可參加 
        </div>
        <div style="text-align:center;">
            <a href="/signup" style="font-size:24px;color:#ffeb3b;"><b>立即登記</b></a>
        </div> 
    </div>
    <div class="clearfix"></div>
    <div style="height:8px; background-color:#a00a0c;"></div>
    <div class="sub-title">豐富獎賞</div>
    <table class="gift-table" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style=";border:2px solid #a00a0c;width:180px;" valign="top"><img src="/image/campaign/2014/12/15/xmas-campaign-gift-1.jpg" width="180" height="auto" /></td>
        <td style="border:2px solid #a00a0c;" valign="top" bgcolor="#480c0c">
            <div style="padding:25px;"> 
                <div style="color:#ffffff; line-height:1.6em;">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td valign="top" style="color:#ffeb3b;width:65px;">獎品: </td>
                      <td valign="top" style="color:#ffeb3b;">一田$200現金劵 </td>
                    </tr>
                    <tr>
                      <td valign="top" style="color:#ffeb3b;">名額: </td>
                      <td valign="top" style="color:#ffeb3b;">5位</td>
                    </tr>
                  </table>
                </div>
            </div>
        </td>
      </tr>
      <tr>
        <td style="border:2px solid #a00a0c;width:180px;" valign="top"><img src="/image/campaign/2014/12/15/xmas-campaign-gift-2.jpg" width="180" height="auto" /></td>
        <td style="border:2px solid #a00a0c;" valign="top" bgcolor="#480c0c">
            <div style="padding:25px;">
                <div style="color:#ffffff; line-height:1.6em;">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td valign="top" style="color:#ffeb3b;width:65px;">獎品: </td>
                      <td valign="top" style="color:#ffeb3b;">iPhone/Samsung自訂手機套 <br/> (*零售價多於$200)</td>
                    </tr>
                    <tr>
                      <td valign="top" style="color:#ffeb3b;">名額: </td>
                      <td valign="top" style="color:#ffeb3b;">3位</td>
                    </tr>
                  </table>
                </div>
            </div>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center" valign="top" bgcolor="#cb1305">
          <div style="color:#ffffff;line-height:1.6em;padding:25px;">
            於活動期內，第1名、第50名、第100名、第150名、第200名、第200名、第250名、第300名 (共8位) 參加者將獲得以上其中一項獎品 <br/>
            較早得獎者而兩項獎品仍未送完，得獎者有權選擇其中一項獎品
          </div>
        </td>
      </tr>
    </table>
</div>
