<div id="frontpage-communities-section" class="general-box widget-box">
    <div class="section-header">
        <img class="section-header-image" src="/assets/app/images/frontpage/bean-promo.png">
        <a class="pull-right" href="#/communities-discover">所有媽媽社群</a>
    </div>
    
    <div id="hot-topics">
        <div class="section-title">
            最新話題
        </div>
        <div class="section-details">
            <ul>
                <li data-ng-repeat="post in newsFeeds.posts" ng-if="$index < 5">
                    <div class="hot-post">
                        <div class="hot-post-body">
                            <a data-ng-href="#/qna-landing/id/{{post.id}}/communityId/{{post.cid}}"><span ng-bind-html="post.ptl | limitTo:25 | to_trusted"></span><span ng-if="post.ptl.length > 25">...</span></a>
                        </div>
                        <div class="hot-post-intro">
                            <!--span class="post-title-user-name">
                                <img src="../assets/app/images/general/icons/i-mom.png" /><a data-ng-href="my#/profile/{{post.oid}}">{{post.p}}</a>
                            </span-->
                            <span class="post-intro-divider"></span>
                            <span class="post-qna-answer-count">
                                <img src="../assets/app/images/general/icons/i-time.png" /><span class="post-date" am-time-ago="post.ut"></span>
                            </span>
                            <span class="post-intro-divider"></span>
                            <span class="post-qna-answer-count">
                                <img src="../assets/app/images/general/icons/i-reply.png" />{{post.n_c}}
                            </span>
                            <span class="post-intro-divider"></span>
                            <a class="pull-right" data-ng-href="#/community/{{post.cid}}"><img src="{{post.ci}}">{{post.cn}}</a>
                        </div>
                    </div>
                </li>                    
            </ul>
        </div>
    </div>
    
    <div id="hot-communities">
        <div class="section-title">
            熱門社群
        </div>
        <div class="section-details">
            <ul>
                <li data-ng-repeat="community in hotCommunities.hcomm">
                    <div class="hot-community">
                        <div class="hot-community-body">
                            <a data-ng-href="#/community/{{community.id}}"><img src="{{community.icon}}">{{community.n}}</a>
                            <span class="padding5"></span>
                            <span class="community-member-counter"><img src="../assets/app/images/general/icons/i-mom.png" />{{community.nom}}</span>
                            <span class="pull-right">
                                <span class="community-member-counter"><img src="../assets/app/images/general/icons/i-article.png" />{{community.nopst}}</span>
                                <span class="community-member-counter"><img src="../assets/app/images/general/icons/i-reply.png" />{{community.nocom}}</span>
                            </span>
                        </div>
                        <div class="hot-community-intro">
                        
                        </div>
                    </div>
                </li>                    
            </ul>
        </div>
    </div>
</div>
