<div id="frontpage-featured-section">
    
    <div id="featured-game" class="general-box utility-box">
        <div class="featured-title">
            <span class="article-title-icon article-title-icon-hot"></span>
            禮物
        </div>
        <div class="section-details">
            <div class="featured-details">
            
                
            </div>
        </div>
        <div><img src="/assets/app/images/frontpage/topic_footer_a.jpg"></div>
    </div>
    
    <div id="featured-topic" class="general-box utility-box">
        <div class="featured-title">
            <span class="article-title-icon article-title-icon-recommend"></span>
            話題
        </div>
        <div class="section-details">
            <div class="featured-details">
                
                <div class="featured-main-area">
                    <div class="featured-area">
                        <a href="{{featuredTopic.url}}" target="_blank">
                            <img ng-src="{{featuredTopic.img}}">
                        </a>
                        <div class="featured-area-box">
                            <a href="{{featuredTopic.url}}" target="_blank">
                                <div class="featured-area-box-bg"></div>
                            </a>
                            <div class="featured-overlay-title">
                                <a href="{{featuredTopic.url}}" target="_blank"></a>
                                <h4>
                                    <a href="{{featuredTopic.url}}" target="_blank">{{featuredTopic.nm}}</a>
                                </h4>
                            </div>
                        </div>
                        <div class="featured-body">
                            <a href="{{featuredTopic.url}}" target="_blank">{{featuredTopic.ds | limitTo:65}}<span ng-show="featuredTopic.ds.length > 65">...</a>
                        </div>
                        <div class="featured-tag-icon">推介</div>
                    </div>
                </div>
                
            </div>
        </div>
        <div><img src="/assets/app/images/frontpage/topic_footer_b.jpg"></div>
    </div>
</div>
