<header>
    <div data-ng-include style="width:100%;" data-src="'/assets/app/views/header-bar.html'"></div>
</header>

<div class="themeA-container">
    <div data-ng-include data-src="'/assets/app/views/nav-bar.html'"></div>
    <div id="frontpage" class="row">
        <div class="col-md-2 col-sm-2 col-xs-2" style="width:230px;">
            <div ng-if="!userInfo.isLoggedIn">
                <div data-ng-include data-src="'/assets/app/views/widgets/promo-signup-widget.html'"></div>
            </div>
            <div data-ng-controller="GameController" ng-if="userInfo.isLoggedIn">
                <div data-ng-include data-src="'/assets/app/views/widgets/my-profile-widget.html'"></div>
            </div>
            <!-- comms directory -->
            <div data-ng-controller="UserCommunityWidgetController">
                <div ng-init="niceScroll()" data-ng-include data-src="'/assets/app/views/widgets/all-communities-index-widget.html'"></div>
            </div>
            <!-- fb widget -->
            <div>
                <iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fminibean.com.hk&amp;width=220&amp;colorscheme=light&amp;layout=standard&amp;show_faces=true&amp;border_color=white&amp;stream=false&amp;header=false&amp;height=265" scrolling="no" frameborder="0" style="border:none;overflow:hidden;width:220px;height:265px;background-color:white;" allowtransparency="true"></iframe>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="width:795px;">
            <div id="wall">
            
                <!-- announcements, if any -->
                
                
                <!-- slider -->
                <div data-ng-include data-src="'/assets/app/views/frontpage/frontpage-slider.html'"></div>
                
                <div class="ads-factor-728x90">
                    <script adSize="72890" adSid="630501056805" ads-factor language='JavaScript' type="text/javascript"></script>
                </div>
                
                <!-- Promo - campaign, voting ... -->
                
                
                <!-- new posts, hot comms -->
                <div>
                    <div data-ng-include data-src="'/assets/app/views/frontpage/communities-section.html'"></div>
                </div>

                <!-- game -->
                <!--div>
                    <div data-ng-include data-src="'/assets/app/views/frontpage/game-section.html'"></div>
                </div-->
                                
                <!-- new articles, hot articles, recommend articles -->
                <div>
                    <div data-ng-include data-src="'/assets/app/views/frontpage/articles-section.html'"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>
