<div id="wall">
    <div class="general-box pkview-box-main">
        <div class="pkview-detail-wrapper" ng-if="!showPKView">
            <div style="font-size:20px;">
                對不起~ 尋找不到此頁。 請確定連結正確無誤。
            </div>
        </div>
        <div class="pkview-detail-wrapper" ng-if="showPKView">
            <div class="head rel">
                <img class="head-image" ng-src="{{pkview.img}}">
                <p class="abs">
                    <span class="head-title">{{pkview.ptl}}</span>
                    <span class="head-text" ng-bind-html="pkview.pt | to_trusted"></span>
                    <span data-ng-include data-src="'/assets/app/views/frontpage/like-pkview.html'"></span>
                    <!--span data-ng-include data-src="'/assets/app/views/frontpage/bookmark-pkview.html'"></span-->
                </p>
                <!--ins class="in"></ins-->
                <!--ins class="over"></ins-->
            </div>
            <div class="bar rel">
                <b class="bar-bg-l abs"></b>
                <b class="bar-bg-r abs"></b>
                <table>
                    <tbody><tr>
                        <td class="bar-l" style="width:{{pkview.red_w}}%;">
                            <span id="zf_span">
                                <span id="zf_text" ng-show="pkview.red_w > 20">紅豆豆 </span>
                                <span id="zf_percent">{{pkview.red_vp}}</span>%
                            </span>
                        </td>
                        <td class="bar-r">
                            <span id="ff_text">
                                <span id="ff_text" ng-show="pkview.red_w < 80">藍豆豆 </span>
                                <span id="ff_persent">{{pkview.blue_vp}}</span>%
                            </span>
                        </td>
                    </tr></tbody>
                </table>
                <ins class="abs" style="left:{{pkview.red_w}}%;"></ins>
            </div>
            
            <div class="col-lr">
                <div class="area col-l list_container">
                    <div class="intro rel">
                        <div class="intro-bg rel">
                            <h2 class="abs" id="red_agree_count">{{pkview.n_rv}}</h2>
                            <a href="" ng-click="redVote(pkview.id)" class="abs" id="red_agree_a"></a>
                            <em class="abs" id="red_camp" ng-show="pkview.isRed">(我支持!)</em>
                        </div>
                        <dl class="f14 abs">
                            <dt>紅豆豆：</dt>
                            <dd>
                                <p>{{pkview.red_ds}}</p>
                                <span class="f12">已發表意見：<span class="f16" id="red_view_count">{{pkview.n_rc}}</span></span>
                            </dd>
                        </dl>
                    </div>
                    <div class="textarea rel">
                        <div class="post-card">
                            <ul class="post-qna-answers">
                                <li ng-show="userInfo.isLoggedIn">
                                    <a data-ng-href="my#/profile/{{userInfo.id}}">
                                        <img class="post-sharing-comment-user-image" data-ng-src="/image/get-comment-mini-image-by-id/{{userInfo.id}}"/>
                                    </a>
                                    <form class="post-comment-box" name="redComment" method="post" action="">
                                        <label for="User Comment"></label>
                                        <textarea type="text" id="redCommentfield" name="redCommentfield" data-ng-model="redCommentText" class="abs f14" placeholder="發表意見..."></textarea>
                                        <div class="comment-btns">
                                            <a class="dropdown-toggle dropdown-hover colorChange post-emoticon-dropdown" data-toggle="dropdown" href="#">
                                                <img src="../assets/app/images/emoticons/smile.png" />
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right icon-dropdown post-emoticon-dropdown-menu">
                                                <li data-ng-repeat="emoticon in emoticons">
                                                    <a href="" data-ng-click="select_emoticon_comment(emoticon.code,'YES')">
                                                        <img class="emoticon" data-ng-src="{{emoticon.url}}"/>
                                                    </a>
                                                </li>
                                            </ul>
                                            <button class="btn btn-primary ng-binding" ng-disabled="redComment.$pristine || (redComment.$dirty && !redCommentText.length)" type="submit" disabled="disabled" data-ng-click="comment_to_pkview(pkview.id, redCommentText, 'YES');redCommentText='';">
                                                發表意見
                                            </button>
                                        </div>
                                        <!--span class="abs" id="b_z">可以輸入<b>140</b>字</span-->
                                    </form>
                                </li>
                                <li ng-show="!userInfo.isLoggedIn">
                                    <div data-ng-include data-src="'/assets/app/views/widgets/prompt-comment-login-widget.html'"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tabs rel" id="red_gd_tab"><a href="" class="selected">大家的意見</a></div>
                    <!--div class="order rel" id="red_order_tab"><a href="" class="cBlues">按時間排列</a>|<a href="">按熱門排列</a></div-->
                    <div data-ng-include data-src="'/assets/app/views/frontpage/pkview-page-red-comments.html'"></div>
                </div>
    
                <div class="area col-r list_container">
                    <div class="intro rel">
                        <div class="intro-bg rel">
                            <h2 class="abs" id="blue_agree_count">{{pkview.n_bv}}</h2>
                            <a href="" ng-click="blueVote(pkview.id)" class="abs" id="blue_agree_a"></a>
                            <em class="abs" id="blue_camp" ng-show="pkview.isBlue">(我支持!)</em>
                        </div>
                        <dl class="f14 abs">
                            <dt>藍豆豆：</dt>
                            <dd>
                                <p>{{pkview.blue_ds}}</p>
                                <span class="f12">已發表意見：<span class="f16" id="blue_view_count">{{pkview.n_bc}}</span></span>
                            </dd>
                        </dl>
                    </div>
                    <div class="textarea rel">
                        <div class="post-card">
                            <ul class="post-qna-answers">
                                <li ng-show="userInfo.isLoggedIn">
                                    <a data-ng-href="my#/profile/{{userInfo.id}}">
                                        <img class="post-sharing-comment-user-image" data-ng-src="/image/get-comment-mini-image-by-id/{{userInfo.id}}"/>
                                    </a>
                                    <form class="post-comment-box" name="blueComment" method="post" action="">
                                        <label for="User Comment"></label>
                                        <textarea type="text" id="blueCommentfield" name="blueCommentfield" data-ng-model="blueCommentText" class="abs f14" placeholder="發表意見..."></textarea>
                                        <div class="comment-btns">
                                            <a class="dropdown-toggle dropdown-hover colorChange post-emoticon-dropdown" data-toggle="dropdown" href="#">
                                                <img src="../assets/app/images/emoticons/smile.png" />
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right icon-dropdown post-emoticon-dropdown-menu">
                                                <li data-ng-repeat="emoticon in emoticons">
                                                    <a href="" data-ng-click="select_emoticon_comment(emoticon.code,'NO')">
                                                        <img class="emoticon" data-ng-src="{{emoticon.url}}"/>
                                                    </a>
                                                </li>
                                            </ul>
                                            <button class="btn btn-primary ng-binding" ng-disabled="blueComment.$pristine || (blueComment.$dirty && !blueCommentText.length)" type="submit" disabled="disabled" data-ng-click="comment_to_pkview(pkview.id, blueCommentText, 'NO');blueCommentText='';">
                                                發表意見
                                            </button>
                                        </div>
                                        <!--span class="abs" id="b_z">可以輸入<b>140</b>字</span-->
                                    </form>
                                </li>
                                <li ng-show="!userInfo.isLoggedIn">
                                    <div data-ng-include data-src="'/assets/app/views/widgets/prompt-comment-login-widget.html'"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tabs rel" id="blue_gd_tab"><a href="" class="selected">大家的意見</a></div>
                    <!--div class="order rel" id="blue_order_tab"><a href="" class="cBlues">按時間排列</a>|<a href="">按熱門排列</a></div-->
                    <div data-ng-include data-src="'/assets/app/views/frontpage/pkview-page-blue-comments.html'"></div>
                </div>
            </div>
            
            <div class="share-link-bar rel">
                <div style="margin:20px 0;font-size:16px;">
                    <div class="padding10" style="border-top:1px solid #eee;"></div>
                    分享連結: 
                    <input type='text' name='pkview-link' id='pkview-link' value='{{applicationInfo.baseUrl}}/frontpage#/pkview/{{pkview.id}}'></input> 
                    <a style='margin-left:5px;padding:2px 7px;font-size:14px;' class='toolsbox toolsbox-single' onclick='highlightLink("pkview-link")'><i class='glyphicon glyphicon-link'></i></a>
                </div>
            </div>
        </div>
        <!--div class="general-box-footer"><img style="margin-top:10px;" src="/assets/app/images/general/pkview_footer.png" /></div-->
    </div>
</div>
