<div id="wall">
    <div class="general-box pkview-box-main">
        <div class="pkview-detail-wrapper" ng-if="!showPKView">
            <div style="font-size:20px;">
                對不起~ 尋找不到此活動。 請確定連結正確無誤。
            </div>
        </div>
        <div class="pkview-detail-wrapper" ng-if="showPKView">
            <div class="head rel">
                <img src="http://pic05.babytreeimg.com/foto3/common_photo/original/2014/1215/cd1d01ee6431087.jpg" data-i="link">
                <p class="abs"></p>
                <ins class="over"></ins>
            </div>
            <div style="padding:10px;">
                <span data-ng-include data-src="'/assets/app/views/frontpage/like-pkview.html'"></span>
                <span data-ng-include data-src="'/assets/app/views/frontpage/bookmark-pkview.html'"></span>
            </div>
            <div class="bar rel">
                <b class="bar-bg-l abs"></b>
                <b class="bar-bg-r abs"></b>
                <table>
                    <tbody><tr>
                        <td class="bar-l" style="width: 70%;"><span id="zf_span"><span id="zf_text">紅豆豆 </span>
                            <span id="zf_percent">70</span>%</span></td><td class="bar-r">
                            <span id="ff_text">
                            <span id="ff_text">藍豆豆 </span>
                            <span id="ff_persent">30</span>%</span>
                        </td>
                    </tr></tbody>
                </table>
                <ins class="abs" style="left: 62%;"></ins>
            </div>
            
            
            <div class="col-lr">
            
            <div class="area col-l list_container">
                <div class="intro rel">
                    <h2 class="abs" id="red_agree_count">27</h2>
                    <a href="javascript:void(0);" class="abs" id="red_agree_a"></a>
                    <em class="abs" id="red_camp" ng-show="pkview.isRed">(我支持紅豆豆)</em>
                    <dl class="f14 abs">
                        <dt>紅豆豆：</dt>
                        <dd>
                            <p>{{pkview.red_ds}}</p>
                            <span class="f12">已發表觀點：<span class="f16" id="red_view_count">{{pkview.n_rv}}</span></span>
                        </dd>
                    </dl>
                </div>
                <div class="textarea rel">
                <textarea class="abs f14" id="r_textarea"></textarea>
                    <a href="javascript:void(0);" class="abs" id="r_btn"></a>
                    <span class="abs" id="r_z">您還可以輸入<b>140</b>字</span>
                </div>
                <div class="tabs rel" id="red_gd_tab">
                <a href="javascript:void(0)" class="selected">大家的觀點</a></div>
                <div class="order rel" id="red_order_tab">
                <a href="javascript:void(0)" class="cBlues">按時間排列</a>|<a href="javascript:void(0)">按熱門排列</a></div>
                <div class="list rel" id="r_container">
                    <div class="post-card">
                        <ul class="post-qna-answers">
                            <li ng-show="pkview.n_rc > commentsPreviewNum">
                                <span class="post-qna-answer-count" ng-show="pkview.n_rc == 0">尚未有觀點</span>
                                <span class="post-qna-answer-count" ng-show="pkview.n_rc > 0 && pkview.n_rc <= commentsPreviewNum">{{pkview.n_rc}}個觀點</span>
                                <span class="post-qna-answer-count" ng-show="pkview.n_rc > commentsPreviewNum  && pkview.red_ep">共{{pkview.n_rc}}個觀點</span>
                                <a class="post-view-all-comments-link" href="" ng-show="pkview.n_rc > commentsPreviewNum && !pkview.red_ep" data-ng-click="get_all_red_comments(pkview.id)">共{{pkview.n_rc}}個觀點</a>
                                <a class="post-view-all-comments-link pull-right" href="" ng-show="pkview.n_rc > commentsPreviewNum && !pkview.red_ep" data-ng-click="get_all_red_comments(pkview.id)">查看所有觀點</a>
                                <img id="comment-spinner_{{pkview.id}}" class="comment-spinner" style="display:none;" src="/assets/app/images/general/animated/green-spinner.gif">
                            </li>
                            <li data-ng-repeat="comment in pkview.red_cs" ng-class-odd="'post-qna-answer-odd'" ng-class-even="'post-qna-answer-even'">
                                <a data-ng-href="m-my#/profile/{{comment.oid}}">
                                    <img class="post-sharing-comment-user-image" data-ng-src="/image/get-comment-mini-image-by-id/{{comment.oid}}"/>
                                </a>
                                <div>
                                    <span class="post-title-user-name">
                                        <a data-ng-href="m-my#/profile/{{comment.oid}}">{{comment.on}}</a>
                                    </span>
                                    <span style="margin-left:5px;"/>
                                    <span class="post-date" am-time-ago="comment.cd"></span>
                                    <div class="pull-right">
                                        <span class="post-number">#{{comment.n}}</span>
                                        <button ng-show="comment.isO || userInfo.isSA" class="post-dropdown-btn btn btn-default dropdown-toggle" type="button" id="post-dropdown" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="post-dropdown-menu dropdown-menu" role="menu" aria-labelledby="post-dropdown">
                                            <li role="presentation" ng-show="comment.isO || userInfo.isSA"><a role="menuitem" href="" ng-confirm-click="deleteComment(comment.id, post)" ng-confirm-message="您確定刪除這個留言嗎？"><i class="glyphicon glyphicon-trash"></i>刪除留言</a></li>
                                            <!--li role="presentation" ng-show="!comment.isO || userInfo.isSA"><a role="menuitem" ng-click="openReportObjectModal(comment.id,'VIEW')"><i class="glyphicon glyphicon-warning-sign"></i>舉報留言</a></li-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="post-qna-answer-body">
                                    <div>
                                        <span class="post-qna-answer-body-text" ng-bind-html="comment.d | to_trusted"></span>
                                        <span data-ng-include data-src="'/assets/app/views/home/like-answer.html'"></span>
                                    </div>
                                    <div data-ng-show="comment.hasImage" class="post-body-image">
                                        <a data-toggle="modal" data-target="#imageModal" data-ng-repeat="imageID in comment.imgs" href="">
                                            <img data-ng-src="/image/get-comment-image-by-id/{{imageID}}" data-ng-click="showImage(imageID)" alt="">
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <!-- Post Answer box-->
                            <li ng-show="!isMyBookmarksPage && userInfo.isLoggedIn">
                                <!--a data-ng-href="m-my#/profile/{{userInfo.id}}">
                                    <img class="post-sharing-comment-user-image" data-ng-src="/image/get-comment-mini-image-by-id/{{userInfo.id}}"/>
                                </a-->
                                <form class="post-comment-box" name="redComment" method="post" action="">
                                    <label for="User Comment"></label>
                                    <textarea type="text" id="redCommentfield" name="redCommentfield" data-ng-model="redCommentText" class="general-textfield post-qna-reply-textfield" placeholder="觀點..." cols="70" rows="1"></textarea>
                                    <a class="dropdown-toggle dropdown-hover colorChange post-emoticon-dropdown" data-toggle="dropdown" href="#">
                                        <img src="../assets/app/images/emoticons/smile.png" />
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right icon-dropdown post-emoticon-dropdown-menu">
                                        <li data-ng-repeat="emoticon in emoticons">
                                            <a href="" data-ng-click="select_emoticon_comment(emoticon.code,'YES')">
                                                <img class="emoticon" data-ng-src="{{emoticon.url}}"/>
                                            </a>
                                        </li>
                                    </ul>
                                    <a class="post-photo-icon" data-ng-hide="pkviewCommentSelectedFiles.length >= 3 && commentedOnPKView == pkview.id" id="upload">
                                        <i class="icon-photo-camera-fill" data-ng-click="pkviewCommentPhoto(pkview.id)"></i>
                                    </a>
                                    <button class="btn btn-primary ng-binding" ng-disabled="redComment.$pristine || (redComment.$dirty && !redCommentText.length)" type="submit" disabled="disabled" data-ng-click="comment_to_pkview(pkview.id, redCommentText, 'YES');redCommentText='';">
                                        觀點
                                    </button>
                                    <input style="visibility:hidden;width:0px;height:0px;" id="pkview-comment-photo-id" type="file" name="comment-photo" ng-file-select="onPKViewCommentFileSelect($files)"/>
                                </form>
                                <span ng-if="commentedOnPost == pkview.id">
                                    <div ng-show="pkviewCommentSelectedFiles != null">
                                        <img class="post-photo-preview" ng-class="{partial_fade: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
                                            ng-repeat="f in pkviewCommentSelectedFiles" tooltip-placement="bottom" tooltip="移除相片" data-ng-click="remove_image_from_pkview_comment($index)"
                                            ng-show="pkviewCommentDataUrls[$index]" ng-src="{{pkviewCommentDataUrls[$index]}}">
                                    </div>
                                </span>
                            </li>
                            <li ng-show="!userInfo.isLoggedIn">
                                <div data-ng-include data-src="'/assets/app/views/widgets/prompt-comment-login-widget.html'"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <img src="http://img03.babytreeimg.com/img/common/loading_pic_s.gif" id="l_loadimg" class="loadimg" style="display: none;">
            </div>



            <div class="area col-r list_container">
                <div class="intro rel">
                    <h2 class="abs" id="blue_agree_count">3</h2>
                    <a href="javascript:void(0);" class="abs" id="blue_agree_a"></a>
                    <em class="abs" id="blue_camp" ng-show="pkview.isBlue">(我支持藍豆豆)</em>
                    <dl class="f14 abs">
                        <dt>藍豆豆：</dt>
                        <dd>
                            <p>{{pkview.blue_ds}}</p>
                            <span class="f12">已發表觀點：<span class="f16" id="blue_view_count">{{pkview.n_bv}}</span></span>
                        </dd>
                    </dl>
                </div>
                <div class="textarea rel">
                <textarea class="abs f14" id="b_textarea"></textarea>
                    <a href="javascript:void(0);" class="abs" id="b_btn"></a>
                    <span class="abs" id="b_z">您還可以輸入<b>140</b>字</span>
                </div>
                <div class="tabs rel" id="blue_gd_tab">
                <a href="javascript:void(0)" class="selected">大家的觀點</a></div>
                <div class="order rel" id="blue_order_tab">
                <a href="javascript:void(0)" class="cBlues">按時間排列</a>|<a href="javascript:void(0)">按熱門排列</a></div>
                <div class="list rel" id="b_container">
                    <div class="post-card">
                        <ul class="post-qna-answers">
                            <li ng-show="pkview.n_bc > commentsPreviewNum">
                                <span class="post-qna-answer-count" ng-show="pkview.n_bc == 0">尚未有觀點</span>
                                <span class="post-qna-answer-count" ng-show="pkview.n_bc > 0 && pkview.n_bc <= commentsPreviewNum">{{pkview.n_bc}}個觀點</span>
                                <span class="post-qna-answer-count" ng-show="pkview.n_bc > commentsPreviewNum  && pkview.blue_ep">共{{pkview.n_bc}}個觀點</span>
                                <a class="post-view-all-comments-link" href="" ng-show="pkview.n_bc > commentsPreviewNum && !pkview.blue_ep" data-ng-click="get_all_blue_comments(pkview.id)">共{{pkview.n_bc}}個觀點</a>
                                <a class="post-view-all-comments-link pull-right" href="" ng-show="pkview.n_bc > commentsPreviewNum && !pkview.blue_ep" data-ng-click="get_all_blue_comments(pkview.id)">查看所有觀點</a>
                                <img id="comment-spinner_{{pkview.id}}" class="comment-spinner" style="display:none;" src="/assets/app/images/general/animated/green-spinner.gif">
                            </li>
                            <li data-ng-repeat="comment in pkview.blue_cs" ng-class-odd="'post-qna-answer-odd'" ng-class-even="'post-qna-answer-even'">
                                <a data-ng-href="m-my#/profile/{{comment.oid}}">
                                    <img class="post-sharing-comment-user-image" data-ng-src="/image/get-comment-mini-image-by-id/{{comment.oid}}"/>
                                </a>
                                <div>
                                    <span class="post-title-user-name">
                                        <a data-ng-href="m-my#/profile/{{comment.oid}}">{{comment.on}}</a>
                                    </span>
                                    <span style="margin-left:5px;"/>
                                    <span class="post-date" am-time-ago="comment.cd"></span>
                                    <div class="pull-right">
                                        <span class="post-number">#{{comment.n}}</span>
                                        <button ng-show="comment.isO || userInfo.isSA" class="post-dropdown-btn btn btn-default dropdown-toggle" type="button" id="post-dropdown" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="post-dropdown-menu dropdown-menu" role="menu" aria-labelledby="post-dropdown">
                                            <li role="presentation" ng-show="comment.isO || userInfo.isSA"><a role="menuitem" href="" ng-confirm-click="deleteComment(comment.id, post)" ng-confirm-message="您確定刪除這個留言嗎？"><i class="glyphicon glyphicon-trash"></i>刪除留言</a></li>
                                            <!--li role="presentation" ng-show="!comment.isO || userInfo.isSA"><a role="menuitem" ng-click="openReportObjectModal(comment.id,'VIEW')"><i class="glyphicon glyphicon-warning-sign"></i>舉報留言</a></li-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="post-qna-answer-body">
                                    <div>
                                        <span class="post-qna-answer-body-text" ng-bind-html="comment.d | to_trusted"></span>
                                        <span data-ng-include data-src="'/assets/app/views/home/like-answer.html'"></span>
                                    </div>
                                    <div data-ng-show="comment.hasImage" class="post-body-image">
                                        <a data-toggle="modal" data-target="#imageModal" data-ng-repeat="imageID in comment.imgs" href="">
                                            <img data-ng-src="/image/get-comment-image-by-id/{{imageID}}" data-ng-click="showImage(imageID)" alt="">
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <!-- Post Answer box-->
                            <li ng-show="!isMyBookmarksPage && userInfo.isLoggedIn">
                                <!--a data-ng-href="m-my#/profile/{{userInfo.id}}">
                                    <img class="post-sharing-comment-user-image" data-ng-src="/image/get-comment-mini-image-by-id/{{userInfo.id}}"/>
                                </a-->
                                <form class="post-comment-box" name="blueComment" method="post" action="">
                                    <label for="User Comment"></label>
                                    <textarea type="text" id="blueCommentfield" name="blueCommentfield" data-ng-model="blueCommentText" class="general-textfield post-qna-reply-textfield" placeholder="觀點..." cols="70" rows="1"></textarea>
                                    <a class="dropdown-toggle dropdown-hover colorChange post-emoticon-dropdown" data-toggle="dropdown" href="#">
                                        <img src="../assets/app/images/emoticons/smile.png" />
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right icon-dropdown post-emoticon-dropdown-menu">
                                        <li data-ng-repeat="emoticon in emoticons">
                                            <a href="" data-ng-click="select_emoticon_comment(emoticon.code,$parent.$index)">
                                                <img class="emoticon" data-ng-src="{{emoticon.url}}"/>
                                            </a>
                                        </li>
                                    </ul>
                                    <a class="post-photo-icon" data-ng-hide="pkviewCommentSelectedFiles.length >= 3 && commentedOnPKView == pkview.id" id="upload">
                                        <i class="icon-photo-camera-fill" data-ng-click="pkviewCommentPhoto(pkview.id)"></i>
                                    </a>
                                    <button class="btn btn-primary ng-binding" ng-disabled="blueComment.$pristine || (blueComment.$dirty && !blueCommentText.length)" type="submit" disabled="disabled" data-ng-click="comment_to_pkview(pkview.id, blueCommentText, 'NO');blueCommentText='';">
                                        觀點
                                    </button>
                                    <input style="visibility:hidden;width:0px;height:0px;" id="pkview-comment-photo-id" type="file" name="comment-photo" ng-file-select="onPKViewCommentFileSelect($files)"/>
                                </form>
                                <span ng-if="commentedOnPost == pkview.id">
                                    <div ng-show="pkviewCommentSelectedFiles != null">
                                        <img class="post-photo-preview" ng-class="{partial_fade: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
                                            ng-repeat="f in pkviewCommentSelectedFiles" tooltip-placement="bottom" tooltip="移除相片" data-ng-click="remove_image_from_pkview_comment($index)"
                                            ng-show="pkviewCommentDataUrls[$index]" ng-src="{{pkviewCommentDataUrls[$index]}}">
                                    </div>
                                </span>
                            </li>
                            <li ng-show="!userInfo.isLoggedIn">
                                <div data-ng-include data-src="'/assets/app/views/widgets/prompt-comment-login-widget.html'"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            
            <div class="share-link-bar rel">
                <div style="margin:20px 0;font-size:16px;">
                    <div class="padding10" style="border-top:1px solid #eee;"></div>
                    分享連結: 
                    <input type='text' name='pkview-link' id='pkview-link' value='{{applicationInfo.baseUrl}}/frontpage#/pkview/{{pkview.id}}'></input> 
                    <a style='margin-left:5px;padding:2px 7px;font-size:14px;' class='toolsbox toolsbox-single' onclick='highlightLink("pkview-link")'><i class='glyphicon glyphicon-link'></i></a>
                </div>
            </div>
        </div>
        <!--div class="general-box-footer"><img style="margin-top:10px;" src="/assets/app/images/general/pkview_footer.png" /></div-->
    </div>
</div>
