<div id="wall">
    <div class="general-box pkview-box-main">
        <div class="pkview-detail-wrapper" ng-if="!showPKView">
            <div style="font-size:20px;">
                對不起~ 尋找不到此活動。 請確定連結正確無誤。
            </div>
        </div>
        <div class="pkview-detail-wrapper" ng-if="showPKView">
            <div class="head rel">
                <img src="http://pic05.babytreeimg.com/foto3/common_photo/original/2014/1215/cd1d01ee6431087.jpg" data-i="link">
                <p class="abs"></p>
                <ins class="over"></ins>
            </div>
            <div style="padding:10px;">
                <span data-ng-include data-src="'/assets/app/views/frontpage/like-pkview.html'"></span>
                <span data-ng-include data-src="'/assets/app/views/frontpage/bookmark-pkview.html'"></span>
            </div>
            <div class="bar rel">
                <b class="bar-bg-l abs"></b>
                <b class="bar-bg-r abs"></b>
                <table>
                    <tbody><tr>
                        <td class="bar-l" style="width: 70%;"><span id="zf_span"><span id="zf_text">紅豆豆 </span>
                            <span id="zf_percent">70</span>%</span></td><td class="bar-r">
                            <span id="ff_text">
                            <span id="ff_text">藍豆豆 </span>
                            <span id="ff_persent">30</span>%</span>
                        </td>
                    </tr></tbody>
                </table>
                <ins class="abs" style="left: 62%;"></ins>
            </div>
            
            
            
            <div class="area col-l list_container">
                <div class="intro rel">
                    <h2 class="abs" id="red_agree_count">27</h2>
                    <a href="javascript:void(0);" class="abs" id="red_agree_a"></a>
                    <em class="abs" id="red_camp" ng-show="pkview.isRed">(我支持紅豆豆)</em>
                    <dl class="f14 abs">
                        <dt>紅豆豆：</dt>
                        <dd>
                            <p>{{pkview.red_ds}}</p>
                            <span class="f12">已發表觀點：<span class="f16" id="red_view_count">{{pkview.norv}}</span></span>
                        </dd>
                    </dl>
                </div>
                <div class="textarea rel">
                <textarea class="abs f14" id="r_textarea"></textarea>
                    <a href="javascript:void(0);" class="abs" id="r_btn"></a>
                    <span class="abs" id="r_z">您還可以輸入<b>140</b>字</span>
                </div>
                <div class="tabs rel" id="red_gd_tab">
                <a href="javascript:void(0)" class="selected">大家的觀點</a></div>
                <div class="order rel" id="red_order_tab">
                <a href="javascript:void(0)" class="cBlues">按时间排列</a>|<a href="javascript:void(0)">按热度排列</a></div>
                <div class="list rel" id="r_container">
                    <div id="item_300412" class="item" style="">
                        <div class="user"><a class="avatar" target="_blank" href="http://home.babytree.com/u89806957267"><img src="http://pic05.babytreeimg.com/foto3/thumbs/2014/0615/99/5/14e8e96ad33dacc24108dc33_hs.jpg"></a><a href="http://home.babytree.com/u89806957267" target="_blank" title="我家的鲁西西">我家的鲁西</a></div><div class="comm"><ins></ins><div class="text"><span>反驳<a href="http://home.babytree.com/u66831487121" target="_blank">狄小夏</a>：<br>即使概率不大 可是最好还是要预防啊<div class="quote"><span>“支持蓝方”</span></div></span></div><div class="status"><b>2014-12-21 20:45</b><a href="javascript:void(0)">反驳(<span>0)</span></a><a href="javascript:void(0)">顶(<span>0</span>)</a></div><div class="input-box rel" style="display: none;"><textarea class="f12"></textarea><label class="abs"><input type="checkbox">同步到薇博</label><a href="javascript:void(0)" class="abs"></a></div></div>
                    </div>
                    <div id="item_300411" class="item" style="">
                        <div class="user"><a class="avatar" target="_blank" href="http://home.babytree.com/u89806957267"><img src="http://pic05.babytreeimg.com/foto3/thumbs/2014/0615/99/5/14e8e96ad33dacc24108dc33_hs.jpg"></a><a href="http://home.babytree.com/u89806957267" target="_blank" title="我家的鲁西西">我家的鲁西</a></div><div class="comm"><ins></ins><div class="text"><span>反驳<a href="http://home.babytree.com/u13364416735" target="_blank">多多妈1229</a>：<br>可是不容否认的是 缺陷的孩子还是很多的啊 特别是周围的中老年人中 智障的什么的 更多吧<div class="quote"><span>“我们上几辈也没补充什么营养啊，我们不也挺好的”</span></div></span></div><div class="status"><b>2014-12-21 20:44</b><a href="javascript:void(0)">反驳(<span>0)</span></a><a href="javascript:void(0)">顶(<span>0</span>)</a></div><div class="input-box rel" style="display: none;"><textarea class="f12"></textarea><label class="abs"><input type="checkbox">同步到薇博</label><a href="javascript:void(0)" class="abs"></a></div></div>
                    </div>
                </div>
                <img src="http://img03.babytreeimg.com/img/common/loading_pic_s.gif" id="l_loadimg" class="loadimg" style="display: none;">
            </div>



            <div class="area col-r list_container">
                <div class="intro rel">
                    <h2 class="abs" id="blue_agree_count">3</h2>
                    <a href="javascript:void(0);" class="abs" id="blue_agree_a"></a>
                    <em class="abs" id="blue_camp" ng-show="pkview.isBlue">(我支持藍豆豆)</em>
                    <dl class="f14 abs">
                        <dt>藍豆豆：</dt>
                        <dd>
                            <p>{{pkview.blue_ds}}</p>
                            <span class="f12">已發表觀點：<span class="f16" id="blue_view_count">{{pkview.nobv}}</span></span>
                        </dd>
                    </dl>
                </div>
                <div class="textarea rel">
                <textarea class="abs f14" id="b_textarea"></textarea>
                    <a href="javascript:void(0);" class="abs" id="b_btn"></a>
                    <span class="abs" id="b_z">您還可以輸入<b>140</b>字</span>
                </div>
                <div class="tabs rel" id="blue_gd_tab">
                <a href="javascript:void(0)" class="selected">大家的觀點</a></div>
                <div class="order rel" id="blue_order_tab">
                <a href="javascript:void(0)" class="cBlues">按时间排列</a>|<a href="javascript:void(0)">按热度排列</a></div>
                <div class="list rel" id="b_container">
                    <div id="item_300412" class="item" style="">
                        <div class="user"><a class="avatar" target="_blank" href="http://home.babytree.com/u89806957267"><img src="http://pic05.babytreeimg.com/foto3/thumbs/2014/0615/99/5/14e8e96ad33dacc24108dc33_hs.jpg"></a><a href="http://home.babytree.com/u89806957267" target="_blank" title="我家的鲁西西">我家的鲁西</a></div><div class="comm"><ins></ins><div class="text"><span>反驳<a href="http://home.babytree.com/u66831487121" target="_blank">狄小夏</a>：<br>即使概率不大 可是最好还是要预防啊<div class="quote"><span>“支持蓝方”</span></div></span></div><div class="status"><b>2014-12-21 20:45</b><a href="javascript:void(0)">反驳(<span>0)</span></a><a href="javascript:void(0)">顶(<span>0</span>)</a></div><div class="input-box rel" style="display: none;"><textarea class="f12"></textarea><label class="abs"><input type="checkbox">同步到薇博</label><a href="javascript:void(0)" class="abs"></a></div></div>
                    </div>
                    <div id="item_300411" class="item" style="">
                        <div class="user"><a class="avatar" target="_blank" href="http://home.babytree.com/u89806957267"><img src="http://pic05.babytreeimg.com/foto3/thumbs/2014/0615/99/5/14e8e96ad33dacc24108dc33_hs.jpg"></a><a href="http://home.babytree.com/u89806957267" target="_blank" title="我家的鲁西西">我家的鲁西</a></div><div class="comm"><ins></ins><div class="text"><span>反驳<a href="http://home.babytree.com/u13364416735" target="_blank">多多妈1229</a>：<br>可是不容否认的是 缺陷的孩子还是很多的啊 特别是周围的中老年人中 智障的什么的 更多吧<div class="quote"><span>“我们上几辈也没补充什么营养啊，我们不也挺好的”</span></div></span></div><div class="status"><b>2014-12-21 20:44</b><a href="javascript:void(0)">反驳(<span>0)</span></a><a href="javascript:void(0)">顶(<span>0</span>)</a></div><div class="input-box rel" style="display: none;"><textarea class="f12"></textarea><label class="abs"><input type="checkbox">同步到薇博</label><a href="javascript:void(0)" class="abs"></a></div></div>
                    </div>
                </div>
                <img src="http://img03.babytreeimg.com/img/common/loading_pic_s.gif" id="l_loadimg" class="loadimg" style="display: none;">
            </div>
            
            <div class="share-link-bar rel">
                <div style="margin:20px 0;font-size:16px;">
                    <div class="padding10" style="border-top:1px solid #eee;"></div>
                    分享連結: 
                    <input type='text' name='pkview-link' id='pkview-link' value='{{applicationInfo.baseUrl}}/frontpage#/pkview/{{pkview.id}}'></input> 
                    <a style='margin-left:5px;padding:2px 7px;font-size:14px;' class='toolsbox toolsbox-single' onclick='highlightLink("pkview-link")'><i class='glyphicon glyphicon-link'></i></a>
                </div>
            </div>
        </div>
        <!--div class="general-box-footer"><img style="margin-top:10px;" src="/assets/app/images/general/pkview_footer.png" /></div-->
    </div>
</div>
