<div id="frontpage-slider-section">
    <div id="frontpage-slider" class="royalSlider rsMinW general-box">
        <div ng-repeat="topic in sliderTopics">
            <div class="rsContent fp-flash-slide" ng-if="topic.sty == 'FLASH'">
                <div class="bContainer">
                    <span ng-bind-html="topic.ds | to_trusted "></span>
                </div>
            </div>
            <div class="rsContent fp-image-slide" ng-if="topic.sty == 'IMAGE'">
                <a class="rsImg" href="{{topic.img}}"></a>
                <a class="transparent-bg" href="{{topic.url}}" ng-if="topic.nm.length == 0 || topic.ds.length == 0">
                    <img src="../assets/app/images/general/gradient_black_30.png">
                </a>
                <a class="gradient-bg" href="{{topic.url}}" ng-if="topic.nm.length > 0 || topic.ds.length > 0">
                    <img src="../assets/app/images/general/gradient_black_30.png">
                </a>
                <div class="bContainer">
                    <a href="{{topic.url}}">
                        <span class="rsABlock blockHeadline" data-move-effect="top" data-delay="200" data-fade-effect="none" ng-if="topic.nm.length > 0">
                            {{topic.nm}}
                            <span class="blockSubHeadline" ng-if="topic.ds.length > 0"><br/>{{topic.ds}}</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
  
    <div id="frontpage-promo">
        <div id="promo-area1">
            <div id="promo-slider" class="royalSlider rsMinW general-box">
                <div ng-repeat="topic in promoTopics">
                    <div class="rsContent fp-flash-slide" ng-if="topic.sty == 'FLASH'">
                        <div class="bContainer">
                            <span ng-bind-html="topic.ds | to_trusted "></span>
                        </div>
                    </div>
                    <div class="rsContent fp-image-slide" ng-if="topic.sty == 'IMAGE'">
                        <a class="rsImg" href="{{topic.img}}"></a>
                        <a class="transparent-bg" href="{{topic.url}}" ng-if="topic.nm.length == 0 || topic.ds.length == 0">
                            <img src="../assets/app/images/general/gradient_black_30.png">
                        </a>
                        <a class="gradient-bg" href="{{topic.url}}" ng-if="topic.nm.length > 0 || topic.ds.length > 0">
                            <img src="../assets/app/images/general/gradient_black_30.png">
                        </a>
                        <div class="bContainer">
                            <a href="{{topic.url}}">
                                <span class="rsABlock blockHeadline" data-move-effect="top" data-delay="200" data-fade-effect="none" ng-if="topic.nm.length > 0">
                                    {{topic.nm}}
                                    <span class="blockSubHeadline" ng-if="topic.ds.length > 0"><br/>{{topic.ds}}</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="promo-area2">
            <a href="#/community/{{hottestCommunity.id}}" class="promo-name">
                <img class="promo-title-img" src="../assets/app/images/frontpage/promo_hot.png">
                <div>
                    <div class="promo-name-text"><img src="../assets/app/images/general/icons/i-article.png" />{{hottestCommunity.nopst}}個新話題</div>
                    <div class="promo-name-text"><img src="../assets/app/images/general/icons/i-reply.png" />{{hottestCommunity.nocom}}個新回覆</div>
                </div>
            </a>
            <div class="communityCard hottestCommunityCard">
                <a href="#/community/{{hottestCommunity.id}}" class="d-s ob">
                    <div class="communityImageBox">
                        <img class="img-clean" data-ng-src="/image/get-thumbnail-cover-community-image-by-id/{{hottestCommunity.id}}" alt="...">
                    </div>
                </a>
                <div class="communityTagBox">
                    <img src="{{hottestCommunity.icon}}">
                    <p>
                        <a href="#/community/{{hottestCommunity.id}}"><b>{{hottestCommunity.n}}</b></a><br>
                        <span class="community-member-counter"><img src="../assets/app/images/general/icons/i-mom.png" />{{hottestCommunity.nom}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
 
 
<style>
#frontpage-slider,
#promo-slider {
    background-color: white;
}
#frontpage-slider div,
#promo-slider div {
    border-radius: 10px;
    background-color: transparent;
}
#frontpage-slider .gradient-bg img, #frontpage-slider .gradient-bg img:hover,
#promo-slider .gradient-bg img, #promo-slider .gradient-bg img:hover {
    opacity: 0.8;
}
#frontpage-slider .rsImg {
    width: 475px;
    height: 250px;
}
#promo-slider .rsImg {
    width: 300px;
    height: 100px;
}
#frontpage-slider .rsContent {
    width: 475px;
    height: 250px;
    color: #FFF;
    font-size: 16px;
    line-height: 1.4;
    float: left;
}
#promo-slider .rsContent {
    width: 300px;
    height: 100px;
    color: #FFF;
    font-size: 14px;
    line-height: 1.3;
    float: left;
}
#frontpage-slider .bContainer,
#promo-slider .bContainer {

}
#frontpage-slider .rsABlock, 
#promo-slider .rsABlock {
    position: relative;
    display: block;
    left: auto;
    top: auto;
}
#frontpage-slider .blockHeadline {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.4;
}
#promo-slider .blockHeadline {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
}
#frontpage-slider .blockSubHeadline {
    font-size: 18px;
    line-height: 1.4;
}
#promo-slider .blockSubHeadline {
    font-size: 16px;
    line-height: 1.2;
}
#frontpage-slider .txtCent,
#promo-slider .txtCent {
    text-align: center; 
    width: 100%; 
}
#frontpage-slider .fp-flash-slide,
#promo-slider .fp-flash-slide {
    background: #fff;
}
#frontpage-slider .fp-image-slide .bContainer,
#promo-slider .fp-image-slide .bContainer {
    position: absolute;
    left: 0px;
    bottom: 15px;
    width: 100%;
    height: auto;
    color: white;
    top: auto;
    z-index: 25;
    padding: 0 25px;
}
.fp-image-slide .bContainer a, .fp-image-slide .bContainer a:hover {
    color: white;
    line-height: 1.5;
}
.rsBullets {
    
}
.rsBullets, .rsBullets div {
    border-radius: 0;
} 
</style>
