<div id="frontpage-featured-section">
    
    <div id="featured-game" class="general-box utility-box">
        <div class="featured-title">
            <div class="featured-tag-icon">送大禮</div>
        </div>
        <div class="section-details">
            <div class="featured-details">
                <div class="featured-main-area" ng-repeat="topic in gameTopics">
                    <div class="featured-area">
                        <a href="{{topic.url}}" target="_blank">
                            <img ng-src="{{topic.img}}">
                        </a>
                        <div class="featured-area-box">
                            <a href="{{topic.url}}" target="_blank">
                                <div class="featured-area-box-bg"></div>
                            </a>
                            <div class="featured-overlay-title">
                                <a href="{{topic.url}}" target="_blank"></a>
                                <h4>
                                    <a href="{{topic.url}}" target="_blank">{{topic.nm}}</a>
                                </h4>
                            </div>
                        </div>
                        <div class="featured-body">
                            <a href="{{topic.url}}" target="_blank">{{topic.ds | limitTo:65}}<span ng-show="topic.ds.length > 65">...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div><img src="/assets/app/images/frontpage/topic_footer_a.jpg"></div>
    </div>
    
    <div id="featured-topic" class="general-box utility-box">
        <div class="featured-title">
            <div class="featured-tag-icon">熱門推介</div>
        </div>
        <div class="section-details">
            <div class="featured-details">
                <div class="featured-main-area" ng-repeat="topic in featuredTopics">
                    <div class="featured-area">
                        <a href="{{topic.url}}" target="_blank">
                            <img ng-src="{{topic.img}}">
                        </a>
                        <div class="featured-area-box">
                            <a href="{{topic.url}}" target="_blank">
                                <div class="featured-area-box-bg"></div>
                            </a>
                            <div class="featured-overlay-title">
                                <a href="{{topic.url}}" target="_blank"></a>
                                <h4>
                                    <a href="{{topic.url}}" target="_blank">{{topic.nm}}</a>
                                </h4>
                            </div>
                        </div>
                        <div class="featured-body">
                            <a href="{{topic.url}}" target="_blank">{{topic.ds | limitTo:65}}<span ng-show="topic.ds.length > 65">...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div><img src="/assets/app/images/frontpage/topic_footer_b.jpg"></div>
    </div>
</div>
