<header>
    <div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/header-bar.html'"></div>
</header>
<div class="themeA-container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-xs-1" style="width:5%"></div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="width:50%">
            <div id="profile-header">
                <ul>
                    <li><div><img id="profile-banner" src="{{coverImage}}" /><a ng-click="openCoverPhotoModal()"><span class="icon-box-2 icon-title-edit-photo"></span><span class="icon-box-2 icon-box-black-op05"></span></a></div></li>
                    <li id="profile-header-menu">
                        <div><img src="{{profileImage}}" alt="profile-pic" /><a ng-click="openProfilePhotoModal()"><span class="icon-box-2 icon-title-edit-photo"></span><span class="icon-box-2 icon-box-black-op05"></span></a></div>
                        
                        <p id="profile-user-name">{{result.displayName}}</p>
                        <div id="menu-title">
                        	<a ng-click="selectedTab = 1;" ng-class="{activeTabBold: selectedTab == 1}">最新發佈</a>
							<div class="divider-cus"></div>
							<a ng-click="selectedTab = 2;" ng-class="{activeTabBold: selectedTab == 2}">社群</a>
							<div class="divider-cus"></div>
							<a ng-click="selectedTab = 3;" ng-class="{activeTabBold: selectedTab == 3}">朋友</a>
							<div class="divider-cus"></div>
							<a ng-click="selectedTab = 4;" ng-class="{activeTabBold: selectedTab == 4}">喜愛</a>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div ng-if="selectedTab == 1" id="wall" style="height: auto !important;"  ng-controller="UserNewsFeedController" >
                <div data-ng-include style="width: 100%;" data-src="'/assets/app/views/about-news-feed-section.html'"></div>
            </div>
			 
            <div ng-if="selectedTab == 2" >
                <div data-ng-include ng-controller="CommunityWidgetController" style="width: 100%;height: 50px;" data-src="'/assets/app/views/about-my-communities-section.html'"></div>
            </div>
			 
            <div ng-if="selectedTab == 3" ng-controller="MyFriendsController">
                <div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/about-my-friends-section.html'"></div>
            </div>
			 
            <div ng-if="selectedTab == 4" id="wall" style="height: auto !important;" ng-controller="MyBookmarkController" >
                <div data-ng-include style="width: 100%;" data-src="'/assets/app/views/about-my-bookmarks-section.html'"></div>
            </div>
			 
            <!--Wall End -->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="width: 25%">
            <div id="profile-about" class="general-box">
                <form role="form" editable-form name="profile_data" onaftersave="updateUserProfileData($data)">
                    <div class="con-title">
                        <span class="icon-box icon-box-blueLight icon-title-profile-about"></span>關於
                        <div style="float:right">
                            <!--button type="button" class="btn btn-default" ng-click="profile_data.$show()" ng-show="!profile_data.$visible">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button-->
                        </div>
                    </div>
                    <div class="row">
                        <div style="padding: 13px;">
                            <div class="col-md-12" ng-show="profile_data.$visible">
                                <div class="row">
    			              	</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row form-group">
                                    	<div class="col-md-6">
                                        	<label>First Name: </label>
                                        </div>
                                        
                                        <div class="col-md-6">
                                        	<span editable-text="result.firstName" >{{ result.firstName || '' }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                   		   <label>Last Name: </label>
                                   	    </div>
                                   	    <div class="col-md-6">
                                            <span editable-text="result.lastName">{{ result.lastName || '' }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Gender: </label>
                                        </div>
                                        <div class="col-md-6">
                                            <span editable-select="result.userInfo.gender" e-name="gender" e-ng-options="g.value as g.text for g in genders">
                                                {{ (genders | filter:{value: result.userInfo.gender})[0].text || '' }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                      	<div class="col-md-6">
                                       	    <label>Year of Birth:</label>
                                        </div>
                                        <div class="col-md-6">
                                    	    <!--span editable-bsdate="result.date_of_birth" e-datepicker-popup="dd-MMMM-yyyy">{{result.date_of_birth | date:'dd/MM/yyyy' || '' }}</span-->
                                      	    <span editable-select="result.userInfo.birthYear" e-name="birth_year" e-ng-options="y.value as y.text for y in years">
                                                {{ (years | filter:{value: result.userInfo.birthYear})[0].text || '' }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Location: </label>
                                        </div>
                                        <div class="col-md-6">
                                            <span editable-select="result.userInfo.location" e-name="location" e-ng-options="l.id as l.displayName for l in locations">
                                                {{ (locations | filter:{id: result.userInfo.location.id})[0].displayName || '' }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
    				                    <div class="col-md-12">
    				                   	    <label>About Me: </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span editable-textarea="result.userInfo.aboutMe" e-rows="7" e-cols="40">
                                                <pre>{{ result.userInfo.aboutMe || 'no description' }}</pre>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons">
                                <span ng-show="profile_data.$visible">
                                    <button type="submit" class="btn btn-primary" ng-disabled="profile_data.$waiting">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" class="btn btn-default" ng-disabled="profile_data.$waiting" ng-click="profile_data.$cancel()">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--About End -->
                </form>
            </div>
            <div ng-controller="RecommendedCommunityWidgetController" data-ng-show="result.communities.length > 0">
                <div data-ng-include style="width: 100%;" data-src="'/assets/app/views/utilities/yourFriendsCommunitiesUtility.html'"></div>
            </div>
            <div ng-controller="MyFriendsUtilityController" data-ng-show="result.friends.length > 0">
                <div data-ng-include style="width: 100%;" data-src="'/assets/app/views/utilities/friendsUtility.html'"></div>
            </div>
        </div>
    </div>
</div>
<div class="padding20"></div>

<div data-ng-include data-src="'/assets/app/views/showImageModal.html'"></div>

<div id="back-to-top" style="z-index:1000" data-ng-controller="UIController">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
</div>

<script type="text/ng-template" id="change-profile-photo-modal.html">
    <div class="modal-header">
        <button type="button" ng-click="close()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">更換封面相片</h4>
    </div>
    <div class="modal-body">
        <input type="file" ng-file-select="onFileSelect($files)" >
        <div ng-file-drop="onFileSelect($files)" class="drop-box" ng-show="dropSupported">相片放到這裡</div>
        <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 相片拖放工能不支援!</div>
        <br/><br/>
        <div ng-show="selectedFiles != null">
            <div class="sel-file" ng-repeat="f in selectedFiles">
                <button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">開始</button>
                <button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">終止</button>
                {{f.name}} - size: {{f.size}}B - type: {{f.type}}
            </div>
        </div>
        <div class="response" ng-show="uploadResult.length > 0">
            <ul>
                <li ng-repeat="result in uploadResult">
                    <ul>
                        <li ng-repeat="item in result.result">
                            <div data-ng-show="item.name">檔案名稱: {{item.name}}</div>
                            <div data-ng-show="item.fieldName">名稱: {{item.fieldName}}</div>
                            <div data-ng-show="item.size">size: {{item.size}}</div>
                            <div data-ng-show="item.value">value: {{item.value}}</div>
                        </li>
                    </ul>
                    <div data-ng-show="result.requestHeaders" class="reqh">request headers: {{result.requestHeaders}}</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
		<span us-spinner spinner-key="loading.." ></span>
	</div>
</script>
