<header>
    <div data-ng-include style="width:100%;" data-src="'/assets/app/views/header-bar.html'"></div>
</header>

<div class="themeA-container">
    <div data-ng-include data-src="'/assets/app/views/nav-bar.html'"></div>
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2" style="width:100px;"></div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="width:480px;">
            <div id="profile-header">
                <ul>
                    <li><div><img id="profile-banner" src="{{coverImage}}" /><a ng-click="openCoverPhotoModal()"><span class="icon-box-2 icon-title-edit-photo"></span><span class="icon-box-2 icon-box-black-op05"></span></a></div></li>
                    <li id="profile-header-menu">
                        <div><img src="{{profileImage}}" alt="profile-pic" /><a ng-click="openProfilePhotoModal()"><span class="icon-box-2 icon-title-edit-photo"></span><span class="icon-box-2 icon-box-black-op05"></span></a></div>
                        
                        <p id="profile-user-name">{{userInfo.displayName}}</p>
                        <div id="menu-title" style="font-size:17px;margin-left:15px;">
                        	<!--span ng-show="selectedTab == 1;">個人資料</span-->
                        </div>
                    </li>
                </ul>
            </div>
            
            <div id="wall">
                <div ng-show="selectedTab == 1">
                    <div data-ng-include data-src="'/assets/app/views/about-me-edit-info-section.html'"></div>
                </div>
                <div ng-show="selectedTab == 2">
                    <div data-ng-include ng-controller="PrivacySettingsController" data-src="'/assets/app/views/about-me-edit-privacy-section.html'"></div>
                </div>
                <div ng-show="selectedTab == 3">
                    <div data-ng-include ng-controller="EdmSettingsController" data-src="'/assets/app/views/about-me-edit-edm-section.html'"></div>
                </div>
            </div>
			 
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="width:310px;">
            <div id="about" class="general-box">
                <div class="con-title">
                    <span style="width:22px;height:22px;" class="icon-box icon-box-blueLight icon-title-profile-about"></span>設定
                </div>
                <div id="about-edit-list">
                    <ul>
                        <li>
                            <a ng-click="selectedTab = 1;" ng-class="{activeTabBold: selectedTab == 1}">
                                個人資料
                            </a>
                        </li>
                        <li>
                            <a ng-click="selectedTab = 2;" ng-class="{activeTabBold: selectedTab == 2}">
                                私隱設定
                            </a>
                        </li>
                        <li>
                            <a ng-click="selectedTab = 3;" ng-class="{activeTabBold: selectedTab == 3}">
                               電郵通知
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ads-factor-300x250">
                <script adSize="300250" adSid="263403256689" ads-factor language='JavaScript' type="text/javascript"></script>
            </div>
            <div class="ads-factor-1x1">
                <script adSize="11" adSid="887185786688" ads-factor language='JavaScript' type="text/javascript"></script>
            </div>
        </div>
    </div>
</div>
<div class="padding20"></div>

<script type="text/ng-template" id="change-profile-photo-modal.html">
    <div class="modal-header">
        <button type="button" ng-click="close()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">更換封面相片</h4>
    </div>
    <div class="modal-body">
        <input type="file" ng-file-select="onFileSelect($files)" >
        <div ng-file-drop="onFileSelect($files)" class="drop-box" ng-show="dropSupported">相片放到這裡</div>
        <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 相片拖放工能不支援!</div>
        <br/><br/>
        <div ng-show="selectedFiles != null">
            <div class="sel-file" ng-repeat="f in selectedFiles">
                <button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">開始</button>
                <button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">終止</button>
                {{f.name}} - size: {{f.size}}B - type: {{f.type}}
            </div>
        </div>
        <div class="response" ng-show="uploadResult.length > 0">
            <ul>
                <li ng-repeat="result in uploadResult">
                    <ul>
                        <li ng-repeat="item in result.result">
                            <div data-ng-show="item.name">檔案名稱: {{item.name}}</div>
                            <div data-ng-show="item.fieldName">名稱: {{item.fieldName}}</div>
                            <div data-ng-show="item.size">size: {{item.size}}</div>
                            <div data-ng-show="item.value">value: {{item.value}}</div>
                        </li>
                    </ul>
                    <div data-ng-show="result.requestHeaders" class="reqh">request headers: {{result.requestHeaders}}</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
		<span us-spinner spinner-key="loading.." ></span>
	</div>
</script>

<link rel="stylesheet" href="../assets/app/custom-css/login.css">
<link rel="stylesheet" href="../assets/app/custom-css/signupInfo.css">
<script type="text/javascript" src="../assets/app/scripts/signup_info.js"></script>

<script>
    ga_send_pv();
</script>