<header>
    <div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/headerBar.html'"></div>
</header>
<div class="themeA-container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-xs-1" style="width:10%"></div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="width:50%">
            <div id="profile-header">
                <ul>
                    <li><div><img id="profile-banner" src="{{coverImage}}" /><a ng-click="openCoverPhotoModal()"><span class="icon-box-2 icon-title-edit-photo"></span><span class="icon-box-2 icon-box-black-op05"></span></a></div></li>
                    <li id="profile-header-menu">
                        <div><img src="{{profileImage}}" alt="profile-pic" /><a ng-click="openProfilePhotoModal()"><span class="icon-box-2 icon-title-edit-photo"></span><span class="icon-box-2 icon-box-black-op05"></span></a></div>
                        
                        <p id="profile-user-name">{{result.dn}}</p>
                        <div id="menu-title">
                        	<a ng-click="selectedTab = 1;">
							<font ng-class="{activeTabBold: selectedTab == 1}">Recent Activities</font> </a>
							<div class="divider-cus"></div>
							<a	ng-click="selectedTab = 2;">
							<font ng-class="{activeTabBold: selectedTab == 2}">Communities</font> </a>
							<div class="divider-cus"></div>
							<a ng-click="selectedTab = 3;">
							<font ng-class="{activeTabBold: selectedTab == 3}">Friends</font></a>
							<div class="divider-cus"></div>
							<a ng-click="selectedTab = 4;">
							<font ng-class="{activeTabBold: selectedTab == 4}">Favorites</font></a>
                        </div>
                    </li>
                </ul>
            </div>
            
            
            <div ng-show="selectedTab == 1" id="wall" style="height: auto !important;"  ng-controller="NewsFeedController" >
			   <div data-ng-include style="width: 100%;" data-src="'/assets/app/views/home-news-feed-section.html'"></div>
			 </div>
			 
			 <div ng-show="selectedTab == 2" >
			 	<div data-ng-include ng-controller="CommunityWidgetController" style="width: 100%;height: 50px;" data-src="'/assets/app/views/myAllCommunities.html'"></div>
			 </div>
			 
			 <div ng-show="selectedTab == 3" ng-controller="FriendsController">
			 	<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/allFriendsSection.html'"></div>
			 </div>
			 
			  <div ng-show="selectedTab == 4" id="wall" style="height: auto !important;"  ng-controller="MyBookmarkController" >
			   <div data-ng-include style="width: 100%;" data-src="'/assets/app/views/bookmark-section.html'"></div>
			 </div>
			 
            <!--Wall End -->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="width: 25%">
        	<div class="col-md-12 col-sm-12 col-xs-12 ">
            <div id="profile-about" class="general-box">
                <form role="form" editable-form name="profile_data" onaftersave="updateUserProfileData($data)">
                <div class="con-title">
                    <span class="icon-box icon-box-blueLight icon-title-profile-about"></span>
                    About
                    <div style="float:right">
                        <button type="button" class="btn btn-default" ng-click="profile_data.$show()" ng-show="!profile_data.$visible">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </div>
                <div class="row">
			          <div style="padding: 13px;">
			            
			              <div class="col-md-12" ng-show="profile_data.$visible">
			              	<div class="row">
			              	</div>
			              </div>
			              <div class="row">
			                <div class="col-md-12">
			                  <div class="row form-group">
				                	<div class="col-md-6">
				                    	<label>First Name: </label>
				                    </div>
				                    
				                    <div class="col-md-6">
				                    	<span editable-text="result.firstName" >{{ result.firstName || 'not set' }}</span>
				                    </div>
			                  </div>
			                  
			                  <div class="row">
				                	<div class="col-md-6">
			                   			<label>Last Name: </label>
			                   		</div>
			                   		
			                   		<div class="col-md-6">
			                   			<span editable-text="result.lastName">{{ result.lastName || 'Not set' }}</span>
			                   		</div>
			                  </div>
			                  
			                  
			                  <div class="row">
				                	<div class="col-md-6">
			                    		<label>Gender: </label>
			                    	</div>
			                    	
			                    	<div class="col-md-6">
			                    		<span editable-select="result.gender" e-name="gender" e-ng-options="g.value as g.text for g in genders">
			                    			{{ (genders | filter:{value: result.gender})[0].text || 'Not set' }}
			                    		</span>	
			                    	</div>
			                  </div>
			                  
			                  <div class="row">
			                  	<div class="col-md-6">
			                   		<label>Date of Birth:</label>
			                   	</div>
			                   	
			                   	<div class="col-md-6">
								    <span editable-bsdate="result.date_of_birth"  e-datepicker-popup="dd-MMMM-yyyy">{{ result.date_of_birth | date:'dd/MM/yyyy' || 'Not set' }}
								    </span>
								    
							  	</div>
			                  </div>
			                  
			                  <div class="row">
				                	<div class="col-md-6">
			                   			<label>Location: </label>
			                   		</div>
			                   		
			                   		<div class="col-md-6">
			                   			<span editable-text="result.location">{{ result.location || 'Not set' }}</span>
			                   		</div>
			                  </div>
			                  
			               </div>
			                  
			               <div class="col-md-12">
				             <div class="row">
				               	<div class="col-md-12">
				                   	<label>About Me: </label>
				           	 	</div>
				             </div>
				               	
				             <div class="row">
				               	<div class="col-md-12">
					                <span editable-textarea="result.aboutMe" e-rows="7" e-cols="40">
					                   <pre>{{ result.aboutMe || 'no description' }}</pre>
					                 </span>
				                 </div>
				              </div>
			               </div>
			             </div>
			             <div class="buttons">
			                <span ng-show="profile_data.$visible">
			                <button type="submit" class="btn btn-primary" ng-disabled="profile_data.$waiting">
			                <span class="glyphicon glyphicon-ok"></span>
			                </button>
			                <button type="button" class="btn btn-default" ng-disabled="profile_data.$waiting" ng-click="profile_data.$cancel()">
			                <span class="glyphicon glyphicon-remove"></span>
			                </button>
			                </span>
			            </div>
			       
			    </div>
            </div><!--About End -->
            
			</form>
        </div>
        </div>
        <div id="newCommunity">
				<div class="col-lg-12 col-md-12"
					ng-controller="UnknownCommunityWidgetController">
					<div data-ng-include style="width: 100%;"
						data-src="'/assets/app/views/communityWidget.html'"></div>
				</div>
			</div><!--NewCommunity End -->
         <div>
           	<div class="col-lg-12 col-md-12" ng-controller="FriendsWidgetController">
				<div data-ng-include style="width: 100%;" data-src="'/assets/app/views/friendsBar.html'"></div>
			</div>
          </div><!--Friends End -->
        </div>
    </div>
</div>
<div id="back-to-top" ng-controller="UIController">
    <a ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
</div>

<script type="text/ng-template" id="change-profile-photo-modal.html">
    <div class="modal-header">
        <button type="button" ng-click="close()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Photo</h4>
    </div>
    <div class="modal-body">
        <input type="file" ng-file-select="onFileSelect($files)" >
        <div ng-file-drop="onFileSelect($files)" class="drop-box" ng-show="dropSupported">drop files here</div>
        <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
        <br/><br/>
        <div ng-show="selectedFiles != null">
            <div class="sel-file" ng-repeat="f in selectedFiles">
                <button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">Start</button>
                <button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>
                {{f.name}} - size: {{f.size}}B - type: {{f.type}}
            </div>
        </div>
        <div class="response" ng-show="uploadResult.length > 0">
            <ul>
                <li ng-repeat="result in uploadResult">
                    <ul>
                        <li ng-repeat="item in result.result">
                            <div data-ng-show="item.name">file name: {{item.name}}</div>
                            <div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
                            <div data-ng-show="item.size">size on the serve: {{item.size}}</div>
                            <div data-ng-show="item.value">value: {{item.value}}</div>
                        </li>
                    </ul>
                    <div data-ng-show="result.requestHeaders" class="reqh">request headers: {{result.requestHeaders}}</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer"></div>
</script>
