<div class="general-box" style="margin:-1px">
    <div class="wall-title">
        <!--span class="wall-icon icon-title-community"></span-->
        <span style="margin-left:15px;">
            <a ng-click="selectedSubTab = 1;" ng-class="{activeTabUnderlined: selectedSubTab == 1}">
                <font style="color: white;">問題 ({{bookmarkSummary.qc}})</font>
            </a>
        </span>
        <!--span class="wall-icon icon-title-friendwall"></span-->
        <span style="margin-left:15px;">
            <a ng-click="selectedSubTab = 2;" ng-class="{activeTabUnderlined: selectedSubTab == 2}">
                <font style="color: white;">分享 ({{bookmarkSummary.pc}})</font>
            </a>
        </span>
        <span style="margin-left:15px;">
            <a ng-click="selectedSubTab = 3;" ng-class="{activeTabUnderlined: selectedSubTab == 3}">
                <font style="color: white;">文章 ({{bookmarkSummary.ac}})</font>
            </a>
        </span>
    </div>
</div>
<div class="padding5"></div>
<!-- Bookmark Tabs End -->

<div ng-show="selectedSubTab == 1" infinite-scroll='nextPosts()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1'>
    <div class="general-box" ng-show="bookmarkSummary.qc == 0 && (bookmarkSummary.pc > 0 || bookmarkSummary.ac > 0)">
        <div class="section-title">
            <div>
                您尚未有喜愛的問題
            </div>
        </div>
    </div>
    <!-- Tips End -->
	<div data-ng-repeat="post in posts.posts">
    	<div id="wall-main" data-ng-show="post.type=='QUESTION'">
    		<div class="general-box">
    			<div ng-init="isMyBookmarksPage=true" data-ng-include data-src="'/assets/app/views/qna-bar.html'"></div>
    		</div>
    	</div>	
	</div>
</div>
<div ng-show="selectedSubTab == 2" infinite-scroll='nextPosts()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1'>
    <div class="general-box" ng-show="bookmarkSummary.pc == 0 && (bookmarkSummary.qc > 0 || bookmarkSummary.ac > 0)">
        <div class="section-title">
            <div>
                您尚未有喜愛的分享
            </div>
        </div>
    </div>
    <!-- Tips End -->
	<div data-ng-repeat="post in posts.posts">
		<div id="wall-main" data-ng-show="post.type=='SIMPLE'">
		      <div class="general-box">
		          <div ng-init="isMyBookmarksPage=true" data-ng-include data-src="'/assets/app/views/post-bar.html'"></div>
		      </div>
     	</div>
	</div>
</div>
<div ng-show="selectedSubTab == 3" infinite-scroll='nextArticles()' infinite-scroll-disabled='isBusyA' infinite-scroll-distance='1'>
    <div class="general-box" ng-show="bookmarkSummary.ac == 0 && (bookmarkSummary.qc > 0 || bookmarkSummary.pc > 0)">
        <div class="section-title">
            <div>
                您尚未有喜愛的文章
            </div>
        </div>
    </div>
    <!-- Tips End -->
    <div data-ng-repeat="article in articles.article">
        <div class="general-box">
            <ul class="allpost-wrapper" style="padding: 5px 10px 0px 10px;">
                <li>
                    <a href="#/article/{{article.id}}/{{article.ct.id}}" target="_blank">
                        <img ng-show="article.img_url != 'No Image'" data-ng-src="{{article.img_url}}">
                    </a>
                    <a data-ng-show="!article.isBookmarked" class="btn-like post-favorite" href="" data-ng-click="bookmarkArticle(article.id)"></a>
                    <a data-ng-show="article.isBookmarked" class="btn-like post-favorited" href="" data-ng-confirm-click="unBookmarkArticle(article.id)" data-ng-confirm-message="您確定移除這個喜愛嗎?"></a>
                    <div>
                        <a href="#/article/{{article.id}}/{{article.ct.id}}" target="_blank">
                            <h4 style="color: #324fe1;"><font><font>{{article.nm}}</font></font></h4>
                        </a>
                        <h6>
                            <a class="tag" data-ng-href="my#/article/show/{{article.ct.id}}">
                                <font><font>{{article.ct.name}}</font></font>
                            </a>
                            <font ng-show="userInfo.isAdmin">{{article.pd | date:'M/dd/yyyy'}}</font>
                            <span ng-show="article.nov > 20 || userInfo.isAdmin" class="view-count" style="margin-left:10px;"><img class="view-icon" data-ng-src="/assets/app/images/general/icons/view.gif"/>{{article.nov}}</span>
                            <span ng-show="article.nol > 0 || userInfo.isAdmin" class="like-count"><img data-ng-src="/assets/app/images/general/icons/liked_1.gif"/>{{article.nol}}</span>
                        </h6>
                        <p><font><font>{{article.lds|limitTo:80}}...</font></font></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="general-box" ng-show="bookmarkSummary.qc == 0 && bookmarkSummary.pc == 0 && bookmarkSummary.ac == 0">
    <div class="section-title">
        <div>
            您尚未有喜愛的問題,分享或文章
        </div>
        <div>
            請立即點一下問題,分享或文章右方的
            <img style="width:15px;vertical-align:text-top;" data-ng-src="/assets/app/images/general/icons/message_favorited.png"/>
            來喜愛吧!
        </div>
    </div>
</div>
<!-- Bookmark Tips Ends -->