<div class="col-lg-12 col-md-12 col-sd-12" style="padding: 0px !important;" >
<div id="slider" class="general-box">
	<div style="height:88%">
	     <ul class="slider-menu" >
	         <li data-ng-repeat="article in resultSlider.la" data-ng-mouseOver="changeInsideImage(article.id)">
		         <a href="my#/article/id/{{article.id}}" target="_blank">
			         <p>
			         	<font>
			         		<font style="text-align: center;">{{article.nm|limitTo:20:false}}<span data-ng-show="article.nm.length > 20">...</span></font><br>
			         	</font>
			         	<img class="slider-arrow-left" src="../assets/app/images/general/sliderArrow_right.png">
		         	</p>
	         	</a>
	        </li>
	     </ul>
	     <div class="slider-photo">
	       <a href="my#/article/id/{{category_id}}" target="_blank">
    	       <span class="mask-blue">
    	           <p class="slider-title">
    	               {{title|limitTo:15:false}}
    	           </p>
    	           <p class="slider-subtitle">
    	               {{description|limitTo:28:false}}...
    	           </p>
    	       </span>
	           <img ng-show="image_source != 'No Image'" style="width: 100% !important;" data-ng-src="{{image_source}}">
	       </a>
	     </div>
	     <ul class="slider-menu" >
	         <li data-ng-repeat="article in resultSlider.ra" data-ng-mouseOver="changeInsideImage(article.id)">
                <a href="my#/article/id/{{article.id}}" target="_blank">
                    <p>
                        <font>
                            <font style="text-align: center;">{{article.nm|limitTo:20:false}}<span data-ng-show="article.nm.length > 20">...</span></font><br>
                        </font>
                        <img class="slider-arrow-right" src="../assets/app/images/general/sliderArrow_left.png">
                    </p>
                </a>
             </li>
	     </ul>
     </div>
     <div style="height:12%" class="slider-category"><p><a data-ng-repeat="category in resultSlider.ct" data-ng-href="my#/article/show/{{category.id}}" target="_blank"><font>{{category.name}} </font></a><a href="my#/article/show/0" class="pull-right" target="_blank"><font>所有文章</font></a></p></div>
</div>
</div>