<header>
	<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/headerBar.html'"></div>
</header>

<div class="col-md-1">

</div>

<div class="themeA-container">
        <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6" style="width:55%;">
            <div id="wall">
                <div class="general-box">
                    <ul class="post-detail-wrapper">
                        <li>
                        <a data-ng-show="!article.isBookmarked" class="btn-like" href="" data-ng-click="bookmarkArticle(article.id)"><img class="pull-right" style="width: inherit;" src="assets/app/images/general/icons/message_favorite.png"/></a>
        					<a data-ng-show="article.isBookmarked" class="btn-like" href="" data-ng-click="unBookmarkArticle(article.id)"><img class="pull-right" style="width: inherit;" src="assets/app/images/general/icons/message_favorited.png"/></a>
                        <a href="/#/article/show/{{article.ct.id}}">
                        	<img class="scCatMiniThumbnail" data-ng-src="{{article.ct.pictureName}}" />
                        </a>
                        	<div><a class="scCatTitle" href="/#/article/show/{{article.ct.id}}">{{article.ct.name}}</a><h6><font>Posted on </font><font type="date"><font><font>{{article.pd | date:'yyyy'  }}</font></font>  <font><font>{{article.pd | date:'MMM'  }}</font></font>  <font><font>{{article.pd | date:'dd hh:mm a'  }}</font></font></font></h6>
                        	</div>
                        	
                        </li>
                        	
                        <li>
                        	<font class="scTitle">{{article.nm}}</font>
                        	<span class="btn-like-wrapper">
                                <a data-ng-show="!article.isLike" class="btn-like" href="" data-ng-click="like_article(article.id)"><img data-ng-src="/assets/app/images/general/icons/like_1.gif"/>Like</a> 
                                <a data-ng-show="article.isLike" class="btn-like" href="" data-ng-click="unlike_article(article.id)"><img data-ng-src="/assets/app/images/general/icons/liked_1.gif"/>Unlike</a>
                                <span ng-show="article.nol > 0"> · {{article.nol}}</span>
                                <span ng-show="article.isLike"> · 你對這讚好</span>
                            </span>
	                 	</li>
                        <li><div style="font-size:16px; width:100%;" class="ng-binding" ng-bind-html="article.ds"></div></li>
                        <li>
                            <span class="btn-like-wrapper">
                                <a data-ng-show="!article.isLike" class="btn-like" href="" data-ng-click="like_article(article.id)"><img data-ng-src="/assets/app/images/general/icons/like_1.gif"/>Like</a> 
                                <a data-ng-show="article.isLike" class="btn-like" href="" data-ng-click="unlike_article(article.id)"><img data-ng-src="/assets/app/images/general/icons/liked_1.gif"/>Unlike</a>
                                <span ng-show="article.nol > 0"> · {{article.nol}}</span>
                                <span ng-show="article.isLike"> · 你對這讚好</span>
                            </span>
	                	</li>
                    </ul>
                </div>
            </div><!--Post Detail End -->
            
            <!-- <div class="panel panel-default">
				<div class="row tm innerAll"><h4>  Leave a Reply</h4></div>
					<div ng-show="article.n_c > 3" data-ng-click="get_all_comments(article.id)" class="bg-gray innerAll border-top border-bottom text-small ">
						<span style="cursor: pointer;">View all <a class="text-primary"></a></span>
					</div>
				<div data-ng-repeat="comment in article.cs" class="media border-bottom margin-none bg-gray">
						<a href="" class="pull-left innerAll half">
							<img data-ng-src="/get-thumbnail-image-by-id/{{comment.oid}}" width="60" class="media-object">
						</a>
					<div class="media-body innerTB">
						<div style="width:100%; float:left"><a href="" class="strong text-inverse">{{comment.on}}</a>  <small class="text-muted ">wrote on {{comment.cd | date: 'dd MMM, yyyy'}}</small></div>
					<pre  ng-bind-html="comment.d | highlight: highlightText" style="width:100%; float:left"></pre>
			        <span class="btn-like-wrapper">
                        <a data-ng-show="!comment.isLike" class="btn-like" href="" data-ng-click="like_comment(comment.id)"><img data-ng-src="/assets/app/images/general/icons/like_1.gif"/>Like</a> 
                        <a data-ng-show="comment.isLike" class="btn-like" href="" data-ng-click="unlike_comment(comment.id)"><img data-ng-src="/assets/app/images/general/icons/liked_1.gif"/>Unlike</a>
                        <span ng-show="comment.nol > 0"> · {{comment.nol}}</span>
                        <span ng-show="comment.isLike"> · 你對這讚好</span>
                    </span>
					</div>
				</div>
				<textarea class="form-control" placeholder="Comment here..." data-ng-model="commentText"></textarea>
				<button data-ng-show="commentText.length > 2" type="button" class="btn btn-warning btn-xs" data-ng-click="comment_on_article(article.id, commentText);commentText=''">comment</button>
			</div> -->
			
			
            <div id="relatePost" class="general-box">
                <div class="con-title">
                    <span class="icon-box icon-box-brown icon-title-relatePost"></span><p>Related Articles</p>
                </div>
                    <ul>
                        <li data-ng-repeat="relatedArticle in relatedResult"><p><a href="/#/article/id/{{relatedArticle.id}}" style="color: #324fe1;" target="_blank"><img ng-show="relatedArticle.img_url != 'No Image'"  data-ng-src="{{relatedArticle.img_url}}"/>{{relatedArticle.nm|limitTo:18}}</a></p></li>
                    </ul>
            </div><!--Relate Post End -->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 " ng-controller="ShowArticleController">
            <div id="hotPost" class="general-box">
                <div class="con-title">
                    <span class="icon-box icon-box-orange icon-title-hotforum"></span><font><b>Hot Articles</b></font>
                </div>
                <div class="static-content-wrapper" >
                    <ul>
                        <li  data-ng-repeat="article in resultSlidder.ra"><a href="/#/article/id/{{article.id}}" target="_blank"><img ng-show="article.img_url != 'No Image'"  data-ng-src="{{article.img_url}}" style="height: 60px; width:60px;"></a><div class="pull-right"><a href="/#/article/id/{{article.id}}" style="color: #324fe1;" target="_blank"><font>{{article.nm}}</font></a><p><font>{{article.lds|limitTo:35}}...</font></p></div></li>
                    </ul>
                </div>
            </div><!--HotTopic End -->
            <div id="latestPost" class="general-box">
                <div class="con-title">
                    <span class="icon-box icon-box-green icon-title-latestPost"></span><font><b>New Articles</b></font>
                </div>
                <div class="static-content-wrapper">
                    <ul>
						<li  data-ng-repeat="article in resultSlidder.la"><a href="/#/article/id/{{article.id}}" target="_blank"><img ng-show="article.img_url != 'No Image'"  data-ng-src="{{article.img_url}}" style="height: 60px; width:60px;"></a><div class="pull-right"><a href="/#/article/id/{{article.id}}" style="color: #324fe1;" target="_blank"><font>{{article.nm}}</font></a><p><font>{{article.lds|limitTo:35}}...</font></p></div></li>                    
					</ul>
                </div>
            </div><!--Latest Post End -->
        </div>
        </div>
    </div>
    <div id="back-to-top" ng-controller="UIController">
        <a ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
    </div>
