<div id="slider" class="general-box">
     <ul class="slider-menu" >
         <li data-ng-repeat="article in resultSlider.la" data-ng-mouseOver="changeInsideImage(article.id)">
	         <a href="#/article/id/{{article.id}}">
		         <p>
		         	<font>
		         		<font style="text-align: center;">{{article.nm|limitTo:20:false}}<span data-ng-show="article.nm.length > 20">...</span></font><br>
		         	</font>
		         	<img class="slider-arrow-left" src="../assets/app/images/general/sliderArrow_right.png">
	         	</p>
         	</a>
        </li>
     </ul>
     <div class="slider-photo">
       <a href="#/article/id/{{category_id}}">
	       <span class="mask-blue">
	           <p class="slider-title">
	               {{title|limitTo:15:false}}
	           </p>
	           <p class="slider-subtitle">
	               {{description|limitTo:28:false}}...
	           </p>
	       </span>
           <img ng-show="image_source != 'No Image'" style="width: 100% !important;" data-ng-src="{{image_source}}">
       </a>
     </div>
     <ul class="slider-menu" >
         <li data-ng-repeat="article in resultSlider.ra" data-ng-mouseOver="changeInsideImage(article.id)">
            <a href="#/article/id/{{article.id}}">
                <p>
                    <font>
                        <font style="text-align: center;">{{article.nm|limitTo:20:false}}<span data-ng-show="article.nm.length > 20">...</span></font><br>
                    </font>
                    <img class="slider-arrow-right" src="../assets/app/images/general/sliderArrow_left.png">
                </p>
            </a>
         </li>
     </ul>
     <!--div style="height:12%" class="slider-category"><p><a data-ng-repeat="category in resultSlider.ct" data-ng-href="#/article/show/{{category.id}}"><font>{{category.name}} </font></a><a href="#/article/show/0" class="pull-right"><font>所有文章</font></a></p></div-->
</div>
