

<div class="general-box">
    <div class="wall-title">
        <span class="wall-icon"></span><a ng-click="selectedTab1 = 1;">
							<font ng-class="{activeTabBold: selectedTab1 == 1}">Questions</font></a>
		<span class="wall-icon"></span><a ng-click="selectedTab1 = 2;">
							<font ng-class="{activeTabBold: selectedTab1 == 2}">Moments</font></a>					
        <span class="wall-icon"></span><a ng-click="selectedTab1 = 3;">
							<font ng-class="{activeTabBold: selectedTab1 == 3}">Articles</font></a>
        
    </div>
</div>

<div ng-show="selectedTab1 == 1" infinite-scroll='nextPost()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='0' >
	<div data-ng-repeat="post in posts.post">
	<div data-ng-show="post.type=='QUESTION'">
		<div class="general-box">
			<div data-ng-include data-src="'/assets/app/views/QnA-bar.html'"></div>
		</div>
	</div>	
		
	</div>
</div>
<div ng-show="selectedTab1 == 2" infinite-scroll='nextPost()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='0' >
	<div data-ng-repeat="post in posts.post">
		<div id="wall-forum" data-ng-show="post.type=='SIMPLE'">
		      <div class="general-box">
		          <div data-ng-include data-src="'/assets/app/views/post-bar.html'"></div>
		      </div>
     	</div>
		
	</div>
</div>


<div ng-show="selectedTab1 == 3" infinite-scroll='nextArticles()' infinite-scroll-disabled='isBusyA' infinite-scroll-distance='0' >
      <div data-ng-repeat="article in articles.article">
      <div class="general-box">
          <ul class="allpost-wrapper" style="padding: 3px 10px 3px 10px;">
              <li>
                  <a href="/#/article/id/{{article.id}}" target="_blank">
                      <img ng-show="article.img_url != 'No Image'"  data-ng-src="{{article.img_url}}"></a>
                      <a data-ng-show="!article.isBookmarked" class="btn-like" href="" data-ng-click="bookmarkArticle(article.id)"> <img class="pull-right" src="assets/app/images/general/icons/message_favorite.png" style="width:4%;"/></a>
        			  <a data-ng-show="article.isBookmarked" class="btn-like" href="" data-ng-click="unBookmarkArticle(article.id)"> <img class="pull-right" src="assets/app/images/general/icons/message_favorited.png" style="width:4%;"/></a>
                      <div><a href="/#/article/id/{{article.id}}" target="_blank"><h4 style="color: #324fe1;"><font><font>{{article.nm}}</font></font></h4></a><h6><a class="tag" data-ng-href="/#/article/show/{{article.ct.id}}"><font><font>{{article.ct.name}}</font></font></a><font><font>{{article.pd | date:'yyyy'  }}</font></font>  <font><font>{{article.pd | date:'MMM'  }}</font></font>  <font><font>{{article.pd | date:'dd hh:mm a'  }}</font></font></h6><p><font><font>{{article.lds|limitTo:65}}...</font></font></p></div>
              </li>
          </ul>
      </div>
      </div>
</div>


<!-- Modal -->
<div class="modal fade lightbox" id="imageModal" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      		<div>
        		<img data-ng-src="/get-original-post-image-by-id/{{img_id}}" alt="" style="max-height: 75%;width: 100%;">
        	</div>
      </div>
    </div>
  </div>
</div>