<div class="post-card">
    <ul>
        <li class="post-sharing-body">
            <div class="post-sharing-body-text-wrapper">
                <a href="/#/business-post-landing/id/{{post.id}}/communityId/{{post.cid}}">
                    <div class="post-sharing-body-text"><span ng-bind-html="post.pt | limitTo:100:false | to_trusted"></span><span ng-show="post.pt.length > 50"> ...</span></div>
                </a>
            </div>
            <div data-ng-show="post.hasImage" class="post-body-image">
                <a data-ng-repeat="imageID in post.imgs" ng-if="$index < 1" href="/#/business-post-landing/id/{{post.id}}/communityId/{{post.cid}}">
                    <img data-ng-src="/image/get-post-image-by-id/{{imageID}}" data-ng-click="" alt="">
                </a>
            </div>
        </li>
    </ul>
    <!-- Post Body Ends -->
    <ul class="post-sharing-comments">
        <li class="post-intro">
            <a data-ng-href="/#/business/community/{{post.cid}}" ng-show="!isCommunityPage"><img src="{{post.ci}}">{{post.cn}}</a>
            <span class="post-date" am-time-ago="post.t"></span>
        </li>
        <li ng-show="post.n_c > 2 && !post.ep">
            <span class="post-qna-answer-count" ng-show="post.n_c > 0 && post.n_c <= 2"><b>{{post.n_c}}個留言</b></span>
            <a href="/#/business-post-landing/id/{{post.id}}/communityId/{{post.cid}}" ng-show="post.n_c > 2"><b>共{{post.n_c}}個留言</b></a>
        </li>
        <li data-ng-repeat="comment in post.cs" ng-if="$index < 2">
            <a data-ng-href="/#/profile/{{comment.oid}}">
                <img class="post-sharing-comment-user-image" data-ng-src="/image/get-comment-mini-image-by-id/{{comment.oid}}"/>
            </a>
            <span class="post-sharing-comment-body">
                <span class="post-title-user-name post-sharing-comment-font">
                    <a data-ng-href="/#/profile/{{comment.oid}}">{{comment.on}}</a>
                </span>
                <span class="post-date" am-time-ago="comment.cd"></span>
                <div>
                    <span class="post-sharing-comment-body-text" ng-bind-html="comment.d | to_trusted"></span>    
    	        </div>
    	        <!--div data-ng-show="comment.hasImage" class="post-body-image">
                    <a data-toggle="modal" data-target="#imageModal" data-ng-repeat="imageID in comment.imgs" href="">
                        <img style="max-width:70%; max-height:100px;" data-ng-src="/image/get-comment-image-by-id/{{imageID}}" data-ng-click="showImage(imageID)" alt="">
                    </a>
                </div-->
	        </span>
    	</li>
    	<!-- Post Comment box -->
        <!--li ng-show="post.isC || (community.isM || community.isO)">
            <a data-ng-href="/#/profile/{{userInfo.id}}">
                <img class="post-sharing-comment-user-image" data-ng-src="/image/get-comment-mini-image-by-id/{{userInfo.id}}"/>
            </a>
            <form class="post-comment-box" name="userComment" method="post" action="">
                <label for="User Comment"></label>
                <textarea type="text" id="userCommentfield" name="userCommentfield" id="userCommentfield" class="general-textfield post-sharing-comment-textfield" placeholder="留言..." cols="70" data-ng-model="commentText" rows="1"></textarea>
                <button class="btn btn-primary ng-binding" ng-disabled="userComment.$pristine || (userComment.$dirty && !commentText.length)" type="submit" disabled="disabled" data-ng-click="comment_on_post(post.id, commentText); commentText=''">
                    留言
                </button>
                <input style="visibility:hidden;display:none;" id="comment-photo-id" type="file" name="comment-photo" ng-file-select="onCommentFileSelect($files)"/>
            </form>
        </li-->
        <li style="height:25px;">
            <span class="pull-left">
                <!--a data-ng-show="!post.isBookmarked" class="post-favorite" href="" data-ng-click="bookmarkPost(post.id)"></a>
                <a data-ng-show="post.isBookmarked && !isMyBookmarksPage" class="post-favorited" href="" data-ng-click="unBookmarkPost(post.id)"></a>
                <a data-ng-show="post.isBookmarked && isMyBookmarksPage" class="post-favorited" href="" data-ng-confirm-click="unBookmarkPost(post.id)" data-ng-confirm-message="您確定移除這個喜愛嗎?"></a-->
                <span data-ng-include data-src="'/assets/app/views/like-post.html'"></span>
            </span>
            <span class="pull-right">
                <a href="" ng-click="displayLink('/#/business-post-landing/id/'+post.id+'/communityId/'+post.cid)"><i class="glyphicon glyphicon-share"></i></a>
                <a ng-show="post.isO || userInfo.isSA" href="" ng-confirm-click="deletePost(post.id)" ng-confirm-message="您確定刪除這個分享嗎？"><i class="glyphicon glyphicon-trash"></i></a>
            </span>
        </li>
    </ul>
    <!-- Post Comments Ends -->
</div>