<header>
    <div data-ng-include style="width:100%;height:50px;" data-src="'/assets/app/views/header-bar.html'"></div>
    <div data-ng-include data-src="'/assets/app/views/nav-bar.html'"></div>
</header>

<div class="themeA-container">
    <div>
        <div class="col-lg-1 col-md-1 col-xs-1" style="width:5%;"></div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="width:52%;">
            <div id="wall">
                <div class="pin-brick" style="width:100%;" data-ng-repeat="post in posts.posts">
                    <div id="wall-main">
                        <div class="general-box">
                            <div class="post-card">
                                <ul>
                                    <li class="post-sharing-body">
                                        <div class="post-sharing-body-text-wrapper">
                                            <div class="post-sharing-body-text" style="line-height:1.3;font-size:17px;margin-bottom:10px;padding-left:10px;"><span ng-bind-html="post.pt | to_trusted"></span></div>
                                        </div>
                                        <div data-ng-show="post.hasImage" class="post-body-image">
                                            <div data-ng-repeat="imageID in post.imgs">
                                                <img style="width:auto;max-width:100%;" data-ng-src="/image/get-original-post-image-by-id/{{imageID}}">
                                            </div>
                                        </div>
                                        <div class="padding10"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="width:300px;">
            <!--div style="overflow:auto;" class="alert alert-info" role="alert" ng-show="userInfo.isLoggedIn && community.oid != userInfo.id">
                <span style="height:30px;display:block;">
                    <span style="top:15px;position:absolute;font-size:15px;"><i class="glyphicon glyphicon-comment"></i> 發送私人訊息給店主</span>
                    <a style="margin:5px 0" class="btn-general pull-right" data-ng-href="my#/message/{{community.oid}}">私人訊息</a>
                </span>
            </div-->
            <div class="pin-brick" style="width:100%;padding:0px;" data-ng-repeat="post in posts.posts">
                <div class="general-box utility-box">
                    <ul class="post-sharing-comments">
                        <li class="post-intro">
                            <a data-ng-href="#/business/community/{{post.cid}}" ng-show="!isCommunityPage"><img src="{{post.ci}}">{{post.cn}}</a>
                            <div class="post-date" am-time-ago="post.t"></div>
                        </li>
                        <li ng-show="post.n_c > 3 && !post.ep">
                            <span class="post-qna-answer-count" ng-show="post.n_c > 0 && post.n_c <= 3"><b>{{post.n_c}}個留言</b></span>
                            <a href="" ng-show="post.n_c > 3" data-ng-click="get_all_comments(post.id)"><b>共{{post.n_c}}個留言</b></a>
                        </li>
                        <li data-ng-repeat="comment in post.cs">
                            <a data-ng-href="my#/profile/{{comment.oid}}">
                                <img class="post-sharing-comment-user-image" data-ng-src="/image/get-comment-mini-image-by-id/{{comment.oid}}"/>
                            </a>
                            <span class="post-sharing-comment-body">
                                <span class="post-title-user-name post-sharing-comment-font">
                                    <a data-ng-href="my#/profile/{{comment.oid}}">{{comment.on}}</a>
                                </span>
                                <span class="post-date" am-time-ago="comment.cd"></span>
                                <div>
                                    <span class="post-sharing-comment-body-text" ng-bind-html="comment.d | to_trusted"></span>    
                                </div>
                            </span>
                        </li>
                        <!-- Post Comment box -->
                        <li ng-show="post.isC || (community.isM || community.isO)">
                            <a data-ng-href="my#/profile/{{userInfo.id}}">
                                <img class="post-sharing-comment-user-image" data-ng-src="/image/get-comment-mini-image-by-id/{{userInfo.id}}"/>
                            </a>
                            <form class="post-comment-box" name="userComment" method="post" action="">
                                <label for="User Comment"></label>
                                <textarea type="text" id="userCommentfield" name="userCommentfield" id="userCommentfield" class="general-textfield post-sharing-comment-textfield" placeholder="留言..." cols="70" data-ng-model="commentText" rows="1"></textarea>
                                <button class="btn btn-primary ng-binding" ng-disabled="userComment.$pristine || (userComment.$dirty && !commentText.length)" type="submit" disabled="disabled" data-ng-click="comment_on_post(post.id, commentText); commentText=''">
                                    留言
                                </button>
                            </form>
                        </li>
                        <li ng-show="!userInfo.isLoggedIn">
                            <div data-ng-include data-src="'/assets/app/views/magazine/promo-login-widget.html'"></div>
                        </li>
                        <li style="height:25px;">
                            <span class="pull-left">
                                <!--a data-ng-show="!post.isBookmarked" class="post-favorite" href="" data-ng-click="bookmarkPost(post.id)"></a>
                                <a data-ng-show="post.isBookmarked && !isMyBookmarksPage" class="post-favorited" href="" data-ng-click="unBookmarkPost(post.id)"></a>
                                <a data-ng-show="post.isBookmarked && isMyBookmarksPage" class="post-favorited" href="" data-ng-confirm-click="unBookmarkPost(post.id)" data-ng-confirm-message="您確定移除這個喜愛嗎?"></a-->
                                <span data-ng-include data-src="'/assets/app/views/like-business-post.html'"></span>
                                <span class="btn-like-wrapper"><span ng-show="post.nov > 100 || userInfo.isAdmin" class="btn-like" style="margin-right:10px;"><img class="view-icon" style="vertical-align:sub;" data-ng-src="/assets/app/images/general/icons/view.gif"/>{{post.nov}}</span></span>
                            </span>
                            <span class="pull-right">
                                <a href="" ng-click="displayLink('/magazine#/business-post-landing/id/'+post.id+'/communityId/'+post.cid)"><i class="glyphicon glyphicon-share"></i>複製連結</a>
                                <a ng-show="post.isO || userInfo.isSA" href="" ng-confirm-click="deletePost(post.id)" ng-confirm-message="您確定刪除這個分享嗎？"><i class="glyphicon glyphicon-trash"></i>刪除</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-show="!userInfo.isLoggedIn">
                <div data-ng-include data-src="'/assets/app/views/magazine/promo-signup-widget.html'"></div>
            </div>
        </div>
    </div>
</div>
<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
</div>