
                    <div id="content-uploader" class="general-box tab-content" >
                        <ul ng-show="community.isM || community.isO == true" style="padding:5px;">
                            <li style="margin:0px;">
                                <a id="upload-post" style="float:left"><b><span class="icon-title-uploader-writePost"></span>Write Posts </b></a>
                                <span class="divider-cus"></span>
                                <a id="upload-image"><span class="icon-title-uploader-upImage" ></span><b data-ng-show="QnASelectedFiles.length < 1" data-ng-click="postPhoto()">Add photos</b></a>
                            </li>
                            <li>
                                <form id="content-upload-wrapper" name="content-upload-wrapper" class="no-margin no-padding" method="post" action="" >
                                <textarea cols="45" rows="1" class="post-input-title general-input-box form-control" placeholder="問個問題吧⋯⋯" data-ng-model="questionTitle"></textarea>
                                <textarea cols="45" rows="2" name="content-upload-input" id="content-upload-input" class="post-input-body general-input-box form-control" placeholder="加些詳情" data-ng-model="questionText"></textarea>
                                
									<div style="background-color: white;" ng-show="QnASelectedFiles != null">
										<img ng-class="{partial_fade: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
										ng-repeat="f in QnASelectedFiles" style="width: 100px;height: 100px;" ng-show="dataUrls[$index]" 
										ng-src="{{dataUrls[$index]}}" tooltip-placement="bottom" tooltip="Remove this photo" data-ng-click="remove_image($index)">
									</div>
									<div>
									<i data-ng-show="QnASelectedFiles.length < 1" data-ng-click="postPhoto()"></i>
										<button  data-ng-show="questionText.length > 3" type="button" class="btn btn-warning btn-xs" data-ng-click="ask_question_community(community.i, questionTitle, questionText); questionTitle='';questionText='';">Post</button>
										<input style="visibility:hidden;height:0px;" id="QnA-photo-id" type="file"  name="post-photo" ng-file-select="onQnAFileSelect($files)"/>
									</div>
                                
                                </form>
                                
                            </li>
                        </ul>
                    </div>

<div infinite-scroll='nextPost()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1'>	
	<div class="widget" data-ng-repeat="post in QnA.posts">
		<div id="wall-forum">
			      <div class="general-box" style="margin-bottom:0px">
		          <ul>
		              <li><a data-ng-href="/#/profile/{{post.oid}}" ><img class="wall-userpic" data-ng-src="/get-mini-image-by-id/{{post.oid}}" /></a><p class="wall-user-actState" style="position: relative;"><a data-ng-href="/#/profile/{{post.oid}}" style="color: #428bca !important;">{{post.p}}</a><span class="wall-user-actState-from"></span><a data-ng-href="/#/community/{{post.cid}}/question" style="color: #428bca !important;">{{post.cn}}</a><span class="wall-user-actState-ask"></span><span class="ques-tag pull-right">?</span>
		              <a data-ng-show="post.isBookmarked" class="btn-like post-favorite" href="" data-ng-click="bookmarkPost(post.id)"></a>
	              	  <a data-ng-show="!post.isBookmarked" class="btn-like post-favorited" href="" data-ng-click="unBookmarkPost(post.id)"></a>
		              
		              
		              </p><span class="wall-user-actState-date" am-time-ago="post.t"></span><span class="wall-forum-post-last-time">5</span><div id="wall-forum-info">
		              	<!-- <span class="wall-forum-post-checked">{{post.nov}}</span> -->
		              	</div>
		              	</li>
                        <li class="wall-user-post-body">
                            <span style="white-space: pre-wrap;" class="wall-user-post-title"><a data-ng-href=""><font>{{post.ptl}}</font></a></span><br>
                            <span style="white-space: pre-wrap;" class="wall-user-post-text"><font>{{post.pt}}</font></span>
                            <div data-ng-show="post.hasImage" class="wall-user-post-image">
                                <a data-toggle="modal" data-target="#imageModal" data-ng-repeat="imageID in post.imgs" href="">
                                    <img width="90" data-ng-src="/get-post-image-by-id/{{imageID}}" data-ng-click="showImage(imageID)" alt="">
                                </a>
                            </div>
                        </li>
					<li>
					    <span class="btn-like-wrapper">
                            <a data-ng-show="!post.isLike" class="btn-like" href="" data-ng-click="like_post(post.id)"><img data-ng-src="/assets/app/images/general/icon_png/like_1.jpg"/>Like</a> 
                            <a data-ng-show="post.isLike" class="btn-like" href="" data-ng-click="unlike_post(post.id)"><img data-ng-src="/assets/app/images/general/icon_png/liked_1.jpg"/>Unlike</a>
                            <span ng-show="post.nol > 0"> · {{post.nol}}</span>
                            <span ng-show="post.isLike"> · 你對這讚好</span>
                        </span>
                    </li>
		          </ul>
		          <ul id="postAnswersSection" class="wall-user-forum-respond" style="padding:3px 0 0 0; margin:0px;">
                        <!-- <li><p class="whose-like"><a href="#">Wynee Lam</a></p></li> -->
                        <ul>
                            <li class="user-answer-count">回覆: {{post.n_c}}</li>
                            <li ng-show="post.n_c > 3" data-ng-click="get_all_answers(post.id)"><a href="">View all</a></li>
                            <li data-ng-repeat="comment in post.cs">
                                <div class="wall-user-forum-comment" style="min-height:60px;">
                                   <div class="pull-right">
                                       <a class="pull-right" data-ng-href="/#/profile/{{comment.oid}}" ><img class="wall-userpic" data-ng-src="/get-comment-mini-image-by-id/{{comment.oid}}"/></a>
                                       <span class="wall-user-actState-date" am-time-ago="comment.cd" style="margin-left: 48px;"></span>
                                   </div>
                                   <div>
                                       <p class="user-answer"><a class="commentUsername" class="commentUsername" href="/#/profile/{{comment.oid}}">{{comment.on}}</a>
                                       <span style="white-space: pre-wrap;">{{comment.d}}</span></p>
                                   </div>
                                   <div class="row">
                                       <span class="btn-like-wrapper">
                                           <a data-ng-show="!comment.isLike" class="btn-like" href="" data-ng-click="like_comment(post.id,comment.id)"><img data-ng-src="/assets/app/images/general/icon_png/like_1.jpg"/>Like</a> 
                                           <a data-ng-show="comment.isLike" class="btn-like" href="" data-ng-click="unlike_comment(post.id,comment.id)"><img data-ng-src="/assets/app/images/general/icon_png/liked_1.jpg"/>Unlike</a>
                                           <span ng-show="comment.nol > 0"> · {{comment.nol}}</span>
                                           <span ng-show="comment.isLike"> · 你對這讚好</span>
                                       </span>
                                   </div>
                                </div>
                            </li>
                            <li ng-show="community.isM == true || community.isO == true">
                               <img class="wall-userpic" data-ng-src="/get-comment-mini-image-by-id/{{userInfo.id}}" />
                                <form id="userCommentwrapper" name="userComment" method="post" action="">
                                    <label for="User Comment"></label>
                                    <textarea type="text" name="userCommentfield" class="general-textfield" id="userCommentfield" placeholder="Write a comment..." cols="80" data-ng-model="commentText" rows="1"></textarea>
                                    <span data-ng-show="commentText.length>1" style="margin-top: 1.5%;" class="pull-right">
                                    <i class="icon-reply-all-fill fa fa-2x " data-ng-click="comment_on_post(post.id, commentText); commentText=''"></i></span>
                                </form>
                            </li>
	                    </ul>
                    </ul>
		      </div>
		</div>
	</div>

<span ng-show="isBusy" spinner-start-active="1" us-spinner="{top: 'inherit'}" ></span>
</div>


<!-- <div class="modal fade lightbox" id="imageModal" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      		<div>
        		<img data-ng-src="/get-original-post-image-by-id/{{img_id}}" alt="" style="max-height: 75%;width: 100%;">
        	</div>
      </div>
    </div>
  </div>
</div> -->
