
<div class="general-box">
    <div class="section-title">
        <!--span class="section-icon icon-title-community"></span-->
        <span>My Location</span>
    </div>
</div>
<div class="padding5"></div>
    
<div class="general-box" ng-repeat="pn in pns" ng-show="pn.myd">
    <ul class="pn-wrapper" style="padding: 5px 10px 0px 10px;">
        <li>
            <div class="pn-info">
                <a ng-href="{{pn.url}}" target="_blank">
                    {{pn.n}}
                </a>
                <span class="tag">{{pn.dis}}</span>
                <h6>電話: {{pn.pho}} · 電郵: {{pn.em}}</h6>
                <div class="pn-info-attr">
                    <span>開始派表日期: {{pn.fds}}</span>
                    <span>開始報名日期: {{pn.ads}}</span>
                    <span>學券: {{pn.coup}}</span>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="general-box">
    <div class="section-title">
        <!--span class="section-icon icon-title-community"></span-->
        <span>Other Locations</span>
    </div>
</div>
<div class="padding5"></div>

<div class="general-box" ng-repeat="pn in pns" ng-show="!pn.myd">
    <ul class="pn-wrapper" style="padding: 5px 10px 0px 10px;">
        <li>
            <div class="pn-info">
                <a ng-href="{{pn.url}}" target="_blank">
                    {{pn.n}}
                </a>
                <span class="tag">{{pn.dis}}</span>
                <h6>電話: {{pn.pho}} · 電郵: {{pn.em}}</h6>
                <div class="pn-info-attr">
                    <span>開始派表日期: {{pn.fds}}</span>
                    <span>開始報名日期: {{pn.ads}}</span>
                    <span>學券: {{pn.coup}}</span>
                </div>
            </div>
        </li>
    </ul>
</div>