<header>
	<div data-ng-include style="width:100%;height:50px;" data-src="'/assets/app/views/header-bar.html'"></div>
	<div data-ng-include data-src="'/assets/app/views/nav-bar.html'"></div>
</header>

<div class="themeA-container">
	<div id="content">
		<div class="row">
		    <!--div class="col-lg-1 col-md-1 col-xs-1" style="width:2%;"></div-->
			<div class="col-md-2 col-sm-2 col-xs-2" style="width:20%;">
                <div>
                    <div data-ng-include data-src="'/assets/app/views/widgets/my-profile-widget.html'"></div>
                </div>
                <div>
                    <div data-ng-include data-src="'/assets/app/views/widgets/my-shortcuts-widget.html'"></div>
                </div>
                <div>
                    <div data-ng-include data-src="'/assets/app/views/widgets/communities-discover-widget.html'"></div>
                </div>
                <div data-ng-controller="UserCommunityWidgetController" data-ng-show="result.communities.length > 0">
                    <div ng-init="niceScroll()" data-ng-include data-src="'/assets/app/views/widgets/my-communities-widget.html'"></div>
                </div>
            </div>
             
    		<div class="col-md-6 col-sm-6 col-xs-6" style="width:48%;">
                <div id="message-board" class="alert alert-info" ng-show="!userInfo.isHomeTourCompleted">
                    <div style="font-size:16px;">
                        <img style="width:32px;" src="/assets/app/images/general/icons/pink_heart.png"></img>
                        歡迎來到小萌豆！
                    </div>
                    <div style="margin:5px 25px 0 25px;">
                        請進入並關注您有興趣的社群，立即討論或瀏覽最新話題<br/> 
                        請給我們兩分鐘，了解更多。
                        <a class="btn btn-general" href="" ng-click="startHomeTour();">
                             看看小貼士
                        </a>
                    </div>
                </div>
    
                <div id="message-board" class="alert alert-info" ng-show="userInfo.isHomeTourCompleted">
                    <!--img style="width:32px;" src="/assets/app/images/general/icons/pink_heart.png"></img-->
                    <img style="width:25px;" src="/assets/app/images/general/icons/ranking/rank_1.png">
                    請進入您有興趣的社群，討論或瀏覽最新話題<br/>
                    <img style="width:25px;" src="/assets/app/images/general/icons/ranking/rank_2.png">
                    關注您有興趣的社群，社群的話題會出現到&quot;我的社群動向&quot;中<br/>
                </div>
                
	            <div id="wall">
	                <div ng-controller="CommunitiesDiscoverController" data-ng-include data-src="'/assets/app/views/communities-discover-section.html'"></div>
	            </div>
            </div>
	        
    		<div class="col-md-4 col-sm-4 col-xs-4 " style="width:310px;">
	            <div ng-controller="TodayWeatherInfoController">
                    <div data-ng-include data-src="'/assets/app/views/utilities/todayWeatherInfoUtility.html'"></div>
                </div>
                <div style="margin-bottom:5px;">
                    <script adSid="336814706671" ads-factor language='JavaScript' type="text/javascript"></script>
                </div>
				<div ng-controller="PNCommunitiesUtilityController" data-ng-show="pnCommunities.length > 0 && userTargetProfile.pn">
                    <div data-ng-include data-src="'/assets/app/views/utilities/pnCommunitiesUtility.html'"></div>
                </div>
  				<div ng-controller="RecommendedCommunityWidgetController" data-ng-show="result.communities.length > 0">
                    <div data-ng-include data-src="'/assets/app/views/utilities/yourFriendsCommunitiesUtility.html'"></div>
				</div>
                <div ng-controller="MyFriendsUtilityController" data-ng-show="result.friends.length > 0">
                    <div data-ng-include data-src="'/assets/app/views/utilities/friendsUtility.html'"></div>
                </div>
                <div>
                    <div data-ng-include data-src="'/assets/app/views/utilities/feedbackCommunityUtility.html'"></div>
                </div>
            </div>
	    </div>
    </div>
</div>

<div data-ng-include data-src="'/assets/app/views/showImageModal.html'"></div>

<div data-ng-include data-src="'/assets/app/views/createCommunityModal.html'"></div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
</div>

<script>
    ga_send_pv();
</script>