<div id="content-uploader" class="general-box tab-content">
    <ul ng-show="community.typ == 'OPEN' || (community.isM == true || community.isO == true)" style="padding:5px;">
        <li>
            <form id="content-upload-wrapper" name="postUpload" class="no-margin no-padding" method="post" action="" >
                <textarea cols="45" rows="2" name="content-upload-input" id="content-upload-input" class="post-input-body inputBoxFocus form-control" placeholder="開心分享!" data-ng-model="postText"></textarea>
				<div style="background-color: white;" ng-show="selectedFiles != null">
					<img class="post-photo-preview" ng-class="{partial_fade: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
						ng-repeat="f in selectedFiles" tooltip-placement="bottom" tooltip="移除相片" data-ng-click="remove_image($index)"
						ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
				</div>
				<div style="width:100px;margin-bottom:3px;" class="post-comment-box pull-right">
				    <input style="visibility:hidden;display:inline-block;width:0px;height:0px;" id="post-photo-id" type="file" name="post-photo" ng-file-select="onFileSelect($files)"/>
    				<a class="post-photo-icon" data-ng-hide="selectedFiles.length >= 3">
                        <i class="icon-photo-camera-fill" data-ng-click="postPhoto()"></i>
                    </a>
                    <button class="btn btn-primary ng-binding" ng-disabled="postUpload.$pristine || (postUpload.$dirty && !postText.length)" type="submit" disabled="disabled" 
                            data-ng-mousedown="post_on_community(community.id, postText); postText='';">
                        分享
                    </button>
                </div>
            </form>
        </li>
    </ul>
</div>

<div infinite-scroll='nextPosts()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1' >	
    <div data-ng-repeat="post in posts.posts">
        <div id="wall-main">
            <div class="general-box">
                <div ng-init="isCommunityPage = true" data-ng-include data-src="'/assets/app/views/post-bar.html'"></div>
            </div>
        </div>
    </div>
    <span ng-show="isBusy" spinner-start-active="1" us-spinner="{top: 'inherit'}"></span>
</div>

<div class="general-box" ng-show="posts.posts.length == 0">
    <div class="section-title">
        <div>
            尚未有分享
        </div>
        <div>
            來發佈第一個分享吧!
        </div>
    </div>
</div>