<div class="btn-group" dropdown style="margin-top:0;margin-left:10px;">
    <button type="button" id="membersDropdownBtn" class="btn btn-primary dropdown-toggle">
        所有地區 ({{allDistricts.length}}) <span class="caret"></span>
    </button>
    <ul id="membersDropdown" class="dropdown-menu" role="menu">
        <li ng-click="applyPNFilter('all')" style="cursor:pointer;">所有地區</li>
        <li ng-click="applyPNFilter(district)" style="cursor:pointer;" ng-repeat="district in allDistricts">{{district}}</li>
    </ul>
</div>
<div class="padding5 row"></div>

<div><h6>*以下資料及日期只供參考。各小萌豆家長可按下面的學校連結到學校官方網站確認。如報名或其他日期有誤，請按 '要求日期更新<i class="glyphicon glyphicon-flag"></i>'，我們會盡快更新</h6></div>

<div ng-show="filteredMyDistrictPNs.length > 0">
    <div class="general-box" ng-show="filteredMyDistrictPNs.length > 0">
        <div class="section-title" style="padding:4px 10px;background-color:#4694D6;color:white;">
            <!--span class="section-icon icon-title-community"></span-->
            <span><b>我的社區 - {{filteredMyDistrictPNs[0].dis}}</b></span>
        </div>
    </div>
</div>

<div class="general-box" ng-repeat="pn in filteredMyDistrictPNs | objFilter:pnFilter">
    <ul class="pn-wrapper" style="padding: 5px 10px 0px 10px;">
        <li>
            <div class="pn-info">
                <a ng-href="{{pn.url}}" target="_blank">
                    {{pn.n}}
                </a>
                <span class="tag" ng-style="{backgroundColor: pn.tagc}">{{pn.dis}}</span>
                <a ng-show="pn.map != null" href="{{pn.map}}" target="_blank"><i class="glyphicon glyphicon-map-marker"></i></a>

                <div class="pn-info-note"><span ng-show="pn.adr">{{pn.adr}}</span></div>
                <div class="pn-info-note"><span ng-show="pn.pho">電話: {{pn.pho}}</span><span ng-show="pn.em"> · 電郵: {{pn.em}}</span></div>
                <div class="pn-info-attr">
                    <span>派表日期: {{pn.fds}}<span ng-show="!pn.fds">--</span></span>
                    <span>報名日期: {{pn.ads}}<span ng-show="!pn.ads">--</span></span>
                    <span>截止日期: {{pn.eds}}<span ng-show="!pn.eds">--</span></span>
                    <div class="pull-right" style="margin:auto auto;">
                        <span style="margin-right:5px;" ng-show="pn.fom">申請表格: <a href="{{pn.fom}}" target="_blank"><i class="glyphicon glyphicon-download-alt"></i></a></span>
                        <span ng-show="userInfo.isLoggedIn" class="btn-like-wrapper" id="request_{{pn.id}}">
                            <a class="btn-like" style="font-size:11px;font-weight:normal;margin:0;" href="" data-ng-click="requestUpdate(pn.id,pn.n,pn.disId)">要求日期更新 <i class="glyphicon glyphicon-flag"></i></a>
                            <span ng-show="pn.ruc > 0"><b> · {{pn.ruc}}</b></span>
                        </span>
                        <span style="font-size:11px;font-weight:normal;margin:0;display:none;" id="thx_{{pn.id}}">多謝您的意見!</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div ng-show="filteredMyDistrictPNs.length > 0">
    <div class="padding5"></div>
    <div class="general-box">
        <div class="section-title" style="padding:4px 10px;background-color:#4694D6;color:white;">
            <!--span class="section-icon icon-title-community"></span-->
            <span><b>其他地區</b></span>
        </div>
    </div>
</div>

<pagination direction-links="false" ng-show="filteredOtherPNs.length > itemsPerPage" total-items="filteredOtherPNs.length" page="currentPage" on-select-page="setPNPage(page)" items-per-page="itemsPerPage"></pagination>
<div class="general-box" ng-repeat="pn in pagedFilteredOtherPNs">
    <ul class="pn-wrapper" style="padding: 5px 10px 0px 10px;">
        <li>
            <div class="pn-info">
                <a ng-href="{{pn.url}}" target="_blank">
                    {{pn.n}}
                </a>
                <span class="tag" ng-style="{backgroundColor: pn.tagc}">{{pn.dis}}</span>
                <a ng-show="pn.map != null" href="{{pn.map}}" target="_blank"><i class="glyphicon glyphicon-map-marker"></i></a>

                <div class="pn-info-note"><span ng-show="pn.adr">{{pn.adr}}</span></div>
                <div class="pn-info-note"><span ng-show="pn.pho">電話: {{pn.pho}}</span><span ng-show="pn.em"> · 電郵: {{pn.em}}</span></div>
                <div class="pn-info-attr">
                    <span>派表日期: {{pn.fds}}<span ng-show="!pn.fds">--</span></span>
                    <span>報名日期: {{pn.ads}}<span ng-show="!pn.ads">--</span></span>
                    <span>截止日期: {{pn.eds}}<span ng-show="!pn.eds">--</span></span>
                    <div class="pull-right" style="margin:auto auto;">
                        <span style="margin-right:5px;" ng-show="pn.fom">申請表格: <a href="{{pn.fom}}" target="_blank"><i class="glyphicon glyphicon-download-alt"></i></a></span>
                        <span ng-show="userInfo.isLoggedIn" class="btn-like-wrapper" id="request_{{pn.id}}">
                            <a class="btn-like" style="font-size:11px;font-weight:normal;margin:0;" href="" data-ng-click="requestUpdate(pn.id,pn.n,pn.disId)">要求日期更新 <i class="glyphicon glyphicon-flag"></i></a>
                            <span ng-show="pn.ruc > 0"><b> · {{pn.ruc}}</b></span>
                        </span>
                        <span style="font-size:11px;font-weight:normal;margin:0;display:none;" id="thx_{{pn.id}}">多謝您的意見!</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<pagination direction-links="false" ng-show="filteredOtherPNs.length > itemsPerPage" total-items="filteredOtherPNs.length" page="currentPage" on-select-page="setPNPage(page)" items-per-page="itemsPerPage"></pagination>

<!--div><h6>*以上資料及日期只供參考。各小萌豆家長可按下面的學校連結到學校官方網站確認。</h6></div-->