<div class="widget bar-shadow-border">
	<div class="widget-head border-bottom bg-gray">
		<h5 class="pull-left margin-none innerAll">
			Groups <span class="text-muted"></span>
		</h5>
		<div class="pull-right">
			<a href="/#/myGroups/groups" class="text-muted"> <label>See All>></label>
			</a>
		</div>
	</div>
	
	
	<div style="float: left; margin-left: 4%; margin-top: 2%;">
	</div>

	<div class="widget-body margin-none">
		<div class="innerAll">
			<a data-ng-href="#/community/{{fvm.id}}" ng-repeat="fvm in result.fvm">
				<div style="float: left;width: 100%">
					<img style="float: left;"
						data-ng-src="/community-mini-image-by-id/{{fvm.id}}" alt="{{fvm.dn}}"
						class="innerR innerB half widget-img-mini">
					<div style="float: left; margin-left: 2%;">
						<p style="color: #0083C5; margin-top: 0%; margin-bottom: 0%;">{{fvm.dn|characters:15:false}} ({{fvm.mm}})</p>
						<div style="width: 100%; float: left;">
							<p style="margin-top: 0%; margin-bottom: 1%; margin-right: 5%; float: left; color: black;"></p>
							<div style="width: 100%; float: left;">
								<p style="margin-top: 0%; margin-bottom: 1%; margin-right: 5%; float: left; color: black;"></p>
								<p style="margin-top: 0%; margin-bottom: 1%; color: gray;" class="ng-binding">Members (1)</p>
							</div>
							<!-- button type="button" class="btn btn-primary btn-mini" data-ng-click="send_request(fvm.id)">Join</button-->
						</div>
					</div>
					
				</div>
			</a>
			
		</div>
	</div>
</div>
