<div id="content-uploader" class="general-box tab-content">
    <ul ng-show="community.isM == true || community.isO == true" style="padding:5px;">
        <li style="margin:0px;">
            <!--a id="upload-post" style="float:left"><b><span class="icon-title-uploader-writePost"></span>Write Posts </b></a>
            <span class="divider-cus"></span-->
            <a id="upload-image"><span class="icon-title-uploader-upImage" ></span><b data-ng-show="selectedFiles.length < 3" data-ng-click="postPhoto()">相片</b></a>
        </li>
        <li>
            <form id="content-upload-wrapper" name="content-upload-wrapper" class="no-margin no-padding" method="post" action="" >
            <textarea cols="45" rows="2" name="content-upload-input" id="content-upload-input" class="post-input-body inputBoxFocus form-control" placeholder="分享些東西吧⋯⋯" data-ng-model="postText"></textarea>
				<div style="background-color: white;" ng-show="selectedFiles != null">
					<img ng-class="{partial_fade: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
						ng-repeat="f in selectedFiles" tooltip-placement="bottom" tooltip="移除相片" style="width: 100px;height: 100px;" data-ng-click="remove_image($index)"
						ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
				</div>
				<div>
				<i data-ng-show="selectedFiles.length < 3" data-ng-click="postPhoto()"></i>
					<button  data-ng-show="postText.length > 2" type="button" class="btn btn-warning btn-xs" data-ng-click="post_on_community(community.id, postText); postText='';">Post</button>
					<input style="visibility:hidden;height:0px;" id="post-photo-id" type="file"  name="post-photo" ng-file-select="onFileSelect($files)"/>
				</div>
            </form>
        </li>
    </ul>
</div>

<div infinite-scroll='nextPost()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='0' >	
    <div data-ng-repeat="post in community.posts">
        <div id="wall-main">
            <div class="general-box">
                <div data-ng-include data-src="'/assets/app/views/post-bar.html'"></div>
            </div>
        </div>
    </div>
    <span ng-show="isBusy" spinner-start-active="1" us-spinner="{top: 'inherit'}"></span>
</div>