<body style="margin:0; background-color:#F4FBFF;">
	        
     <link rel="stylesheet" href="../assets/app/custom-css/friendsCSS.css">
	<header>
			<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/headerBar.html'"></div>
	</header>
	
	<div class="container-fluid menu-hidden">
		<div id="content">
			<div class="innerAll" >
				<div class="row">
					<div class="col-lg-2 col-md-3">
					<div class="row tm">
						<div class="" style="padding: 0px 40px;background-image: url(/assets/app/images/background.jpg);background-repeat:no-repeat;background-size: cover;">
							<div class="widget-body text-center">
								<a> 
									<img src="/community-image-by-id/{{community.i}}" width="120" alt="" class="img-circle">
								</a>
              				</div>
              			</div>
              			</div>
              			<div class="row tm">
              			<div class="bar-shadow-border" style="width: 100%;">
						<div class="widget" style="width: 100%;float: left">
							<div class="widget-head border-bottom bg-gray">
								<h5 class="pull-left margin-none innerAll">
									Description
								</h5>
							</div>
							<div class="widget-body margin-none">
								<div class="innerAll">
									{{community.d}}
								</div>
							</div>
						</div>
					</div>		
						</div>
					</div>
       	    		 <div class="col-lg-8 col-md-6 innerAll">
       	    		 	<div class="row tm">	
							<h2 class="strong margin-none">{{community.n}}</h2>
							<div class="tabsbar tabsbar-2 tm">
								<ul class="row row-merge">
									<li class="col-md-2 glyphicons cargo active"><a href="#tab1-4" data-toggle="tab"><i></i> News Feed</a></li>
									<li class="col-md-2 "><a href="#tab2-4" data-toggle="tab"><i class="icon-group"></i> <span>Members</span></a></li>
									<li class="col-md-2 glyphicons circle_info"><a href="#tab3-4" data-toggle="tab"><i></i> <span> Context</span></a></li>
									<li class="col-md-2 "></li>
									<li class="col-md-2 ">
										
					   					
					   					<div ng-show="community.isM == true && isLoadingEnabled==false && community.isO == false" class="pull-right border-right">
					   						<button class="btn btn-primary" style="background: #0099FF;" data-ng-click="leave_community(community.i)"><i class="fa fa-thumbs-down"></i> Leave</button>
					   					</div>
					   					
					   					<div ng-show="community.isM == false && community.isP == false && isLoadingEnabled==false && community.isO == false" class="pull-right border-right">
					   						<button class="btn btn-primary" style="background: #0099FF;" data-ng-click="send_join(community.i)"><i class="fa fa-user"></i> Join</button>
					   					</div>
					   					
					   					<div ng-show="community.isP == true && isLoadingEnabled==false" class="pull-right border-right">
					   						<button class="btn btn-primary" style="background: #0099FF;" disabled="disabled" ><i class="fa fa-user"></i> Pending Approval</button>
					   					</div>
					   					
					   					<div ng-show="isLoadingEnabled==true" class="pull-right border-right">
					       					<span class="label label-warning" style="font-size: 110% !important;padding: 9px 12px;">
					       						Loading .. 
					       					</span>
					       				</div>	
					   				</li>
									<li class="col-md-2 ">	
  										<div class="pull-right border-right">
	                 						<button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-fw  fa-group"></i> Create New</button>
	                 					</div>
		                 			</li>
								</ul>
							</div>
						</div>	
						
						<tabset class="inboxSectionTab">
    						<tab  heading="Moment">
								<div class="row" ng-show="community.isM" id="post">
									<div data-ng-include style="height: 100px;" data-src="'/assets/app/views/community-post-bar.html'"></div>
								</div>    						
    						</tab>
    						<tab active="mygroups" heading="QnA">
    							<div class="row" ng-show="community.isM" id="qnapost" ng-controller="CreateQnACommunityController">
									<div data-ng-include style="height: 100px;" data-src="'/assets/app/views/community-QnA-bar.html'"></div>
								</div>
    						</tab>
       	    		 	</tabset>
       	    		 </div>
       	    		 <div class="col-lg-2 col-md-3">
              			<div class="row tm">
              				<div class="col-lg-12 col-md-12" ng-controller="CommunityMembersWidgetController">
								<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/membersBar.html'"></div>
						</div>
              			</div>
              			<div class="row tm">
              				<div class="col-lg-12 col-md-12" ng-controller="UnknownCommunityWidgetController">
									<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/communityWidget.html'"></div>
							</div>
              			</div>
       	    		 </div>
        	    </div>
             </div>
          </div>
      </div>
     
 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form ng-controller = "CreateCommunityController"  name="formData" novalidate ng-submit="submit()"  method="post" enctype="multipart/form-data" >				              
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Community</h4>
      </div>
      <div class="modal-body">
            <div class="row tm">
              <div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Community Name: </label>
                   </div>
                   
                   <div class="col-md-8">
                   		<input type="text" class="form-control" placeholder="Community Name" validator="[required]" data-ng-model="formData.name" required >
                   		<label data-ng-show="uniqueName" class="label label-warning">Such name exists! Please Choose Another Name.</label>
                   </div>
                </div>
               </div>
             </div>
             
              <hr style="margin-top: 1%;">
             
             <div class="row tm">
             	  <div class="col-md-12">
                	<div class="row form-group">
               	<div class="col-md-4">
                  		<label> Community Type: </label>
                  	</div>
                  	
                  	<div class="col-md-8">
                  		
                  			<label style="width: 100%">
   								<input type="radio" data-ng-model="formData.communityType" id="optionsRadios1" value="OPEN" >
   								Open
  							</label>
  							<div class="fsm fwn fcg" style="margin-left: 10%;">Request for Join directly granted, without approval.</div>
  							<label>
   								<input type="radio" data-ng-model="formData.communityType" id="optionsRadios2" value="CLOSE" >
   								Closed
  							</label>
  							<div class="fsm fwn fcg"  style="margin-left: 10%;">Admin must approve the request.</div>
                  	</div>
               </div>
             </div>
          </div>
          
           <hr style="margin-top: 1%;">
             
             <div class="row tm">
             	<div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Description: </label>
                   </div>
                   
                   <div class="col-md-8">
                   	<textarea  class="form-control" placeholder="Community Description" validator="[required]" data-ng-model="formData.description" required >
               		 </textarea>
                   </div>
                </div>
               </div>
             </div>
             
              <hr style="margin-top: 1%;">
             
             <div class="row tm">
             	<div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Cover Photo: </label>
                   </div>
                   
                   <div class="col-md-8">
                   	<input type="file" name="cover-photo"  ng-file-select="onFileSelect($files)"/>
                   	<input type="hidden" data-ng-model="formData.photo" validator="[required]" />
                   </div>
                </div>
               </div>
             </div>
                
             
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-disabled="formData.$pristine || formData.$dirty && formData.$invalid" type="submit" class="btn btn-primary"  >
				<span class="glyphicon glyphicon-ok"></span>
				{{submitBtn}}
			</button>
      </div>
      </form>
    </div>
  </div>
</div>

</body>
 <style>
.tabsbar.tabsbar-2 ul li a i {
	top: 2px !important;
}
</style>


