<div infinite-scroll='nextArticles()' infinite-scroll-disabled='isBusyA' infinite-scroll-distance='1'>
    <div data-ng-repeat="article in articles.article">
        <div class="general-box">
            <ul class="allpost-wrapper" style="padding: 5px 10px 0px 10px;">
                <li>
                    <a href="/#/article/id/{{article.id}}" target="_blank">
                        <img ng-show="article.img_url != 'No Image'" data-ng-src="{{article.img_url}}">
                    </a>
                    <div>
                        <a href="/#/article/id/{{article.id}}" target="_blank">
                            <h4 style="color: #324fe1;"><font><font>{{article.nm}}</font></font></h4>
                        </a>
                        <h6>
                            <a class="tag" data-ng-href="/#/article/show/{{article.ct.id}}">
                                <font><font>{{article.ct.name}}</font></font>
                            </a>
                            <font><font>{{article.pd | date:'yyyy'}}</font></font>
                            <font><font>{{article.pd | date:'MMM'}}</font></font>
                            <font><font>{{article.pd | date:'dd hh:mm a'}}</font></font>
                            <span ng-show="article.nov > 0" class="view-count" style="margin-left:10px;"><img data-ng-src="/assets/app/images/general/icons/view.gif"/>{{article.nov}}</span>
                            <span ng-show="article.nol > 0" class="like-count"><img data-ng-src="/assets/app/images/general/icons/liked_1.gif"/>{{article.nol}}</span>
                        </h6>
                        <p><font><font>{{article.lds|limitTo:85}}...</font></font></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>