<header>
	<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/headerBar.html'"></div>
</header>

<div class="themeA-container">
	<div>
	    <div class="col-lg-1 col-md-1 col-xs-1" style="width:3%"></div>
		<div class="col-md-2 col-sm-2 col-xs-2" style="width:20%;">
            <div id="main-uphoto" data-ng-style="set_background_image()">
                <img src="/assets/app/images/general/gradient_black_30.png" alt="gradient-black">
                <a title="user-picture" href="#/about/activities"><img src="/get-thumbnail-image-by-id/{{userInfo.id}}" alt="user-picture"></a>
                <a href="#/about/activities" class="userName">{{userInfo.displayName}}</a>
            </div>
			<!--ProfilePicture End -->
			<div ng-controller="AnnouncementsWidgetController">
                <div ng-init="niceScroll()" data-ng-include data-src="'/assets/app/views/announcementsWidget.html'"></div>
            </div>
			<!--Announce End -->
			<div>
                <div id="myShortcuts" class="general-box">
                    <div class="con-title">
                        <a href="/#/" class="text-muted">
                            <img src="/assets/app/images/general/icons/newsfeed.png">我的社群動向
                        </a>
                    </div>
                </div>
            </div>
            <!--Newsfeed shortcut End -->
			<div ng-controller="UserCommunityWidgetController" data-ng-show="result.fvm.length > 0">
                <div ng-init="niceScroll()" data-ng-include data-src="'/assets/app/views/myCommunityWidget.html'"></div>
            </div>
            <!--MyCommunity End -->
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6" style="width:50%;">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div id="community-header">
					<ul>
						<li><img 
							id="community-banner" data-ng-src="{{coverImage}}" />
							<div class="memberImageStar">
							 <a
							data-ng-show="community.isO"
							data-ng-click="openGroupCoverPhotoModal(community.id)" alt="Change"
							title="Change"
							style="margin: -235px 0px 0px 7px; position: absolute;right: 515px; top: -34px;" href=""><img
								src="/assets/app/images/edit.png" /></a></div></li>
						<li id="community-header-menu">
							<!--div class="h5">
								<img src="{{community.icon}}"><b>{{community.n}}</b>
							</div-->
							<div class="divider-cus" ng-show="false"></div>
							<div ng-class="{activeTabBold: selectedTab == 1}">
								<a ng-click="selectedTab = 1;">最新訊息</a>
							</div>
							<div class="divider-cus"></div>
							<div ng-class="{activeTabBold: selectedTab == 2}">
								<a ng-click="selectedTab = 2;">成員</a>
							</div>
							<!-- <div class="divider-cus"></div>
							<div ng-class="{activeBold: selectedTab == 3}">
								<a ng-click="selectedTab = 3;">Photo Contest</a>
							</div> -->
							<div class="dropdown pull-right ">
								<a class="toolsbox toolsbox-start" data-toggle="dropdown">訊息通知</a> 
								<a class="toolsbox toolsbox-end  dropdown-toggle" data-toggle="dropdown"><span class="icon-title-contentSetup"></span></a>
								<ul class="subtoolsbox dropdown-menu">
									<li><a>所有訊息</a></li>
									<li><a>關閉</a></li>
								</ul>
							</div>
							<p id="community-header-name" class="ng-binding">{{community.n}}</p>
						</li>
					</ul>
				</div>
			</div>
			<!--Community Header End -->
			<div id="wall">
				<div class="tab-content col-md-12 col-sm-12 col-xs-12" ng-show="selectedTab == 1 ">
					<div class="general-box" style="margin:-1px">
						<div class="wall-title">
							<!--span class="wall-icon icon-title-community"></span-->
							<span style="margin-left:15px;">
    							<a ng-click="selectedTab1 = 1; searchQuery = '';" ng-class="{activeTabUnderlined: selectedTab1 == 1}">
                                    <font style="color: white;">問題</font>
    							</a>
							</span>
							<!--span class="wall-icon icon-title-friendwall"></span-->
							<span style="margin-left:15px;">
    							<a ng-click="selectedTab1 = 2; searchQuery = '';" ng-class="{activeTabUnderlined: selectedTab1 == 2}">
                                    <font style="color: white;">分享</font>
                                </a>
                            </span>
							<a ng-click="selectedTab1 = 3;" id="contentSearchwrapper" class="pull-right ng-pristine ng-valid" ng-class="{activeTabUnderlined: selectedTab1 == 3}">
                                <div class="basic-search-wrapper">
                                    <div class="input-group innerB basic-search">
                                        <input type="text" class="form-control" ng-model="searchQuery" placeholder="">
                                        <div class="input-group-btn">
                                           <button class="btn btn-default" type="button" ng-click="search_trigger = searchQuery">
                                               <i class="fa fa-search"></i>
                                           </button>
                                        </div>
                                    </div>
                                </div>
							</a>
						</div>
					</div>
					<div class="tab-content"
                        ng-show="selectedTab1 == 1" id="qnapost"
                        ng-controller="CreateQnACommunityController">
                        <div data-ng-include style="height: 100px;"
                            data-src="'/assets/app/views/community-QnA-bar.html'"></div>
                    </div>
                    <div class="tab-content"
						ng-show="selectedTab1 == 2" id="post">
						<div data-ng-include style="height: 100px;"
							data-src="'/assets/app/views/community-post-bar.html'"></div>
					</div>
					<div class="tab-content"
						data-ng-show="selectedTab1 == 3" id="srchbar"
						data-ng-controller="SearchPageController">
						<input data-ng-model="search_trigger" type="hidden">
						<div data-ng-include style="height: 100px;"
							data-src="'/assets/app/views/community-search-bar.html'"></div>
					</div>
				</div>
				<div class="tab-content row" ng-show="selectedTab == 2 ">
					<div data-ng-controller="CommunityMembersWidgetController"
						data-ng-include style="width: 100%; height: 50px;"
						data-src="'/assets/app/views/allMembersSection.html'"></div>
				</div>
			</div>
			<!--Wall End -->
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4 " style="width: 25%;">
			<div class="row">
				<!--button class="btn-general-b pull-right" data-toggle="modal"
					data-target="#myModal">
					<h4 style="display: inline;">+</h4>
					Create a group
				</button>
				<button ng-show="!community.isO && community.isM == true"
					class="btn-general-b pull-right"
					data-ng-click="leave_community(community.id)">
					<i class="fa fa-thumbs-down"></i> Leave
				</button>
				<button
					ng-show="!community.isO && community.isM == false && community.isP == false"
					class="btn-general-b pull-right"
					data-ng-click="send_join(community.id)">
					<i class="fa fa-user"></i> Join
				</button>
				<button ng-show="!community.isO && community.isP == true"
					class="btn-general-b pull-right" disabled="disabled">
					<i class="fa fa-user"></i> Pending
				</button-->
				
				<a style="margin:0 8px 8px 0" class="btn-general pull-right" data-toggle="modal" data-target="#myModal">建立社群</a>
				<a style="margin:0 8px 8px 0" ng-show="!community.isO && community.isM == true" class="btn-general pull-right" data-ng-click="leave_community(community.id)">退出社群</a>
				<a style="margin:0 8px 8px 0" ng-show="!community.isO && community.isM == false && community.isP == false" class="btn-general pull-right" data-ng-click="send_join(community.id)">+ <i class="fa fa-user"></i> 加入社群</a>
                <a style="margin:0 8px 8px 0" ng-show="!community.isO && community.isP == true" class="btn-general pull-right" disabled="disabled"">已送出加入邀請</a>
			</div>
			<div id="about" class="general-box">
				<div class="con-title">
					<span class="icon-box icon-box-blueLight icon-title-profile-about"></span>關於
					<div class="pull-right">
						<a ng-click="selectedTab = 2;">{{community.nom}}位成員</a>
						<p data-ng-show="community.typ=='CLOSE'" class="small">不公開的社群</p>
						<p data-ng-show="community.typ=='OPEN'" class="small">公開的社群</p>
					</div>
				</div>

				<div class="content-wrapper">
					<ul>
						<pre>{{community.d}}</pre>
					</ul>
				</div>
				<div class="content-wrapper">
					<ul>
						<li>
							<form id="commun-add-member-wrapper"
								name="commun-add-member-wrapper" method="post" action="">
								<label for="Add Member"></label> <input type="text"
									name="add-member-field" id="add-member-field"
									class="general-textfield general-input-box" data-ng-model="searchQuery1"
									data-ng-keyup="search_unjoined_users(community.id, searchQuery1)"
									placeholder="+ 邀請新成員" />
								<div>
									<div class="row">
										<ul
											class="col-lg-12 col-md-11 col-sd-11 dropdown-menu chat media-list hide"
											ng-class="{show : nonMembers.length > 0 && searchQuery1.length > 0}"
											style="overflow-y: scroll; max-height: 244px;">
											<li class="media" ng-repeat="sr in nonMembers"
												ng-switch="sr.tp" style="margin-top: 2% !important;">
												<!-- shows user section --> <a class="pull-left"
												href="#/profile/{{sr.id}}"> <img
													class="media-object thumb"
													data-ng-src="/get-mini-image-by-id/{{sr.id}}" alt="50x50"
													width="50" />
											</a>

												<div class="media-body">
													<h5 class="media-heading">
														{{sr.nm}} <i
															data-ng-click="send_invite_to_join(community.id, sr.id)"
															class="fa fa-plus-square pull-right"></i>
													</h5>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</form>
						</li>
					</ul>
				</div>
			</div>
			<div ng-controller="RecommendedCommunityWidgetController" data-ng-show="result.fvm.length > 0">
				<div data-ng-include style="width: 100%;" data-src="'/assets/app/views/utilities/algo/yourFriendsCommunitiesUtility.html'"></div>
			</div>
			<!--NewCommunity End -->
		</div>
	</div>
</div>

<div class="modal fade lightbox" id="myModal" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <form ng-controller = "CreateCommunityController"  name="formData" novalidate ng-submit="submit()"  method="post" enctype="multipart/form-data" >				              
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Community</h4>
      </div>
      <div class="modal-body">
            <div class="row tm">
              <div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Community Name: </label>
                   </div>
                   
                   <div class="col-md-8">
                   		<input type="text" class="form-control" placeholder="Community Name" validator="[required]" data-ng-model="formData.name" required >
                   		<label data-ng-show="uniqueName" class="label label-warning">Such name exists! Please Choose Another Name.</label>
                   </div>
                </div>
               </div>
             </div>
             
              <hr style="margin-top: 10px; margin-bottom: 10px;">
             
             <div class="row tm">
             	  <div class="col-md-12">
                	<div class="row form-group">
               	<div class="col-md-4">
                  		<label> Community Type: </label>
                  	</div>
                  	
                  	<div class="col-md-8">
                  		
                  			<label style="width: 100%">
   								<input type="radio" data-ng-model="formData.communityType" id="optionsRadios1" value="OPEN" ng-checked="true">
   								Open
  							</label>
  							<div class="fsm fwn fcg" style="margin-left: 10%;">Request for Join directly granted, without approval.</div>
  							<label>
   								<input type="radio" data-ng-model="formData.communityType" id="optionsRadios2" value="CLOSE" >
   								Closed
  							</label>
  							<div class="fsm fwn fcg"  style="margin-left: 10%;">Admin must approve the request.</div>
                  	</div>
               </div>
             </div>
          </div>

			 <hr style="margin-top: 10px; margin-bottom: 10px;">
             
             <div class="row tm">
             	  <div class="col-md-12">
                	<div class="row form-group">
               			<div class="col-md-4">
                  			<label> Community Icon: </label>
                  		</div>
                  	
                  		<div class="col-md-8">
                  			<li class="col-md-12 dropdown">
	                  			<div class="form-control dropdown-toggle">
	                  				<img class="pull-left media-object" data-ng-src={{icon_chosen}} width="25">
	                  				<div class="media-body">
								       	<p class="margin-none pull-right">{{icon_text}}</p>
								    </div>
	    							<div data-ng-if="!isChosen" data-ng-init="isChosen=false">
	    								Please select icon
	    							</div>
	  							</div>
		                  		<ul class="dropdown-menu chat media-list" style="left:2%; width: 96%;">
									<li class="media" data-ng-repeat="icon in IconsToSelects" style="margin-top: 10px; margin-bottom: 10px;">
								        <a href="" data-ng-click="select_icon(icon.url, icon.name)">
								        	<img class="pull-left media-object" data-ng-src="{{icon.url}}" alt="50x50" width="25" >
								        	<input type="hidden" data-ng-model="formData.iconName" required>
											<div class="media-body">
								            	<p class="margin-none pull-right">{{icon.name}}</p>
								        	</div>							        	
								        </a>
									</li>
						      	</ul>
						      </li>
                  		</div>
                  	</div>
               </div>
             </div>
          
           <hr style="margin-top: 10px; margin-bottom: 10px;">
             
             <div class="row tm">
             	<div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Description: </label>
                   </div>
                   
                   <div class="col-md-8">
                   	<textarea  class="form-control" placeholder="Community Description" data-ng-model="formData.description" >
               		 </textarea>
               		 	<label ng-show="formData.description.length < 6" class="control-label error" style="color: #a94442;" >Minimun 6 character.</label>
               		 	<label ng-show="formData.description.length > 1400" class="control-label error" style="color: #a94442;" > Maximum 1400 character.</label>
                   </div>
                </div>
               </div>
             </div>
             
              <hr style="margin-top: 10px; margin-bottom: 10px;">
             
             <div class="row tm">
             	<div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Cover Photo: </label>
                   </div>
                   
                   <div class="col-md-8">
                   	<input type="file" name="cover-photo"  ng-file-select="onFileSelect($files)"/>
                   	<input type="hidden" data-ng-model="formData.photo" validator="[required]" />
                   </div>
                </div>
               </div>
             </div>
                
             
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-disabled="formData.$pristine || formData.$dirty && formData.$invalid" type="submit" class="btn btn-primary"  >
				<span class="glyphicon glyphicon-ok"></span>
				{{submitBtn}}
			</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade lightbox" id="imageModal" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      		<div>
        		<img data-ng-src="/get-original-post-image-by-id/{{img_id}}" alt="" style="max-width: 100%;">
        	</div>
      </div>
    </div>
  </div>
</div>

<div id="back-to-top" ng-controller="UIController">
    <a ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
</div>
    
<style>
.container-fluid {
	background: inherit !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
	margin-right: auto;
	margin-left: auto;
}
#content{
	background: inherit !important;	
}
</style>  
    
    <script type="text/ng-template" id="change-profile-photo-modal.html">
      <div class="modal-header">
        <button type="button" ng-click="close()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Photo</h4>
      </div>
      <div class="modal-body">

        <input type="file" ng-file-select="onFileSelect($files)" >
         
         <div ng-file-drop="onFileSelect($files)" class="drop-box" ng-show="dropSupported">drop files here</div>
        
         <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
		
		 <br/>
		 <br/>
		 <div ng-show="selectedFiles != null">
			<div class="sel-file" ng-repeat="f in selectedFiles">
				<button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">Start</button>
				<button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>
				{{f.name}} - size: {{f.size}}B - type: {{f.type}}
			</div>
		 </div>
		 <div class="response" ng-show="uploadResult.length > 0">
			<ul>
				<li ng-repeat="result in uploadResult">
					<ul>
						<li ng-repeat="item in result.result">
							<div data-ng-show="item.name">file name: {{item.name}}</div>
							<div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
							<div data-ng-show="item.size">size on the serve: {{item.size}}</div>
							<div data-ng-show="item.value">value: {{item.value}}</div>
						</li>
					</ul>
					<div data-ng-show="result.requestHeaders" class="reqh">request headers: {{result.requestHeaders}}</div>
				</li>
			</ul>
		 </div>

      </div>
      <div class="modal-footer">
        
      </div>
	  
</script>
