
 
 
 <link rel="stylesheet" href="../assets/app/custom-css/themeA.min.css">
 <link rel="stylesheet" href="../assets/app/custom-css/friendsCSS.css">
	

<style type="text/css">
	.partial_fade {
		opacity: 0.6 !important;
	}
	
	.ui-match { background: rgba(88, 144, 255, .15); border-bottom: 1px solid rgba(88, 144, 255, .3);}
</style>

<header>
	<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/headerBar.html'"></div>
</header>

<div class="themeA-container">
	<div >
		<div class="col-md-2 col-sm-2 col-xs-2" style="width: 20%;">
			<div id="uPhoto-wrapper" data-ng-style="set_background_image()">
				<div id="uPhoto-wrapper-gradient">
					<div id="uPicture">
						<a href="#">
							<img src="/get-thumbnail-image-by-id/{{userInfo.id}}" alt="user photo">
						</a>
						<label class="userName">{{userInfo.displayName}}</label>
					</div>
				</div>
			</div>
			<!--ProfilePicture End -->
			<div id="announce" class="general-box">
				<div class="con-title">
					<span class="icon-box icon-box-red icon-title-announce"></span>
					<a href="#">通知大家</a>
				</div>
				<div class="content-wrapper">
					<ul>
						<li><a href="#">超級英雄的時尚觸覺：6 大經典英雄服</a></li>
						<li><a href="#">你的歐洲時裝專家 名意網 MAGin Online Shop 全新網上購物體驗</a></li>
						<li><a href="#">超級英雄的時尚觸覺：6 大經典英雄服</a></li>
						<li><a href="#">你的歐洲時裝專家 名意網 MAGin Online Shop 全新網上購物體驗</a></li>
						<li><a href="#">超級英雄的時尚觸覺：6 大經典英雄服</a></li>
					</ul>
				</div>
			</div>
			<!--Announce End -->
			<div id="forum" class="general-box">
				<div class="con-title">
					<span class="icon-box icon-box-orange icon-title-forum"></span><a
						href="#">討論區</a>
				</div>
				<div class="content-wrapper">
					<ul>
						<li><a href="#" class="tag">[甜品]</a><a href="#">超級英雄的時尚觸覺：6
								大經典英雄服</a></li>
						<li><a href="#" class="tag">[甜品]</a><a href="#">你的歐洲時裝專家
								名意網 MAGin Online Shop 全新網上購物體驗</a></li>
						<li><a href="#" class="tag">[甜品]</a><a href="#">超級英雄的時尚觸覺：6
								大經典英雄服</a></li>
						<li><a href="#" class="tag">[甜品]</a><a href="#">你的歐洲時裝專家
								名意網 MAGin Online Shop 全新網上購物體驗</a></li>
						<li><a href="#" class="tag">[甜品]</a><a href="#">超級英雄的時尚觸覺：6
								大經典英雄服</a></li>
						<li><a href="#" class="tag">[甜品]</a><a href="#">超級英雄的時尚觸覺：6
								大經典英雄服</a></li>
						<li><a href="#" class="tag">[甜品]</a><a href="#">你的歐洲時裝專家
								名意網 MAGin Online Shop 全新網上購物體驗</a></li>
						<li><a href="#" class="tag">[甜品]</a><a href="#">超級英雄的時尚觸覺：6
								大經典英雄服</a></li>
						<li><a href="#" class="tag">[甜品]</a><a href="#">你的歐洲時裝專家
								名意網 MAGin Online Shop 全新網上購物體驗</a></li>
						<li><a href="#" class="tag">[甜品]</a><a href="#">超級英雄的時尚觸覺：6
								大經典英雄服</a></li>
					</ul>
				</div>
			</div>
			<!--Forum End -->

			<div id="myCommunity" class="general-box"
				ng-controller="UserCommunityWidgetController">
				<div class="con-title">
					<span class="icon-box icon-box-blueDark icon-title-community"></span><a
						href="/#/myGroups/myGroups"><font><font class="">My
								Community</font></font></a>
				</div>
				<div class="content-wrapper">
					<ul>
						<li ng-repeat="fvm in allResult.fvm"><span class="icon-box">
								<img class="pull-left media-object" alt=""
								data-ng-src="{{fvm.gi}}" style="width: 85%">
						</span><a data-ng-href="#/community/{{fvm.id}}"><font><font>{{fvm.dn|characters:15:false}}</font></font></a></li>
					</ul>
				</div>
			</div>


			<!-- <div id="myCommunity" class="general-box">
                <div ng-controller="UserCommunityWidgetController">
					<div id="myCommunity" class="general-box">
		                <div class="con-title">
		                    <a href="/#/myGroups/myGroups" class="text-muted"><span class="icon-box icon-box-blueDark icon-title-community"></span>My Community
		                    </a>
		                </div>
		                <div id="div1" class="innerAll" style="overflow-y: scroll;height: 150px;">
			                    <a data-ng-href="#/community/{{fvm.id}}" ng-repeat="fvm in allResult.fvm">
								<div style="float: left;width: 110%" >
									<img class="pull-left media-object" alt="" data-ng-src="{{fvm.gi}}" style="width: 15%">
									<div style="width: 60%; float: left; margin-left: 2%;">
										<p  style="color: #0083C5; margin-top: 0%; margin-bottom: 0%;">{{fvm.dn|characters:15:false}}</p>
									</div>
								</div>
							</a>
		                </div>
           			</div>
				</div>	
            </div> -->
			<!--MyCommunity End -->
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6" style="width: 50%;">
			<div id="community-header">
				<ul>
					<li><img style="height: 250px; width: 560px;"
						id="community-banner" data-ng-src="{{coverImage}}" /> <a
						data-ng-show="community.isO"
						data-ng-click="openGroupCoverPhotoModal(community.i)" alt="Change"
						title="Change"
						style="margin: -245px 0px 0px 7px; position: absolute;" href=""><img
							src="/assets/app/images/edit.png" /></a></li>
					<li id="commun-header-menu">
						<div class="h5">
							<b>{{community.n}}</b>
						</div>
						<div class="divider-cus"></div>
						<div ng-class="{active: selectedTab == 1}">
							<a ng-click="selectedTab = 1;">Activity</a>
						</div>
						<div class="divider-cus"></div>
						<div ng-class="{active: selectedTab == 2}">
							<a ng-click="selectedTab = 2;">Members</a>
						</div>
						<div class="divider-cus"></div>
						<div ng-class="{active: selectedTab == 3}">
							<a ng-click="selectedTab = 3;">Photo Contest</a>
						</div>
						<div class="dropdown pull-right">
							<a class="toolsbox toolsbox-start"">Notice</a> <a
								class="toolsbox toolsbox-end btn dropdown-toggle"
								data-toggle="dropdown" href="#"><span
								class="icon-title-contentSetup"></span></a>
							<ul class="subtoolsbox dropdown-menu">
								<li><a>All Posts</a></li>
								<li><a>off</a></li>
							</ul>
						</div>


					</li>



				</ul>
			</div>
			<!--Community Header End -->
			<div id="wall">
				<div class="general-box">
					<div class="wall-title">
						<span class="wall-icon icon-title-friendwall">
						</span><a ng-click="selectedTab1 = 1;">
						<font style="color: white;" ng-class="{activeTab: selectedTab1 == 1}">Moments</font> </a>
						<span class="wall-icon icon-title-community">
						</span><a	ng-click="selectedTab1 = 2;">
						<font style="color: white;"	ng-class="{activeTab: selectedTab1 == 2}">Questions</font> </a>
						<span class="wall-icon" data-ng-init="isSearch = true"><i class="fa fa-search" style="color: white;"></i>
						</span><a ng-click="selectedTab1 = 3;">
						<font style="color: white;" ng-class="{activeTab: selectedTab1 == 3}">Search</font></a>
					</div>
				</div>

				<div class="tab-content row" ng-show="selectedTab == 1 ">
					<div class="tab-content row"
						ng-show="selectedTab1 == 1 && community.isM" id="post">
						<div data-ng-include style="height: 100px;"
							data-src="'/assets/app/views/community-post-bar.html'"></div>
					</div>
					<div class="tab-content"
						ng-show="selectedTab1 == 2 && community.isM" id="qnapost"
						ng-controller="CreateQnACommunityController">
						<div data-ng-include style="height: 100px;"
							data-src="'/assets/app/views/community-QnA-bar.html'"></div>
					</div>
					<div class="tab-content"
						ng-show="selectedTab1 == 3 && community.isM"
						ng-controller="SearchPageController">
						<div data-ng-include style="height: 100px;"
							data-src="'/assets/app/views/community-search-bar.html'"></div>
					</div>
				</div>
				<div class="tab-content row" ng-show="selectedTab == 2 ">
					<div data-ng-controller="CommunityMembersWidgetController"
						data-ng-include style="width: 100%; height: 50px;"
						data-src="'/assets/app/views/allFriendsSection.html'"></div>
				</div>





			</div>
			<!--Wall End -->
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4 " style="width: 30%;">
			<button class="btn-general-b pull-right" data-toggle="modal"
				data-target="#myModal">
				<h4 style="display: inline;">+</h4>
				Create a group
			</button>
			<button ng-show="!community.isO && community.isM == true"
				class="btn-general-b pull-right"
				data-ng-click="leave_community(community.i)">
				<i class="fa fa-thumbs-down"></i> Leave
			</button>
			<button
				ng-show="!community.isO && community.isM == false && community.isP == false"
				class="btn-general-b pull-right"
				data-ng-click="send_join(community.i)">
				<i class="fa fa-user"></i> Join
			</button>
			<button ng-show="!community.isO && community.isP == true"
				class="btn-general-b pull-right" disabled="disabled">
				<i class="fa fa-user"></i> Pending
			</button>
			<div id="about" class="general-box">
				<div class="con-title">
					<span class="icon-box icon-box-blueLight icon-title-profile-about"></span><a
						href="#">About</a>
					<div class="pull-right">
						<a href="#">{{community.nom}} Members</a>
						<p data-ng-show="community.typ=='CLOSE'" class="small">Closed
							Community</p>
						<p data-ng-show="community.typ=='OPEN'" class="small">Open
							Community</p>
					</div>
				</div>

				<div class="content-wrapper" style="height: 200px;">
					<ul>
						<li>{{community.d}}</li>
					</ul>
				</div>

			</div>
			<!--About End -->

			<div id="about" style="height: 36px; border: white;">
				<div class="content-wrapper">
					<ul>
						<li>
							<form id="commun-add-member-wrapper"
								name="commun-add-member-wrapper" method="post" action="">
								<label for="Add Member"></label> <input type="text"
									name="commun-add-member" id="commun-add-member"
									class="general-input-box" data-ng-model="searchQuery"
									data-ng-keyup="search_unjoined_users(community.i, searchQuery)"
									placeholder="+ Invite New Members" style="width: 90%;" />
								<div>
									<div class="row">
										<ul
											class="col-lg-12 col-md-11 col-sd-11 dropdown-menu chat media-list hide"
											ng-class="{show : nonMembers.length > 0 && searchQuery.length > 0}"
											style="overflow-y: scroll; max-height: 244px;">
											<li class="media" ng-repeat="sr in nonMembers"
												ng-switch="sr.tp" style="margin-top: 2% !important;">
												<!-- shows user section --> <a class="pull-left"
												href="#/profile/{{sr.id}}"> <img
													class="media-object thumb"
													data-ng-src="/get-mini-image-by-id/{{sr.id}}" alt="50x50"
													width="50" />
											</a>

												<div class="media-body">
													<h5 class="media-heading">
														{{sr.nm}} <i
															data-ng-click="send_invite_to_join(community.i, sr.id)"
															class="fa fa-plus-square pull-right"></i>
													</h5>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</form>
						</li>
					</ul>
				</div>
			</div>

			<div id="newCommunity" class="row tm">
				<div class="col-lg-12 col-md-12"
					ng-controller="UnknownCommunityWidgetController">
					<div data-ng-include style="width: 100%;"
						data-src="'/assets/app/views/communityWidget.html'"></div>
				</div>
			</div>
			<!--NewCommunity End -->
		</div>
	</div>
</div>

<div class="modal fade" id="myModal" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <form ng-controller = "CreateCommunityController"  name="formData" novalidate ng-submit="submit()"  method="post" enctype="multipart/form-data" >				              
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Community</h4>
      </div>
      <div class="modal-body">
            <div class="row tm">
              <div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Community Name: </label>
                   </div>
                   
                   <div class="col-md-8">
                   		<input type="text" class="form-control" placeholder="Community Name" validator="[required]" data-ng-model="formData.name" required >
                   		<label data-ng-show="uniqueName" class="label label-warning">Such name exists! Please Choose Another Name.</label>
                   </div>
                </div>
               </div>
             </div>
             
              <hr style="margin-top: 1%;">
             
             <div class="row tm">
             	  <div class="col-md-12">
                	<div class="row form-group">
               	<div class="col-md-4">
                  		<label> Community Type: </label>
                  	</div>
                  	
                  	<div class="col-md-8">
                  		
                  			<label style="width: 100%">
   								<input type="radio" data-ng-model="formData.communityType" id="optionsRadios1" value="OPEN" >
   								Open
  							</label>
  							<div class="fsm fwn fcg" style="margin-left: 10%;">Request for Join directly granted, without approval.</div>
  							<label>
   								<input type="radio" data-ng-model="formData.communityType" id="optionsRadios2" value="CLOSE" >
   								Closed
  							</label>
  							<div class="fsm fwn fcg"  style="margin-left: 10%;">Admin must approve the request.</div>
                  	</div>
               </div>
             </div>
          </div>

			 <hr style="margin-top: 1%;">
             
             <div class="row tm">
             	  <div class="col-md-12">
                	<div class="row form-group">
               			<div class="col-md-4">
                  			<label> Community Icon: </label>
                  		</div>
                  	
                  		<div class="col-md-8">
                  			<li class="col-md-12 dropdown">
	                  			<div class="form-control dropdown-toggle">
	                  				<img class="pull-left media-object" data-ng-src={{icon_chosen}} width="25">
	                  				<div class="media-body">
								       	<p class="margin-none pull-right">{{icon_text}}</p>
								    </div>
	    							<div data-ng-if="!isChosen" data-ng-init="isChosen=false">
	    								Please select icon
	    							</div>
	  							</div>
		                  		<ul class="dropdown-menu chat media-list" style="left:2%; width: 96%;">
									<li class="media" data-ng-repeat="icon in IconsToSelects" style="margin-top: 1%;">
								        <a href="" data-ng-click="select_icon(icon.url, icon.name)">
								        	<img class="pull-left media-object" data-ng-src="{{icon.url}}" alt="50x50" width="25" >
								        	<input type="hidden" data-ng-model="formData.iconName" >
											<div class="media-body">
								            	<p class="margin-none pull-right">{{icon.name}}</p>
								        	</div>							        	
								        </a>
									</li>
						      	</ul>
						      </li>
                  		</div>
                  	</div>
               </div>
             </div>
          
           <hr style="margin-top: 1%;">
             
             <div class="row tm">
             	<div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Description: </label>
                   </div>
                   
                   <div class="col-md-8">
                   	<textarea  class="form-control" placeholder="Community Description" data-ng-model="formData.description" data-ng-maxlength=1400 required >
               		 </textarea>
                   </div>
                </div>
               </div>
             </div>
             
              <hr style="margin-top: 1%;">
             
             <div class="row tm">
             	<div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Cover Photo: </label>
                   </div>
                   
                   <div class="col-md-8">
                   	<input type="file" name="cover-photo"  ng-file-select="onFileSelect($files)"/>
                   	<input type="hidden" data-ng-model="formData.photo" validator="[required]" />
                   </div>
                </div>
               </div>
             </div>
                
             
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-disabled="formData.$pristine || formData.$dirty && formData.$invalid" type="submit" class="btn btn-primary"  >
				<span class="glyphicon glyphicon-ok"></span>
				{{submitBtn}}
			</button>
      </div>
      </form>
    </div>
  </div>
</div>
 <style>

.activeTab{
    font-weight: bold;
    text-decoration:underline;
}

.container-fluid {
	padding-right: 0px !important;
	padding-left: 0px !important;
	margin-right: auto;
	margin-left: auto;
}

</style>  
  
    
    <script type="text/ng-template" id="change-profile-photo-modal.html">
      <div class="modal-header">
        <button type="button" ng-click="close()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Photo</h4>
      </div>
      <div class="modal-body">

        <input type="file" ng-file-select="onFileSelect($files)" >
         
         <div ng-file-drop="onFileSelect($files)" class="drop-box" ng-show="dropSupported">drop files here</div>
        
         <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
		
		 <br/>
		 <br/>
		 <div ng-show="selectedFiles != null">
			<div class="sel-file" ng-repeat="f in selectedFiles">
				<img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
				<button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">Start</button>
				<span class="progress" ng-show="progress[$index] >= 0">						
					<div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
				</span>				
				<button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>
				{{f.name}} - size: {{f.size}}B - type: {{f.type}}
			</div>
		 </div>
		 <div class="response" ng-show="uploadResult.length > 0">
			<ul>
				<li ng-repeat="result in uploadResult">
					<ul>
						<li ng-repeat="item in result.result">
							<div data-ng-show="item.name">file name: {{item.name}}</div>
							<div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
							<div data-ng-show="item.size">size on the serve: {{item.size}}</div>
							<div data-ng-show="item.value">value: {{item.value}}</div>
						</li>
					</ul>
					<div data-ng-show="result.requestHeaders" class="reqh">request headers: {{result.requestHeaders}}</div>
				</li>
			</ul>
		 </div>

      </div>
      <div class="modal-footer">
        
      </div>
	  
</script>
