
<!-- 
<textarea class="form-control" placeholder="Ask Question here!" data-ng-model="questionText"></textarea>
<div style="background-color: white;" ng-show="QnASelectedFiles != null">
		<img ng-class="{partial_fade: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
		ng-repeat="f in QnASelectedFiles" style="width: 100px;height: 100px;" ng-show="dataUrls[$index]" 
		ng-src="{{dataUrls[$index]}}" tooltip-placement="bottom" tooltip="delete it!" data-ng-click="remove_image($index)">
</div>

<div>
	<i data-ng-show="QnASelectedFiles.length < 1" data-ng-click="postPhoto()"  style="color: cadetblue;" class="fa fa-camera"></i>
	<button data-ng-show="questionText.length > 3" type="button" class="btn btn-warning btn-xs" data-ng-click="ask_question_community(community.i, questionText)">ask it!</button>
	<input style="visibility: hidden;" id="QnA-photo-id" type="file"  name="post-photo" ng-file-select="onQnAFileSelect($files)"/>
</div> -->

<div  class="content-uploader" class="tab-content" >
                        <ul ng-show="community.isM || community.isO == true">
                            <li>
                                <a id="upload-post" ><b><span class="icon-title-uploader-writePost"></span>Write Posts </b></a>
                                <span class="divider-cus"></span>
                                <a id="upload-image"><b><span class="icon-title-uploader-upImage" ></span><i data-ng-show="QnASelectedFiles.length < 1" data-ng-click="postPhoto()">Add photos</i></b></a>
                            </li>
                            <li>
                                <form id="content-upload-wrapper" name="content-upload-wrapper" class="no-margin no-padding" method="post" action="" >
                                <textarea cols="45" rows="2" name="content-upload-input" id="content-upload-input" class="postBox general-input-box form-control" placeholder="Ask Question here!" data-ng-model="questionText"></textarea>
                                
                                
									<div style="background-color: white;" ng-show="QnASelectedFiles != null">
										<img ng-class="{partial_fade: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
										ng-repeat="f in QnASelectedFiles" style="width: 100px;height: 100px;" ng-show="dataUrls[$index]" 
										ng-src="{{dataUrls[$index]}}" tooltip-placement="bottom" tooltip="delete it!" data-ng-click="remove_image($index)">
									</div>
									<div>
									<i data-ng-show="QnASelectedFiles.length < 1" data-ng-click="postPhoto()"></i>
										<button  data-ng-show="questionText.length > 3" type="button" class="btn btn-warning btn-xs" data-ng-click="ask_question_community(community.i, questionText)">ask it!</button>
										<input style="visibility: hidden;" id="QnA-photo-id" type="file"  name="post-photo" ng-file-select="onQnAFileSelect($files)"/>
									</div>
                                
                                </form>
                                
                            </li>
                        </ul>
                    </div>


<div infinite-scroll='nextPost()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1'>	
	<div class="widget" data-ng-repeat="post in QnA.posts">
		<div id="wall-forum">
			      <div class="general-box">
			          <ul>
			              <li><img class="wall-userpic" data-ng-src="/get-thumbnail-image-by-id/{{post.oid}}" /><p class="wall-user-actState"><a data-ng-href="/#/profile/{{post.oid}}" style="color: #428bca !important;">{{post.p}}</a><span class="wall-user-actState-from"></span><a data-ng-href="/#/community/{{post.cid}}" style="color: #428bca !important;">{{post.cn}}</a></p><span class="wall-user-actState-ask" am-time-ago="post.t"></span><div id="wall-forum-info"><span class="shortcut-box text-center">?</span><!-- <span class="wall-forum-post-checked">1925191</span><span class="wall-forum-post-reply">{{post.n_c}}</span> --></div></li>
			              <li><p class="wall-user-post-text">{{post.pt}}</p>
			              	   <div data-ng-show="post.hasImage" class="innerAll">
									<p class="lead"></p>
									<a data-ng-repeat="imageID in post.imgs" href="">
										<img width="90" data-ng-src="/get-post-image-by-id/{{imageID}}" alt="" class="img-post">
									</a>
							   </div>
			              </li>
			          </ul>
			          <ul>
			              <ul>
			                  <li data-ng-repeat="comment in post.cs"><div class="pull-right"><img class="wall-userpic" data-ng-src="/get-thumbnail-image-by-id/{{comment.oid}}"/><span class="wall-user-actState-date" am-time-ago="comment.cd"></span></div><div class="comment-box-height"><p class="user-comment"><a href="/#/profile/{{comment.oid}}">{{comment.on}}</a><pre>{{comment.d}}</pre></div>
			                  <li ng-show="post.n_c > 3" data-ng-click="get_all_comments(post.id)"><a href="">View all</a></li>
			              </ul>
			          <li>
			          		<a><img class="wall-userpic" data-ng-src="/get-thumbnail-image-by-id/{{userInfo.id}}"/></a>
		                     <form id="userCommentwrapper" name="userComment" method="post" action="">
		                      	<label for="User Comment"></label>
		                     	<textarea class="form-control commentBox" name="userCommentfield" id="userCommentfield" placeholder="Write a comment..." data-ng-model="commentText" rows="1"></textarea>
		                      	<span data-ng-show="commentText.length>1" class="pull-right"><i class="icon-reply-all-fill fa fa-2x " data-ng-click="answer_to_question(post.id, commentText)"></i></span>
		                     </form>
			          </li>
			          </ul>
			      </div>
		</div>
	</div>

<span ng-show="isBusy" spinner-start-active="1" us-spinner="{top: 'inherit'}" ></span>
</div>

<style type="text/css">
	.partial_fade {
		opacity: 0.6 !important;
	}
</style>