<!-- <div class="widget bar-shadow-border">
	<div class="widget-head border-bottom bg-gray">
		<h5 class="pull-left margin-none innerAll">
			Groups <span class="text-muted"></span>
		</h5>
		<div class="pull-right">
			<a href="/#/myGroups/groups" class="text-muted"> <label>See All>></label>
			</a>
		</div>
	</div>
	
	
	<div style="float: left; margin-left: 4%; margin-top: 2%;">
	</div>

	<div class="widget-body margin-none">
		<div class="innerAll" style="overflow-y: scroll;height: 200px;" >
			<div infinite-scroll='nextGroups()' style="overflow: scroll;height: 200px;" infinite-scroll-disabled='isBusy' infinite-scroll-distance='1'>
				<a data-ng-href="#/community/{{fvm.id}}" ng-repeat="fvm in result.fvm">
					<div style="float: left;width: 100%">
						<img style="float: left;"
							data-ng-src="/community-mini-image-by-id/{{fvm.id}}" alt="{{fvm.dn}}"
							class="innerR innerB half widget-img-mini">
						<div style="float: left; margin-left: 2%;">
							<p style="color: #0083C5; margin-top: 0%; margin-bottom: 0%;">{{fvm.dn|characters:15:false}} ({{fvm.mm}})</p>
							<div style="width: 100%; float: left;">
								<p style="margin-top: 0%; margin-bottom: 1%; margin-right: 5%; float: left; color: black;"></p>
								<div style="width: 100%; float: left;">
									<p style="margin-top: 0%; margin-bottom: 1%; margin-right: 5%; float: left; color: black;"></p>
									<p style="margin-top: 0%; margin-bottom: 1%; color: #77737E;" class="ng-binding">Members (1)</p>
								</div>
								button type="button" class="btn btn-primary btn-mini" data-ng-click="send_request(fvm.id)">Join</button
							</div>
						</div>
						
					</div>
				</a>
				
				<button data-ng-show="!noMoreResult" data-ng-click="nextGroups()" >see more</button>
			</div>
		</div>
	</div>
</div>



 -->
 
 
 <style type="text/css">
 	.check_mark {
 		color: #25ad9f !important;
 		position: relative;
 		top: 0px;
 		left: 30px;
 	}
 </style>
 
 <div id="newCommunity" class="general-box">
     <div class="con-title">
         <span class="icon-box icon-box-green icon-title-newcommunity"></span><a href="/#/about/communities/" class="text-muted">Recommended Communities</a><a href="/#/about/communities/" style="float: right;">See All</a>
     </div>
     <ul class="newCommunity-info">
         <li ng-repeat="fvm in result.fvm"><img src="/community-mini-image-by-id/{{fvm.id}}"><p><a href="#/community/{{fvm.id}}/moment"><b><font><font style="color: #428bca;">{{fvm.dn|characters:15:false}}</font></font></b></a><br>
         <span class="community-attribute"><font><font data-ng-show="fvm.tp=='OPEN'">Open Community</font><font data-ng-show="fvm.tp=='CLOSE'">Closed Community</font></font></span><span class="community-member-counter"><font>{{fvm.mm}} members</font></span></p>
         <span data-ng-show="fvm.isP" class="check_mark"><i class="fa fa-check-square fa-2x"></i></span>
         <a ng-show="!fvm.isP" class="btn-general" data-ng-click="send_request(fvm.id)">Join</a></li>
     </ul>
 </div>
 
 
 <!-- 
 <div id="newCommunity" class="general-box">
                <div class="con-title">
                    <span class="icon-box icon-box-green icon-title-newcommunity"></span><a href="#">New Community</a>
                    <div class="pull-right">
                    	<a href="/#/myGroups/groups" class="text-muted"><i class="fa fa-2x fa-th-large"></i></a>
					</div>
                </div>
                <div class="photo-wrapper-A">
                    <ul class="photo-list">
                        <li ng-repeat="fvm in result.fvm"><a data-ng-href="#/community/{{fvm.id}}" ><p class="photo-title-B">{{fvm.dn}}</p><span class="mask-100percent-height"></span><img src="/community-image-by-id/{{fvm.id}}" width="175" height="125"></a></li>
                    </ul>
                </div>
            </div> -->