<input type="text" class="form-control" placeholder="Share your mood" data-ng-model="postText">

<div style="background-color: white;" ng-show="selectedFiles != null">
	<img ng-class="{partial_fade: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
		ng-repeat="f in selectedFiles" tooltip-placement="bottom" tooltip="delete it!" style="width: 100px;height: 100px;" data-ng-click="remove_image($index)"
			ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
</div>
<div>
	<i data-ng-show="selectedFiles.length < 3" data-ng-click="postPhoto()"  style="color: cadetblue;" class="fa fa-camera"></i>
	<button  data-ng-show="postText.length > 2" type="button" class="btn btn-warning btn-xs" data-ng-click="post_on_community(community.i, postText)">post it!</button>
	
	<input style="visibility: hidden;" id="post-photo-id" type="file"  name="post-photo" ng-file-select="onFileSelect($files)"/>
</div>

<div infinite-scroll='nextPost()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1'>	
<div class="widget" data-ng-repeat="post in community.posts">
	<div class="bg-primary" style="background: #0099FF !important;">
		<div class="media">
			<a href="" class="pull-left">
				<img data-ng-src="/get-thumbnail-image-by-id/{{post.oid}}" width="60" class="media-object">
			</a>
			<div class="media-body innerTB">
				<a href="#" class="pull-right innerT innerR text-white">
					<i class="icon-reply-all-fill fa fa-2x "></i>
				</a>
				<a href="" class="text-white display-block">{{post.p}}</a>
				<span>posted on {{post.t | date: 'MMMM dd, yyyy'}} <i class="icon-time-clock"></i></span>
			</div>
		</div>
	</div>
	
	<div class="innerAll">
		<p ng-bind-html="post.pt| highlight: highlightText"></p>
	</div>
	
	<div data-ng-show="post.hasImage" class="innerAll">
		<p class="lead"></p>
		<a data-ng-repeat="imageID in post.imgs" href="">
			<img width="90" data-ng-src="/get-post-image-by-id/{{imageID}}" alt="" class="img-post">
		</a>
	</div>
	
	<div data-ng-click="get_all_comments(post.id)" class="bg-gray innerAll border-top border-bottom text-small ">
		<span>View all <a href="" class="text-primary">{{post.n_c}} Comments</a></span>
	</div>
	
	<div data-ng-repeat="comment in post.cs" class="media border-bottom margin-none bg-gray">
		<a href="" class="pull-left innerAll half">
			<img data-ng-src="/get-thumbnail-image-by-id/{{comment.oid}}" width="60" class="media-object">
		</a>
		<div class="media-body innerTB">
			<a href="#" class="pull-right innerT innerR text-muted">
				<i class="icon-reply-all-fill fa fa-2x "></i>
			</a>
			<a href="" class="strong text-inverse">{{comment.on}}</a>  <small class="text-muted ">wrote on {{comment.cd | date: 'dd MMM, yyyy'}}</small>
			<div ng-bind-html="comment.d | highlight: highlightText"></div>

		</div>
	</div>
	
	<input type="text" class="form-control" placeholder="Comment here..." data-ng-model="commentText">
	<button type="button" class="btn btn-warning btn-xs" data-ng-click="comment_on_post(post.id, commentText)">comment</button>
</div>

<span ng-show="isBusy" spinner-start-active="1" us-spinner="{top: 'inherit'}" ></span>
</div>

<style type="text/css">
	.partial_fade {
		opacity: 0.6 !important;
	}
	
	.ui-match { background: rgba(88, 144, 255, .15); border-bottom: 1px solid rgba(88, 144, 255, .3);}
</style>