



<div infinite-scroll='search_and_highlight(highlightQuery)' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1' style="margin-left: 1%;">	
<div  data-ng-repeat="post in community.posts">
<div id="wall-forum">
		<div class="general-box">
			<ul>
	            <li><img class="wall-userpic" data-ng-src="/get-thumbnail-image-by-id/{{post.oid}}"/><p class="wall-user-actState"><a href="#" style="color: #428bca !important;">{{post.p}}</a><span class="wall-user-actState-from"></span><a href="#" style="color: #428bca !important;">{{post.cn}}</a><span class="wall-user-actState-share"></span></p><span class="wall-user-actState-date">{{post.t}}</span><span class="wall-user-actState-time"></span></li>
	            <li><p ng-bind-html="post.pt| highlight: highlightText" class="wall-user-post-text"></p></li>
	            
       		</ul>
	   
		   	<ul class="wall-user-post-respond">
	             
	             <li data-ng-click="get_all_comments(post.id)"><a href="">View {{post.n_c}} more comments</a></li>
	             <ul>
	                 <li data-ng-repeat="comment in post.cs"><img class="wall-userpic" data-ng-src="/get-thumbnail-image-by-id/{{comment.oid}}"/><div><p class="user-comment"><a href="#" style="color: #428bca !important;">{{comment.on}}</a><span  ng-bind-html="comment.d | highlight: highlightText"></span></p><span class="wall-user-actState-date">{{comment.cd| date: 'dd MMM, yyyy'}}</span><span class="wall-user-actState-time">15:25</span><a class="btn-like" href="#" style="color: #428bca !important;">Like</a></div></li>
	             </ul>
	             <li><a><img class="wall-userpic" data-ng-src="/get-thumbnail-image-by-id/{{userInfo.id}}"/></a>
	             		<form id="userCommentwrapper" name="userComment">
		                     <label for="User Comment"></label>
		                     <textarea name="userCommentfield" id="userCommentfield" placeholder="Write a comment..." rows="1" data-ng-model="commentText"></textarea>
		                     <!-- <input id="submit-userComment" name="submit" type="button" data-ng-click="comment_on_post(post.id, commentText)"/> -->
		                     <span class="pull-right"><i class="icon-reply-all-fill fa fa-2x " data-ng-click="comment_on_post(post.id, commentText)"></i></span>
	                    </form>
	              </li>
	         </ul>
		</div>
		</div>
	</div>

<span ng-show="isBusy" spinner-start-active="1" us-spinner="{top: 'inherit'}" ></span>
</div>

<style type="text/css">
	.partial_fade {
		opacity: 0.6 !important;
	}
	
	.ui-match { background: rgba(88, 144, 255, .15); border-bottom: 1px solid rgba(88, 144, 255, .3);}
</style>
