<div class="btn-group" dropdown style="margin-top: 2%;margin-left: 10px;">
	<button type="button" id="membersDropdownBtn" class="btn btn-primary dropdown-toggle" ng-show="showMembers">
    	成員 ({{result.sn}}) <span class="caret"></span>
    </button>
    <button type="button" id="membersDropdownBtn" class="btn btn-primary dropdown-toggle" ng-show="showAdmin">
    	管理員 <span class="caret"></span>
    </button>
    <ul id="membersDropdown" class="dropdown-menu" role="menu">
    	<li data-ng-click="getAllMembers()" style="cursor:pointer;" ng-show="community.typ != 'BUSINESS'">成員 ({{result.sn}})</li>
    	<li data-ng-click="getAllMembers()" style="cursor:pointer;" ng-show="community.typ == 'BUSINESS'">喜愛 ({{result.sn}})</li>
        <li data-ng-click="getAdmin()" style="cursor:pointer;">管理員 </li>
    </ul>
</div>
<a id="membersSearchwrapper" class="pull-right" style="margin-right: 9%;">
	<div class="basic-search-wrapper">
		<div class="input-group innerB basic-search">
    		<input type="text" class="form-control" ng-model="query" placeholder="搜尋成員">
        	<div class="input-group-btn">
           		<button class="btn btn-default" type="button">
               		<i class="fa fa-search"></i>
           		</button>
        	</div>
    	</div>
	</div>
</a>
<div class="padding10"></div>

<div class="memberCard" ng-repeat="member in result.members | filter:query " ng-show="showMembers">
 	<a href="/#/profile/{{member.id}}" class="d-s ob">
    	<div class="memberImageBox">
        	<img class="img-clean" data-toggle="tooltip" data-placement="top" data-tooltip="{{member.dn}}" data-ng-src="/image/get-thumbnail-image-by-id/{{member.id}}" alt="..." width="70px" height="70px">
        	<img class="memberImageStar" ng-show="member.isAdmin" data-ng-src="/assets/app/images/general/icons/star.png"/>
        </div>
	</a>
    <div class="memberTagBox">
    	<div class="memberTag">
        	<a href="/#/profile/{{member.id}}" class="memberTagRef"><span class="memberName">{{member.dn}}</span></a>
        	<span class="memberType" ng-show="member.isAdmin">管理員</span>
        </div>
    </div>
</div>
<div class="memberCard" ng-repeat="member in result.members | filter:query " ng-show="showAdmin && member.isAdmin">
 	<a href="/#/profile/{{member.id}}" class="d-s ob">
    	<div class="memberImageBox">
        	<img class="img-clean" data-toggle="tooltip" data-placement="top" data-tooltip="{{member.dn}}" data-ng-src="/image/get-thumbnail-image-by-id/{{member.id}}" alt="..." width="70px" height="70px">
        	<img class="memberImageStar" ng-show="member.isAdmin" data-ng-src="/assets/app/images/general/icons/star.png"/>
        </div>
	</a>
    <div class="memberTagBox">
    	<div class="memberTag">
        	<a href="/#/profile/{{member.id}}" class="memberTagRef">
        	<span class="memberName">{{member.dn}}</span></a><span class="memberType" ng-show="member.isAdmin">管理員</span>
        </div>
    </div>
</div>
	