<div id="content-uploader" class="general-box tab-content" >
    <ul ng-show="community.isM == true || community.isO == true" style="padding:5px;">
        <li>
            <form id="content-upload-wrapper" name="qnaUpload" class="no-margin no-padding" method="post" action="" >
                <textarea cols="45" rows="1" class="post-input-title general-input-box form-control" placeholder="問題 / 分享⋯⋯" data-ng-model="questionTitle" ng-required></textarea>
                <textarea cols="45" rows="2" name="content-upload-input" id="content-upload-input" class="post-input-body general-input-box form-control" placeholder="加些詳情" data-ng-model="questionText" ng-required></textarea>
				<div style="background-color: white;" ng-show="QnASelectedFiles != null">
					<img class="post-photo-preview" ng-class="{partial_fade: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
					ng-repeat="f in QnASelectedFiles" ng-show="dataUrls[$index]" 
					ng-src="{{dataUrls[$index]}}" tooltip-placement="bottom" tooltip="移除相片" data-ng-click="remove_image($index)">
				</div>
				<div style="width:100px;margin-bottom:3px;" class="post-comment-box pull-right">
                    <input style="visibility:hidden;display:inline-block;width:0px;height:0px;" id="QnA-photo-id" type="file" name="post-photo" ng-file-select="onQnAFileSelect($files)"/>
                    <a class="post-photo-icon" data-ng-hide="QnASelectedFiles.length >= 3">
                        <i class="icon-photo-camera-fill" data-ng-mousedown="postPhoto()"></i>
                    </a>
                    <button class="btn btn-primary ng-binding" ng-disabled="qnaUpload.$pristine || (qnaUpload.$dirty && (!questionText.length || !questionTitle.length))" type="submit" disabled="disabled" 
                            data-ng-mousedown="ask_question_community(community.id, questionTitle, questionText); questionTitle=''; questionText='';">
                        發出
                    </button>
                </div>
            </form>
        </li>
    </ul>
</div>

<div infinite-scroll='nextPosts()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1'>	
    <div data-ng-repeat="post in QnAs.posts">
        <div id="wall-main">
            <div class="general-box">
                <div ng-init="isCommunityPage = true" data-ng-include data-src="'/assets/app/views/qna-bar.html'"></div>
            </div>
        </div>
    </div>
    <span ng-show="isBusy" spinner-start-active="1" us-spinner="{top: 'inherit'}" ></span>
</div>

<div class="general-box" ng-show="QnAs.posts.length == 0">
    <div class="section-title">
        <div>
            尚未有話題
        </div>
        <div>
            發表第一個話題吧!
        </div>
    </div>
    <div class="section-title" ng-show="community.posts.length > 0">
        <div>
            或立即査看分享
            <!--a ng-click="selectedSubTab = 2;">査看分享</a-->
        </div>
    </div>
</div>