<div class="modal fade lightbox" id="createCommunityModal" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <form ng-controller="CreateCommunityController" name="formData" id="formData" ng-submit="submit()" method="post" enctype="multipart/form-data" >				              
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-fw fa-group"></i> 建立社群</h4>
          </div>
          
          <div class="modal-body">
                <div class="row">
                    <hr style="margin-top: 0px; margin-bottom: 10px;">
                  <div class="col-md-12">
                    <div class="row form-group">
                        <div class="col-md-4">
                       	    <label> 社群名稱: </label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="community_name" id="community_name" style="height:30px;" class="form-control" placeholder="名稱" data-ng-model="formData.name" required>
                       	    <label data-ng-show="uniqueName" class="error">名稱已被選用。請重新輸入名稱。</label>
                        </div>
                    </div>
                   </div>
                </div>
                 
                <hr style="margin-top: 10px; margin-bottom: 10px;">
                 
                 <div class="row">
                 	  <div class="col-md-12">
                    	<div class="row form-group">
                   	<div class="col-md-4">
                      		<label> 你要建立哪一種社群？: </label>
                      	</div>
                      	
                      	<div class="col-md-8">
                  			<label style="width: 100%">
   								<input type="radio" data-ng-model="formData.communityType" id="optionsRadios1" value="OPEN" ng-checked="true">
   								公開
  							</label>
  							<div class="fsm fwn fcg" style="margin-left:10%;">任何人都可以加入這個社群並查看分享內容</div>
  							<label>
   								<input type="radio" data-ng-model="formData.communityType" id="optionsRadios2" value="CLOSE">
   								不公開
  							</label>
  							<div class="fsm fwn fcg" style="margin-left:10%;">只有獲邀或被認可的成員才能加入這個社群並查看分享內容</div>
  							<label>
                                <input type="radio" data-ng-model="formData.communityType" id="optionsRadios3" value="BUSINESS">
                                專頁
                            </label>
                            <div class="fsm fwn fcg" style="margin-left:10%;">商戶專頁。只有管理員可發佈。任何人都可以查看專頁發佈並對發佈留言</div>
                      	</div>
                   </div>
                 </div>
              </div>
    
    			 <hr style="margin-top: 10px; margin-bottom: 10px;">
                 
                 <div class="row">
                 	  <div class="col-md-12">
                    	<div class="row form-group">
                   			<div class="col-md-2" style="width:100px;">
                      			<label> 選擇一個圖示: </label>
                      		</div>
                      	
                      		<div class="col-md-2" style="width:52px;padding:0px;margin:0px;">
                      			<div class="col-md-12 dropdown">
    	                  			<div class="form-control dropdown-toggle" style="padding:4px 2px;">
    	                  				<img class="pull-left media-object" data-ng-src={{icon_chosen}} width="25">
    	    							<div data-ng-if="!isChosen" data-ng-init="isChosen=false">
    	    								<!-- 圖示 -->
    	    							</div>
    	  							</div>
    		                  		<ul class="dropdown-menu icon-dropdown">
                                        <li data-ng-repeat="icon in icons">
                                            <a style="padding:0px;" href="" data-ng-click="select_icon(icon.url, icon.name)">
                                                <img style="width:25px;" data-ng-src="{{icon.url}}"/>
                                                <input type="hidden" name="icon_url" id="icon_url" data-ng-model="formData.icon" required>
                                            </a>
                                        </li>
    						        </ul>
    						    </div>
                      		</div>
                      	</div>
                   </div>
                 </div>
              
               <hr style="margin-top: 10px; margin-bottom: 10px;">
                 
                 <div class="row">
                 	<div class="col-md-12">
                    <div class="row form-group">
                   	
                   	<div class="col-md-4">
                       	<label> 關於這個社群: </label>
                       </div>
                       
                       <div class="col-md-8">
                       	<textarea name="community_desc" id="community_desc" class="form-control" placeholder="簡介" data-ng-model="formData.description" required>
                   		 </textarea>
                   		 	<!--label ng-show="formData.description.length < 5" class="error" style="color: #a94442;" >最少5個字</label-->
                   		 	<label ng-show="formData.description.length > 1000" class="error" style="color: #a94442;" >最多1000個字</label>
                       </div>
                    </div>
                   </div>
                 </div>
                 
                  <hr style="margin-top: 10px; margin-bottom: 10px;">
                 
                 <div class="row">
                 	<div class="col-md-12">
                    <div class="row form-group">
                   	
                   	<div class="col-md-4">
                       	<label> 選擇封面相片: </label>
                       </div>
                       
                       <div class="col-md-8">
                       	<input type="file" name="cover-photo" id="cover-photo" ng-file-select="onFileSelect($files)"/>
                       	<input type="hidden" name="cover_photo" id="cover_photo" data-ng-model="formData.photo" validator="[required]" required valid-file/>
                       </div>
                    </div>
                   </div>
                 </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button ng-disabled="formData.$pristine || formData.$dirty && formData.$invalid" type="submit" class="btn btn-primary">
    			{{submitBtn}}
    		</button>
          </div>
      </form>
    </div>
  </div>
</div>