
	<header>
			<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/headerBar.html'"></div>
	</header>
	
	<div class="container-fluid menu-hidden">
		<div id="content">
			<div class="innerAll">
				<div class="row">
					<div class="col-lg-9 col-md-8">
						<div class="timeline-cover">	
							<div class="widget cover image">
								<div class="widget-body padding-none margin-none">
									<div class="top">
											<div class="top">
												<img data-ng-src="/get-cover-community-image-by-id/{{community.i}}" class="img-responsive" />
											</div>	
									</div>
				                </div>
				              </div>
				            </div>
				        </div>
				          <div class="panel panel-default  col-lg-9 col-md-8">
							<form name="formData" novalidate ng-submit="submit()"  method="post" enctype="multipart/form-data" >				              
				              <div class="row tm">
				                <div class="col-md-12">
				                  <div class="row form-group">
					                	
					                	<div class="col-md-6">
					                    	<label>Community Name: </label>
					                    </div>
					                    
					                    <div class="col-md-6">
					                    	<input type="text" class="form-control" placeholder="Community Name" validator="[required]" data-ng-model="formData.groupName" required >
					                    </div>
				                  </div>
				                 </div>
				               </div>
				               
				               <div class="row tm">
				               	<div class="col-md-12">
				                  <div class="row form-group">
					                	
					                	<div class="col-md-6">
					                    	<label>Description: </label>
					                    </div>
					                    
					                    <div class="col-md-6">
					                    	<textarea  class="form-control" placeholder="Community Description" validator="[required]" data-ng-model="formData.groupDesc" required >
						               		 </textarea>
					                    </div>
				                  </div>
				                 </div>
				               </div>
				               
				               <div class="row tm">
				               	<div class="col-md-12">
				                  <div class="row form-group">
					                	
					                	<div class="col-md-6">
					                    	<label>Cover Photo: </label>
					                    </div>
					                    
					                    <div class="col-md-6">
					                    	<input type="file" name="cover-photo"  ng-file-select="onFileSelect($files)"/>
					                    	<input type="hidden" data-ng-model="formData.photo" validator="[required]" />
					                    </div>
				                  </div>
				                 </div>
				               </div>
				                  
				               <div class="row tm">
				               	<div class="col-md-12">
					              	<button ng-disabled="formData.$pristine || formData.$dirty && formData.$invalid" type="submit" class="btn btn-primary" >
										<span class="glyphicon glyphicon-ok"></span>
										{{submitBtn}}
									</button>
								</div>	
							   </div>
						  </form>
						</div>
					</div>
     		 	</div>
    		</div>
  		</div>

<div>
<script type="text/ng-template" id="change-profile-photo-modal.html">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Profile Photo</h4>
      </div>
      <div class="modal-body">

        <input type="file" ng-file-select="onFileSelect($files)" >
         
         <div ng-file-drop="onFileSelect($files)" class="drop-box" ng-show="dropSupported">drop files here</div>
        
         <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
		
		 <br/>
		 <br/>
		 <div ng-show="selectedFiles != null">
			<div class="sel-file" ng-repeat="f in selectedFiles">
				<img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
				<button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">Start</button>
				<span class="progress" ng-show="progress[$index] >= 0">						
					<div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
				</span>				
				<button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>
				{{f.name}} - size: {{f.size}}B - type: {{f.type}}
			</div>
		 </div>
		 <div class="response" ng-show="uploadResult.length > 0">
			<ul>
				<li ng-repeat="result in uploadResult">
					<ul>
						<li ng-repeat="item in result.result">
							<div data-ng-show="item.name">file name: {{item.name}}</div>
							<div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
							<div data-ng-show="item.size">size on the serve: {{item.size}}</div>
							<div data-ng-show="item.value">value: {{item.value}}</div>
						</li>
					</ul>
					<div data-ng-show="result.requestHeaders" class="reqh">request headers: {{result.requestHeaders}}</div>
				</li>
			</ul>
		 </div>

      </div>
      <div class="modal-footer">
        
      </div>
	  
</script>
</div>