<header>
    <div data-ng-include style="width:100%;" data-src="'/assets/app/views/header-bar.html'"></div>
</header>

<div class="themeA-container">
    <div data-ng-include data-src="'/assets/app/views/nav-bar.html'"></div>
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2" style="width:100px;"></div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="width:480px;">
            <div id="game-box" class="box-a">
                <h4>每日簽到</h4>
                <div class="sign-in">
                    <span style="margin-right:10px;">立即簽到累積小豆豆!</span> 
                    <a class="btn btn-general btn-sign-in" href="" ng-show="userInfo.enableSignInForToday" ng-click="signInForToday();">
                        <img style="height:28px;width:auto;" src="/assets/app/images/game/sign_in.png"></img>
                    </a>
                    <a class="btn btn-general btn-signed-in" href="" ng-show="!userInfo.enableSignInForToday">
                        <img style="height:28px;width:auto;" src="/assets/app/images/game/signed_in.png"></img>
                    </a>
                </div>
                <div class="padding10"></div>
                
                <h4>我的小豆豆</h4>
                <div class="game-details">
                    <div>
                        活力級別: <span class="points">L{{userInfo.gameLevel || '--'}} <img src="{{userInfo.gameLevelIcon}}"></span>
                        <span style="font-size:12px;color:#666;">( 活力值: {{gameAccount.acpt || '--'}} )</span>
                    </div>
                    <div>
                        小豆豆總數: <span class="points">{{gameAccount.gmpt || '--'}}</span>
                    </div>
                    <div>
                        小豆豆已兌換數: <span class="points">{{userInfo.rdpt || '--'}}</span>
                    </div>
                </div>
                <div class="padding10"></div>
                
                <h4>小豆豆記錄表 (最近30個記錄)</h4>
                <ul class="record">
                    <li ng-repeat="transaction in gameTransactions"> 
                        {{transaction.tt | date:'yyyy-M-dd HH:mm'}} {{transaction.td}}獲得<span ng-show="transaction.tp < 0">-</span>{{transaction.tp}}個小豆豆
                    </li>
                </ul>
                
                <div><img src="/assets/app/images/frontpage/topic_footer_a.jpg" /></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="width:310px;">
            <div data-ng-controller="GameController">
                <div ng-init="hideStats = true" data-ng-include data-src="'/assets/app/views/widgets/my-profile-widget.html'"></div>
            </div>
            <div class="ads-factor-300x250">
                <script adSize="300250" adSid="842233366698" ads-factor language='JavaScript' type="text/javascript"></script>
            </div>
            <div class="ads-factor-1x1">
                <script adSize="11" adSid="247393906697" ads-factor language='JavaScript' type="text/javascript"></script>
            </div>
        </div>
    </div>
    <div class="ads-factor-728x90" style="margin-top:20px;">
        <script adSize="72890" adSid="684802916819" ads-factor language='JavaScript' type="text/javascript"></script>
    </div>
</div>

<div data-ng-include data-src="'/assets/app/views/showImageModal.html'"></div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
</div>

<script>
    ga_send_pv();
</script>