<div id="header" class="header-wrapper no-glow navbar hidden-print navbar-default box main navbar-fixed-top" id="nav_bar" role="navigation" style="top:0px; height: 42px;">
    <a class="header-logo pull-left" href="#">
        <img src="../assets/app/images/logo-1.png" />
    </a>
    <ul class="header-notif-bar pull-left">
        <li class="dropdown notif pull-left" >
            <a href="" class="dropdown-toggle dropdown-hover" data-toggle="dropdown">
                <img class="colorChange" src="../assets/app/images/general/icons/w_profile.png" /  data-ng-click="mark_requests_read();">
                <span class="notif-count pull-right" data-ng-show="unread_request_count > 0">{{unread_request_count}}</span>
            </a>
            <ul class="dropdown-menu chat media-list" data-ng-show="request_notif.length > 0" style="top: 28px !important;" >
                <li class="media" data-ng-repeat="request in request_notif" ng-switch="request.tp">
                    
                    <a class="pull-left" ng-href="{{request.url.onClick}}" style="height: 50px;">
                     	<img class="media-object thumb" data-ng-src="{{request.url.photo}}"  style="height: 50px; width: 60px;" width="50">
                    </a>
                    <div class="media-body">
                        <p class="margin-none">{{request.msg}}</p>
                    </div>
                    <div class="media-body" data-ng-init="request.isLoadingEnable = false">
                    
                        <button ng-switch-when="COMMUNITY_JOIN_REQUEST"  data-ng-show="request.isRequestAccepted == false && request.isLoadingEnable == false" data-ng-init="request.isRequestAccepted = false"
                            data-ng-click="accept_join_request(request.url.actor, request.url.target, request.nid);$event.stopPropagation();" 
                            class="btn btn-xs btn-success pull-right a_{{request.nid}}">accept</button>
                            
                        <button ng-switch-when="COMMUNITY_INVITE_REQUEST" data-ng-show="request.isRequestAccepted == false && request.isLoadingEnable == false" data-ng-init="request.isRequestAccepted = false"
                            data-ng-click="accept_invite_request(request.url.actor, request.url.target, request.nid);$event.stopPropagation();" 
                            class="btn btn-xs btn-success pull-right a_{{request.nid}}">accept</button>
                            
                        <button ng-switch-when="FRIEND_REQUEST" data-ng-init="friend.isFriendAccepted = false"
                            data-ng-click="accept_friend_request(request.url.actor, request.nid);$event.stopPropagation();" 
                            class="btn btn-xs btn-success pull-right a_{{request.nid}}">accept</button>
                            
                       <button data-ng-hide="request.tp == 'COMMUNITY_JOIN_APPROVED' || request.tp == 'FRIEND_ACCEPTED'" style="margin-right: 15px;"
                            data-ng-click="ignoreIt(request.nid);$event.stopPropagation();" 
                            class="btn btn-xs btn-success pull-right ignore">ignore</button>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown notif pull-left">
            <a href="" class="dropdown-toggle dropdown-hover" data-toggle="dropdown">
                <img class="colorChange" src="../assets/app/images/general/icons/w_notification.png" data-ng-click="mark_notif_read();"/>
                <span class="notif-count pull-right" data-ng-show="isNOreaded == true && unread_notify_count > 0">{{unread_notify_count}}</span>
            </a>
            <ul class="dropdown-menu chat media-list" data-ng-show="batchup_notif.length > 0" style="top: 28px !important;overflow-y: scroll;max-height: 285px;">
                <li data-ng-class="request.sta == 0 ? 'unread':'read' " class="media" data-ng-repeat="request in batchup_notif" >
                    
                    <a class="pull-left" data-ng-href="{{request.url.onClick}}" style="height: 50px;">
                    	<img class="media-object thumb" data-ng-src="{{request.url.photo}}"  style="height: 50px; width: 60px;" width="50">
                    </a>
                    <div class="media-body">
                        <p class="margin-none">{{request.msg}}</p>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown notif pull-left">
            <a href="/#/message/0">
                <img class="colorChange" src="../assets/app/images/general/icons/w_message.png"/>
                <span class="notif-count pull-right" data-ng-show="unread_msg_count > 0">{{unread_msg_count}}</span>
            </a>
        </li>
    </ul>
    
    <form method="post" action="">
        <div id="main-search-box" name="main-search-box" class="pull-left" data-ng-controller="SearchController" >
            <a id="main-search-wrapper" class="ng-pristine ng-valid">
                <div class="input-group innerB main-search">
                    <input type="text" name="searchfield" id="searchfield" class="form-control" ng-model="query" data-ng-keyup="search_result(query)" placeholder="">
                    <div class="input-group-btn">
                       <button id="submit-search" name="submit" class="btn btn-default" type="submit">
                           <i class="fa fa-search"></i>
                       </button>
                    </div>
                </div>
            </a>
            
            <div class="row">
                <ul style="top:23px;left:5px;overflow-y:scroll;max-height:345px;width:260px;" class="dropdown-menu chat media-list hide" ng-class="{show : result.length > 0 && query.length > 0}">
                    <li class="media" ng-repeat="sr in result" ng-switch="sr.tp">
                        <a ng-switch-when="USER" class="pull-left" href="#/profile/{{sr.id}}">
                            <img class="media-object thumb" data-ng-src="/image/get-mini-image-by-id/{{sr.id}}" alt="50x50" width="50"/>
                        </a>
                        
                        <a ng-switch-when="COMMUNITY" class="pull-left" href="#/community/{{sr.id}}/question">
                            <img class="media-object thumb" data-ng-src="/image/get-mini-cover-community-image-by-id/{{sr.id}}" alt="50x50" width="50"/>
                        </a>
                        
                        <div class="media-body">
                            <h5 class="media-heading">{{sr.nm}}</h5>
                            <p class="margin-none">{{sr.tp}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    
    <div class="right-side">
        <a class="header-main-text" href="#">
            主頁
        </a>
        <a class="header-main-text" ng-href="#/about/activities">
            {{username}}
        </a>
        <!--a href="#"><img src="../assets/app/images/general/icons/w_home.png" /></a-->
        <a style="position:relative;top:-3px;" class="dropdown-toggle dropdown-hover colorChange" data-toggle="dropdown" href="#">
            <img src="../assets/app/images/general/icons/w_setup.png" />
        </a>
        <ul class="dropdown-menu">
            <!--li><a ng-href="#/">設定</a></li-->
            <li><a href="/logout">登出</a></li>
            <li class="dropdown-divider" role="presentation"></li>
            <!--li><a ng-href="">回報問題</a></li-->
        </ul>
    </div>
</div>
<div id="main-top"/>
<style>
.read{
	background-color: #ffffff;
}

.unread{
	background-color: #e7ebf3;
}
</style>