<div class="navbar hidden-print navbar-default box main" role="navigation" style="margin-top: -8px;height: 54px;">
	<!-- div class="user-action user-action-btn-navbar pull-right border-left">
		< a href="#menu-right" class="btn btn-sm btn-navbar btn-open-right"><i class="fa fa-comments fa-2x"></i></a>
		<div id="chat-notification" data-menu="menu-right" data-toggle="sidr-open" style="">
			New message from <strong>Mr.Awesome</strong>
		</div>
	</div>
	<div class="user-action user-action-btn-navbar pull-left">
		<a href="" class="btn btn-sm btn-navbar btn-open-left"><i class="fa fa-bars fa-2x"></i></a>
	</div-->
	<div class="user-action pull-right menu-right-hidden-xs menu-left-hidden-xs  border-left" style="margin-right: 10%;">
			<img  style="cursor: pointer;width:20%;" src="/assets/app/images/settings.png">
		<img style="cursor: pointer;width:20%;" src="/assets/app/images/lock.png">
	</div>	
	<div class="user-action pull-right menu-right-hidden-xs menu-left-hidden-xs border-left" >
		<div class="dropdown username pull-left">
			<a class="dropdown-toggle dropdown-hover" data-toggle="dropdown" href="#">
				<span class="media margin-none" >
					<span class="pull-left"><img src="/get-profile-image" alt="user" class="img-circle"></span>
					<span class="media-body">{{userInfo.name}}<span class="caret"></span></span>
				</span>
			</a>
			<ul class="dropdown-menu">
				<li><a ng-href="#/">Home</a></li>
				<li><a href="#lang=en">Messages</a></li>
				<li><a ng-href="#/about">Profile</a></li>
				<li><a href="/logout">Logout</a></li>
		    </ul>
		</div>
	</div>
	<ul class="notifications pull-right hidden-xs">
		<li class="dropdown notif">
			<a href="" class="dropdown-toggle dropdown-hover" data-toggle="dropdown"><i class="notif-block icon-envelope-1"></i><span class="fa fa-star"></span></a>
			<ul class="dropdown-menu chat media-list">
				<li class="media">
			        <a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/15.jpg" alt="50x50" width="50"></a>
					<div class="media-body">
			        	<span class="label label-default pull-right">5 min</span>
			            <h5 class="media-heading">Adrian D.</h5>
			            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			        </div>
				</li>
		      	<li class="media">
		          	<a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/16.jpg" alt="50x50" width="50"></a>
					<div class="media-body">
			          	<span class="label label-default pull-right">2 days</span>
			            <h5 class="media-heading">Jane B.</h5>
			            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			        </div>
		        </li>
			    <li class="media">
		          	<a class="pull-left" href="#"><img class="media-object thumb" src="../assets/images/people/100/17.jpg" alt="50x50" width="50"></a>
			      	<div class="media-body">
						<span class="label label-default pull-right">3 days</span>
			            <h5 class="media-heading">Andrew M.</h5>
			            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			        </div>
		        </li>
	      	</ul>
		</li>
	</ul>
	
	<div class="pull-left" style="margin-left: 2%;">
		<p style="float: left;font-size: 25px;margin-bottom: 0%;margin-top: 2%;font-weight: bold;color: white;">miniBean</p>
		
		<ul class="notifications pull-left hidden-xs">
			<li class="dropdown notif">
				<a href="" class="dropdown-toggle dropdown-hover" data-toggle="dropdown">
					<i class="notif-block fa fa-fw icon-group" >
						<span class="badge badge-danger" data-ng-show="friend_requests.length > 0">{{friend_requests.length}}</span>
					</i>
					
				</a>
				<ul class="dropdown-menu chat media-list" data-ng-show="friend_requests.length > 0" >
					<li class="media" data-ng-repeat="friend in friend_requests">
				        <a class="pull-left" href="#"><img class="media-object thumb" data-ng-src="/user-image-by-id/{{friend.id}}" alt="50x50" width="50"></a>
						<div class="media-body">
				        	<button data-ng-show="isFriendAccepted == false" data-ng-click="accept_friend_request(friend.id)" class="btn btn-xs btn-success pull-right">accept</button>
				            <a href="#"><h5 class="media-heading">{{friend.dn}}</h5></a>
				        </div>
					</li>
		      	</ul>
			</li>
		</ul>
		
		<ul class="notifications pull-left hidden-xs">
			<li class="dropdown notif">
				<a href="" class="dropdown-toggle dropdown-hover" data-toggle="dropdown">
					<i class="notif-block fa fa-fw icon-earth">
						<span class="badge badge-danger">{{join_requests.length}}</span>
					</i>
					
				</a>
				<ul class="dropdown-menu chat media-list">
					<li class="media" data-ng-repeat="request in join_requests">
				        <a class="pull-left" href="#"><img class="media-object thumb" data-ng-src="/user-image-by-id/{{request.id}}" alt="50x50" width="50"></a>
						<div class="media-body">
				        	<button data-ng-click="accept_join_request(friend.id)" class="btn btn-xs btn-success pull-right">accept</button>
				            <a href="#"><h5 class="media-heading">{{request.dn}}</h5></a>
				        </div>
					</li>
		      	</ul>
			</li>
		</ul>
		<div class="col-lg-7 col-md-5 col-sd-4" data-ng-controller="SearchController" style="padding-top: 2%;">
			<div class="row">
				<div class="col-lg-10 col-md-10 col-sd-10">
					<input type="text" class="form-control" data-ng-keyup="search_result(query)" data-ng-model="query">
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sd-12">
					<ul class="notifications pull-left hidden-xs">
						<li class="dropdown notif">
							<ul class="dropdown-menu chat media-list hide" ng-class="{show : result.length > 0 && query.length > 0}" style="top: -2px;">
								<li class="media" ng-repeat="sr in result">
							        <a class="pull-left" href="#" ng-switch="sr.tp">
							        	
							        	<img ng-switch-when="USER" class="media-object thumb" data-ng-src="/user-image-by-id/{{sr.id}}"  alt="50x50" width="50"/>
							        	
							        	<img ng-switch-when="COMMUNITY" class="media-object thumb" data-ng-src="/community-image-by-id/{{sr.id}}"  alt="50x50" width="50"/>
							        </a>
									<div class="media-body">
							        	<button class="btn btn-xs pull-right" data-ng-click="send_invite(sr.id)">invite</button>
							            <h5 class="media-heading">{{sr.nm}}</h5>
							            <p class="margin-none">{{sr.tp}}</p>
							        </div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
				
		</div>
	</div>			
	
	
</div>






