<header>
	<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/header-bar.html'"></div>
</header>

<div class="themeA-container" >
	<div id="content">
		<div class="row">
		    <!--div class="col-lg-1 col-md-1 col-xs-1" style="width:2%"></div-->
			<div class="col-lg-2 col-md-2 col-xs-2" style="width:20%">
                <div id="main-uphoto" data-ng-style="set_background_image()">
                    <img src="/assets/app/images/general/gradient_black_30.png" alt="gradient-black">
                    <a title="user-picture" href="#/about/activities"><img src="/image/get-thumbnail-image-by-id/{{userInfo.id}}" alt="user-picture"></a>
                    <a href="#/about/activities" class="userName">{{userInfo.firstName}}</a>
                </div>
                <!--ProfilePicture End -->
                <div ng-controller="AnnouncementsWidgetController">
                    <div ng-init="niceScroll()" data-ng-include data-src="'/assets/app/views/widgets/announcements-widget.html'"></div>
                </div>
                <!--Announce End -->
                
                <div>
                    <div id="myShortcuts" class="general-box">
                        <div class="con-title">
                            <a href="#" class="text-muted">
                                <img src="/assets/app/images/general/icons/newsfeed.png">我的社群動向
                            </a>
                        </div>
                        <div class="con-title">
                            <a href="/#/about/bookmarks" class="text-muted">
                                <img style="width:22px;height:22px;margin:0 8px 0 3px;" src="/assets/app/images/general/icons/message_favorited.png">我的喜愛
                            </a>
                        </div>
                    </div>
                </div>
                <!--Newsfeed shortcut End -->
                
                <div data-ng-controller="UserCommunityWidgetController" data-ng-show="result.fvm.length > 0">
                    <div data-ng-include data-src="'/assets/app/views/widgets/my-communities-widget.html'"></div>
                </div>
                <!--MyCommunity End -->
             </div>
             
    		 <div class="col-md-6 col-sm-6 col-xs-6" style="width:50%">
	            <div ng-controller="ArticleSliderController" data-ng-include style="width:100%;height:250px;" data-src="'/assets/app/views/articleSlider.html'"></div>
	            <!--Article Slider End -->
	            
	            <div id="wall">
	                <div ng-controller="NewsFeedController" data-ng-include style="width:100%;" data-src="'/assets/app/views/home-news-feed-section.html'"></div>
	            </div>
	            <!--Wall End -->
            </div>
	        
    		<div class="col-md-4 col-sm-4 col-xs-4 " style="width:25%">
	            <div ng-controller="TodayWeatherInfoController">
                    <div data-ng-include style="width: 100%;" data-src="'/assets/app/views/utilities/todayWeatherInfoUtility.html'"></div>
                </div>
  				<div ng-controller="SuggestedFriendsWidgetController" data-ng-show="result.fvm.length > 0">
					<div data-ng-include style="width: 100%;" data-src="'/assets/app/views/utilities/suggestedFriendsUtility.html'"></div>
				</div>
  				<div ng-controller="RecommendedCommunityWidgetController" data-ng-show="result.fvm.length > 0">
                    <div data-ng-include style="width: 100%;" data-src="'/assets/app/views/utilities/yourFriendsCommunitiesUtility.html'"></div>
				</div>
                <div ng-controller="FriendsWidgetController" data-ng-show="result.fvm.length > 0">
                    <div data-ng-include style="width: 100%;" data-src="'/assets/app/views/utilities/friendsUtility.html'"></div>
                </div>
            </div>
	    </div>
    </div>
</div>

<div data-ng-include data-src="'/assets/app/views/showImageModal.html'"></div>

<div data-ng-include data-src="'/assets/app/views/createCommunityModal.html'"></div>

<div id="back-to-top" style="z-index:1000" data-ng-controller="UIController">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
</div>