<div class="general-box">
    <div class="wall-title">
        <span class="wall-icon icon-title-community"></span><a href="#" class="activeTabUnderlined">My Communities</a>
        <span class="wall-icon icon-title-friendwall"></span><a href="#">Forums</a>
        <span class="pull-right menu-text">Newsfeed</span>
    </div>
</div>

<div infinite-scroll='nextNewsFeeds()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='0' >
	<div data-ng-repeat="post in newsFeeds.posts">
		<div class="general-box" data-ng-show="post.type=='SIMPLE'">
			<div data-ng-include data-src="'/assets/app/views/POST-bar.html'"></div>
		</div>
		
		<div id="wall-forum" data-ng-show="post.type=='QUESTION'">
		      <div class="general-box">
		          <div data-ng-include data-src="'/assets/app/views/QnA-bar.html'"></div>
		      </div>
     	</div>
	</div>
	<span ng-show="isBusy" spinner-start-active="1" us-spinner="{top: 'inherit'}" ></span>
</div>

<!-- Modal -->
<div class="modal fade lightbox" id="imageModal" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      		<div>
        		<img data-ng-src="/get-original-post-image-by-id/{{img_id}}" alt="" style="max-height: 75%;width: 100%;">
        	</div>
      </div>
    </div>
  </div>
</div>