<div class="general-box">
    <div class="wall-title">
        <span class="wall-icon icon-title-community"></span><a href="#" style="color: white !important;">My Communities</a>
        <span class="wall-icon icon-title-friendwall"></span><a href="#" style="color: white !important;">Forums</a>
        <span class="pull-right menu-text">Newsfeed</span>
    </div>
</div>

<div infinite-scroll='nextNewsFeeds()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='0' style="margin-left: 1%;">
	<div  data-ng-repeat="post in newsFeeds.posts">
		<div class="general-box" data-ng-show="post.type=='SIMPLE'">
			<ul>
	            <li><img class="wall-userpic" data-ng-src="/get-thumbnail-image-by-id/{{post.oid}}"/><p class="wall-user-actState"><a data-ng-href="/#/profile/{{post.oid}}" style="color: #428bca !important;">{{post.p}}</a><span class="wall-user-actState-from"></span><a data-ng-href="/#/community/{{post.cid}}" style="color: #428bca !important;">{{post.cn}}</a><span class="wall-user-actState-share"></span></p><span class="wall-user-actState-date" am-time-ago="post.t"></span><span class="wall-user-actState-time"></span></li>
	            <li><p class="wall-user-post-text">{{post.pt}}</p>
	            	<div data-ng-show="post.hasImage" class="innerAll">
						<p class="lead"></p>
						<a data-toggle="modal" data-target="#imageModal" data-ng-repeat="imageID in post.imgs" href="">
							<img width="90" data-ng-src="/get-post-image-by-id/{{imageID}}" data-ng-click="showImage(imageID)" alt="" class="img-post">
						</a>
				   </div>
	            </li>
	            
       		</ul>
	   
		   	<ul class="wall-user-post-respond">
	             
	             <li ng-show="post.n_c > 3" data-ng-click="get_all_comments(post.id)"><a href="">View all</a></li>
	             <ul>
	                 <li data-ng-repeat="comment in post.cs"><img class="wall-userpic" data-ng-src="/get-thumbnail-image-by-id/{{comment.oid}}"/><div><p class="user-comment"><a href="#" style="color: #428bca !important;">{{comment.on}}</a><pre>{{comment.d}}</pre></p><span class="wall-user-actState-date" am-time-ago="comment.cd"></span><a class="btn-like" href="#" style="color: #428bca !important;">Like</a></div></li>
	             </ul>
	             <li><a><img class="wall-userpic" data-ng-src="/get-thumbnail-image-by-id/{{userInfo.id}}"/></a>
	             		<form id="userCommentwrapper" name="userComment">
		                     <label for="User Comment"></label>
		                     <textarea name="userCommentfield" id="userCommentfield" placeholder="Write a comment..." rows="1" data-ng-model="commentText"></textarea>
		                     <!-- <input id="submit-userComment" name="submit" type="button" data-ng-click="comment_on_post(post.id, commentText)"/> -->
		                     <span data-ng-show="commentText.length>1" class="pull-right"><i class="icon-reply-all-fill fa fa-2x " data-ng-click="comment_on_post(post.id, commentText)"></i></span>
	                    </form>
	              </li>
	         </ul>
		</div>
		
		<div id="wall-forum" data-ng-show="post.type=='QUESTION'">
		      <div class="general-box">
		          <ul>
		              <li><img class="wall-userpic" data-ng-src="/get-thumbnail-image-by-id/{{post.oid}}" /><p class="wall-user-actState"><a data-ng-href="/#/profile/{{post.oid}}" style="color: #428bca !important;">{{post.p}}</a><span class="wall-user-actState-from"></span><a data-ng-href="/#/community/{{post.cid}}" style="color: #428bca !important;">{{post.cn}}</a><span class="wall-user-actState-ask"></span></p><span class="wall-user-actState-date" am-time-ago="post.t"></span><span class="wall-forum-post-last-time">5</span><div id="wall-forum-info"><span class="shortcut-box text-center">?</span><span class="wall-forum-post-checked">{{post.nov}}</span><span class="wall-forum-post-reply">{{post.n_c}}</span></div></li>
		              <li><p class="wall-user-post-text"><a href="#">{{post.pt}}</p>
		              	   <div data-ng-show="post.hasImage" class="innerAll">
								<p class="lead"></p>
								<a data-toggle="modal" data-target="#imageModal" data-ng-repeat="imageID in post.imgs" href="">
									<img width="90" data-ng-src="/get-post-image-by-id/{{imageID}}" data-ng-click="showImage(imageID)" alt="" class="img-post">
								</a>
						   </div>
		              </li>
		          </ul>
		          <ul class="wall-user-forum-respond">
                        <!-- <li><p class="whose-like"><a href="#">Wynee Lam</a></p></li> -->
                        <ul>
                            <li data-ng-repeat="comment in post.cs"><div class="wall-user-forum-comment" style="min-height:60px;"><div class="pull-right"><img class="wall-userpic" data-ng-src="/get-thumbnail-image-by-id/{{comment.oid}}"/><span class="wall-user-actState-date" am-time-ago="comment.cd"></span></div><div><p class="user-comment"><a href="/#/profile/{{comment.oid}}">{{comment.on}}</a><pre>{{comment.d}}</pre></p></div></div></li>
                        </ul>
	                    <li><a><img class="wall-userpic" data-ng-src="/get-thumbnail-image-by-id/{{userInfo.id}}" /></a>
	                                <form id="userCommentwrapper" name="userComment" method="post" action="">
	                                <label for="User Comment"></label>
	                                <textarea type="text" name="userCommentfield" id="userCommentfield" placeholder="Write a comment..." data-ng-model="commentText" rows="1"></textarea>
	                                <span data-ng-show="commentText.length>1" class="pull-right"><i class="icon-reply-all-fill fa fa-2x " data-ng-click="comment_on_post(post.id, commentText)"></i></span>
	                                </form>
	                     </li>
                    </ul>
		      </div>
     	</div>
	</div>
	
	<!-- <div class="widget" data-ng-repeat="post in newsFeeds.posts">
		<div class="bg-primary" style="background: #0099FF !important;">
			<div class="media">
				<a href="" class="pull-left">
					<img data-ng-src="/get-thumbnail-image-by-id/{{post.oid}}" width="60" class="media-object">
				</a>
				<div class="media-body innerTB">
					<a data-ng-show="post.type=='SIMPLE'" href="#" class="pull-right innerT innerR text-white">
						<i class="icon-reply-all-fill fa fa-2x "></i>
					</a>
					
					<a data-ng-show="post.type=='QUESTION'" href="#" class="pull-right innerT innerR text-white">
						<i class="icon-question fa fa-2x "></i>
					</a>
					
					<a href="" class="text-white display-block">{{post.p}}</a>
					<span>posted on {{post.t | date: 'MMMM dd, yyyy'}} <i class="icon-time-clock"></i></span>
				</div>
			</div>
		</div>
		
		<div class="innerAll">
			<p>{{post.pt}}</p>
		</div>
	
		<div data-ng-show="post.hasImage" class="innerAll">
			<p class="lead"></p>
			<a data-ng-repeat="imageID in post.imgs" href="">
				<img width="90" data-ng-src="/get-post-image-by-id/{{imageID}}" alt="" class="img-post">
			</a>
		</div>
		
		<div data-ng-click="get_all_comments(post.id)" class="bg-gray innerAll border-top border-bottom text-small ">
			<span>View all <a href="" class="text-primary">{{post.n_c}} Comments</a></span>
		</div>
		
		<div data-ng-repeat="comment in post.cs" class="media border-bottom margin-none bg-gray">
			<a href="" class="pull-right innerAll">
				<img data-ng-src="/get-thumbnail-image-by-id/{{comment.oid}}" width="60" class="media-object">
			</a>
			<div class="media-body innerTB" style="padding-left: 2%;">
				<a href="" class="strong text-inverse">{{comment.on}}</a>  <small class="text-muted ">wrote on {{comment.cd | date: 'dd MMM, yyyy'}}</small>
				<div ng-bind-html="comment.d | highlight: highlightText"></div>
	
			</div>
		</div>
		
		<input type="text" class="form-control" placeholder="Comment here..." data-ng-model="commentText">
		<button type="button" class="btn btn-warning btn-xs" data-ng-click="comment_on_post(post.id, commentText)">comment</button>
	</div> -->
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" data-backdrop="false">>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      		<div>
        		<img data-ng-src="/get-original-post-image-by-id/{{img_id}}" alt="" style="max-height: 75%;width: 100%;">
        	</div>
      </div>
    </div>
  </div>
</div>
<style>

</style>