<link rel="stylesheet" href="../assets/app/custom-css/friendsCSS.css">

	<header>
			<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/headerBar.html'"></div>
	</header>
	
	<div class="themeA-container" >
		<div id="content">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-xs-2" style="width: 20%">
						<div class="padd">
							<div id="uPhoto-wrapper" data-ng-style="set_background_image()">
				                <div id="uPhoto-wrapper-gradient">
				                    <div id="uPicture">
				                    <a href="#/about/activities"><img src="/get-thumbnail-image-by-id/{{userInfo.id}}" alt="user photo"></a>
				                    <label class="userName">{{userInfo.displayName}}</label>
				                    </div>
				                </div>
				            </div>
							<!-- <div class="row tm">
								<div class="" style="padding: 0px 40px;background-image: url(/assets/app/images/background.jpg);background-repeat:no-repeat;background-size: cover;">
									<div class="widget-body text-center">
										<a> 
											<img src="/get-thumbnail-image-by-id/{{userInfo.id}}" width="120" alt="" class="img-rounded">
										</a>
										<h2 class="strong margin-none">{{userInfo.displayName}}</h2>
	
	              				</div>
		              			</div>
		              			</div> -->
		              			
		              		<div id="forum" class="general-box">
				               <div class="con-title">
				                   <span class="icon-box icon-box-orange icon-title-forum"></span><a href="#">Forums</a>
				               </div>
				               <div class="content-wrapper">
				                   <ul>
				                       <li><a href="#" class="tag">[甜品]</a><a href="#">超級英雄的時尚觸覺：6 大經典英雄服</a></li>
				                       <li><a href="#" class="tag">[甜品]</a><a href="#">你的歐洲時裝專家 名意網 MAGin Online Shop 全新網上購物體驗</a></li>
				                       <li><a href="#" class="tag">[甜品]</a><a href="#">超級英雄的時尚觸覺：6 大經典英雄服</a></li>
				                       <li><a href="#" class="tag">[甜品]</a><a href="#">你的歐洲時裝專家 名意網 MAGin Online Shop 全新網上購物體驗</a></li>
				                       <li><a href="#" class="tag">[甜品]</a><a href="./static_a.html">超級英雄的時尚觸覺：6 大經典英雄服</a></li>
				                       <li><a href="#" class="tag">[甜品]</a><a href="./static_b.html">超級英雄的時尚觸覺：6 大經典英雄服</a></li>
				                       <li><a href="#" class="tag">[甜品]</a><a href="#">你的歐洲時裝專家 名意網 MAGin Online Shop 全新網上購物體驗</a></li>
				                       <li><a href="#" class="tag">[甜品]</a><a href="#">超級英雄的時尚觸覺：6 大經典英雄服</a></li>
				                       <li><a href="#" class="tag">[甜品]</a><a href="#">你的歐洲時裝專家 名意網 MAGin Online Shop 全新網上購物體驗</a></li>
				                       <li><a href="#" class="tag">[甜品]</a><a href="#">超級英雄的時尚觸覺：6 大經典英雄服</a></li>
				                   </ul>
				               </div>
				           </div><!--Forum End -->
		              			
	              			<div class="row tm">
		              			<div ng-controller="UserCommunityWidgetController">
									<div  ng-init="niceScroll()"  data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/myCommunityWidget.html'"></div>
								</div>	
							</div><!--Community Widget End -->
						</div>
					</div>
					
					
       	    		 <div class="col-md-6 col-sm-6 col-xs-6 " style="width: 50%">
			            <div id="shortcut-wrapper">
			                <ul>
			                <li>
			                    <div class="shortcut-box"><a href="#"><span class="icon-box icon-box-blueLight icon-title-message"></span></a></div>
			                    <div class="text-center"><a href="#">Msg</a></div>
			                    <div class="text-center"><a href="#">9</a></div>
			                </li>
			                <li>
			                    <div class="shortcut-box"><a href="#"><span class="icon-box icon-box-pink icon-title-gathering"></span></a></div>
			                    <div class="text-center"><a href="#">Gat</a></div>
			                    <div class="text-center"><a href="#">9</a></div>
			                </li>
			                <li>
			                    <div class="shortcut-box"><a href="#"><span class="icon-box icon-box-purpleLight icon-title-friends"></span></a></div>
			                    <div class="text-center"><a href="#">Fri</a></div>
			                    <div class="text-center"><a href="#">9</a></div>
			                </li>
			                </ul>
			            </div><!--Shortcut End -->
			                
			            <div  ng-controller="ShowArticleController" data-ng-include style="width: 100%;" data-src="'/assets/app/views/postWallMessageBar.html'"></div>
			            
			            <div id="wall" style="height: auto !important;">
			                <div data-ng-controller="NewsFeedController" data-ng-include style="width: 100%;"
			                	 data-src="'/assets/app/views/home-news-feed-section.html'"></div>
			            </div><!--Wall End -->
			        </div>
			        
			        
			        
       	    		 <div class="col-md-4 col-sm-4 col-xs-4 " style="width: 30%">
       	    		 	<div class="row">
								<div id="weather" class="general-box">
					                <div class="weather-wrapper">
					                    <img src="../assets/app/images/general/weather_png/rainnySun.png">
					                    <a href="#">Wah Fu Esate - 20&deg;C</a>
					                    <p>Partly Cloudy</p>
					                </div>
					            </div>
              			</div>	
              			<div class="row tm">
              				<div class="col-lg-12 col-md-12" ng-controller="SuggestedFriendsWidgetController">
								<div data-ng-include style="width: 100%;" data-src="'/assets/app/views/suggestedFriendsBar.html'"></div>
							</div>
              			</div>
              			
              			<div class="row tm">
              				<div class="col-lg-12 col-md-12" ng-controller="FriendsWidgetController">
								<div data-ng-include style="width: 100%;" data-src="'/assets/app/views/friendsBar.html'"></div>
							</div>
              			</div>
              			<div class="row tm">
              				<div class="col-lg-12 col-md-12" ng-controller="UnknownCommunityWidgetController">
									<div data-ng-include style="width: 100%;" data-src="'/assets/app/views/communityWidget.html'"></div>
							</div>
              			</div>
       	    		 </div>
       	    		 
       	    		 
        	    </div>
          </div>
      </div>


