	<div class="widget bar-shadow-border " style="width: 100%;">
		<div class="widget-head border-bottom bg-gray">
			<h5 class="pull-left margin-none innerAll">Members <span class="text-muted">({{result.sn}})</span></h5>
		</div>

		<div class="widget-body margin-none">
			<div class="innerAll">
				<a href="#" ng-repeat="fvm in result.fvm">
					<img data-toggle="tooltip" data-placement="top" data-tooltip="{{fvm.dn}}"  data-ng-src="/image/get-mini-image-by-id/{{fvm.id}}" alt="{{fvm.dn}}" 
					class="innerR innerB half widget-img-mini" 
					>
				</a>
			</div>
		</div>
	</div>
