	<div class="widget bar-shadow-border " style="width: 100%;">
		<div class="widget-head border-bottom bg-gray">
			<h5 class="pull-left margin-none innerAll">Members <span class="text-muted">({{result.sn}})</span></h5>
			<!-- <div class="pull-right">
				<a href="/#/friends" class="text-muted">
					<label>See All>></label>
				</a>
			</div> -->
		</div>

		<div class="widget-body margin-none">
			<div class="innerAll">
				<a href="#" ng-repeat="mvm in result.mvm">
					<img data-toggle="tooltip" data-placement="top" data-tooltip="{{mvm.dn}}"  data-ng-src="/get-mini-image-by-id/{{mvm.id}}" alt="{{mvm.dn}}" 
					class="innerR innerB half widget-img-mini" 
					>
				</a>
			</div>
		</div>
	</div>
