<header>
	<div data-ng-include style="width:100%;" data-src="'/assets/app/views/header-bar.html'"></div>
</header>

<div class="themeA-container" >
	<div id="content">
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-2" style="width:230px;">
                <div>
                    <div data-ng-include data-src="'/assets/app/views/widgets/my-profile-widget.html'"></div>
                </div>
                <div>
                    <div data-ng-include data-src="'/assets/app/views/widgets/my-shortcuts-widget.html'"></div>
                </div>
                <div data-ng-controller="UserCommunityWidgetController" data-ng-show="result.communities.length > 0">
                    <div ng-init="niceScroll()" data-ng-include data-src="'/assets/app/views/widgets/my-communities-widget.html'"></div>
                </div>
            </div>
             
    		<div class="col-md-6 col-sm-6 col-xs-6" style="width:480px;">
	            <div id="wall">
	                <div ng-controller="MyMagazineNewsFeedController" data-ng-include data-src="'/assets/app/views/my-magazine-news-feed-section.html'"></div>
	            </div>
            </div>
	        
    		<div class="col-md-4 col-sm-4 col-xs-4" style="width:310px;">
	            <div ng-controller="TodayWeatherInfoController">
                    <div data-ng-include data-src="'/assets/app/views/utilities/todayWeatherInfoUtility.html'"></div>
                </div>
                <div class="ads-factor-1x1">
                    <script adSize="11" adSid="714880026672" ads-factor language='JavaScript' type="text/javascript"></script>
                </div>
                <div class="ads-factor-300x250">
                    <script adSize="300250" adSid="785814486673" ads-factor language='JavaScript' type="text/javascript"></script>
                </div>
				<div ng-controller="PNCommunitiesUtilityController" data-ng-show="pnCommunities.length > 0 && userTargetProfile.pn">
                    <div data-ng-include data-src="'/assets/app/views/utilities/pnCommunitiesUtility.html'"></div>
                </div>
  				<div ng-controller="RecommendedCommunityWidgetController" data-ng-show="result.communities.length > 0">
                    <div data-ng-include data-src="'/assets/app/views/utilities/yourFriendsCommunitiesUtility.html'"></div>
				</div>
                <div ng-controller="MyFriendsUtilityController" data-ng-show="result.friends.length > 0">
                    <div data-ng-include data-src="'/assets/app/views/utilities/friendsUtility.html'"></div>
                </div>
                <div>
                    <div data-ng-include data-src="'/assets/app/views/utilities/feedbackCommunityUtility.html'"></div>
                </div>
            </div>
	    </div>
    </div>
</div>

<div data-ng-include data-src="'/assets/app/views/showImageModal.html'"></div>

<div data-ng-include data-src="'/assets/app/views/createCommunityModal.html'"></div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
</div>

<script>
    ga_send_pv();
</script>