<div id="myShortcuts" class="general-box widget-box">
    <div class="con-title">
        <a href="my#" class="text-muted">
            <img src="/assets/app/images/general/icons/newsfeed.png">我的社群動向
        </a>
    </div>
    <div class="con-title">
        <a href="my#/about/bookmarks" class="text-muted">
            <img style="width:22px;height:22px;margin:0 8px 0 3px;" src="/assets/app/images/general/icons/message_favorited.png">我的喜愛
        </a>
    </div>
    <!--div class="con-title">
        <a href="my#/magazine" class="text-muted">
            <i class="glyphicon glyphicon-film"></i>我的Magazine
        </a>
    </div-->
</div>