<body style="margin:0; background-color:#F4FBFF;">
	<div class="container-fluid menu-hidden">
		<div id="content">
			<div class="innerAll">
				<div class="row">
					<div class="wall-title">
				        <span class="wall-icon icon-title-community"></span>
				        	<a ng-click="selectedTab = 1;" style="color: white !important;">
				        	<font ng-class="{activeTab: selectedTab == 1}">My Groups</font>
				        	</a>
				        <span class="wall-icon icon-title-friendwall"></span>
				        	<a ng-click="selectedTab = 2;" style="color: white !important;">
				        	<font ng-class="{activeTab: selectedTab == 2}">Groups</font></a>
				        <span class="pull-right menu-text">
				        	<a style="color: white !important;">
				        	<i class="fa fa-fw  fa-group"></i> <font data-toggle="modal" data-target="#myModal">Create New</font></a></span>
				    </div>
            
		            <div ng-show="selectedTab == 1" id="wall" style="height: auto !important;" >
					   <div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/myAllCommunitiesSection.html'"></div>
					 </div>
					 
					 <div ng-show="selectedTab == 2" >
					 	<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/allCommunitiesSection.html'"></div>
					 </div>
			 
        	      </div>
              </div>
         </div>
      </div>
      
 
<div class="modal fade" id="myModal" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <form ng-controller = "CreateCommunityController"  name="formData" novalidate ng-submit="submit()"  method="post" enctype="multipart/form-data" >				              
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Community</h4>
      </div>
      <div class="modal-body">
            <div class="row tm">
              <div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Community Name: </label>
                   </div>
                   
                   <div class="col-md-8">
                   	<input type="text" class="form-control" placeholder="Community Name" validator="[required]" data-ng-model="formData.name" required >
                   	<label data-ng-show="uniqueName" class="label label-warning">Such name exists! Please Choose Another Name.</label>
                   </div>
                </div>
               </div>
             </div>
             
              <hr style="margin-top: 1%;">
             
             <div class="row tm">
             	  <div class="col-md-12">
                	<div class="row form-group">
               	<div class="col-md-4">
                  		<label> Community Type: </label>
                  	</div>
                  	
                  	<div class="col-md-8">
                  		
                  			<label style="width: 100%">
   								<input type="radio" data-ng-model="formData.communityType" id="optionsRadios1" value="OPEN" ng-checked="true">
   								Open
  							</label>
  							<div class="fsm fwn fcg" style="margin-left: 10%;">Request for Join directly granted, without approval.</div>
  							<label>
   								<input type="radio" data-ng-model="formData.communityType" id="optionsRadios2" value="CLOSE">
   								Closed
  							</label>
  							<div class="fsm fwn fcg"  style="margin-left: 10%;">Admin must approve the request.</div>
                  	</div>
               </div>
             </div>
          </div>

			 <hr style="margin-top: 1%;">
             
             <div class="row tm">
             	  <div class="col-md-12">
                	<div class="row form-group">
               			<div class="col-md-4">
                  			<label> Community Icon: </label>
                  		</div>
                  	
                  		<div class="col-md-8">
                  			<li class="col-md-12 dropdown">
	                  			<div class="form-control dropdown-toggle">
	                  				<img class="pull-left media-object" data-ng-src={{icon_chosen}} width="25">
	                  				<div class="media-body">
								       	<p class="margin-none pull-right">{{icon_text}}</p>
								    </div>
	    							<div data-ng-if="!isChosen" data-ng-init="isChosen=false">
	    								Please select icon
	    							</div>
	  							</div>
		                  		<ul class="dropdown-menu chat media-list" style="left:2%; width: 96%;">
									<li class="media" data-ng-repeat="icon in IconsToSelects" style="margin-top: 1%;">
								        <a href="" data-ng-click="select_icon(icon.url, icon.name)">
								        	<img class="pull-left media-object" data-ng-src="{{icon.url}}" alt="50x50" width="25" >
								        	<input type="hidden" data-ng-model="formData.iconName" required>
											<div class="media-body">
								            	<p class="margin-none pull-right">{{icon.name}}</p>
								        	</div>							        	
								        </a>
									</li>
						      	</ul>
						      </li>
                  		</div>
                  	</div>
               </div>
             </div>
          
           <hr style="margin-top: 1%;">
             
             <div class="row tm">
             	<div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Description: </label>
                   </div>
                   
                   <div class="col-md-8">
                   	<textarea  class="form-control" placeholder="Community Description" data-ng-model="formData.description" >
               		 </textarea>
               		 	<label ng-show="formData.description.length < 6" class="control-label error" style="color: #a94442;" >Minimun 6 character.</label>
               		 	<label ng-show="formData.description.length > 1400" class="control-label error" style="color: #a94442;" > Maximum 1400 character.</label>
                   </div>
                </div>
               </div>
             </div>
             
              <hr style="margin-top: 1%;">
             
             <div class="row tm">
             	<div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Cover Photo: </label>
                   </div>
                   
                   <div class="col-md-8">
                   	<input type="file" name="cover-photo"  ng-file-select="onFileSelect($files)"/>
                   	<input type="hidden" data-ng-model="formData.photo" validator="[required]" />
                   </div>
                </div>
               </div>
             </div>
                
             
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-disabled="formData.$pristine || formData.$dirty && formData.$invalid" type="submit" class="btn btn-primary"  >
				<span class="glyphicon glyphicon-ok"></span>
				{{submitBtn}}
			</button>
      </div>
      </form>
    </div>
  </div>
</div>
      
      	
</body>
<style>
.container-fluid {
	background: inherit !important;
}
 .content{
 		background: inherit !important;
 }
</style>