<body style="margin:0; background-color:#F4FBFF;">
	        
    <link rel="stylesheet" href="../assets/app/custom-css/friendsCSS.css">
	<header>
			<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/headerBar.html'"></div>
	</header>

	<div class="container-fluid menu-hidden">
		<div id="content">
			<div class="innerAll">
				<div class="row">
					<div class="col-lg-9 col-md-8">
						<div class="timeline-cover">
							<div class="widget cover image">
								<div class="widget-body padding-none margin-none">
									<div class="top">
											<img src="/get-cover-image-by-id/{{userInfo.id}}"  class="img-responsive">					
									</div>
									<ul class="list-unstyled">
										<li ><a href="index.html?lang=en"><i class="fa fa-fw fa-clock-o"></i> Timeline</a></li>
										<li><a href="about_2.html?lang=en"><i class="fa fa-fw fa-user"></i> About</a></li>
										<li ><a href="media_2.html?lang=en"><i class="icon-photo-camera"></i> Photos <span>(102)</span></a></li>
										<li class="active"><a href="/#/friends"><i class="icon-group"></i> Friends <span>()</span></a></li>
										<li><a href="messages.html?lang=en"><i class="icon-envelope-fill-1"></i> Messages <span>(2 new)</span></a></li>
									</ul>
									<div class="photo">
										<img src="/get-profile-image" height="90px" class="img-circle"/>
										 
									</div>

									<div class="innerAll pull-left border-right">
										<h3 class="margin-none" >
                      						{{userInfo.displayName}}
                    					</h3>
				                  </div>
				                  
				                  <div class="innerAll pull-right border-right">
                  						<button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-fw  fa-group"></i> Create New</button>
                  					</div>
                				</div>
              				</div>
            		   </div>
            		  <tabset class="inboxSectionTab">
    					<tab  heading="My Groups"><div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/myAllCommunitiesSection.html'"></div></tab>
    					<tab  active="mygroups" heading="Groups"><div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/allCommunitiesSection.html'"></div></tab>
       	    		 </tabset>
       	    		 </div>
        	      </div>
              </div>
         </div>
      </div>
      
 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form ng-controller = "CreateCommunityController"  name="formData" novalidate ng-submit="submit()"  method="post" enctype="multipart/form-data" >				              
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Community</h4>
      </div>
      <div class="modal-body">
            <div class="row tm">
              <div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Community Name: </label>
                   </div>
                   
                   <div class="col-md-8">
                   	<input type="text" class="form-control" placeholder="Community Name" validator="[required]" data-ng-model="formData.name" required >
                   </div>
                </div>
               </div>
             </div>
             
              <hr style="margin-top: 1%;">
             
             <div class="row tm">
             	  <div class="col-md-12">
                	<div class="row form-group">
               	<div class="col-md-4">
                  		<label> Community Type: </label>
                  	</div>
                  	
                  	<div class="col-md-8">
                  		
                  			<label style="width: 100%">
   								<input type="radio" data-ng-model="community.typ" id="optionsRadios1" value="OPEN" >
   								Open
  							</label>
  							<div class="fsm fwn fcg" style="margin-left: 10%;">Request for Join directly granted, without approval.</div>
  							<label>
   								<input type="radio" data-ng-model="community.typ" id="optionsRadios2" value="CLOSE" >
   								Closed
  							</label>
  							<div class="fsm fwn fcg"  style="margin-left: 10%;">Admin must approve the request.</div>
                  	</div>
               </div>
             </div>
          </div>
          
           <hr style="margin-top: 1%;">
             
             <div class="row tm">
             	<div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Description: </label>
                   </div>
                   
                   <div class="col-md-8">
                   	<textarea  class="form-control" placeholder="Community Description" validator="[required]" data-ng-model="formData.description" required >
               		 </textarea>
                   </div>
                </div>
               </div>
             </div>
             
              <hr style="margin-top: 1%;">
             
             <div class="row tm">
             	<div class="col-md-12">
                <div class="row form-group">
               	
               	<div class="col-md-4">
                   	<label> Cover Photo: </label>
                   </div>
                   
                   <div class="col-md-8">
                   	<input type="file" name="cover-photo"  ng-file-select="onFileSelect($files)"/>
                   	<input type="hidden" data-ng-model="formData.photo" validator="[required]" />
                   </div>
                </div>
               </div>
             </div>
                
             
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-disabled="formData.$pristine || formData.$dirty && formData.$invalid" type="submit" class="btn btn-primary"  >
				<span class="glyphicon glyphicon-ok"></span>
				{{submitBtn}}
			</button>
      </div>
      </form>
    </div>
  </div>
</div>
      
      	
</body>