<div id="myCommunity" class="general-box">
    <div class="con-title">
        <a href="/#/about/myCommunities/" class="text-muted">
            <span class="icon-box icon-box-blueDark icon-title-community"></span>我的社群
        </a>
    </div>
    
    <ul class="myCommunity-info">
        <li ng-repeat="fvm in result.fvm">
            <!--img src="/get-mini-cover-community-image-by-id/{{fvm.id}}"-->
            <img src="{{fvm.gi}}">
            <p>
                <a href="#/community/{{fvm.id}}/question"><b><font>{{fvm.dn|characters:15:true}}</font></b></a><br>
                <span class="community-member-counter"><font>{{fvm.mm}}位成員</font></span>
                <span class="community-attribute">
                    <!-- font data-ng-show="fvm.tp=='OPEN'">   ·   公開的社群</font --><font data-ng-show="fvm.tp=='CLOSE'">   ·   <span class="glyphicon glyphicon-lock"></span>不公開的社群</font>
                </span>
            </p>
        </li>
        <!-- <li style="text-align: center;width: 100%; float: left; background-color: rgb(245, 245, 245);" data-ng-show="!result.isMore"><a data-ng-show="!noMoreResult" data-ng-click="nextMyGroups()"><span style="color: cornflowerblue;font-size: smaller;">See More</span></a></li> -->
    </ul>
</div>