<div class="bar-shadow-border" style="width: 100%;">
	<div class="widget" style="width: 100%;float: left">
		<div class="widget-head border-bottom bg-gray">
			<h5 class="pull-left margin-none innerAll">
				My Groups 
			</h5>
			<div class="pull-right">
				<a href="/#/myGroups" class="text-muted"> <label>See All>></label>
				</a>
			</div>
		</div>


		<div class="widget-body margin-none">
			<div class="innerAll">
				
				
				
				<a data-ng-href="#/community/{{fvm.id}}" ng-repeat="fvm in result.fvm">
					<div style="float: left;width: 100%" >
						<img style="float: left;"
							data-ng-src="/community-mini-image-by-id/{{fvm.id}}" alt="{{fvm.dn}}"
							class="innerR innerB half" width="55" height="55">
						<div style="width: 50%; float: left; margin-left: 2%;">
							<p style="color: #0083C5; margin-top: 0%; margin-bottom: 0%;">{{fvm.dn}}</p>
							<div style="width: 100%; float: left;">
								<p
									style="margin-top: 0%; margin-bottom: 1%; margin-right: 5%; float: left; color: black;"></p>
								<p style="margin-top: 0%; margin-bottom: 1%; color: gray;">Members ({{fvm.mm}})</p>
							</div>
						</div>
					</div>
				</a>
			
			</div>
		</div>
	</div>
</div>