<div id="nav-bar">
    <div class="nav-menu">
        <a class="nav-item" href="magazine#" ng-class="{selected: selectedNavBar == 'MAGAZINE'}" ng-click="selectNavBar('MAGAZINE')">
            小萌豆 Magazine
        </a>
        <a class="nav-item" href="magazine#/article/show/0" ng-class="{selected: selectedNavBar == 'HOT_ARTICLES'}" ng-click="selectNavBar('HOT_ARTICLES')">
            精選文章
        </a>
        <a class="nav-item" href="magazine#/article/show/{{soonMomsArticleCategories[0].id}}" ng-class="{selected: selectedNavBar == 'SOON_TO_BE_MOMS_ARTICLES'}" ng-click="selectNavBar('SOON_TO_BE_MOMS_ARTICLES')" ng-show="userInfo.isSA">
            孕媽媽每月新知
        </a>
        <a class="nav-item" href="my#" ng-class="{selected: selectedNavBar == 'HOME'}" ng-click="selectNavBar('HOME')">
            我的小萌豆
        </a>
    </div>
</div>
<div id="nav-subbar" ng-show="selectedNavBar == 'MAGAZINE'">
    <div class="nav-menu">
        <span ng-class="{'selected-green': selectedNavSubBar == 0}">
            <a class="nav-item nav-item-green" href="magazine#/">
                最新動向
            </a>
        </span>
        <!--span ng-class="{'selected-green': selectedNavSubBar == category.id}" ng-repeat="category in communityCategories">
            <a class="nav-item nav-item-green" href="magazine#/view/{{category.id}}">
                {{category.name}}
            </a>
        </span-->
    </div>
</div>
<div id="nav-subbar" ng-show="selectedNavBar == 'HOT_ARTICLES'">
    <div class="nav-menu">
        <span ng-class="{'selected-yellow': selectedNavSubBar == 0}">
            <a class="nav-item nav-item-yellow" style="cursor:pointer;" ng-href="magazine#/article/show/0">
                所有文章
            </a>
        </span>
        <span ng-class="{'selected-yellow': selectedNavSubBar == category.id}" ng-repeat="category in hotArticleCategories">
            <a class="nav-item nav-item-yellow" style="cursor:pointer;" ng-href="magazine#/article/show/{{category.id}}">
                {{category.name}}
            </a>
        </span>
    </div>
</div>
<div id="nav-subbar" ng-show="selectedNavBar == 'SOON_TO_BE_MOMS_ARTICLES' && userInfo.isSA">
    <div class="nav-menu">
        <span style="font-weight:bold;margin-right:10px;">懷孕月份:</span> 
        <span ng-class="{'selected-yellow': selectedNavSubBar == category.id}" ng-repeat="category in soonMomsArticleCategories">
            <a class="nav-item nav-item-yellow" style="cursor:pointer;" ng-href="magazine#/article/show/{{category.id}}">
                {{category.name}}
            </a>
        </span>
    </div>
</div>