<div class="post-card">
    <ul title="sharing">
        <li class="post-intro post-sharing-line">
            <span class="post-intro-share">分享於 </span>
            <a data-ng-href="/#/community/{{post.cid}}/moment"><img src="{{post.ci}}">{{post.cn}}</a>
            <span class="post-sharing-tag pull-left" style="margin-right:5px;">♥</span>
        </li>
    </ul>
    <!-- Post Intro Ends -->
    <ul>
        <li class="post-sharing-body-top">
            <a data-ng-href="/#/profile/{{post.oid}}">
                <img class="post-title-user-image" data-ng-src="/get-mini-image-by-id/{{post.oid}}"/>
            </a>
            <div class="post-title-user-name">
                <a data-ng-href="/#/profile/{{post.oid}}">{{post.p}}</a>
                <a data-ng-show="!post.isBookmarked" class="post-favorite" href="" data-ng-click="bookmarkPost(post.id)"></a>
                <a data-ng-show="post.isBookmarked" class="post-favorited" href="" data-ng-click="unBookmarkPost(post.id)"></a>
            </div>
            <span class="post-date" am-time-ago="post.t"></span>
        </li>
        <li class="post-sharing-body">
            <div class="post-sharing-body-text" ng-bind-html="post.pt | highlight: highlightText"></div>
            <div data-ng-show="post.hasImage" class="post-body-image">
                <a data-toggle="modal" data-target="#imageModal" data-ng-repeat="imageID in post.imgs" href="">
                    <img data-ng-src="/get-post-image-by-id/{{imageID}}" data-ng-click="showImage(imageID)" alt="">
                </a>
            </div>
            <span data-ng-include data-src="'/assets/app/views/like-post.html'"></span>
        </li>
    </ul>
    <!-- Post Body Ends -->
    <ul class="post-sharing-comments">
        <li ng-show="post.n_c > 3 && !post.ep">
            <span class="post-qna-answer-count">共{{post.n_c}}則留言</span>
            <a class="pull-right" href="" data-ng-click="get_all_comments(post.id)">查看所有留言</a>
        </li>
        <li data-ng-repeat="comment in post.cs">
            <a data-ng-href="/#/profile/{{comment.oid}}">
                <img class="post-sharing-comment-user-image" data-ng-src="/get-comment-mini-image-by-id/{{comment.oid}}"/>
            </a>
            <span class="post-sharing-comment-body">
                <span class="post-title-user-name post-sharing-comment-font">
                    <a data-ng-href="/#/profile/{{comment.oid}}">{{comment.on}}</a>
                </span>
                <span class="post-sharing-comment-body-text">{{comment.d}}</span>
                <div>
                    <span class="post-date" am-time-ago="comment.cd"></span>
                    <span style="margin-left:5px;"/>
    	            <span data-ng-include data-src="'/assets/app/views/like-comment.html'"></span>
    	        </div>
    	        <div data-ng-show="comment.hasImage" class="post-body-image">
                    <a data-toggle="modal" data-target="#imageModal" data-ng-repeat="imageID in comment.imgs" href="">
                        <img style="width:100px;" data-ng-src="/get-comment-image-by-id/{{imageID}}" data-ng-click="showImage(imageID)" alt="">
                    </a>
                </div>
	        </span>
    	</li>
    	<!-- Post Answer box-->
        <li ng-show="post.isC == true">
            <a data-ng-href="/#/profile/{{userInfo.id}}">
                <img style="margin-top:5px;" class="post-sharing-comment-user-image" data-ng-src="/get-comment-mini-image-by-id/{{userInfo.id}}"/>
            </a>
            <form class="post-comment-box" name="userComment" method="post" action="">
                <label for="User Comment"></label>
                <textarea type="text" name="userCommentfield" class="general-textfield post-sharing-comment-textfield" id="userCommentfield" placeholder="留言..." cols="70" data-ng-model="commentText" rows="1"></textarea>
                <a class="post-photo-icon" data-ng-hide="commentSelectedFiles.length > 2 && commentedOnPost == post.id" id="upload">
                    <i class="icon-photo-camera-fill" data-ng-click="commentPhoto(post.id)"></i>
                </a>
                <button class="btn btn-primary ng-binding" ng-disabled="userComment.$pristine || (userComment.$dirty && commentText.length < 2)" type="submit" disabled="disabled" data-ng-click="comment_on_post(post.id, commentText); commentText=''">
                    留言
                </button>
                <input style="visibility:hidden;height:0px;" id="comment-photo-id" type="file" name="comment-photo" ng-file-select="onCommentFileSelect($files)"/>
            </form>
            <span ng-if="commentedOnPost == post.id">
                <div ng-show="commentSelectedFiles != null">
                    <img class="post-photo-preview" ng-class="{partial_fade: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" 
                        ng-repeat="f in commentSelectedFiles" tooltip-placement="bottom" tooltip="移除相片" data-ng-click="remove_image_from_comment($index)"
                        ng-show="commentDataUrls[$index]" ng-src="{{commentDataUrls[$index]}}">
                </div>
            </span>
        </li>
    </ul>
    <!-- Post Comments Ends -->
</div>