<html>
    <head>
        <div data-ng-include style="width:100%;height:50px;" data-src="'/assets/app/views/header-bar.html'"></div>
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-body" style="margin-left: 25%;margin-right: 25%;">
            
                <h4>Privacy settings</h4>
                <form method="post" ng-submit="submit()">
                <table class="table">
                    <tbody>
                        <tr>
                                <th>Show My Activities To</th>
                                <td><input type="radio" name="activity" value="1" data-ng-model="formData.activity">all users</td>
                                <td><input type="radio" name="activity" value="2" data-ng-model="formData.activity">my friends only</td>
                        </tr>
                        <tr>
                                <th>Show My Joined Communities To</th>
                                <td><input type="radio" name="joinedCommunity" value="1" data-ng-model="formData.joinedCommunity">all users</td>
                                <td><input type="radio" name="joinedCommunity" value="2" data-ng-model="formData.joinedCommunity">my friends only</td>
                        </tr>
                        <tr>
                                <th>Show My Friend List To</th>
                                <td><input type="radio" name="friendList" value="1" data-ng-model="formData.friendList">all users</td>
                                <td><input type="radio" name="friendList" value="2" data-ng-model="formData.friendList">my friends only</td>
                        </tr>
                        <tr>
                                <th>Show My Details To</th>
                                <td><input type="radio" name="detail" value="1" data-ng-model="formData.detail">all users</td>
                                <td><input type="radio" name="detail" value="2" data-ng-model="formData.detail">my friends only</td>
                        </tr>
                    </tbody>
                </table>
                <div style="margin-top: 2%;">
                    <input type="submit" name="Save" class="btn btn-primary ng-binding" value="Save Settings">
                    <p ng-show="isSaved == true" style="color: green;"><b>Settings saved successfully</b></p>
                </div>
                </form>
             </div>
        </div>
        
    </body>
</html>