<div id="profile-header">
    <ul>
        <li>
        	<div><img id="profile-banner" src="/get-cover-image-by-id/{{profile.i}}" /></div>
        </li>
        <li id="profile-header-menu">
            <div><img src="/get-profile-image-by-id/{{profile.i}}" alt="profile-pic" />
            </div>
            <p id="profile-user-name">{{profile.dn}}</p>
            <div id="menu-title">
            	<a ng-click="selectedTab = 1;">
				<font ng-class="{activeTabBold: selectedTab == 1}">最新發佈</font> </a>
				<a	ng-click="selectedTab = 2;">
				<font ng-class="{activeTabBold: selectedTab == 2}">社群</font> </a>
				<a ng-click="selectedTab = 3;">
				<font ng-class="{activeTabBold: selectedTab == 3}">朋友</font></a>
            </div>
            <div class="dropdown pull-right ">
				<a class="toolsbox toolsbox-start" data-toggle="dropdown">Notify</a> 
				<a class="toolsbox toolsbox-end  dropdown-toggle" data-toggle="dropdown"><span class="icon-title-contentSetup"></span></a>
				<ul class="subtoolsbox dropdown-menu">
					<li><a>All Posts</a></li>
					<li><a>off</a></li>
				</ul>
			</div>
        </li>
    </ul>
</div><!--Profile Header End -->