<!-- <div class="row">
          <div class="panel panel-default  col-lg-9 col-md-8">
            <form role="form">
              
              <div class="col-md-12">
              	<div class="row">
              	</div>
              </div>
              
              <div class="row">
                <div class="col-md-6">
                  
                  <div class="row form-group">
	                	<div class="col-md-6">
	                    	<label>First Name: </label>
	                    </div>
	                    
	                    <div class="col-md-6">
	                    	<span >{{ profile.fn || 'not set' }}</span>
	                    </div>
                  </div>
                  
                  <div class="row">
	                	<div class="col-md-6">
                   			<label>Last Name: </label>
                   		</div>
                   		
                   		<div class="col-md-6">
                   			<span>{{ profile.ln || 'Not set' }}</span>
                   		</div>
                  </div>
                  
                  <div class="row">
	                	<div class="col-md-6">
                    		<label>Gender: </label>
                    	</div>
                    	
                    	<div class="col-md-6">
                    		<span e-name="gender" e-ng-options="g.value as g.text for g in genders">
                    			{{ (genders | filter:{value: profile.gd})[0].text || 'Not set' }}
                    		</span>	
                    	</div>
                  </div>
                  
                  <div class="row">
                  	<div class="col-md-6">
                   		<label>Date of Birth:</label>
                   	</div>
                   	
                   	<div class="col-md-6">
                   		div class="dropdown">
						    <a  style="color: #428bca;" class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
						        {{ result.date_of_birth | date:'MM/dd/yyyy' || 'Not set' }}
						    </a>
						    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						        <datetimepicker data-ng-model="result.date_of_birth"
						                        data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle',minView: 'day' }"></datetimepicker>
						    </ul>
						</div
					    <span  e-datepicker-popup="dd-MMMM-yyyy">{{ profile.dob | date:'dd/MM/yyyy' || 'Not set' }}
					    </span>
					    <span class="glyphicon glyphicon-calendar">
					    </span>
				  	</div>
                  </div>
                  
                  <div class="row">
	                	<div class="col-md-6">
                   			<label>Location: </label>
                   		</div>
                   		
                   		<div class="col-md-6">
                   			<span >{{ profile.loc || 'Not set' }}</span>
                   		</div>
                  </div>
                  
               </div>
                  
               <div class="col-md-6">
	             <div class="row">
	               	<div class="col-md-12">
	                   	<label>About Me: </label>
	           	 	</div>
	             </div>
	               	
	             <div class="row">
	               	<div class="col-md-12">
		                <span  e-rows="7" e-cols="40">
		                   <pre>{{ profile.am || 'no description' }}</pre>
		                 </span>
	                 </div>
	              </div>
               </div>
             </div>
            </form>
          </div>
        </div> -->
        
        
        
        <div class="row">
                <div class="con-title">
                    <span class="icon-box icon-box-blueLight icon-title-profile-about"></span><a href="#">About</a>
                     <div style="float:right">
					 </div>
                </div>
                <div class="row">
			          <div style="padding: 13px;">
			            
			              <div class="col-md-12" ng-show="profile_data.$visible">
			              	<div class="row">
			              	</div>
			              </div>
			              <div class="row">
			                <div class="col-md-12">
			                  <div class="row form-group">
	                	<div class="col-md-6">
	                    	<label>First Name: </label>
	                    </div>
	                    
	                    <div class="col-md-6">
	                    	<span >{{ profile.fn || 'not set' }}</span>
	                    </div>
                  </div>
                  
                  <div class="row">
	                	<div class="col-md-6">
                   			<label>Last Name: </label>
                   		</div>
                   		
                   		<div class="col-md-6">
                   			<span>{{ profile.ln || 'Not set' }}</span>
                   		</div>
                  </div>
                  
                  <div class="row">
	                	<div class="col-md-6">
                    		<label>Gender: </label>
                    	</div>
                    	
                    	<div class="col-md-6">
                    		<span e-name="gender">
                    			{{ profile.gd || 'Not set' }}
                    		</span>	
                    	</div>
                  </div>
                  
                  <div class="row">
                  	<div class="col-md-6">
                   		<label>Date of Birth:</label>
                   	</div>
                   	
                   	<div class="col-md-6">
					    <span >{{ profile.dob | date:'dd/MM/yyyy' || 'Not set' }}
					    </span>
					    <span class="glyphicon glyphicon-calendar">
					    </span>
				  	</div>
                  </div>
                  
                  <div class="row">
	                	<div class="col-md-6">
                   			<label>Location: </label>
                   		</div>
                   		
                   		<div class="col-md-6">
                   			<span >{{ profile.loc || 'Not set' }}</span>
                   		</div>
                  </div>
                  
               </div>
                  
	               <div class="col-md-12">
		             <div class="row">
		               	<div class="col-md-12">
		                   	<label>About Me: </label>
		           	 	</div>
		             </div>
		               	
		             <div class="row">
		               	<div class="col-md-12">
			                <span >
			                  <pre>{{ profile.a || 'no description' }}</pre>
			                 </span>
		                 </div>
		              </div>
	               </div>
	             </div>
			       
			    </div>
            </div><!--About End -->
            
        </div>