<div class="input-group innerB">
 	<input type="text" class="form-control " ng-model="query" placeholder="Search contacts">
	<div class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>
</div>
<div class="row row-merge">
	<div class="col-md-12 col-lg-6 bg-white border-bottom" ng-repeat="fvm in allResult.fvm | filter:query ">
		<div class="row">
			<div class="col-sm-3">
				<div class="media">
					<a href="#/community/{{fvm.id}}"><img src="/community-mini-image-by-id/{{fvm.id}}">
					</a><br>
				</div>
			</div>
			<div class="col-sm-9" style="padding: 0px;">
				<div class="pull-left">
					<b><font><font style="color: #428bca;">{{fvm.dn|characters:15:false}}</font></font></b><br>
						<span class="community-attribute ">
							 <font>
								 <font data-ng-show="fvm.tp=='OPEN'">Open Community</font>
								 <font data-ng-show="fvm.tp=='CLOSE'">Closed Community</font>
							</font>
						</span>
						<span class="community-member-counter ">
							<font>
								 <font>{{fvm.mm}} members</font>
							 </font>
						</span>
				</div>
				<div class="innerAll text-right" >
					<div ng-show="!fvm.isM">
						<a ng-show="!fvm.isP " class="btn-general" data-ng-click="send_request(fvm.id)">Join</a>
						<a ng-show="fvm.isP" class="btn-general" >Pending</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
