        <div class="row">
                <div class="con-title">
                    <span class="icon-box icon-box-blueLight icon-title-profile-about"></span>
                    About
                    <div style="float:right">
                    </div>
                </div>
                <div class="row">
			          <div style="padding: 13px;">
			            
			              <div class="col-md-12" ng-show="profile_data.$visible">
			              	<div class="row">
			              	</div>
			              </div>
			              <div class="row">
			                <div class="col-md-12">
			                  <div class="row form-group">
	                	<div class="col-md-6">
	                    	<label>First Name: </label>
	                    </div>
	                    
	                    <div class="col-md-6">
	                    	<span >{{ profile.fn || 'not set' }}</span>
	                    </div>
                  </div>
                  
                  <div class="row">
	                	<div class="col-md-6">
                   			<label>Last Name: </label>
                   		</div>
                   		
                   		<div class="col-md-6">
                   			<span>{{ profile.ln || 'Not set' }}</span>
                   		</div>
                  </div>
                  
                  <div class="row">
	                	<div class="col-md-6">
                    		<label>Gender: </label>
                    	</div>
                    	
                    	<div class="col-md-6">
                    		<span e-name="gender">
                    			{{ profile.gd || 'Not set' }}
                    		</span>	
                    	</div>
                  </div>
                  
                  <div class="row">
                  	<div class="col-md-6">
                   		<label>Date of Birth:</label>
                   	</div>
                   	
                   	<div class="col-md-6">
					    <span >{{ profile.dob | date:'dd/MM/yyyy' || 'Not set' }}
					    </span>
					    <span class="glyphicon glyphicon-calendar">
					    </span>
				  	</div>
                  </div>
                  
                  <div class="row">
	                	<div class="col-md-6">
                   			<label>Location: </label>
                   		</div>
                   		
                   		<div class="col-md-6">
                   			<span >{{ profile.loc || 'Not set' }}</span>
                   		</div>
                  </div>
                  
               </div>
                  
	               <div class="col-md-12">
		             <div class="row">
		               	<div class="col-md-12">
		                   	<label>About Me: </label>
		           	 	</div>
		             </div>
		               	
		             <div class="row">
		               	<div class="col-md-12">
			                <span >
			                  <pre>{{ profile.a || 'no description' }}</pre>
			                 </span>
		                 </div>
		              </div>
	               </div>
	             </div>
			       
			    </div>
            </div><!--About End -->
            
        </div>