			<!-- <div class="row">
						<div class="timeline-cover">	
							<div class="widget cover image">
								<div class="widget-body padding-none margin-none">
									<div class="top">
											<div class="top">
												<img data-ng-src="{{coverImage}}"  class="img-responsive" />
											</div>
											<div ng-show="isEdit">	
												<a ng-click="openCoverPhotoModal()" alt="Change" title="Change"  
												style="margin: -235px 0px 0px 7px;position: absolute;" href=""  ><img src="/assets/app/images/edit.png"/></a>
											</div>
									 
									</div>
									<ul class="list-unstyled">
										<li ng-class="{active: selectedTab == 1}"><a ng-href="/#/about" ><i class="fa fa-fw fa-user"></i> About</a></li>
										<li ng-class="{active: selectedTab == 2}"><a ng-href="/#/friends" ><i class="icon-group"></i> Friends <span>({{userInfo.noOfFriends}})</span></a></li>
										<li ng-class="{active: selectedTab == 3}"><a ><i class="icon-envelope-fill-1"></i> Messages <span>(2 new)</span></a></li>
									</ul>
									<div class="photo">
										<img data-ng-src="{{profileImage}}"  height="90px" class="img-rounded"/>
										<div ng-show="isEdit">	<i class="fa fa-fw icon-compose" ng-click="openProfilePhotoModal()" data-template="/assets/app/views/change-profile-photo-modal.html"></i></div> 
									</div>

									<div class="innerAll pull-left border-right" data-ng-show="!isEdit">
										<h3 class="margin-none">
                      						{{userInfo.displayName}}
                   						 </h3>
                  					</div>
                  					
									<div class="innerAll pull-left border-right" data-ng-show="isEdit">
										<h3 class="margin-none" editable-text="userInfo.displayName" onbeforesave ="updateUserDisplayName($data)">
                      						{{userInfo.displayName}}
                   						 </h3>
                  					</div>
                				</div>
              				</div>
           			 	</div>
        			</div> -->
        			
        			<div id="profile-header">
                <ul>
                    <li><div><img id="profile-banner" src="{{coverImage}}" /><a ng-click="openCoverPhotoModal()"><span class="icon-box-2 icon-title-edit-photo"></span><span class="icon-box-2 icon-box-black-op05"></span></a></div></li>
                    <li id="profile-header-menu">
                        <div><img src="{{profileImage}}" alt="profile-pic" /><a ng-click="openProfilePhotoModal()"><span class="icon-box-2 icon-title-edit-photo"></span><span class="icon-box-2 icon-box-black-op05"></span></a></div>
                        <p id="profile-user-name">{{userInfo.displayName}}</p>
                        <div id="menu-title">
                            <a href="/#/about" ng-class="{active: selectedTab == 1}">Recent Activities</a>
                            <div class="divider-cus"></div>
                            <a href="" ng-class="{active: selectedTab == 3}">Communities</a>
                            <div class="divider-cus"></div>
                            <a href="/#/friends" ng-class="{active: selectedTab == 2}">Friends</a>
                        </div>
                        <div class="dropdown pull-right ">
							<a class="toolsbox toolsbox-start" data-toggle="dropdown">Notify</a> 
							<a class="toolsbox toolsbox-end  dropdown-toggle" data-toggle="dropdown"><span class="icon-title-contentSetup"></span></a>
							<ul class="subtoolsbox dropdown-menu">
								<li><a>All Posts</a></li>
								<li><a>off</a></li>
							</ul>
						</div>
                    </li>
                </ul>
            </div><!--Profile Header End -->