<div id="profile-header">
    <ul>
        <li><div><img id="profile-banner" src="{{coverImage}}" /><a ng-click="openCoverPhotoModal()"><span class="icon-box-2 icon-title-edit-photo"></span><span class="icon-box-2 icon-box-black-op05"></span></a></div></li>
        <li id="profile-header-menu">
            <div><img src="{{profileImage}}" alt="profile-pic" /><a ng-click="openProfilePhotoModal()"><span class="icon-box-2 icon-title-edit-photo"></span><span class="icon-box-2 icon-box-black-op05"></span></a></div>
            <p id="profile-user-name">{{userInfo.displayName}}</p>
            <div id="menu-title">
                <a href="/#/about" ng-class="{active: selectedTab == 1}">最新發佈</a>
                <div class="divider-cus"></div>
                <a href="" ng-class="{active: selectedTab == 3}">社群</a>
                <div class="divider-cus"></div>
                <a href="/#/friends" ng-class="{active: selectedTab == 2}">朋友</a>
            </div>
            <div class="dropdown pull-right ">
				<a class="toolsbox toolsbox-start" data-toggle="dropdown">Notify</a> 
				<a class="toolsbox toolsbox-end  dropdown-toggle" data-toggle="dropdown"><span class="icon-title-contentSetup"></span></a>
				<ul class="subtoolsbox dropdown-menu">
					<li><a>All Posts</a></li>
					<li><a>off</a></li>
				</ul>
			</div>
        </li>
    </ul>
</div><!--Profile Header End -->