<!-- 
	<header>
			<div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/headerBar.html'"></div>
	</header>
	
	<div class="container-fluid menu-hidden">
		<div id="content">
			<div class="innerAll">
				<div  data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/profile-upper-cover-section.html'"></div>
        		<div ng-show="'about' == active" data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/profile-about-section.html'"></div>
        		<div ng-show="'friends' == active" data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/profile-all-friends-section.html'"></div>
        		<div ng-show="'communities' == active" data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/profile-all-communities-section.html'"></div>
      		</div>
    	</div>
  </div> -->
  
  <div id="header">
        <div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/headerBar.html'"></div>
    </div>
    <div class="themeA-container">
        <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div  data-ng-include style="width: 100%;" data-src="'/assets/app/views/profile-upper-cover-section.html'"></div><!--Profile Header End -->
            <div ng-show="selectedTab == 1" id="wall" style="height: auto !important;">
			                <div data-ng-controller="UserNewsFeedController" data-ng-include style="width: 100%;"
			                	 data-src="'/assets/app/views/home-news-feed-section.html'"></div>
			 </div>
			 
			 <div ng-show="selectedTab == 2">
			 	<div ng-controller="CommunityWidgetByUserIDController" data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/allCommunitiesSection.html'"></div>
			 </div>
            <!--Wall End -->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 ">
	        <div class="rpw" >
	        	<div ng-show="profile.isf==true && isLoadingEnabled==false" class="innerAll pull-right border-right">
					<button class="btn btn-primary" data-ng-click="un_friend(profile.i)"><i class="fa fa-thumbs-down"></i> UnFriend</button>
				</div>
				<div ng-show="profile.isf==false && profile.isP == false && isLoadingEnabled==false" class="innerAll pull-right border-right">
					<button class="btn btn-primary" data-ng-click="send_invite(profile.i)"><i class="fa fa-user"></i> Invite</button>
				</div>	
				<div ng-show="profile.isP == true && isLoadingEnabled==false" class="innerAll pull-right border-right">
					<button class="btn btn-primary" style="background: #0099FF;" disabled="disabled" ><i class="fa fa-user"></i> Pending Approval</button>
				</div>
	        </div>
            <div id="profile-about" class="general-box col-md-12 col-sm-12 col-xs-12 ">
                <div data-ng-include style="width: 100%;" data-src="'/assets/app/views/profile-about-section.html'"></div>
        </div>
        <div id="newCommunity" class="row tm">
				<div class="col-lg-12 col-md-12"
					ng-controller="CommunityWidgetByUserIDController">
					<div data-ng-include style="width: 100%;"
						data-src="'/assets/app/views/communityWidget.html'"></div>
				</div>
			</div><!--NewCommunity End -->
         <div>
           	<div class="col-lg-12 col-md-12" ng-controller="UserFriendsWidgetController">
				<div data-ng-include style="width: 100%;" data-src="'/assets/app/views/friendsBar.html'"></div>
			</div>
          </div><!--Friends End -->
        </div>
    </div>
    </div>
    <div id="back-to-top">
        <a href="#"><span class="icon-title-arrow-up"></span>Top</a>
    </div>