body {
    font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../../images/general/mag_bg.jpg);
    background-attachment: fixed;
}
#nav-bar {
    width: 100%;
    height: auto;
    padding-left: 7%;
    margin-bottom: 10px;
    margin-top: -7px;
    background-color: white;
    border-bottom: 1px solid #CACACA;
}
#nav-bar a:hover {
    text-decoration: none;
    border-bottom: 3px solid;
}
#nav-bar .nav-item {
    padding: 3px 10px 0 10px;
    border-bottom: 3px solid white;
    /*border-radius: 5px 5px 2px 2px;*/
    background-color: white;
    color: #161513;
    font-size: 14px;
    display: inline-block;
}
#nav-bar .nav-item-purple {

}
#nav-bar a.nav-item-purple:hover {
    border-bottom-color: #4F27A5;
}
#nav-bar .nav-item-green {

}
#nav-bar a.nav-item-green:hover {
    border-bottom-color: #449d44;
}
#nav-bar .nav-item-blue {

}
#nav-bar a.nav-item-blue:hover {
    border-bottom-color: #428bca;
}
#nav-bar .nav-item-yellow {

}
#nav-bar a.nav-item-yellow:hover {
    border-bottom-color: #f0ad4e;
}