/*body {
    font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../../images/general/mag_bg.jpg);
    background-attachment: fixed;
}*/

#promo-login a {
    font-size: 15px;
    font-weight: bold;
    display: block;
    text-align: center;
}
#promo-signup {
    padding: 5px 20px;
}
#promo-signup .promo-signup-text {
    font-size: 14px;
    font-weight: normal;
}
#promo-signup .promo-signup-fb {
    margin: 10px 0px;
    text-align: center;
}
#promo-signup .promo-signup-fb h5 {
    color: gray;
    font-size: 12px;
    margin: 10px auto;
    width: 90%;
    max-width: 170px;
}
#promo-signup .promo-signup-fb img {
    width: 95%;
    max-width: 200px;
    height: auto;
}
#promo-signup .promo-signup-native {
    font-size: 14px;
    text-align: center;
    margin: 5px 0px;
}

#nav-bar, #nav-subbar {
    width: 100%;
    height: auto;
    padding-left: 7%;
    margin-bottom: 10px;
    border-bottom: 1px solid #CACACA;
}
.nav-menu a.nav-item {
    padding: 3px 10px 0 10px;
    border-bottom: 4px solid transparent;
    /*border-radius: 5px 5px 2px 2px;*/
    display: inline-block;
}
.nav-menu a.nav-item:hover {
    text-decoration: none;
}
.nav-menu .selected-purple a {
    color: #111;
    border-bottom: 4px solid transparent;
    border-bottom-color: #4F27A5;
}
.nav-menu a.nav-item-purple:hover {
}
.nav-menu .selected-green a {
    color: #111;
    border-bottom: 4px solid transparent;
    border-bottom-color: #449d44;
}
.nav-menu a.nav-item-green:hover {
}
.nav-menu .selected-blue a {
    color: #111;
    border-bottom: 4px solid transparent;
    border-bottom-color: #428bca;
}
.nav-menu a.nav-item-blue:hover {
}
.nav-menu .selected-yellow a {
    color: #111;
    border-bottom: 4px solid transparent;
    border-bottom-color: #FFB32D;
}
.nav-menu a.nav-item-yellow:hover {
}

/* specific styles */
#nav-bar .selected {
    background-color: #7272F3;
}
#nav-bar {
    font-size: 15px;
    background-color: #8B86FF;
    /*background-color: #FCE27B*/
    margin-top: -8px;
}
#nav-subbar {
    font-size: 14px;
    background-color: #f8f8f8;
    margin-top: -12px;
}
#nav-bar .nav-menu a.nav-item {
    font-weight: bold;
    color: white;
    display: inline-block;
    min-width: 85px;
    text-align: center;
}
#nav-bar .nav-menu a.nav-item:hover {
    background-color: #7272F3;
}
#nav-subbar .nav-menu a.nav-item {
    color: #111;
}
#nav-subbar .nav-menu a.nav-item:hover {
    color: #400090;
    background-color: transparent;
}
#nav-subbar .nav-menu .selected-purple a.nav-item:hover, 
#nav-subbar .nav-menu .selected-green a.nav-item:hover,
#nav-subbar .nav-menu .selected-blue a.nav-item:hover,
#nav-subbar .nav-menu .selected-yellow a.nav-item:hover {
    color: #111;
}