<header>
    <div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/header-bar.html'"></div>
    <div data-ng-include data-src="'/assets/app/views/nav-bar.html'"></div>
</header>

<div class="themeA-container">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-xs-1" style="width:5%;"></div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="width:52%;">
            <div id="wall">
                <div class="general-box">
                    <div>
                        <ul class="post-detail-wrapper">
                            <li>
                                <a data-ng-show="!article.isBookmarked" class="post-favorite" href="" data-ng-click="bookmarkArticle(article.id)"></a> <!--data-toggle="tooltip" data-tooltip="收藏到'我的喜愛'"></a-->
                                <a data-ng-show="article.isBookmarked" class="post-favorited" href="" data-ng-click="unBookmarkArticle(article.id)"></a>
                                <a href="#/article/show/{{article.ct.id}}">
                                    <img class="scCatMiniThumbnail" data-ng-src="{{article.ct.pictureName}}" />
                                </a>
                                <div style="margin-left:10px;width:60%;">
                                    <a class="scCatTitle" href="#/article/show/0">所有文章</a> <span style="font-size:12px;">&gt;</span> <a class="scCatTitle" href="#/article/show/{{article.ct.id}}">{{article.ct.name}}</a>
                                    <h6>
                                        <font ng-show="userInfo.isAdmin">{{article.pd | date:'M/dd/yyyy'}}</font>
                                    </h6>
                                </div>
                            </li>
                            <li>
                                <font class="scTitle">{{article.nm}}</font>
                            </li>
                            <li>
                                <span class="btn-like-wrapper"><span ng-show="article.nov > 20 || userInfo.isAdmin" class="btn-like" style="margin-right:10px;"><img class="view-icon" style="vertical-align:sub;" data-ng-src="/assets/app/images/general/icons/view.gif"/>{{article.nov}}</span></span>
                                <span data-ng-include data-src="'/assets/app/views/like-article.html'"></span>
                            </li>
                            <li><div style="font-size:16px;width:100%;" class="ng-binding" ng-bind-html="article.ds | to_trusted"></div></li>
                            <li>
                                <span class="btn-like-wrapper"><span ng-show="article.nov > 20 || userInfo.isAdmin" class="btn-like" style="margin-right:10px;"><img class="view-icon" style="vertical-align:sub;" data-ng-src="/assets/app/images/general/icons/view.gif"/>{{article.nov}}</span></span>
                                <span data-ng-include data-src="'/assets/app/views/like-article.html'"></span>
                            </li>
                            <li>
                                <div style="margin:20px 0;font-size:16px;">
                                    <div class="padding10" style="border-top:1px solid #eee;"></div>
                                    分享連結: 
                                    <input type='text' name='article-link' id='article-link' value='{{applicationInfo.baseUrl}}/magazine#/article/{{article.id}}/{{article.ct.id}}'></input> 
                                    <a style='margin-left:5px;padding:2px 7px;font-size:14px;' class='toolsbox toolsbox-single' onclick='highlightLink("article-link")'><i class='glyphicon glyphicon-link'></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Post Detail End -->
            
            <div id="relatePost" class="general-box">
                <div class="con-title">
                    <span class="icon-box icon-box-brown icon-title-relatePost"></span><p>相關文章</p>
                </div>
                <ul>
                    <li data-ng-repeat="relatedArticle in relatedResult"><p><a href="#/article/{{relatedArticle.id}}/{{relatedArticle.ct.id}}" style="color: #324fe1;"><img ng-show="relatedArticle.img_url != 'No Image'"  data-ng-src="{{relatedArticle.img_url}}"/>{{relatedArticle.nm|limitTo:18}}</a></p></li>
                </ul>
            </div><!--Relate Post End -->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="width:310px;">
            <div data-ng-include data-src="'/assets/app/views/utilities/articlesUtility.html'"></div>
        </div>
    </div>
</div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
</div>

<script>
    ga_send_pv();
</script>