<div id="header" class="header-wrapper no-glow navbar hidden-print navbar-default box main navbar-fixed-top" id="top-bar" role="navigation" style="top:0px; height: 42px;">
    <a class="header-logo pull-left" href="#">
        <img src="../assets/app/images/logo-1.png" />
    </a>
    
    <div class="right-side">
        <a class="header-main-text" href="#">
            主頁
        </a>
        <a class="header-main-text" ng-href="#/about/activities">
            {{userInfo.firstName}}
        </a>
        <a style="position:relative;top:-3px;" class="dropdown-toggle dropdown-hover colorChange" data-toggle="dropdown" href="#">
            <img src="../assets/app/images/general/icons/w_setup.png" />
        </a>
        <ul class="dropdown-menu">
            <!--li><a ng-href="#/">設定</a></li-->
            <li><a href="/logout">登出</a></li>
            <li class="dropdown-divider" role="presentation"></li>
        </ul>
    </div>
</div>
<div id="main-top"/>