<header>
	<div data-ng-include style="width:100%;height:50px;" data-src="'/assets/app/views/header-bar.html'"></div>
	<div data-ng-include data-src="'/assets/app/views/magazine/nav-bar.html'"></div>
</header>

<div class="themeA-container">
    <div id="content">
		<div class="row">
    		<div class="col-md-6 col-sm-6 col-xs-6" style="width:68%;">
                <div id="wall">
                    <div ng-controller="MagazineNewsFeedController" data-ng-include style="width:102%;" data-src="'/assets/app/views/magazine/magazine-news-feed-section.html'"></div>
                </div>
            </div>
	        
    		<div class="col-md-4 col-sm-4 col-xs-4 " style="width:300px;">
                <div ng-show="userInfo.isLoggedIn">
                    <div data-ng-include data-src="'/assets/app/views/my-shortcuts.html'"></div>
                </div>
	            <div ng-controller="TodayWeatherInfoController">
                    <div data-ng-include style="width:100%;" data-src="'/assets/app/views/utilities/todayWeatherInfoUtility.html'"></div>
                </div>
                <div ng-controller="AnnouncementsWidgetController" ng-show="announcements.length > 0">
                    <div ng-init="niceScroll()" data-ng-include data-src="'/assets/app/views/widgets/announcements-widget.html'"></div>
                </div>
                <div>
                    <div data-ng-include style="width:100%;" data-src="'/assets/app/views/utilities/feedbackCommunityUtility.html'"></div>
                </div>
                <div ng-show="!userInfo.isLoggedIn" id="promo-signup" class="general-box utility-box">
                    <ul>
                        <li class="promo-signup-text">使用 facebook 進行登記</li>
                        <li class="promo-signup-fb">
                            <a href="/authenticate/facebook"><img style="width:200px;height:auto;" alt="Login via faceebook" src="../assets/app/images/login/facebook_acc.jpg" /></a>
                            <h5>註: 小萌豆絕對不會發佈或留言到您的 facebook 帳戶中</h5>
                        </li>
                        <hr style="margin:15px 0px;border: #c1c1c1 thin dashed;"/>
                        <li class="promo-signup-text">使用 miniBean 進行登記</li>
                        <li class="promo-signup-native">
                            <div><a href="/signup" style="font-size:18px;"><b>立即登記!</b></a></div>
                        </li>
                    </ul>
                </div>
            </div>
	    </div>
    </div>
</div>

<div data-ng-include data-src="'/assets/app/views/showImageModal.html'"></div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
</div>