<div id="pin-container" infinite-scroll='nextNewsFeeds()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1'>
    <div masonry>
        <div class="masonry-brick pin-brick" style="width:33%;" data-ng-repeat="post in newsFeeds.posts">
            <div id="wall-main">
                <div class="general-box">
                    <div data-ng-include data-src="'/assets/app/views/business-post-bar.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<span ng-show="isBusy" spinner-start-active="1" us-spinner="{top:'inherit'}"></span>