<header>
    <div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/header-bar.html'"></div>
    <div data-ng-include data-src="'/assets/app/views/nav-bar.html'"></div>
</header>

<div class="themeA-container">
    <div class="row">
        <!--div class="col-lg-1 col-md-1 col-xs-1" style="width:2%;"></div-->
        <div class="col-md-2 col-sm-2 col-xs-2" style="width:20%;">
            <div id="all-post-thumbnail" class="general-box" ng-show="oneCategory">
                <ul>
                    <li><div><font class="scCatName">{{categoryName}}</font></div></li>
                    <li>
                        <img data-ng-src="{{categoryImage}}">
                    </li>
                </ul>
            </div>
			<div id="all-post-thumbnail" class="general-box" ng-show="allCategory">
				<ul>
				    <li><div><font class="scCatName">所有文章</font></div></li>
                    <li data-ng-repeat="category in articleCategories" ng-show="$index < 4" style="width:50%;">
                        <img data-ng-src="{{category.pn}}" style="width: 100%; height: 82px">
                    </li>
                </ul>
			</div>
            <!--All Post Thumbnail End -->
            <!--div id="postCategory" class="general-box">
                <div class="con-title">
                    <span class="icon-box icon-box-blueDark icon-title-postCat"></span><font><font>Category</font></font>
                </div>
                <div class="content-wrapper">
                    <ul>
                        <li><a href="#/article/show/0" style="cursor: pointer;"><font><font style="font-size:15px;vertical-align:middle;">所有文章</font></font></a></li>
                        <li data-ng-repeat="category in articleCategories"><a data-ng-href="#/article/show/{{category.id}}" style="cursor: pointer;" id="categoryselect"><font><font style="font-size:15px;vertical-align:middle;">{{category.name}}</font></font></a></li>
                    </ul>
                </div>
            </div-->
            <!--Post Category End -->
            <div ng-show="!userInfo.isLoggedIn">
                <div data-ng-include data-src="'/assets/app/views/magazine/promo-signup-widget.html'"></div>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-6 col-xs-6" style="width:48%;">
            <div ng-show="allCategory">
                <div ng-controller="ArticleSliderController" data-ng-include data-src="'/assets/app/views/articleSlider.html'"></div>
            </div>
            <div ng-show="oneCategory">
                <div id="slider" class="general-box" style="height:100%;">
                    <div id="sta-con-slider">
                        <div class="sta-con-mainslide"><p><a href="#/article/id/{{article1.id}}">{{article1.nm|limitTo:18}}</a><!--a title="summary" href="#/article/id/{{article1.id}}">{{article1.lds|limitTo:60}}...</a--></p><a href="#/article/id/{{article1.id}}"><img ng-show="article1.img_url != 'No Image'" data-ng-src="{{article1.img_url}}"></a><a href="#/article/id/{{article1.id}}"><img src="../assets/app/images/general/gradient_black_30.png"></a></div>
                        <div class="sta-con-mainslide"><a title="subslide" href="#/article/id/{{article2.id}}">{{article2.nm|limitTo:18}}</a><a href="#/article/id/{{article2.id}}"><img ng-show="article2.img_url != 'No Image'" data-ng-src="{{article2.img_url}}"></a><a href="#/article/id/{{article2.id}}"><img src="../assets/app/images/general/gradient_black_30.png"></a></div>
                        <div class="sta-con-mainslide"><a title="subslide" href="#/article/id/{{article3.id}}">{{article3.nm|limitTo:18}}</a><a href="#/article/id/{{article3.id}}"><img ng-show="article1.img_url != 'No Image'" data-ng-src="{{article3.img_url}}"></a><a href="#/article/id/{{article3.id}}"><img src="../assets/app/images/general/gradient_black_30.png"></a></div>
                    </div>
                </div>
            </div>
            <!--Slider End -->
            <div id="wall">
                <!--div class="general-box" ng-show="oneCategory">
                    <div class="wall-title">
                        <span class="wall-icon icon-title-friendwall"></span><a href="#/article/show/0" style="cursor: pointer;"><font style="font-size:15px;vertical-align:middle;">{{categoryName}}</font></a>
                    </div>
                </div>
                <div class="general-box" ng-show="allCategory">
                    <div class="wall-title">
                        <span class="wall-icon icon-title-friendwall"></span><a href="#/article/show/0" style="cursor: pointer;"><font style="font-size:15px;vertical-align:middle;">所有文章</font></a>
                    </div>
                </div-->
                <div infinite-scroll='next_result()' infinite-scroll-distance='1'>
	                <div class="general-box">
	                    <ul class="allpost-wrapper" style="padding: 5px 10px 0px 10px;">
	                        <li data-ng-repeat="article in result" style="border:none;border-bottom:#bcbcbc thin solid;">
	                            <a href="#/article/id/{{article.id}}">
	                                <img ng-show="article.img_url != 'No Image'" data-ng-src="{{article.img_url}}">
	                            </a>
	                            <a data-ng-show="!article.isBookmarked" class="btn-like post-favorite" href="" data-ng-click="bookmarkArticle(article.id)"></a> <!--data-toggle="tooltip" data-tooltip="收藏到'我的喜愛'"></a-->
                                <a data-ng-show="article.isBookmarked" class="btn-like post-favorited" href="" data-ng-click="unBookmarkArticle(article.id)"></a>
                                <div>
                                    <a href="#/article/id/{{article.id}}">
                                        <h4 style="color:#324fe1;"><font><font>{{article.nm}}</font></font></h4>
                                    </a>
                                    <h6>
                                        <a class="tag" data-ng-href="#/article/show/{{article.ct.id}}">
                                            <font><font>{{article.ct.name}}</font></font>
                                        </a>
                                        <!--font>{{article.pd | date:'yyyy'}}</font>
                                        <font>{{article.pd | date:'MMM'}}</font-->
                                        <font>{{article.pd | date:'M/dd/yyyy'}}</font>
                                        <span ng-show="article.nov > 0" class="view-count" style="margin-left:10px;"><img class="view-icon" data-ng-src="/assets/app/images/general/icons/view.gif"/>{{article.nov}}</span>
                                        <span ng-show="article.nol > 0" class="like-count"><img data-ng-src="/assets/app/images/general/icons/liked_1.gif"/>{{article.nol}}</span>
                                    </h6>
                                    <p><font><font>{{article.lds|limitTo:85}}...</font></font></p>
                                </div>
                            </li>
	                    </ul>
	                </div>
                </div>
            </div>
            <!--Wall End -->
        </div>
        
        <div class="col-md-4 col-sm-4 col-xs-4 " style="width:300px;">
            <div data-ng-include style="width: 100%;" data-src="'/assets/app/views/utilities/articlesUtility.html'"></div>
        </div>
    </div>
</div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53905621-1', 'auto');
  ga('send', 'pageview');

</script>