<div id="about" class="general-box">
    <div class="con-title">
        <span class="icon-box icon-box-blueLight icon-title-profile-about"></span>關於
        <div class="pull-right">
            {{community.nom}}個關注
            <!--p data-ng-show="community.typ == 'CLOSE'" class="small"><span class="glyphicon glyphicon-lock"></span>不公開的社群</p>
            <p data-ng-show="community.typ == 'OPEN'" class="small">公開的社群</p-->
        </div>
    </div>

    <div class="content-wrapper">
        <ul>
            <pre>{{community.d}}</pre>
        </ul>
    </div>
    <div style="text-align:center;" ng-if="userInfo.isLoggedIn">
        <ul>
            <li>
                <form id="commun-add-member-wrapper"
                    name="commun-add-member-wrapper" method="post" action="">
                    <label for="Add Member"></label> 
                    <input type="text" name="add-member-field" id="add-member-field" class="general-textfield general-input-box" data-ng-model="searchQuery1"
                        data-ng-keyup="search_unjoined_users(community.id, searchQuery1)" placeholder="+ 推薦給媽媽" />
                    <div>
                        <div class="row">
                            <ul class="col-lg-12 col-md-11 col-sd-11 dropdown-menu chat media-list hide"
                                ng-class="{show : nonMembers.length > 0 && searchQuery1.length > 0}"
                                style="overflow-y: scroll; max-height: 244px;">
                                <li class="media" ng-repeat="sr in nonMembers"
                                    ng-switch="sr.tp" style="margin-top: 2% !important;">
                                    <!-- shows user section --> 
                                    <a class="pull-left" href="#!/profile/{{sr.id}}"> 
                                        <img class="media-object thumb" data-ng-src="/image/get-mini-image-by-id/{{sr.id}}" alt="50x50" width="50"/>
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            {{sr.nm}} 
                                            <i data-ng-click="send_invite_to_join(community.id, sr.id)" class="fa fa-plus-square pull-right"></i>
                                        </h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>