<header>
	<div data-ng-include style="width:100%;" data-src="'/assets/app/views/header-bar.html'"></div>
</header>

<div class="themeA-container">
    <div data-ng-include data-src="'/assets/app/views/nav-bar.html'"></div>
	<div id="content">
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-2" style="width:230px;">
                <div data-ng-controller="GameController">
                    <div data-ng-include data-src="'/assets/app/views/widgets/my-profile-widget.html'"></div>
                </div>
                <div>
                    <div data-ng-include data-src="'/assets/app/views/widgets/my-shortcuts-widget.html'"></div>
                </div>
                <div>
                    <div data-ng-include data-src="'/assets/app/views/widgets/communities-discover-widget.html'"></div>
                </div>
                <div data-ng-controller="UserCommunityWidgetController" data-ng-show="result.communities.length > 0">
                    <div ng-init="niceScroll()" data-ng-include data-src="'/assets/app/views/widgets/my-communities-widget.html'"></div>
                </div>
            </div>
             
            <div class="col-md-6 col-sm-6 col-xs-6" style="width:480px;">
                <div>
                    <div id="message-board" class="alert alert-info">
                        <!--img style="width:32px;" src="/assets/app/images/general/icons/pink_heart.png"></img-->
                        <img style="width:25px;" src="/assets/app/images/general/icons/ranking/rank_1.png">
                        請進入您有興趣的社群，瀏覽最新話題<br/>
                        <img style="width:25px;" src="/assets/app/images/general/icons/ranking/rank_2.png">
                        關注您有興趣的社群，社群的話題會出現到&quot;我的社群動向&quot;中
                        <a style="margin-left:80%;" class="btn btn-general tour-btn" href="" ng-click="startHomeTour();">
                            <img style="width:10px;" src="/assets/app/images/general/icons/pink_question_mark.gif"></img>
                            小貼士
                        </a>
                    </div>
                </div>
                
	            <div id="wall" data-ng-controller="CommunitiesDiscoverController">
	                <div data-ng-include data-src="'/assets/app/views/home/communities-discover-section.html'"></div>
	            </div>
            </div>
	        
    		<div class="col-md-4 col-sm-4 col-xs-4" style="width:310px;">
	            <!--div ng-controller="TodayWeatherInfoController">
                    <div data-ng-include data-src="'/assets/app/views/utilities/todayWeatherInfoUtility.html'"></div>
                </div-->
                <div ng-controller="AnnouncementsWidgetController" ng-show="announcements.length > 0">
                    <div ng-init="niceScroll()" data-ng-include data-src="'/assets/app/views/utilities/announcementsUtility.html'"></div>
                </div>
                <div ng-controller="MyFriendsUtilityController" data-ng-show="result.friends.length > 0">
                    <div data-ng-include data-src="'/assets/app/views/utilities/friendsUtility.html'"></div>
                </div>
  				<!--div ng-controller="RecommendedCommunityWidgetController" data-ng-show="result.communities.length > 0">
                    <div data-ng-include data-src="'/assets/app/views/utilities/yourFriendsCommunitiesUtility.html'"></div>
				</div-->
				<div class="ads-factor-300x250">
                    <script adSize="300250" adSid="772388026700" ads-factor language='JavaScript' type="text/javascript"></script>
                </div>
                <div id="right-sidebar" ui-scrollfix="+{{rightSidebarTop}}">
                    <div>
                        <div data-ng-include data-src="'/assets/app/views/widgets/fb-likebox-widget.html'"></div>
                    </div>
                    <div>
                        <div data-ng-include data-src="'/assets/app/views/utilities/feedbackCommunityUtility.html'"></div>
                    </div>
                </div>
                <div class="ads-factor-1x1">
                    <script adSize="11" adSid="469337956699" ads-factor language='JavaScript' type="text/javascript"></script>
                </div>
            </div>
	    </div>
    </div>
</div>

<div data-ng-include data-src="'/assets/app/views/home/show-image-modal.html'"></div>

<div data-ng-include data-src="'/assets/app/views/home/create-community-modal.html'"></div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
</div>

<script>
    ga_send_pv();
</script>