<div id="game-box" class="box-a">
    <h4>小豆豆記錄表 (最近30個記錄)</h4>
    <!--h6>由"每日簽到"、"介紹新會員加入"所獲得的小豆豆會立即計算在"小豆豆總數"中。以其他方式獲得的小豆豆會在隔天反應</h6-->
    <ul class="record">
        <li ng-if="!gameTransactions || gameTransactions.length == 0">
            未有小豆豆積分記錄
        </li>
        <li ng-repeat="transaction in gameTransactions"> 
            {{transaction.tt | date:'yyyy-M-dd HH:mm'}}
            <span ng-if="transaction.ty != 'Redeem' && transaction.ty != 'Penalty'">
                {{transaction.td}}獲得{{transaction.tp}}個小豆豆
            </span>
            <span ng-show="transaction.ty == 'Redeem' || transaction.ty == 'Penalty'">
                {{transaction.td}}扣除{{transaction.tp}}個小豆豆
            </span>
        </li>
    </ul>
</div>