<div id="game-box" class="box-a">
    <h4>每日簽到</h4>
    <div class="sign-in">
        <span style="margin-right:10px;">立即簽到累積小豆豆!</span> 
        <a class="btn btn-general btn-sign-in" href="" ng-show="userInfo.enableSignInForToday" ng-click="signInForToday();">
            <img style="height:28px;width:auto;" src="/assets/app/images/game/sign_in.png"></img>
        </a>
        <a class="btn btn-general btn-signed-in" href="" ng-show="!userInfo.enableSignInForToday">
            <img style="height:28px;width:auto;" src="/assets/app/images/game/signed_in.png"></img>
        </a>
    </div>
    <div class="padding10"></div>
    
    <h4>活力指數</h4>
    <div class="game-details">
        <div>
            活力級別: <span class="points">{{gameAccount.gln || '---'}} <img style="width:24px;" src="{{gameAccount.gli}}"></span>
            <span style="font-size:12px;color:#666;">( 活力值: {{gameAccount.acpt || '---'}} )</span>
        </div>
    </div>
    <div class="padding10"></div>
    
    <h4>我的小豆豆</h4>
    <div class="game-details">
        <div>
            小豆豆總數: <span class="points">{{gameAccount.gmpt || '---'}}</span>
        </div>
        <div>
            已兌換: <span class="points">{{userInfo.rdpt || '---'}}</span>
            <span style="font-size:12px;color:#666;" ng-show="userInfo.rdpt == null || userInfo.rdpt == 0">( 未有兌換禮品記錄 )</span>
        </div>
    </div>
    <div class="padding10"></div>
    
    <h4>介紹新會員加入</h4>
    <div class="game-details">
        <span ng-if="gameAccount.refs == 0">
            <span style="margin-right:10px;">用以下連結介紹你的朋友加入~~</span><br/>
            <span style="margin-right:10px;">每個朋友成功註冊。你即可獲得<span style="margin:3px;" class="points">20</span>個小豆豆!</span> 
        </span>
        <span ng-if="gameAccount.refs > 0">
            <span style="margin-right:10px;">恭喜!! 你已成功介紹<span style="margin:3px;" class="points">{{gameAccount.refs}}</span>個新會員加入~~</span><br/>
            <span style="margin-right:10px;">獲得<span style="margin:3px;" class="points">{{gameAccount.refs * gameReferralPoints}}</span>個小豆豆!</span> 
        </span>
        <div>
            <input type='text' name='game-promo-link' id='game-promo-link' value='{{applicationInfo.baseUrl}}/signup-promo-code/{{gameAccount.pmcde}}'></input> 
            <a style='padding:5px 7px;font-size:14px;' class='toolsbox toolsbox-single' onclick='highlightLink("game-promo-link")'><i class='glyphicon glyphicon-link'></i></a>
        </div>
    </div>
    <div class="padding10"></div>
    <div><img src="/assets/app/images/frontpage/topic_footer_a.jpg" /></div>
</div>
<div class="padding10"></div>

<div id="game-box" class="box-a">
    <h4>小豆豆記錄表 (最近30個記錄)</h4>
    <h6>由"每日簽到"、"介紹新會員加入"所獲得的小豆豆會立即計算在"小豆豆總數"中。以其他方式獲得的小豆豆會在隔天反應</h6>
    <ul class="record">
        <li ng-repeat="transaction in gameTransactions"> 
            {{transaction.tt | date:'yyyy-M-dd HH:mm'}} {{transaction.td}}獲得<span ng-show="transaction.tp < 0">-</span>{{transaction.tp}}個小豆豆
        </li>
    </ul>
</div>