<div infinite-scroll='nextNewsFeeds()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1'>
    <div id="wall-main">
        <div class="general-tips" style="margin-bottom:10px;">
            您「正在關注」的社群最新話題會顯示在這「社群動向」中
        </div>
        <div class="general-box">
	    	<div data-ng-repeat="post in newsFeeds.posts">
	            <div data-ng-show="post.type=='SIMPLE'">
	                <div data-ng-include data-src="'/assets/app/views/home/post-bar.html'"></div>
	            </div>
	            <div data-ng-show="post.type=='QUESTION'">
			        <div data-ng-include data-src="'/assets/app/views/home/qna-bar.html'"></div>
			    </div>
			</div>
     	</div>
	</div>
</div>
<span ng-show="isBusy" spinner-start-active="1" us-spinner="{top:'inherit'}"></span>