<!-- Top section -->
<a id="membersSearchwrapper" class="pull-right" style="margin-right: 9%;">
    <div class="basic-search-wrapper">
        <div class="input-group innerB basic-search">
            <input type="text" class="form-control" ng-model="query" placeholder="搜尋社群">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</a>
<div style="padding:30px;"></div>

<!-- User communities -->
<div ng-show="userJoinedCommunities.length > 0">
    <div class="general-box widget-box">
        <div class="section-title">
            <!--span class="section-icon icon-title-community"></span-->
            <span>關注的社群</span>
        </div>
    </div>
    <div class="padding5"></div>

    <div class="communityCard" ng-repeat="community in userJoinedCommunities | filter:query">
        <a href="my#!/community/{{community.id}}" class="d-s ob">
            <div class="communityImageBox">
                <img class="img-clean" data-toggle="tooltip" data-placement="top" data-tooltip="{{community.dn}}" data-ng-src="/image/get-thumbnail-cover-community-image-by-id/{{community.id}}" alt="...">
            </div>
        </a>
        <div class="communityTagBox">
            <img src="{{community.gi}}">
            <p>
                <a href="my#!/community/{{community.id}}"><b><font>{{community.dn}}</font></b></a><br>
                <span class="community-member-counter"><img src="../assets/app/images/general/icons/i-mom.png" />{{community.mm}}</span>
                <span class="community-attribute">
                    <!-- font data-ng-show="community.tp=='OPEN'">   ·   公開</font --><font data-ng-show="community.tp=='CLOSE'">   ·   <span class="glyphicon glyphicon-lock"></span>不公開</font>
                </span>
            </p>
            <a ng-show="!community.isM && !community.isP" data-ng-click="send_request(community.id)" style="position:relative;right:5px;margin-bottom:5px;" class="btn-general pull-right">
                + <i class="fa fa-user"></i> 關注
            </a>
            <span ng-show="!community.isM && community.isP" style="position:relative;right:5px;margin-bottom:5px;" class="btn-general-flat pull-right">
                正在關注
            </span>
        </div>
    </div>
    <div class="padding5"></div>
</div>

<!-- User pages -->
<div ng-show="userLikedBusinessCommunities.length > 0">
    <div class="general-box widget-box">
        <div class="section-title">
            <!--span class="section-icon icon-title-community"></span-->
            <span>關注的專頁</span>
        </div>
    </div>
    <div class="padding5"></div>

    <div class="communityCard" ng-repeat="community in userLikedBusinessCommunities | filter:query">
        <a href="my#!/business/community/{{community.id}}" class="d-s ob">
            <div class="communityImageBox">
                <img class="img-clean" data-toggle="tooltip" data-placement="top" data-tooltip="{{community.dn}}" data-ng-src="/image/get-thumbnail-cover-community-image-by-id/{{community.id}}" alt="...">
            </div>
        </a>
        <div class="communityTagBox">
            <img src="{{community.gi}}">
            <p>
                <a href="my#!/business/community/{{community.id}}"><b><font>{{community.dn}}</font></b></a><br>
                <span class="community-member-counter"><img src="../assets/app/images/general/icons/i-mom.png" />{{community.mm}}</span>
                <span class="community-attribute">
                    <!-- font data-ng-show="community.tp=='OPEN'">   ·   公開</font --><font data-ng-show="community.tp=='CLOSE'">   ·   <span class="glyphicon glyphicon-lock"></span>不公開</font>
                </span>
            </p>
            <a ng-show="!community.isM && !community.isP" data-ng-click="send_request(community.id)" style="position:relative;right:5px;margin-bottom:5px;" class="btn-general pull-right">
                + <i class="fa fa-user"></i> 關注
            </a>
            <span ng-show="!community.isM && community.isP" style="position:relative;right:5px;margin-bottom:5px;" class="btn-general-flat pull-right">
                正在關注
            </span>
        </div>
    </div>
    <div class="padding5"></div>
</div>
<div class="padding20"></div>