<div class="general-box admin-visible-field" ng-if="userInfo.isSA">
    <div style="margin:5px 10px;">mobileSignup: {{profile.mb}}</div>
    <div style="margin:5px 10px;">fbLogin: {{profile.fb}}</div>
    <div style="margin:5px 10px;">emailValidated: {{profile.vl}}</div>
    <div style="margin:5px 10px;">email: {{profile.em}}</div>
    <div style="margin:5px 10px;">signupDate: {{profile.sd}}</div>
    <div style="margin:5px 10px;">lastLogin: {{profile.ll}}</div>
    <div style="margin:5px 10px;">totalLogin: {{profile.tl}}</div>
    <div style="margin:5px 10px;">questionsCount: {{profile.qc}}</div>
    <div style="margin:5px 10px;">answersCounts: {{profile.ac}}</div>
    <div style="margin:5px 10px;">likesCount: {{profile.lc}}</div>
    <div style="margin:5px 10px;">wantAnsCount: {{profile.wc}}</div>
</div>

<div id="about" class="general-box">
    <div class="con-title">
        <span class="icon-box icon-box-blueLight icon-title-profile-about"></span>關於
    </div>
    <div class="row">
        <ul style="padding:15px;">
            <li>
                <div style="width:30%;display:inline-block;">
                	<label>地區: </label>
                </div>
                <span>{{ profile.loc.displayName || '' }}</span>
            </li>
            <li>
                <div style="width:30%;display:inline-block;">
                    <label>關於我: </label>
                </div>
                <div style="margin-left:20px;">
                    <pre>{{ profile.a || '' }}</pre>
                </div>
            </li>
        </ul>
    </div>
</div>
