<div id="game-box" class="box-a">
    <div class="game-gift">
	    <img style="width:100%;padding:15px;" ng-src="{{gameGift.im}}">
	    
	    <h3>{{gameGift.nm}}</h3>
	    <div class="game-details" style="text-align:center;"><span>兌換: {{gameGift.rp}}小豆豆</span></div>
	    <div class="game-details" style="text-align:center;" ng-if="gameGift.lpu > 0"><span">每個用戶最多可換領: {{gameGift.lpu}}</span></div>
	    
	    <div class="padding10"></div>
	    <div class="game-details" style="text-align:center;"><span style="color:#556fb5;">這是您朋友的介紹 Code: {{promoCode}}</span></div>
	    <div class="game-details" style="text-align:center;"><span style="color:#556fb5;">請以Facebook用戶身份註册成為miniBean會員，</span></div>
	    <div class="game-details" style="text-align:center;"><span style="color:#556fb5;">您朋友即可累積 +{{gameConstants.POINTS_REFERRAL_SIGNUP}}小豆豆！</span></div>
	    <div class="padding10"></div>
	    <div style="width:100%;text-align:center;" ng-if="gameGift.ac">
            <a class="game-gift-redeem-action-btn" ng-href="{{signupWithPromoCodeUrl}}">加入 miniBean 成為會員</a>
        </div>
        <div style="width:100%;text-align:center;" ng-if="!gameGift.ac">
            <a class="game-gift-redeem-pending-btn" href="">- 換領已結束 -</a>
        </div>
	    <div class="padding10"></div>

        <div ng-if="gameGift.ds">
            <div class="game-details" style="padding:0 20px;"><span class="game-details-info" ng-bind-html="gameGift.ds | to_trusted"></span></div>
            <div class="padding10"></div>
        </div>
        
        <a class="" href="/#!/game-rules">
            <h5>如何累積小豆豆？<!--img style="width:14px;margin:0 3px 3px;float:none;" src="/assets/app/images/general/animated/arrow.gif"--></h5> 
        </a>
        <div class="padding10"></div>
        
	    <div ng-if="gameGift.ri">
		    <h4>換領規則</h4>
		    <div class="game-details"><span class="game-details-info" ng-bind-html="gameGift.ri | to_trusted"></span></div>
		    <div class="padding10"></div>
	    </div>
	    
	    <div ng-if="gameGift.ei">
		    <h4>換領有效期</h4>
		    <div class="game-details"><span class="game-details-info" ng-bind-html="gameGift.ei | to_trusted"></span></div>
		    <div class="padding10"></div>
		</div>
		
		<div ng-if="gameGift.si">
		    <h4>領取方式</h4>
		    <div class="game-details"><span class="game-details-info" ng-bind-html="gameGift.si | to_trusted"></span></div>
		    <div class="padding10"></div>
		</div>
		
		<div ng-if="gameGift.ci">
		    <h4>客戶服務</h4>
		    <div class="game-details"><span class="game-details-info" ng-bind-html="gameGift.ci | to_trusted"></span></div>
		    <div class="padding10"></div>
		</div>
		
		<div ng-if="gameGift.mi">
		    <h4>注意事項</h4>
		    <div class="game-details"><span class="game-details-info" ng-bind-html="gameGift.mi | to_trusted"></span></div>
		    <div class="padding10"></div>
		</div>
		
	    <div class="padding10"></div>
        <div style="width:100%;text-align:center;">
            <a class="game-gift-redeem-action-btn" ng-href="{{signupWithPromoCodeUrl}}">加入 miniBean 成為會員</a>
        </div>
        <div class="padding10"></div>
    </div>
    
    <div><img src="/assets/app/images/frontpage/topic_footer_a.png" /></div>
</div>