<div class="post-bar">
    <ul>
        <li class="post-bar-title">
            <a data-ng-href="#!/qna-landing/id/{{post.id}}/communityId/{{post.cid}}" target="_blank"><span ng-bind-html="post.ptl | to_trusted"></span></a>
            <span ng-init="confirm = isMyBookmarksPage" data-ng-include data-src="'/assets/app/views/home/bookmark-post.html'"></span>
        </li>
        <li class="post-bar-images" ng-if="post.hasImage">
            <a data-toggle="modal" data-target="#imageModal" ng-repeat="imageID in post.imgs" href="">
                <img ng-src="/image/get-post-image-by-id/{{imageID}}" ng-click="showImage(imageID)" alt="">
            </a>
        </li>
        <li class="post-bar-details">
            <div class="row">
                <span class="post-qna-answer-count">
                    <!--a data-ng-href="my#!/profile/{{post.oid}}"><img style="float:none;" class="user-image" data-ng-src="/image/get-mini-image-by-id/{{post.oid}}"/></a-->
                    <span class="post-title-user-name">
                        <a data-ng-href="my#!/profile/{{post.oid}}">{{post.p}}</a>
                    </span>
                </span>
                <span class="post-intro-divider"></span>
                <!--span class="post-qna-answer-count">
                    <img src="../assets/app/images/general/icons/i-time.png" /><span class="post-date" am-time-ago="post.t"></span>
                </span-->
		        
		        <span class="pull-right">
                    <span class="post-qna-answer-count"><img src="../assets/app/images/general/icons/i-reply.png" />{{post.n_c}}</span>
                    <span class="admin-visible-field" ng-if="userInfo.isE">
                        <span class="post-intro-divider"></span>
                        <span class="post-qna-answer-count"><img src="../assets/app/images/general/icons/view.png" />{{post.nov}}</span>
                    </span>
		        </span>
		    </div>
            <div class="row">
                <span ng-if="post.n_c == 0">
                    最新回覆: --
                </span>
                <span ng-if="post.n_c > 0">
                    最新回覆: 
	                <span class="post-qna-answer-count">
	                    <!--a data-ng-href="my#!/profile/{{post.uid}}"><img style="float:none;" class="user-image" data-ng-src="/image/get-mini-image-by-id/{{post.uid}}"/></a-->
	                    <span class="post-title-user-name">
	                        <a data-ng-href="my#!/profile/{{post.uid}}">{{post.u}}</a>
	                    </span>
	                </span>
	                <span class="post-intro-divider"></span>
	                <span class="post-qna-answer-count">
	                    <img src="../assets/app/images/general/icons/i-time.png" /><span class="post-date" am-time-ago="post.ut"></span>
	                </span>
	            </span>
                
                <span class="pull-right" ng-if="!isCommunityPage">
                    <a data-ng-href="my#!/community/{{post.cid}}"><img src="{{post.ci}}">{{post.cn}}</a>
                </span>
            </div>
        </li>
    </ul>
</div>