body {
    font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 13px;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: none;
    background-color: #F0F0F0;
}
.caret {
    border-top: 7px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.glyphicon-film {
    text-indent: 0px;
    margin-top: 0px;
    font-size: 22px;
}
.glyphicon-bookmark {
    text-indent: 0px;
    margin-top: 5px;
    font-size: 22px;
}
.glyphicon-map-marker {
    font-size: 17px;
    vertical-align: text-bottom;
}
.glyphicon-refresh {
    color: white;
    font-size: 18px;
    vertical-align: text-bottom;
    margin: 0 7px 0 7px;
}
.glyphicon-off {
    color: #428bca;
    font-size: 22px;
}
.bootbox .modal-dialog {
    margin: auto auto;
}
.sliding-menu-logout {
    font-size: 18px;
    margin: 5px 0;
}
.sliding-menu-logout-icon {
    text-indent: 0;
    vertical-align: text-bottom;
    margin: 5px 10px 0 5px;
}
.sliding-menu-single-item {
    border-top: 1px solid #BEBEBE;
    padding: 5px 0 0 0;
    height: 42px;
}
.sidebar-nav .sliding-menu-subcats-mag, 
.sidebar-nav .sliding-menu-subcats-article {
    margin: 0 20px 10px 25px;
    border-radius: 10px;
    overflow: hidden;
}
.sidebar-nav .sliding-menu-subcats-mag li, 
.sidebar-nav .sliding-menu-subcats-article li {
    text-indent: 15px;
    width: 47%;
}
.sidebar-nav .sliding-menu-subcats-mag {
    border: 2px solid #F3CAF2;
}
.sidebar-nav .sliding-menu-subcats-article {
    border: 2px solid #ECD3C7;
}
.sidebar-nav #fb-btn-set {
    margin-top: 5px;
    text-align: right;
}
.sidebar-nav #fb-btn-set a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../../images/login/fb_link_btn.png) center center no-repeat;
}
.sidebar-nav #fb-btn-set a:hover {
    width: 20px;
    height: 20px;
    background: url(../../images/login/fb_link_btn.png) center center no-repeat;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.themeA-container {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 12px 100px 12px;
    width: 100%;
    position: relative;
    box-shadow: none;
    top: 40px;
}
.wall-title {
    width: 100%;
    height: 32px;
    font-size: 14px;
    padding: 0px 5px;
    background-color: #B381FF;
}
.wall-title a {
    color: white;
    font-weight: normal;
    margin: 0 5px;
    position: relative;
    line-height: 28px;
    display: inline-block;
}
#wall-main .general-box {
    margin-bottom: 12px;
}
#imageModal .modal-dialog {
    margin: 0;
}
#imageModal .modal-content {
    /*top: 0;*/
}
#imageModal .modal-header .close {
    float: right;
    font-size: 30px;
    top: 3px;
}
#imageModal .modal-body img {
    max-width: 100%;
}
#back-to-top {
    width: 45px;
    height: 50px;
    bottom: 50px;
    right: 3%;
}
#back-to-top a {
    padding: 10px 10px;
}

/* sliding menu */
#wrapper {
    padding-left: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
#sidebar-wrapper {
    z-index: 1050;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #FFFFFF;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.sidebar-nav li.sliding-main-nav {
    text-indent:0;
    background-color: #C8ADEC;
    /*border-top: 2px solid #C8ADEC;
    border-bottom: 2px solid #C8ADEC;*/
    padding: 1%;
}
.sidebar-nav li.sliding-menu-main-item {
    display: inline-block;
    width: 49%;
    /*background: linear-gradient(to bottom,rgba(200,173,236,1) 24%,rgba(139,95,209,1) 100%);
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-radius: 10px 0 0 10px;*/
    background: linear-gradient(to bottom,rgba(152, 116, 210, 1) 24%,rgba(179, 141, 229, 1) 100%);
    border-radius: 5px;
    margin-bottom: 1%;
}
.sidebar-nav li.sliding-menu-main-item a {
    padding-left: 10px;
}
.sidebar-nav li.sliding-menu-main-item img {
    position: relative;
    width: 65px;
    height: auto;
}
.sidebar-nav li {
    display: block;
    margin: 0;
    line-height: 30px;
    border-top: none;
    /*border-bottom: 1px solid #BEBEBE;*/
    text-indent: 15px;
}
.sidebar-nav li a {
    color: #383838;
    font-size: 14px;
    font-weight: normal;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #77737E;
}
.sidebar-nav .sliding-menu-small-title {
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    height: auto;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    border-top: 1px solid #BEBEBE;
    border-bottom: 1px solid #BEBEBE;
}
.sidebar-nav .sliding-menu-item {
    border-top: 1px solid #BEBEBE;
    border-bottom: none;
    padding: 5px 0;
}
.sidebar-nav .sliding-menu-float-item {
    position: relative;
    float: left;
    margin-right: 0px;
    border-bottom: none;
}
.sidebar-nav .general-box {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}
#page-content-wrapper {
    width: 100%;
    padding: 0px;
}
.icon-btn {
    display: inline-block;
    padding: 10px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
#main-uphoto {
    width: 100%;
    height: 80px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    border-radius: 0px;
}
#main-uphoto a[title="user-picture"] {
    position: relative;
    left: 0;
    top: 15px;
    width: 70px;
}
#main-uphoto img[alt="user-picture"] {
    z-index: -5;
    box-shadow: 0 0 5px white;
    border: 3px solid white;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
#sidebar-wrapper ul li #main-uphoto a.userName {
    text-align: left;
    white-space: nowrap;
    color: white;
    line-height: 18pt;
    font-size: large;
    font-weight: bold;
    position: relative;
    top: -10px;
    left: 65px;
    width: 180px;
}
.myCommunity-info li {
    border: none;
    text-indent: 0;
    margin-top: 2px;
}
.myCommunity-info p {
    width: auto;
}
.myCommunity-info {
    padding-left: 15px;
    margin-top: 5px;
    min-height: 0;
    text-indent: 0;
}
#login-footer {
    color: white;
}
#login-footer a {
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    text-indent: 10px;
}

/* header */
.pull-left {
    float: left;
    position: relative;
}
#header, #header-backdrop {
    position: fixed;
    width: 100%;
    height: 42px;
    min-height: 42px;
}
#header .dropdown-menu, #header-backdrop .dropdown-menu {
    top: 100%;
    left: -250px;
}
#header-sliding-menu-toggle {
    background-color: transparent;
    padding: 10px 10px;
    top: -8px;
}
#header-sliding-menu-toggle .icon-bar, #header-sliding-menu-toggle .icon-bar {
    background-color: #FFD600;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    color: white;
    cursor: pointer;
    display: block;
    height: 2px;
    margin: 3px 3px;
    text-align: center;
    text-indent: 0px;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    text-transform: none;
    vertical-align: text-top;
    width: 18px;
}
#header-sliding-menu-toggle .icon-bar {
    
}
#header-logo-mobile {
    margin: 0px;
    width: 70%;
    text-align: center;
    position: absolute;
    top: 0px;
}
#header-logo-mobile img {
    margin-left: 10px;
}
.header-notif-bar {
    margin-left: 15px;
}
span.notif-count {
    position: relative;
    top: -27px;
    left: -7px;
}
.navbar .dropdown.notif .dropdown-menu {
    width: 280px;
    top: 52px;
    left: -255px;
}

/* slider */
.slider-menu a {
    font-size: 13px;
    font-weight: normal;
}
.slider-category p a {
    font-size: 12px;
}

/* header nav slider */
#nav-slider {
  font-weight: normal;
  font-size: 15px;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  top: 42px;
}
#nav-slider .rsThumbsHor {
  width: 100%;
  height: 40px;
  padding: 0;
}
.rsDefaultInv,
.rsDefaultInv .rsOverflow,
.rsDefaultInv .rsSlide,
.rsDefaultInv .rsVideoFrameHolder,
.rsDefaultInv .rsThumbs {
  background: #FFF;
}
.rsDefaultInv .rsThumb.rsNavSelected {
}
#nav-slider .example-link {
  padding: 7px 10px;
  color: #111;
  text-decoration: none;
}
#nav-slider > .rsContent {
  height: auto;
}
.royalSlider {
}
.royalSlider > .rsContent h1,
.royalSlider > .rsContent h2,
.royalSlider > .rsContent img,
.royalSlider > .rsContent .example-link {
  display: none;
}
#nav-slider .example-link:hover {
  text-decoration: none;
}
.rsWebkit3d .example-link {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
#nav-slider .rsThumb {
  width: 100px;     // NOTE: this must exist to calculate the correct slider scrolling width!!! OK to set to auto after slider init
  height: 40px;
  cursor: pointer;
  padding: 10px 0px;
  text-align: center;
}
#nav-slider .rsTmb {
  text-align: center;
}
#nav-slider .rsTmb img {
    height: 24px;
    width: auto;
    margin-top: -2px;
}
#nav-slider .selected-nav-item-yellow {
    border-bottom: 4px solid #FFB32D;
}
#nav-slider .selected-nav-item-green {
    border-bottom: 4px solid #239915;
}
#nav-slider .selected-nav-item-lightblue {
    color: white !important;
    background-color: #AFCCF9;
    border-radius: 20px;
    font-weight: bold;
}
#nav-slider .selected-nav-item-pink {
    color: white !important;
    background-color: #FFC2C4;
    border-radius: 20px;
    font-weight: bold;
}
#nav-slider .rsThumbsArrow {
    height: 36px;
    width: 30px;
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 21;    
}
#nav-slider .rsThumbsArrowLeft { position:fixed;  left:0; }
#nav-slider .rsThumbsArrowRight { position:fixed; right:0; }
#nav-slider .rsThumbsArrowIcn {
    height: 36px;
    width: 30px;
    position: absolute; 
    display: block;
    cursor: pointer;
    background: url(../../images/mobile/general/nav_overlay.png);  
}
#nav-slider .rsThumbsArrowLeft .rsThumbsArrowIcn { left:0; background-position:top; }
#nav-slider .rsThumbsArrowRight .rsThumbsArrowIcn { right:0; background-position:bottom; }
#nav-slider .rsThumbsArrowDisabled { display: none !important; }


/* post */
.post-copy-link-modal {
    top: 0px;
}
.post-copy-link-modal .modal-dialog {
    width: 250px;
    margin-left: 10px;
}
#post-link {
    width: 70%;
}
#article-link {
    width: 50%;
    padding: 5px;
}
.post-qna-tag, .post-sharing-tag {
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;
    width: 15px;
    height: 15px;
    margin-top: 3px;
}
.post-date {
    font-size: 11px;
}
.post-intro {
    font-size: 12px;
}
.post-intro img {
    width: 18px;
    height: 18px;
}
.post-intro .post-dropdown-menu {
    font-size: 15px;
}
.post-comment-box .post-qna-reply-textfield {
    width: 60%;
}
.post-comment-box .post-qna-reply-textfield:focus {
    width: 60%;
}
.post-comment-box .post-sharing-comment-textfield {
    width: 60%;
}
.post-comment-box .post-sharing-comment-textfield:focus {
    width: 60%;
}
.post-qna-body-title {
    padding-bottom: 10px;
}
.post-qna-answers {
    font-size: 13px;
}
.post-qna-answers li {
    /*padding: 10px 10px;*/
}
.post-qna-body-title a {
    font-size: 18px;
}
.post-qna-body {
    padding-top: 0px;
}
.post-sharing-body {
    padding-top: 5px;
}
.post-qna-body-text, .post-qna-answer-body-text {
    padding: 0px 0px 5px 0px;
    line-height: 1.2;
}
.post-sharing-body-text {
    padding: 5px 0px 5px 0px;
    line-height: 1.2;
}
.post-favorite:after, .post-favorited:after {
    text-indent: 23px;
    background-size: 18px 18px;
}
.dropdown-menu {
    left: -35px;
}
.btn-like {
    font-size: 13px;
}

/* profile */
#about .con-title {
    border-radius: 10px;
    border-bottom: none;
}
#about #collapseOne {
    height: auto;
    border-top: #764193 thin solid;
    margin: 0px;
}
#profile-header {
    background-color: white;
    margin: -8px -12px 0 -12px;
}
#profile-banner, #community-banner {
    width: 100%;
    height: 160px;
    border-radius: 5px 5px 0 0;
}
#profile-header #profile-header-menu div:first-child a {
    left: 60px;
    top: -70px;
}
#profile-header-menu img[alt="profile-pic"] {
    width: 100px;
    height: 100px;
    top: -80px;
    margin-left: 5px;
}
#profile-header #profile-user-name {
    width: 65%;
    position: absolute;
    top: -40px;
    left: 125px;
    font-size: 26px;
}
#profile-header-menu {
    padding: 7px 10px;
    position: relative;
}
#profile-header-menu #menu-title {
    position: relative;
    left: 115px;
}

/* community */
#communities-index ul {
    width: 50%;
}
#community-header {
    background-color: white;
    margin: -8px -12px 0 -12px;
}
.community-action-menu {

}
.community-action-menu .btn-general {
    font-size: 14px;
    width: 130px;
    margin: 0 8px 8px 0;
    padding: 7px;
    text-align: center;
}
#community-header #community-header-name {
    font-size: 22px;
    bottom: 0px;
}
#community-header-menu ul {
    position: absolute;
    min-width: 170px;
    right: 0px;
    top: 28px;
}
.communityCard {
    width: 45%;
    margin-left: 7px;
    margin-right: 7px;
}
.communityTagBox p {
    width: 70%;
    display: inline-block;
}
.memberCard, .friendCard {
    width: 95%;
    margin-left: 10px;
    margin-right: 0px;
}
.memberTagBox, .friendTagBox {
    width: 70%;
    max-width: 70%;
}

/* articles */
#tagword-list li {
    margin: 0 5px;
    padding: 2px 2px;
    width: 45%;
    display: inline-block;
}
#tagword-list .tagword-odd {
    background-color: white;
}
#tagword-list .tagword-even {
    background-color: white;
}
#sta-con-slider {
    width: 100%;
    height: 180px;
    background-color: white;
}
.sta-con-mainslide a {
    font-size: 18px;
    font-weight: normal;
}
.sta-con-mainslide a[title=subslide] {
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    z-index: 10;
    left: 10px;
    bottom: 5px;
}
.scCatMiniThumbnail {
    width: 75px;
    height: 60px;
    border-radius: 5px;
}
.scCatTitle {
    font-size: 15px;
    font-weight: normal;
}
.scTitle {
    font-size: 28px;
}
.article-detail-wrapper {
    padding: 10px 15px;
}
.allpost-wrapper li {
    min-height: 80px;
}
.allpost-wrapper li a img:first-child {
    float: left;
    width: 100px;
    height: 80px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.allpost-wrapper div {
    padding: 0 10px;
}
.allpost-wrapper p {
    width: 100%;
    min-height: 0px;
    overflow: visible;
    margin-top: 7px;
    margin-bottom: 3px;
    line-height: 1.35;
    font-size: 12px;
}
.allpost-wrapper h4 {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}
.allpost-wrapper a.tag {
    font-weight: normal;
}
#relatePost li {
    width: 25%;
}

/* masonry */
.pin-brick { 
    width: 50%;
    padding: 0 2px;     
}
.pin-brick #wall-main .general-box {
    margin-bottom: 5px;
}
.pin-brick .post-card ul:first-child {
    padding: 0px;
    margin: 2px 5px;
}
.pin-brick .post-sharing-body-text {
    padding: 5px 0px 5px 0px;
    margin: 0 5px;
}
.pin-brick .btn-like-wrapper {
    margin: 0;
}
.pin-brick .post-sharing-body-text-wrapper .post-sharing-body-text {
    padding: 5px 15px 10px 0;
}

/* Site tour */
.tour-tour {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
}
.tour-tour.right .arrow, .tour-tour.right .arrow:after {
    border: 0px;
}

/* Campaign */
.campaign-detail-wrapper {
    padding: 10px 15px 20px 15px;
}
.campaign-detail-wrapper .campaign-title, .campaign-detail-wrapper .campaign-title-ended {
    font-size: 20px;
}
.campaign-detail-wrapper .campaign-details li {
    width: auto;
}
#joinCampaignModal .modal-dialog, #withdrawCampaignModal .modal-dialog {
    width: 100%;
    margin: 100px auto;
}

/* Game */
#game-info div {
    margin: 3px 0;
    line-height: 20px;
}

/* ads */
.ads-factor-1x1 {
}
.ads-factor-300x250 {
    margin: 0px auto 10px auto;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.ads-factor-728x90 {
    margin: 0px auto 10px auto;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    overflow: hidden;
}