<div id="schools-nav-subbar" ng-show="selectedNavBar == 'SCHOOLS'">
    <div class="nav-menu">
        <span ng-class="{'selected-green': selectedNavSubBar == 0}">
            <a class="nav-item nav-item-green" href="/schools#!/pn">
                <img src="/assets/app/images/frontpage/mascot/purple_schools.png" ng-show="selectedNavSubBar == 0">
                幼兒班(PN班)
            </a>
        </span>
        <span ng-class="{'selected-maroon': selectedNavSubBar == 1}">
            <a class="nav-item nav-item-maroon" href="/schools#!/kg">
                <img src="/assets/app/images/frontpage/mascot/purple_schools.png" ng-show="selectedNavSubBar == 1">
                幼稚園(K班)
            </a>
        </span>
        <span class="pull-right">
            <div id="fb-btn-set">
			    <iframe class="fb-like-btn" frameborder="0" scrolling="no" allowtransparency="true" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fminibean.com.hk&amp;send=false&amp;layout=button&amp;width=305&amp;action=like&amp;colorscheme=light&amp;font&amp;height=30&amp;locale=zh_HK&amp;show_faces=0"></iframe>
			</div>
        </span>
    </div>
</div>

<style>
#schools-nav-subbar #fb-btn-set {
    margin-top: 8px !important;
    display: inline-block;
}
#schools-nav-subbar .fb-like-btn {
    width: 58px !important;
}
</style>