<div id="schools-nav-subbar" ng-show="selectedNavBar == 'SCHOOLS'">
    <div class="nav-menu">
        <span ng-class="{'selected-green': selectedNavSubBar == 0}">
            <a class="nav-item nav-item-green" href="/schools#!/pn">
                <img src="/assets/app/images/frontpage/mascot/purple_schools.png" ng-show="selectedNavSubBar == 0">
                全港幼兒園 (PN班)
            </a>
        </span>
        <span ng-class="{'selected-maroon': selectedNavSubBar == 1}">
            <a class="nav-item nav-item-maroon" href="/schools#!/kg">
                <img src="/assets/app/images/frontpage/mascot/purple_schools.png" ng-show="selectedNavSubBar == 1">
                全港幼稚園 (K班)
            </a>
        </span>
    </div>
</div>