<header>
    <div data-ng-include style="width:100%;" data-src="'/assets/app/views/mobile/header-bar.html'"></div>
    <div data-ng-include data-src="'/assets/app/views/mobile/nav-bar.html'"></div>
</header>

<div class="themeA-container" style="top:20px;">
	<div class="row">
        <!--div class="ads-factor-728x90">
            <script adSize="72890" adSid="643242756821" ads-factor language='JavaScript' type="text/javascript"></script>
        </div-->
		<div>
            <div class="general-box tab-box">
                <div class="wall-title">
                    <a href="" class="text-muted">
                        <i class="glyphicon glyphicon-film" style="font-size:15px;color:white;"></i>小萌豆 Magazine
                    </a>
                </div>
            </div>
            <div id="wall">
                <div ng-controller="MagazineNewsFeedController" data-ng-include style="width:100%;" data-src="'/assets/app/views/mobile/magazine/magazine-news-feed-section.html'"></div>
            </div>
            <!--Wall End -->
        </div>
    </div>
</div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span></a>
</div>

<script>
    ga_send_pv();
</script>