<header>
    <div data-ng-include style="width: 100%;height: 50px;" data-src="'/assets/app/views/mobile/header-bar.html'"></div>
    <div data-ng-include data-src="'/assets/app/views/mobile/nav-bar.html'"></div>
</header>

<div class="themeA-container" style="margin-top:40px;">
    <div class="row">
        <!--div class="general-box" ng-show="oneCategory">
            <div class="wall-title">
                <span class="wall-icon icon-title-friendwall"></span><a href="#/article/show/0" style="cursor:pointer;"><font style="font-size:15px;vertical-align:middle;">{{categoryName}}</font></a>
            </div>
        </div>
        <div class="general-box" ng-show="allCategory">
            <div class="wall-title">
                <span class="wall-icon icon-title-friendwall"></span><a href="#/article/show/0" style="cursor:pointer;"><font style="font-size:15px;vertical-align:middle;">所有文章</font></a>
            </div>
        </div-->
        <div class="general-box">
            <div class="wall-title">
                <a href="" class="text-muted">
                    <i class="glyphicon glyphicon-bookmark" style="font-size:15px;color:white;"></i>精選文章
                </a>
            </div>
        </div>
        <!--Post Category End -->
        
        <div id="slider" class="general-box" style="height:100%;">
			<div id="sta-con-slider">
                <div class="sta-con-mainslide"><p><a href="#/article/{{article1.id}}/{{article1.ct.id}}">{{article1.nm|limitTo:18}}</a><!--a title="summary" href="#/article/{{article1.id}}/{{article1.ct.id}}">{{article1.lds|limitTo:60}}...</a--></p><a href="#/article/{{article1.id}}/{{article1.ct.id}}"><img ng-show="article1.img_url != 'No Image'" data-ng-src="{{article1.img_url}}"></a><a href="#/article/{{article1.id}}/{{article1.ct.id}}"><img src="../assets/app/images/general/gradient_black_30.png"></a></div>
                <div class="sta-con-mainslide"><a title="subslide" href="#/article/{{article2.id}}/{{article2.ct.id}}">{{article2.nm|limitTo:18}}</a><a href="#/article/{{article2.id}}/{{article2.ct.id}}"><img ng-show="article2.img_url != 'No Image'" data-ng-src="{{article2.img_url}}"></a><a href="#/article/{{article2.id}}/{{article2.ct.id}}"><img src="../assets/app/images/general/gradient_black_30.png"></a></div>
                <div class="sta-con-mainslide"><a title="subslide" href="#/article/{{article3.id}}/{{article3.ct.id}}">{{article3.nm|limitTo:18}}</a><a href="#/article/{{article3.id}}/{{article3.ct.id}}"><img ng-show="article1.img_url != 'No Image'" data-ng-src="{{article3.img_url}}"></a><a href="#/article/{{article3.id}}/{{article3.ct.id}}"><img src="../assets/app/images/general/gradient_black_30.png"></a></div>
            </div>
        </div>
        <!--Slider End -->
        <div id="wall">
            <div infinite-scroll='next_result()' infinite-scroll-distance='1'>
                <div class="general-box">
                    <ul class="allpost-wrapper" style="padding: 5px 10px 0px 10px;">
                        <li data-ng-repeat="article in result" style="border:none;border-bottom:#bcbcbc thin solid;">
                            <a href="#/article/{{article.id}}/{{article.ct.id}}">
                                <img ng-show="article.img_url != 'No Image'" data-ng-src="{{article.img_url}}">
                            </a>
                            <a data-ng-show="!article.isBookmarked" class="btn-like post-favorite" href="" data-ng-click="bookmarkArticle(article.id)"></a> <!--data-toggle="tooltip" data-tooltip="收藏到'我的喜愛'"></a-->
                            <a data-ng-show="article.isBookmarked" class="btn-like post-favorited" href="" data-ng-click="unBookmarkArticle(article.id)"></a>
                            <div>
                                <a href="#/article/{{article.id}}/{{article.ct.id}}">
                                    <h4 style="color:#324fe1;"><font><font>{{article.nm}}</font></font></h4>
                                </a>
                                <h6>
                                    <a class="tag" data-ng-href="#/article/show/{{article.ct.id}}">
                                        <font><font>{{article.ct.name}}</font></font>
                                    </a>
                                    <font ng-show="userInfo.isAdmin">{{article.pd | date:'M/dd/yyyy'}}</font>
                                    <span ng-show="article.nov > 20 || userInfo.isAdmin" class="view-count" style="margin-left:10px;"><img class="view-icon" data-ng-src="/assets/app/images/general/icons/view.gif"/>{{article.nov}}</span>
                                    <span ng-show="article.nol > 0 || userInfo.isAdmin" class="like-count"><img data-ng-src="/assets/app/images/general/icons/liked_1.gif"/>{{article.nol}}</span>
                                </h6>
                                <p><font><font>{{article.lds|limitTo:45}}...</font></font></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Wall End -->
    </div>
</div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span></a>
</div>

<script>
    ga_send_pv();
</script>