<header>
    <div data-ng-include style="width:100%;" data-src="'/assets/app/views/mobile/header-bar.html'"></div>
    <div data-ng-include data-src="'/assets/app/views/mobile/nav-bar.html'"></div>
</header>

<div class="themeA-container" style="top:20px;">
    <div class="row">
        <div class="general-box" ng-show="oneCategory">
            <div class="wall-title">
                <a href="" style="cursor:pointer;">
                    {{categoryName}}
                </a>
            </div>
        </div>
        <div class="general-box" ng-show="allCategory">
            <div class="wall-title">
                <a href="" style="cursor:pointer;">
                    <font style="font-size:15px;vertical-align:middle;">所有文章</font>
                </a>
            </div>
        </div>
        <!--div class="general-box tab-box">
            <div class="wall-title">
                <a href="" class="text-muted">
                    <i class="glyphicon glyphicon-bookmark" style="font-size:15px;color:white;"></i>精選文章
                </a>
            </div>
        </div-->
        <!--Post Category End -->
        
        <div id="slider" class="general-box" style="height:100%;">
			<div id="sta-con-slider">
                <div class="sta-con-mainslide"><p><a href="#/article/{{article1.id}}/{{article1.ct.id}}">{{article1.nm|limitTo:18}}</a><!--a title="summary" href="#/article/{{article1.id}}/{{article1.ct.id}}">{{article1.lds|limitTo:60}}...</a--></p><a href="#/article/{{article1.id}}/{{article1.ct.id}}"><img ng-show="article1.img_url != 'No Image'" data-ng-src="{{article1.img_url}}"></a><a href="#/article/{{article1.id}}/{{article1.ct.id}}"><img src="../assets/app/images/general/gradient_black_30.png"></a></div>
                <div class="sta-con-mainslide"><a title="subslide" href="#/article/{{article2.id}}/{{article2.ct.id}}">{{article2.nm|limitTo:18}}</a><a href="#/article/{{article2.id}}/{{article2.ct.id}}"><img ng-show="article2.img_url != 'No Image'" data-ng-src="{{article2.img_url}}"></a><a href="#/article/{{article2.id}}/{{article2.ct.id}}"><img src="../assets/app/images/general/gradient_black_30.png"></a></div>
                <div class="sta-con-mainslide"><a title="subslide" href="#/article/{{article3.id}}/{{article3.ct.id}}">{{article3.nm|limitTo:18}}</a><a href="#/article/{{article3.id}}/{{article3.ct.id}}"><img ng-show="article1.img_url != 'No Image'" data-ng-src="{{article3.img_url}}"></a><a href="#/article/{{article3.id}}/{{article3.ct.id}}"><img src="../assets/app/images/general/gradient_black_30.png"></a></div>
            </div>
        </div>
        <!--Slider End -->
        <div id="wall">
            <div ng-init="collapsible = true" data-ng-include data-src="'/assets/app/views/widgets/tagwords-index-widget.html'"></div>
            <div class="ads-factor-728x90">
                <script adSize="72890" adSid="477069296823" ads-factor language='JavaScript' type="text/javascript"></script>
            </div>
            <div infinite-scroll='next_result()' infinite-scroll-distance='1'>
                <div class="general-box">
                    <ul class="allpost-wrapper">
                        <li data-ng-repeat="article in result">
                            <a href="#/article/{{article.id}}/{{article.ct.id}}">
                                <img ng-show="article.img_url != 'No Image'" data-ng-src="{{article.img_url}}">
                            </a>
                            <span data-ng-include data-src="'/assets/app/views/bookmark-article.html'"></span>
                            <div>
                                <a href="#/article/{{article.id}}/{{article.ct.id}}">
                                    <h4 style="color:#324fe1;">{{article.nm}}</h4>
                                </a>
                                <h6>
                                    <a class="tag" data-ng-href="#/article/show/{{article.ct.id}}">
                                        {{article.ct.name}}
                                    </a>
                                    <font class="admin-visible-field" ng-show="userInfo.isE">{{article.pd | date:'M/dd/yyyy'}}</font>
                                    <span ng-show="article.nov > 20 || userInfo.isE" class="view-count" style="margin-left:10px;"><img class="view-icon" data-ng-src="/assets/app/images/general/icons/view.png"/>{{article.nov}}</span>
                                    <span ng-show="article.nol > 0 || userInfo.isE" class="like-count"><img data-ng-src="/assets/app/images/general/icons/liked_1.png"/>{{article.nol}}</span>
                                </h6>
                                <p><font><font>{{article.lds|limitTo:50}}...</font></font></p>
                            </div>
                        </li>
                    </ul>
                    <span ng-show="isBusy" spinner-start-active="1" us-spinner="{top:'inherit'}"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span></a>
</div>

<script>
    ga_send_pv();
</script>