<header>
    <div data-ng-include style="width:100%;" data-src="'/assets/app/views/mobile/header-bar.html'"></div>
    <div data-ng-include data-src="'/assets/app/views/mobile/nav-bar.html'"></div>
</header>

<div class="themeA-container" style="top:20px;">
    <div class="row">
        <div id="wall">
            <div data-ng-include data-src="'/assets/app/views/widgets/tagwords-index-widget.html'"></div>
            <div class="ads-factor-728x90">
                <script adSize="72890" adSid="477069296823" ads-factor language='JavaScript' type="text/javascript"></script>
            </div>
            <div infinite-scroll='next_result()' infinite-scroll-distance='1'>
                <div class="general-box">
                    <div style="padding:5px 10px;font-weight:bold;">
                        <div ng-show="selectedNavBar == 'HOT_ARTICLES'" ng-click="selectNavBar('HOT_ARTICLES')">
                            <a href="magazine#/article/show/0">&lt;&lt; 返回文章</a>
                        </div>
                        <div ng-show="selectedNavBar == 'SOON_TO_BE_MOMS_ARTICLES'" ng-click="selectNavBar('SOON_TO_BE_MOMS_ARTICLES')">
                            <a href="magazine#/article/show/{{soonMomsArticleCategories[0].id}}">&lt;&lt; 返回知識庫</a>
                        </div>
                    </div>
                    <div class="tagword-results-header">
                        <div>
                            <h2>"{{tagword.nm}}"</h2>
                            <span class="tips pull-right">*文章是按相關性排序</span>
                        </div>
                        <!--div>
                            <span class="tagword-stats" ng-show="userInfo.isE">
                                <img data-ng-src="/assets/app/images/general/icons/view.png"/>
                                <h4>{{tagword.noc}}</h4> 人查看 
                            </span>
                        </div-->
                        <div>
                            <span class="tagword-stats">
                                <img data-ng-src="/assets/app/images/general/icons/i-article.png"/>
                                <h4>{{tagword.nos}}</h4> 篇關於 <h4>"{{tagword.nm}}"</h4> 的文章
                            </span>
                        </div>
                    </div>
                    <ul class="allpost-wrapper">
                        <li data-ng-repeat="article in result">
                            <span class="rank-number">#{{$index+1}}</span>
                            <a href="#/article/{{article.id}}/{{article.ct.id}}">
                                <img ng-show="article.img_url != 'No Image'" data-ng-src="{{article.img_url}}">
                            </a>
                            <span data-ng-include data-src="'/assets/app/views/bookmark-article.html'"></span>
                            <div>
                                <a href="#/article/{{article.id}}/{{article.ct.id}}">
                                    <h4 style="color:#324fe1;"><font><font>{{article.nm}}</font></font></h4>
                                </a>
                                <h6>
                                    <a class="tag" data-ng-href="#/article/show/{{article.ct.id}}">
                                        <font><font>{{article.ct.name}}</font></font>
                                    </a>
                                    <font ng-show="userInfo.isE">{{article.pd | date:'M/dd/yyyy'}}</font>
                                    <span ng-show="article.nov > 20 || userInfo.isE" class="view-count" style="margin-left:10px;"><img class="view-icon" data-ng-src="/assets/app/images/general/icons/view.png"/>{{article.nov}}</span>
                                    <span ng-show="article.nol > 0 || userInfo.isE" class="like-count"><img data-ng-src="/assets/app/images/general/icons/liked_1.png"/>{{article.nol}}</span>
                                </h6>
                                <p><font><font>{{article.lds|limitTo:80}}...</font></font></p>
                            </div>
                        </li>
                    </ul>
                    <span ng-show="isBusy" spinner-start-active="1" us-spinner="{top:'inherit'}"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span></a>
</div>

<script>
    ga_send_pv();
</script>