<div id="newCommunity" class="general-box utility-box">
    <ul class="newCommunity-info">
        <li>
            <a href="my#/communities-discover"><img style="margin-left:5px;width:35px;" src="/assets/app/images/general/icons/community/beans.png"></a>
            <p style="margin:0 5px;width:70%;">
                <a id="discover-communities" href="my#/communities-discover" style="font-size:18px;">
                    所有親子社群
                    <img style="width:14px;margin-bottom:3px;float:none;" src="/assets/app/images/general/animated/arrow.gif">
                </a><br/>
                <span class="community-member-counter">年份，年月份，地區，興趣，還有更多!</span>
            </p>
        </li>
    </ul>
</div>