<div class="general-box top-box knowledge-index-box" ng-show="selectedNavBar == 'SOON_TO_BE_MOMS_ARTICLES'">
    <div>
        <table cellpadding="0" cellspacing="0" class="cs-standardWeek" width="100%">
            <tbody>
                <tr>
                    <th colspan="4">
                        <div class="index-title">
                            <img style="width:auto;height:26px;" data-ng-src="/assets/app/images/general/titles/preg_month.png">
                        </div>
                    </th>
                </tr>
                <tr>
                    <td class="left-group" rowspan="1">準備中</td>
                    <td ng-class="{'selected-item': selectedNavSubBar == soonMomsArticleCategories[0].id}">
                        <a ng-href="knowledge#!/article/show/{{soonMomsArticleCategories[0].id}}">
                            {{soonMomsArticleCategories[0].name}}
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="left-group" rowspan="1">懷孕初期</td>
                    <td ng-class="{'selected-item': selectedNavSubBar == soonMomsArticleCategories[1].id}">
                        <a ng-href="knowledge#!/article/show/{{soonMomsArticleCategories[1].id}}">
                            {{soonMomsArticleCategories[1].name}}
                        </a>
                    </td>
                    <td ng-class="{'selected-item': selectedNavSubBar == soonMomsArticleCategories[2].id}">
                        <a ng-href="knowledge#!/article/show/{{soonMomsArticleCategories[2].id}}">
                            {{soonMomsArticleCategories[2].name}}
                        </a>
                    </td>
                    <td ng-class="{'selected-item': selectedNavSubBar == soonMomsArticleCategories[3].id}">
                        <a ng-href="knowledge#!/article/show/{{soonMomsArticleCategories[3].id}}">
                            {{soonMomsArticleCategories[3].name}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="left-group" rowspan="1">懷孕中期</td>
                    <td ng-class="{'selected-item': selectedNavSubBar == soonMomsArticleCategories[4].id}">
                        <a ng-href="knowledge#!/article/show/{{soonMomsArticleCategories[4].id}}">
                            {{soonMomsArticleCategories[4].name}}
                        </a>
                    </td>
                    <td ng-class="{'selected-item': selectedNavSubBar == soonMomsArticleCategories[5].id}">
                        <a ng-href="knowledge#!/article/show/{{soonMomsArticleCategories[5].id}}">
                            {{soonMomsArticleCategories[5].name}}
                        </a>
                    </td>
                    <td ng-class="{'selected-item': selectedNavSubBar == soonMomsArticleCategories[6].id}">
                        <a ng-href="knowledge#!/article/show/{{soonMomsArticleCategories[6].id}}">
                            {{soonMomsArticleCategories[6].name}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="left-group" rowspan="1">懷孕後期</td>
                    <td ng-class="{'selected-item': selectedNavSubBar == soonMomsArticleCategories[7].id}">
                        <a ng-href="knowledge#!/article/show/{{soonMomsArticleCategories[7].id}}">
                            {{soonMomsArticleCategories[7].name}}
                        </a>
                    </td>
                    <td ng-class="{'selected-item': selectedNavSubBar == soonMomsArticleCategories[8].id}">
                        <a ng-href="knowledge#!/article/show/{{soonMomsArticleCategories[8].id}}">
                            {{soonMomsArticleCategories[8].name}}
                        </a>
                    </td>
                    <td ng-class="{'selected-item': selectedNavSubBar == soonMomsArticleCategories[9].id}">
                        <a ng-href="knowledge#!/article/show/{{soonMomsArticleCategories[9].id}}">
                            {{soonMomsArticleCategories[9].name}}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>