<div id="myCommunity" class="general-box widget-box">
    <div class="con-title">
        <a id="my-communities" href="#!/about/myCommunities" class="text-muted">
            <span class="icon-box icon-box-blueDark icon-title-community"></span>正在關注的社群
        </a>
        <div class="pull-right">
            <a ng-show="userInfo.isAdmin" style="padding:2px 4px;font-size:12px;font-weight:normal;" class="toolsbox toolsbox-single pull-right" data-toggle="modal" data-target="#createCommunityModal"><!--i class="fa fa-fw fa-group"></i--> 建立</a>
        </div>
    </div>
    <ul class="myCommunity-info">
        <li ng-repeat="community in myCommunities">
            <!--img src="/image/get-mini-cover-community-image-by-id/{{community.id}}"-->
            <a href="#!/community/{{community.id}}"><img src="{{community.gi}}"></a>
            <p>
                <a href="#!/community/{{community.id}}">{{community.dn|characters:20:true}}</a><br/>
                <span class="community-member-counter"><img src="../assets/app/images/general/icons/i-mom.png" />{{community.mm}}</span>
                <span class="community-attribute">
                    <font data-ng-show="community.tp=='CLOSE'"><span class="glyphicon glyphicon-lock"></span>不公開</font>
                    <font data-ng-show="community.isO"> (您是管理員)</font>
                </span>
            </p>
        </li>
        <li ng-repeat="community in sysCommunities" ng-if="community.tinfo != 'FEEDBACK'">
            <!--img src="/image/get-mini-cover-community-image-by-id/{{community.id}}"-->
            <a href="#!/community/{{community.id}}"><img src="{{community.gi}}"></a>
            <p>
                <a href="#!/community/{{community.id}}">{{community.dn|characters:20:true}}</a><br/>
                <span class="community-member-counter"><img src="../assets/app/images/general/icons/i-mom.png" />{{community.mm}}</span>
                <span class="community-attribute">
                    <!-- font data-ng-show="community.tp=='OPEN'">   ·   公開的社群</font --><font data-ng-show="community.tp=='CLOSE'">   ·   <span class="glyphicon glyphicon-lock"></span>不公開的社群</font>
                </span>
            </p>
        </li>
    </ul>
</div>
<div id="myCommunity" class="general-box widget-box" ng-show="myBusinessCommunities.length > 0">
    <div class="con-title">
        <a href="#!/about/myCommunities" class="text-muted">
            <span class="icon-box icon-box-blueDark icon-title-community"></span>正在關注的專頁
        </a>
        <div class="pull-right">
            <a ng-show="userInfo.isAdmin" style="padding:2px 4px;font-size:12px;font-weight:normal;" class="toolsbox toolsbox-single pull-right" data-toggle="modal" data-target="#createCommunityModal"><!--i class="fa fa-fw fa-group"></i--> 建立</a>
        </div>
    </div>
    <ul class="myCommunity-info">
        <li ng-repeat="community in myBusinessCommunities">
            <!--img src="/image/get-mini-cover-community-image-by-id/{{community.id}}"-->
            <a href="#!/business/community/{{community.id}}"><img src="{{community.gi}}"></a>
            <p>
                <a href="#!/business/community/{{community.id}}">{{community.dn|characters:20:true}}</a><br/>
                <span class="community-member-counter"><img src="../assets/app/images/general/icons/i-mom.png" />{{community.mm}}</span>
                <span class="community-attribute">
                    <font data-ng-show="community.isO"> (您是管理員)</font>
                </span>
            </p>
        </li>
    </ul>
</div>