<div id="game-box" class="box-a">
    <span class="pull-right" style="margin-top:5px;margin-right:10px;">
        <a class="btn btn-sign-in" href="/my#!/game" ng-show="userInfo.enableSignInForToday">
            <img style="height:22px;width:auto;" src="/assets/app/images/game/sign_in.png"></img>
        </a>
        <a class="btn btn-signed-in" href="/my#!/game" ng-show="!userInfo.enableSignInForToday">
            <img style="height:22px;width:auto;" src="/assets/app/images/game/signed_in.png"></img>
        </a>
    </span>
    <div class="game-details">
        <a style="vertical-align:middle;" href="/my#!/about/activities">
            <img style="width:25px;height:25px;border-radius:25px;" ng-src="{{profileImage}}" ng-show="showProfileImage">
            <span style="color:#3691E0;font-weight:bold;margin-left:3px;">{{userInfo.displayName|limitTo:18}}<span ng-show="userInfo.displayName.length > 18">...</span></span>
        </a>
    </div>
</div>
