<div class="general-box">
    <div id="main-uphoto" data-ng-style="set_background_image()">
        <img src="/assets/app/images/general/gradient_black_30.png" alt="gradient-black">
        <a title="user-picture" href="my#/about/activities"><img src="{{profileImage}}" alt="user-picture"></a>
        <a href="my#/about/activities" class="userName">{{userInfo.displayName|limitTo:10}}<span ng-show="userInfo.displayName.length > 10">...</span></a>
    </div>
    <div id="user-info" ng-show="!hideStats && userInfo.isAdmin">
        <div id="game-info">
            <span class="pull-right">
                <a class="btn btn-sign-in" href="my#/game" ng-show="userInfo.enableSignInForToday">
                    <img style="height:22px;width:auto;" src="/assets/app/images/game/sign_in.png"></img>
                </a>
                <a class="btn btn-signed-in" href="my#/game" ng-show="!userInfo.enableSignInForToday">
                    <img style="height:22px;width:auto;" src="/assets/app/images/game/signed_in.png"></img>
                </a>
            </span>
            <div>
                <a class="" href="my#/game">
                活力級別: <span class="points">{{gameAccount.gln || '--'}} <img src="{{gameAccount.gli}}"></span>
                </a>
            </div>
            <div>
                <a class="" href="my#/game">
                小豆豆總數: <span class="points">{{gameAccount.gmpt || '--'}}</span>
                </a>
            </div>
            <!--div>
                <a class="" href="my#/game">
                小豆豆已兌換數: <span class="points">{{userInfo.rdpt || '--'}}</span>
                </a>
            </div-->
        </div>
    </div>
</div>