<div id="myShortcuts" class="general-box widget-box">
    <div class="con-title">
        <a id="my-newsfeed" href="my#" class="text-muted">
            <img src="/assets/app/images/general/icons/newsfeed.png">我的社群動向
        </a>
    </div>
    <div class="con-title">
        <a id="my-posts" href="my#/about/activities" class="text-muted">
            <img src="/assets/app/images/general/icons/i-article.png">我的發佈
        </a>
    </div>
    <div class="con-title">
        <a id="my-bookmarks" href="my#/about/bookmarks" class="text-muted">
            <img src="/assets/app/images/general/icons/message_favorited.png">我的收藏
        </a>
    </div>
    <!--div class="con-title">
        <a id="my-magazine" href="my#/my-magazine" class="text-muted">
            <i class="glyphicon glyphicon-film"></i>我的Magazine
        </a>
    </div-->
</div>