<div id="prompt-signup" class="general-box utility-box">
    <ul>
        <li class="prompt-signup-text" style="font-size:15px;color:#000;">立即登記 與其他媽媽分享經驗和資訊</li>
        <div class="padding5"></div>
        <li class="prompt-signup-text">以 facebook 進行登記</li>
        <li class="prompt-signup-fb">
            <a href="/authenticate/facebook"><img alt="Login via faceebook" src="../assets/app/images/login/facebook_acc.jpg" /></a>
            <h5>註: 小萌豆絕對不會發佈或留言到您的 facebook 帳戶中</h5>
        </li>
        <hr style="margin:15px 0px;border: #c1c1c1 thin dashed;"/>
        <li class="prompt-signup-text">以 
            <a href="/signup"><b>電郵登記</b></a>
        </li>
        <!--li class="prompt-signup-native">
            <div><a href="/signup" style="font-size:18px;"><b>立即登記!</b></a></div>
        </li-->
    </ul>
</div>