<form method="post" action="">
	<div id="schools-search-box" name="schools-search-box" class="schools-pn-search">
	    <a class="schools-search-wrapper ng-pristine ng-valid">
	        <div class="input-group innerB schools-search">
	            <input type="text" name="schools-searchfield" id="schools-searchfield" class="form-control" ng-model="schoolQuery" data-ng-change="searchByName(schoolQuery)" placeholder="搜尋學校名稱 (所有區)">
	            <div class="input-group-btn">
	                <button id="submit-search" name="submit-search" class="btn btn-default" type="submit">
	                    <i class="fa fa-search"></i>
	                </button>
	            </div>
            </div>
        </a>
        <ul class="dropdown-menu hide" ng-class="{show : schoolQuery.length > 0}">
            <div ng-if="searching">
                <img class="comment-spinner" src="/assets/app/images/general/animated/green-spinner.gif">
            </div>
            <div ng-if="!searching">
	            <div class="school-list-title">
	                搜尋「<p>{{searchTerm}}</p>」 有 <p>{{searchResults.length}}</p> 個結果
                    <button id="dismiss-search" name="dismiss-search" class="btn btn-warning pull-right" type="reset" ng-click="resetSearch()">
                        <i class="glyphicon glyphicon-remove"></i> 結束搜尋
                    </button>
	            </div>
	            <li ng-if="searchResults.length > maxSchoolsSearchCount">
	                <div class="school-list-entry">
	                    由於搜尋結果太多，請修改搜尋字再重試。
	                </div>
	            </li>
		        <li ng-repeat="pn in searchResults" ng-if="searchResults.length <= 100">
		            <div class="school-list-entry">
		               <div class="school-info">
		                    <a href="/schools#!/pn/{{pn.id}}">
		                        <img style="width:18px;margin:0 4px 2px 0;" ng-src="{{pn.icon}}" ng-if="pn.icon != null" />{{pn.n}}
		                    </a>
		                    <span class="tag">{{pn.dis}}</span>
		                    <span class="school-info-tips" ng-if="pn.nop > 0">
                                <img src="../assets/app/images/general/icons/i-reply.png">{{pn.nop}}
                            </span>
		                    <span data-ng-include data-src="'/assets/app/views/schools/bookmark-pn.html'"></span>
		                    
		                    <div class="school-info-note"><span ng-show="pn.ne">{{pn.ne}}</span></div>
		                    <div class="school-info-attr">
			                    <span class="school-attr-short">學券申請: 
		                            <span ng-show="pn.cp">✓</span>
		                            <span ng-show="!pn.cp">✘</span>
		                        </span>
		                        <span class="school-attr">學校類別: 
		                            <span>{{pn.orgt || '--'}}</span>
		                        </span>
		                        <span class="school-attr-short">課程類別: 
		                            <span>{{pn.curt || '--'}}</span>
		                        </span>
		                        <span class="school-attr">課堂: 
		                            <span ng-show="pn.ct == 'AM'">上午</span>
		                            <span ng-show="pn.ct == 'PM'">下午</span>
		                            <span ng-show="pn.ct == 'WD'">全日</span>
		                            <span ng-show="pn.ct == 'AM,PM'">上午、下午</span>
		                            <span ng-show="pn.ct == 'AM,WD'">上午、全日</span>
		                            <span ng-show="pn.ct == 'PM,WD'">下午、全日</span>
		                            <span ng-show="pn.ct == 'AM,PM,WD'">上午、下午、全日</span>
		                        </span>
		                        <!--span class="school-attr">辦學團體: 
		                            <span>{{pn.org || '--'}}</span>
		                        </span-->
		                    </div>
		                </div>
		            </div>
		            <div class="school-list-title" ng-if="$index == searchResults.length-1">
	                    己顯示所有 <p>{{searchResults.length}}</p> 個搜尋結果
	                    <button id="dismiss-search" name="dismiss-search" class="btn btn-warning pull-right" type="reset" ng-click="resetSearch()">
	                        <i class="glyphicon glyphicon-remove"></i> 結束搜尋
	                    </button>
	                </div>
		        </li>
		    </div>
	    </ul>
	</div>
</form>