<div id="schools-ranking-index">
	<div id="tagword-list" class="featured-box">
	    <div class="featured-box-header">
	        最多人關注
	    </div>
	    <ul>
            <li class="tagword-odd">
	            <a ng-href="schools#!/pn/newsfeed">
	                <img style="width:16px;margin:0 5px 2px 0;" src="/assets/app/images/general/icons/newsfeed.png"/>最新媽媽討論
	                <img style="width:16px;margin-bottom:2px;" src="/assets/app/images/general/animated/arrow.gif">
	            </a>
	        </li>
	        <li class="tagword-odd">
                <a ng-href="schools#!/pn/ranking?top-viewed">
                    <img style="width:16px;margin:0 5px 2px 0;" src="/assets/app/images/general/icons/message_favorited.png">最Top排行榜
                </a>
            </li>
	    </ul>
	</div>
</div>