<div id="schools-ranking-index">
	<div id="tagword-list" class="featured-box">
	    <div class="featured-box-header">
	        最多人關注
	    </div>
	    <ul>
            <li class="tagword-odd">
	            <a ng-href="schools#!/pn/ranking?top-viewed">
	                Top 20 最多閱覽次數
	            </a>
	        </li>
	        <li class="tagword-odd">
                <a ng-href="schools#!/pn/ranking?top-discussed">
                    Top 20 最多媽媽討論
                </a>
            </li>
	    </ul>
	</div>
</div>