<div id="tagword-list" class="featured-box" ng-if="!collapsible">
    <div class="featured-box-header">
        最多人關注
    </div>
    <ul>
        <li class="tagword-odd">
            <a ng-href="schools#!/pn/ranking">
                Top 30 最多閱覽次數
            </a>
        </li>
        <li class="tagword-odd">
            <a ng-href="schools#!/pn/ranking">
                Top 30 最多媽媽收藏
            </a>
        </li>
    </ul>
</div>

<div id="tagword-list" class="featured-box" ng-if="collapsible">
    <div class="featured-box-header">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
            最多人關注
        </a>
    </div>
    <div>
        <ul style="padding-bottom:30px;margin-bottom:0;">
	        <li class="tagword-odd">
	            <a ng-href="schools#!/pn/ranking">
	                Top 30 最多閱覽次數
	            </a>
	        </li>
	        <li class="tagword-odd">
	            <a ng-href="schools#!/pn/ranking">
	                Top 30 最多媽媽收藏
	            </a>
	        </li>
        </ul>
    </div>
</div>

