<div class="general-box top-box schools-index-box schools-kg-index-box">
    <ul class="schools-district-index">
        <li class="index-title">
            <img style="width:auto;height:26px;" data-ng-src="/assets/app/images/general/titles/kg_class.png">
            <span style="margin-top:3px;background-color:#FFD;font-size:14px;" class="pull-right" ng-if="userInfo.isLoggedIn">
                您的地區:<a ng-href="/schools#!/kg/district/{{userInfo.location.id}}"><span class="tag">{{userInfo.location.displayName}}</span></a>
            </span>
        </li>
        <li ng-repeat="district in districts" ng-class="{'selected-item': selectedDistrictId == district.id}">
            <a ng-href="/schools#!/kg/district/{{district.id}}">{{district.name}}</a>
        </li>
    </ul>
</div>