<div id="schools-bookmarks-section" ng-if="!collapsible">
	<div id="schools-bookmarks" class="general-box utility-box">
	    <div class="bookmarks-title">
	        <span class="schools-title-icon schools-title-icon-tips"></span>
	        <img src="/assets/app/images/general/titles/schools_tips.png">
	    </div>
	    <div class="section-details">
		    <div class="login-reminder">
                <div class="login-reminder-text" style="font-size:15px;color:#333;background-color:#EBFDEA;padding:5px;margin-bottom:5px;">
                    <img style="width:20px;vertical-align:text-bottom;" src="/assets/app/images/general/icons/ranking/rank_1.png">
                    您可以在幼稚園頁裏的討論區發問或分享資訊
                </div>
                <img style="width:100%;max-width:225px;margin-top:5px;" src="http://minibean.com.hk/image/frontpage/2015/2/27/pn_forum.png">
                
                <div class="login-reminder-text" style="font-size:15px;color:#333;background-color:#EBFDEA;padding:5px;margin-bottom:5px;margin-top:15px;">
                    <img style="width:20px;vertical-align:text-bottom;" src="/assets/app/images/general/icons/ranking/rank_2.png">
                    所有已收藏這間幼稚園的媽媽會看到您的發佈
                </div>
                <img style="width:100%;max-width:225px;margin-top:5px;" src="http://minibean.com.hk/image/frontpage/2015/2/27/pn_notif.png">

                <div class="login-reminder-text" style="font-size:18px;margin-top:20px;text-align: center;">
                    <b>立即一齊收藏<br>一齊討論!</b>
                </div>          
            </div>
	    </div>
	</div>
</div>

<div id="schools-bookmarks-section" ng-if="collapsible">
    
</div>
