<form method="post" action="">
	<div id="schools-search-box" name="schools-search-box" class="pull-left">
	    <a id="schools-search-wrapper" class="ng-pristine ng-valid">
	        <div class="input-group innerB schools-search">
	            <input type="text" name="schools-searchfield" id="schools-searchfield" class="form-control" ng-model="schoolQuery" data-ng-keyup="searchPNsByName(schoolQuery)" placeholder="搜尋學校名稱">
	            <div class="input-group-btn">
	                <button id="submit-search" name="submit-search" class="btn btn-default" type="submit" ng-click="schoolQuery = ''">
	                    <i class="fa fa-search" ng-show="schoolQuery == null || schoolQuery.length == 0"></i>
	                    <i class="glyphicon glyphicon-remove" ng-show="schoolQuery.length > 0"></i>
	                </button>
	            </div>
	            <!--div class="input-group-btn">
	               <button id="submit-search" name="submit-search" class="btn btn-default" type="submit">
	                   <i class="fa fa-search"></i>
	               </button>
	            </div-->
            </div>
        </a>
	    <ul class="dropdown-menu hide" ng-class="{show : searchPNsResults.length > 0 && schoolQuery.length > 0}">
            <div class="school-list-title">
                搜尋「<p>{{searchTerm}}</p>」 有 <p>{{searchPNsResults.length}}</p> 個結果
            </div>
	        <li ng-repeat="pn in searchPNsResults">
	            <div class="school-list-entry">
	               <div class="pn-info">
	                    <a ng-href="{{pn.url}}" target="_blank">
	                        {{pn.n}}
	                    </a>
	                    <div class="pn-info-note"><span ng-show="pn.ne">{{pn.ne}}</span></div>
	                    <div class="pn-info-attr">
	                        <span class="attr-coupon">學券申請: 
	                            <span ng-show="pn.cp">✓</span>
	                            <span ng-show="!pn.cp">--</span>
	                        </span>
	                        <span class="attr-classtimes">學班時間: 
	                            <span ng-show="pn.ct == 'AM'">上午</span>
	                            <span ng-show="pn.ct == 'PM'">下午</span>
	                            <span ng-show="pn.ct == 'WD'">全日</span>
	                            <span ng-show="pn.ct == 'AM,PM'">上午、下午</span>
	                            <span ng-show="pn.ct == 'AM,WD'">上午、全日</span>
	                            <span ng-show="pn.ct == 'PM,WD'">下午、全日</span>
	                            <span ng-show="pn.ct == 'AM,PM,WD'">上午、下午、全日</span>
	                        </span>
	                        <span class="attr-gender">學生性別: 
	                            <span ng-show="pn.gen == 'M,F'">男女</span>
	                            <span ng-show="pn.gen == 'M'">男</span>
	                            <span ng-show="pn.gen == 'F'">女</span>
	                        </span>
	                    </div>
	                </div>
	            </div>
	        </li>
	    </ul>
	</div>
</form>
                
<div class="general-box top-box schools-index-box">
    <ul class="schools-district-index">
        <li class="index-title">
            <img style="width:auto;height:26px;" data-ng-src="/assets/app/images/general/titles/pn_class.png">
        </li>
        <li ng-repeat="district in districts" ng-class="{'selected-item': selectedDistrictId == district.id}">
            <a ng-href="/schools#!/pn/district/{{district.id}}">{{district.name}}</a>
        </li>
    </ul>
</div>