<div id="nav-subbar" style="margin:0px;">
    <ul class="nav-menu">
        <li>
            <div class="scCatTitle">
                <img style="width:auto;height:26px;" data-ng-src="/assets/app/images/general/titles/preg_month.png">
            </div>
        </li>
        <li style="padding:5px 15px;font-size:15px;">
            <div ng-class="{'selected-yellow': selectedNavSubBar == tagword.id}" style="width:100%;display:inline-block;" ng-repeat="tagword in tagwords">
                <a class="nav-item nav-item-yellow" style="padding:5px 5px 2px 5px;" ng-href="magazine#/article/show/{{tagword.id}}">
                    {{tagword.nm}}
                </a>
            </div>
        </li>
    </ul>
</div>