<div id="tagword-list" class="featured-box" style="margin:0px;">
    <ul>
        <li class="featured-box-header">
            <div>
                熱門知識
            </div>
        </li>
        <li style="padding:5px 10px 20px 10px;font-size:15px;">
            <div ng-repeat="tagword in tagwords">
                <a ng-href="magazine#/article/show/{{tagword.id}}">
                    {{tagword.nm}}
                    <span class="tagword-stats pull-right">
                        <span ng-show="userInfo.isE">
                            {{tagword.noc}}<img data-ng-src="/assets/app/images/general/icons/view.png"/>
                        </span>
                        <span>
                            {{tagword.nos}}<img data-ng-src="/assets/app/images/general/icons/i-article.png"/>
                        </span>
                    </span>
                </a>
            </div>
        </li>
    </ul>
</div>