<div class="themeA-container" ng-show="userInfo.isSA">
    <div class="row">
        <div>
            Red Voters: {{redVoters.length}}
            <table style="width:100%;">
                <tr ng-repeat="voter in redVoters">
                    <td>
                        <div><span style="width:40%;display:inline-block;">{{$index+1}}) {{voter.name}} [ID: <a href="/my#!/profile/{{voter.userId}}" target="_blank">{{voter.userId}}</a>]</span></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="padding10"></div>
        <div>
            Blue Voters: {{blueVoters.length}}
            <table style="width:100%;">
                <tr ng-repeat="voter in blueVoters">
                    <td>
                        <div><span style="width:40%;display:inline-block;">{{$index+1}}) {{voter.name}} [ID: <a href="/my#!/profile/{{voter.userId}}" target="_blank">{{voter.userId}}</a>]</span></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>