/* Override */
body {
    background-image: url(../../images/login/login-bg.jpg);
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
}
#login-header {
    margin-bottom: 20px;
}
#community-header-menu {
    border-bottom: 1px solid #c0c0c0;
    margin: 0 5px;
    padding: 7px 10px;
    font-size: 16px;
}
#community-header-menu a {
    color: #161616;
}
.newCommunity-info p, .myCommunity-info p {
    width: auto;
}
.post-card a img:hover {
    cursor: pointer;
    opacity: 1.0;
}
.section-title {
    font-weight: bold;
}

/* Promo */
.pn-box {
    border-bottom: 1px solid #c0c0c0;
    margin: 5px;
    overflow: hidden;
}
