<header>
    <div data-ng-include style="width:100%;" data-src="'/assets/app/views/header-bar.html'"></div>
</header>

<div class="themeA-container">
    <div data-ng-include data-src="'/assets/app/views/nav-bar.html'"></div>
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2" style="width:210px;">
            <div ng-if="selectedNavBar == 'HOT_ARTICLES'">
                <div data-ng-include data-src="'/assets/app/views/widgets/article-categories-index-widget.html'"></div>
            </div>
            <div id="left-sidebar" ui-scrollfix="+{{leftSidebarTop}}">
                <div data-ng-include data-src="'/assets/app/views/widgets/tagwords-index-widget.html'"></div>
            </div>
        </div>
        
        <div class="col-md-6 col-sm-6 col-xs-6" style="width:500px;">
            <div ng-if="selectedNavBar == 'HOT_ARTICLES'">
                <div ng-controller="ArticleSliderController" data-ng-include data-src="'/assets/app/views/articles/articles-slider.html'"></div>
            </div>
            <div ng-if="selectedNavBar == 'SOON_TO_BE_MOMS_ARTICLES'">
                <div data-ng-include data-src="'/assets/app/views/widgets/knowledge-categories-index-widget.html'"></div>
            </div>
            <!--Slider End -->
            <div id="wall">
                <div infinite-scroll='next_result()' infinite-scroll-distance='1'>
                    <div class="general-box">
	                    <ul class="allpost-wrapper">
                            <li data-ng-repeat="article in result">
	                            <a href="#/article/{{article.id}}/{{article.ct.id}}">
	                                <img ng-show="article.img_url != 'No Image'" data-ng-src="{{article.img_url}}">
	                            </a>
	                            <span data-ng-include data-src="'/assets/app/views/home/bookmark-article.html'"></span>
                                <div>
                                    <a href="#/article/{{article.id}}/{{article.ct.id}}">
                                        <h4 style="color:#324fe1;">{{article.nm}}</h4>
                                    </a>
                                    <h6>
                                        <a class="tag" data-ng-href="#/article/show/{{article.ct.id}}">{{article.ct.name}}</a>
                                        <font class="admin-visible-field" ng-show="userInfo.isE">{{article.pd | date:'M/dd/yyyy'}}</font>
                                        <span ng-show="article.nov > 20 || userInfo.isE" class="view-count" style="margin-left:10px;"><img class="view-icon" data-ng-src="/assets/app/images/general/icons/view.png"/>{{article.nov}}</span>
                                        <span ng-show="article.nol > 0 || userInfo.isE" class="like-count"><img data-ng-src="/assets/app/images/general/icons/liked_1.png"/>{{article.nol}}</span>
                                    </h6>
                                    <p>{{article.lds|limitTo:65}}...</p>
                                </div>
                            </li>
                        </ul>
                        <span ng-show="isBusy" spinner-start-active="1" us-spinner="{top:'inherit'}"></span>
	                </div>
                </div>
            </div>
            <!--Wall End -->
        </div>
        
        <div class="col-md-4 col-sm-4 col-xs-4" style="width:310px;">
            <div ng-show="!userInfo.isLoggedIn">
                <div data-ng-include data-src="'/assets/app/views/widgets/prompt-signup-widget.html'"></div>
            </div>
            <div>
                <div data-ng-include data-src="'/assets/app/views/utilities/hotArticlesUtility.html'"></div>
            </div>
            <div class="ads-factor-300x250">
                <script adSize="300250" adSid="244781106677" ads-factor language='JavaScript' type="text/javascript"></script>
            </div>
            <div>
                <div data-ng-include data-src="'/assets/app/views/widgets/fb-likebox-widget.html'"></div>
            </div>
            <div id="right-sidebar" ui-scrollfix="+{{rightSidebarTop}}">
                <div>
                    <div data-ng-include data-src="'/assets/app/views/utilities/recommendedArticlesUtility.html'"></div>
                </div>
            </div>
            <div class="ads-factor-1x1" ng-if="userInfo.isLoggedIn">
                <script adSize="11" adSid="985037346676" ads-factor language='JavaScript' type="text/javascript"></script>
            </div>
        </div>
    </div>
</div>

<div id="back-to-top" style="z-index:1000">
    <a data-ng-click="gotoTop()"><span class="icon-title-arrow-up"></span>Top</a>
</div>

<script>
    ga_send_pv();
</script>