<div ng-if="allCategory">
    <div id="articles-slider" class="general-box">
        <div id="sta-con-slider">
            <div class="sta-con-mainslide">
                <p class="recommend-tag">
                    <span>推介</span>
                </p>
                <p>
                    <a href="articles#/article/{{resultSlider.la[0].id}}/{{resultSlider.la[0].ct.id}}">{{resultSlider.la[0].nm | limitTo:18}}<span ng-show="resultSlider.la[0].nm.length > 18">...</span></a>
                    <!--a title="summary" href="articles#/article/{{resultSlider.la[0].id}}/{{resultSlider.la[0].ct.id}}">{{resultSlider.la[0].lds | limitTo:60}}...</a-->
                    <!--span ng-show="article.nov > 20 || userInfo.isE" class="view-count" style="margin-left:10px;"><img class="view-icon" data-ng-src="/assets/app/images/general/icons/view.png"/>{{resultSlider.la[0].nov}}</span>
                    <span ng-show="article.nol > 0 || userInfo.isE" class="like-count"><img data-ng-src="/assets/app/images/general/icons/liked_1.png"/>{{resultSlider.la[0].nol}}</span-->
                </p>
                <a href="articles#/article/{{resultSlider.la[0].id}}/{{resultSlider.la[0].ct.id}}">
                    <img ng-show="resultSlider.la[0].img_url != 'No Image'" data-ng-src="{{resultSlider.la[0].img_url}}">
                </a>
                <a href="articles#/article/{{resultSlider.la[0].id}}/{{resultSlider.la[0].ct.id}}">
                    <img src="../assets/app/images/general/gradient_black_30.png">
                </a>
            </div>
            <div class="sta-con-mainslide">
                <a title="subslide" href="articles#/article/{{resultSlider.la[1].id}}/{{resultSlider.la[1].ct.id}}">{{resultSlider.la[1].nm | limitTo:18}}<span ng-show="resultSlider.la[1].nm.length > 18">...</span></a>
                <a href="articles#/article/{{resultSlider.la[1].id}}/{{resultSlider.la[1].ct.id}}">
                    <img ng-show="resultSlider.la[1].img_url != 'No Image'" data-ng-src="{{resultSlider.la[1].img_url}}">
                </a>
                <a href="articles#/article/{{resultSlider.la[1].id}}/{{resultSlider.la[1].ct.id}}">
                    <img src="../assets/app/images/general/gradient_black_30.png">
                </a>
            </div>
            <div class="sta-con-mainslide">
                <a title="subslide" href="articles#/article/{{resultSlider.la[2].id}}/{{resultSlider.la[2].ct.id}}">{{resultSlider.la[2].nm | limitTo:18}}<span ng-show="resultSlider.la[2].nm.length > 18">...</span></a>
                <a href="articles#/article/{{resultSlider.la[2].id}}/{{resultSlider.la[2].ct.id}}">
                    <img ng-show="resultSlider.la[2].img_url != 'No Image'" data-ng-src="{{resultSlider.la[2].img_url}}">
                </a>
                <a href="articles#/article/{{resultSlider.la[2].id}}/{{resultSlider.la[2].ct.id}}">
                    <img src="../assets/app/images/general/gradient_black_30.png">
                </a>
            </div>
        </div>
     </div>
</div>