@(resetForm: Form[controllers.Signup.PasswordReset])

@import helper._
@import helper.twitterBootstrap._

@import helper._


<!DOCTYPE html>
<html class="app">
<head>
	<title>miniBean</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<script src="@routes.Application.jsRoutes" defer="defer"></script>
	<link rel="stylesheet" href="@routes.Assets.at("assets/css/module.stylesheet-complete.min.css")" />
</head>

<body class="">
	<div class="container-fluid menu-hidden">
		<div id="content">
			<div class="layout-app col-fs">
				<div class="row row-app">
					<div class="col-md-12">
						<div class="col-separator col-separator-first box col-unscrollable col-fs">
							<div class="col-table">
								<div class="col-table-row">
									<div class="col-app col-unscrollable tab-content">
										<div class="col-app lock-wrapper lock-bg-1 tab-pane active animated fadeIn" id="lock-1-1">
											<h3 class="text-white innerB text-center">miniBean</h3>
											<div class="lock-container">
												<div class="innerAll text-center">
													
													<div class="innerLR">
													@helper.form(routes.Signup.doResetPassword) {
														@if(resetForm.hasGlobalErrors) {  
												          <p class="error">
												            <span class="label label-important">@resetForm.globalError.message</span>
												          </p>
												        }
												         @input(
												   			resetForm("token"),
												   			'_label -> "",
												   			'_showConstraints -> false
												   		
												   		) { (id, name, value, args) =>
														    <input type="hidden" value="@value" name="@name" id="@id" @toHtmlArgs(args)>
														}
														
														<input placeholder="password" class="form-control text-center bg-gray" type="password" id="password" name="password">
														<input placeholder="repeat password" class="form-control text-center bg-gray" type="password" id="repeatPassword" name="repeatPassword">
														
														<div class="innerT">
															<input type="submit" value="@Messages("playauthenticate.password.reset.cta")" class="btn btn-primary">
														</div>
												    }
													</div>
													<a href="@routes.Application.signup" class="btn margin-none">Don't have Account?</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>


       
	   
	  